.beautification
  &__head
    display: flex
    justify-content: space-between
    gap: 2rem
    margin-bottom: 6rem
    +screen('max', 1023)
      margin-bottom: 3.5rem
      display: block
  &__title
    line-height: 1
    +screen('max', 1023)
      margin-bottom: 2.5rem
  &__text
    line-height: 150%
    +fs(20px)
    color: var(--color-gray)
    max-width: 1195px
    +screen('max', 1500)
      +fs(16px)
      max-width: 750px
  &__wrapper
    position: relative
    .slider-arrows
      position: absolute
      top: 50%
      transform: translateY(-50%)
      display: flex
      justify-content: space-between
      align-items: center
      width: calc(100% - 4rem)
      left: 2rem
      z-index: 2
      +screen('max', 700)
        display: none
  &__thumbs
    margin-top: 2.5rem
    display: flex
    gap: 1.5rem
    +screen('max', 1023)
      margin-top: 1.5rem
      gap: 1rem
    .swiper-slide
      width: 212px
      opacity: 0.4
      transition: .5s ease
      +screen('max', 1023)
        width: 113px
      +screen('max', 700)
        width: 78px
    .swiper-slide-active
      opacity: 1
    .beautification__pic
      border-radius: 15px
      +screen('max', 1023)
        height: 70px
        border-radius: 10px
      +screen('max', 700)
        height: 50px
        border-radius: 6px
  &__pic
    vertical-align: middle
    width: 100%
    border-radius: 30px
    object-fit: cover
    +screen('max', 1023)
      border-radius: 15px
      height: 400px
    +screen('max', 700)
      height: 203px
  &__more
    border-radius: 15px
    display: flex
    justify-content: center
    align-items: center
    background: var(--fon)
    +fs(24px)
    font-weight: 600
    color: #838c95
    flex-shrink: 0
    width: 212px
    +screen('max', 1023)
      width: 113px
      +fs(18px)
    +screen('max', 700)
      width: 78px
      +fs(16px)
      border-radius: 6px