+b.more
  +e.inner.inner
    +e.head
      +e.H2.title Узнайте больше о ЖК «Новая Кузнечиха»
      .slider-arrows
        +b.slider-arrow_prev._gray
          svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
            path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6.48438.79102 1.27604 5.99935l5.20834 5.20835')
        +b.slider-arrow_next._gray
          svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
            path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m1.51562.79102 5.20834 5.20833-5.20834 5.20835')
    +e.wrapper
      .swiper
        .swiper-wrapper
          .swiper-slide.big
            +e.item_picture
              +e.IMG.pic(src='/img/infrastructure-1.png' alt='')
              +e.P.caption Инфраструктура
          .swiper-slide
            +e.item
              +e.IMG.icon(src='/icon/icon-infrastructure-1.svg' alt='')
              +e.P.caption Парковки
          .swiper-slide.middle
            +e.item_picture
              +e.IMG.pic(src='/img/infrastructure-2.png' alt='')
              +e.P.caption Благоустройство
          .swiper-slide.middle
            +e.item_picture
              +e.IMG.pic(src='/img/infrastructure-3.png' alt='')
              +e.P.caption Подъезды и холлы
          .swiper-slide
            +e.item
              +e.IMG.icon(src='/icon/icon-infrastructure-2.svg' alt='')
              +e.P.caption Расположение