+b.callback
  +e.inner.inner
    +e.container
      +e.P.title Запишитесь на экскурсию
      +e.info
        +e.P.txt Наш экскурсовод познакомит вас со дворами, детскими и спортивными площадками, а также покажет отделку квартиры
        +e.A.btn.js-open-modal(href="#callback") Записаться