mixin callback(type)
  if type == 1
    +b.callback
      +e.inner.inner
        +e.container
          +e.P.title Запишитесь на экскурсию
          +e.info
            +e.P.txt Наш экскурсовод познакомит вас со дворами, детскими и спортивными площадками, а также покажет отделку квартиры
            +e.A.btn.js-open-modal(href="#callback") Записаться
  if type == 2
    +b.callback
      +e.inner.inner
        +e.container
          +e.P.title Ипотечный брокер
          +e.info
            +e.P.txt Мы подберем индивидуальную ипотечную программу, которая учтет все ваши особенности. С минимальными ставками, нулевым первоначальным взносом и повышенными шансами на одобрение
            +e.control
              +e.A.btn.js-open-modal(href="#callback") Поучить консультацию
              +e.A.more.btn_transparent(href='#') Подробнее 
  if type == 3
    +b.callback
      +e.inner.inner
        +e.container
          +e.P.title_mod Узнайте первыми о спецпредложениях!
          +e.info
            +e.P.txt Подпишитесь на новости и получайте информацию о спецпредложениях первыми. Не упустите выгодные возможности!
            +e.A.btn.js-open-modal(href="#callback") Подробнее 
  if type == 4
    +b.callback
      +e.inner
        +e.box
          +e.P.title_two Кэшбек 15% от стоимости квартиры до 28 июня
          +e.A.btn.js-open-modal(href="#callback") Узнать больше 
  if type == 5
    +b.callback
      +e.inner.inner
        +e.container
          +e.P.title Записаться в демоквартиру
          +e.info
            +e.P.txt Наши специалисты проведут вам экскурсию и ознакомят с квартирой, отделкой, планировками 
            +e.A.btn.js-open-modal(href="#callback") Записаться
  if type == 6
    +b.callback
      +e.inner.inner
        +e.container
          +e.P.title Для региональных клиентов
          +e.info
            +e.P.txt Узнайте о льготах и преимуществах  переезда для клиентов из других регионов
            +e.A.btn.js-open-modal(href="#callback") Подробнее 
  if type == 7
    +b.callback
      +e.inner.inner
        +e.container
          +e.P.title_two Запишитесь на экскурсию по ЖК «Новая Кузнечиха» 
          +e.info
            +e.P.txt Мы подберем индивидуальную ипотечную программу, которая учтет все ваши особенности. С минимальными ставками, нулевым первоначальным взносом и повышенными шансами на одобрение
            +e.A.btn.js-open-modal(href="#callback") Записаться
  if type == 8
    +b.callback-banner
      +e.inner.inner
        +e.container
          +e.content
            +e.P.sign ЖК «Новая Кузнечиха»
            +e.P.title Ипотека 
              br
              | для коммерческих помещений
            +e.A.more.btn_transparent(href='#') Узнать подробнее 
          +e.IMG.pic(src='/img/callback-1.png' alt='')
  if type == 9
    +b.subscribe
      +e.inner.inner
        +e.container
          +e.P.title Подписывайтесь на закрытый телеграм-канал и первыми узнавайте о новых акциях, скидках и стартах продаж!
          +e.A.btn.btn_white(href='#')
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none')
              path(fill='#37A9E0' d='m9.27028 15.4994-.39082 6.1424c.55915 0 .80131-.2684 1.09173-.5906l2.62141-2.7996 5.4319 4.4451c.9962.6204 1.6981.2937 1.9668-1.0241l3.5655-18.66906.001-.0011c.316-1.6456-.5325-2.2891-1.5032-1.88539L1.0968 10.0831c-1.43034.6204-1.40868 1.5114-.24315 1.9151l5.35808 1.8622L18.6575 5.15842c.5857-.43339 1.1182-.1936.6802.2398L9.27028 15.4994Z')
            span Перейти в телеграм
  if type == 10
    +b.callback-form
      +e.inner.inner
        +e.container
          +e.P.title Остались вопросы?
          +e.txt Оставьте свои контактные данные в форме ниже, и наш специалист свяжется с вами для ответа на все ваши вопросы
          +e.FORM.action
            +e.group
              +e.name Имя
              +e.INPUT.field(placeholder="Константинопольский")
            +e.group
              +e.name Телефон
              +e.INPUT.field(placeholder="+7")
            +e.BUTTON.submit.btn_white Отправить заявку
          +e.req Отправляя свои данные вы соглашаетесь с 
            a(href="#") пользовательским соглашением и политикой конфиденциальности
  if type == 11
    +b.callback
      +e.inner.inner
        +e.container
          +e.P.title Стоимость: 2 490 рублей
          +e.info
            +e.P.txt Что в ~5 раз дешевле услуг любого агентства. Без звонков из банков, решения вы получаете онлайн
            +e.control
              +e.A.btn.js-open-modal(href="#callback") Отправить анкету в 20 банков
              +e.A.more.btn_transparent(href='#')  Получить консультацию
  if type == 12
    +b.callback-practicum
      +e.container
        +e.P.title Новое полезное видео каждый день
        +e.txt с 17 по 22 октября
        +e.FORM.action
          +e.fields
            +e.group
              +e.name Имя
              +e.INPUT.field(placeholder="Константинопольский")
            +e.group
              +e.name Телефон
              +e.INPUT.field(placeholder="+7")
            +e.group
              +e.name Электронная почта
              +e.INPUT.field(placeholder="example@mail.ru")
            +e.BUTTON.submit.btn_white Отправить заявку
        +e.req Отправляя свои данные вы соглашаетесь с 
          a(href="#") пользовательским соглашением и политикой конфиденциальности
  if type == 13
    +b.callback
      +e.inner.inner
        +e.box
          +e.P.title Обновленная демоквартира уже в марте 2023! Следите за новостями
          +e.FORM.action
            +e.INPUT.field(placeholder="E-mail")
            +e.BUTTON.submit.btn_white(href='#') Подробнее 