mixin callback(type)
  if type == 1
    +b.callback
      +e.inner.inner
        +e.container
          +e.P.title Запишитесь на экскурсию
          +e.info
            +e.P.txt Наш экскурсовод познакомит вас со дворами, детскими и спортивными площадками, а также покажет отделку квартиры
            +e.A.btn.js-open-modal(href="#callback") Записаться
  if type == 2
    +b.callback
      +e.inner.inner
        +e.container
          +e.P.title Ипотечный брокер
          +e.info
            +e.P.txt Мы подберем индивидуальную ипотечную программу, которая учтет все ваши особенности. С минимальными ставками, нулевым первоначальным взносом и повышенными шансами на одобрение
            +e.control
              +e.A.btn.js-open-modal(href="#callback") Поучить консультацию
              +e.A.more.btn_transparent(href='#') Подробнее 
  if type == 3
    +b.callback
      +e.inner.inner
        +e.container
          +e.P.title_mod Узнайте первыми о спецпредложениях!
          +e.info
            +e.P.txt Подпишитесь на новости и получайте информацию о спецпредложениях первыми. Не упустите выгодные возможности!
            +e.A.btn.js-open-modal(href="#callback") Подробнее 
  if type == 4
    +b.callback
      +e.inner
        +e.box
          +e.P.title_two Кэшбек 15% от стоимости квартиры до 28 июня
          +e.A.btn.js-open-modal(href="#callback") Узнать больше 
  if type == 5
    +b.callback
      +e.inner.inner
        +e.container
          +e.P.title Записаться в демоквартиру
          +e.info
            +e.P.txt Наши специалисты проведут вам экскурсию и ознакомят с квартирой, отделкой, планировками 
            +e.A.btn.js-open-modal(href="#callback") Записаться
  if type == 6
    +b.callback
      +e.inner.inner
        +e.container
          +e.P.title Для региональных клиентов
          +e.info
            +e.P.txt Узнайте о льготах и преимуществах  переезда для клиентов из других регионов
            +e.A.btn.js-open-modal(href="#callback") Подробнее 
  if type == 7
    +b.callback
      +e.inner.inner
        +e.container
          +e.P.title_two Запишитесь на экскурсию по ЖК «Новая Кузнечиха» 
          +e.info
            +e.P.txt Мы подберем индивидуальную ипотечную программу, которая учтет все ваши особенности. С минимальными ставками, нулевым первоначальным взносом и повышенными шансами на одобрение
            +e.A.btn.js-open-modal(href="#callback") Записаться
  if type == 8
    +b.callback-banner
      +e.inner.inner
        +e.container
          +e.content
            +e.P.sign ЖК «Новая Кузнечиха»
            +e.P.title Ипотека 
              br
              | для коммерческих помещений
            +e.A.more.btn_transparent(href='#') Узнать подробнее 
          +e.IMG.pic(src='/img/callback-1.png' alt='')
  if type == 9
    +b.subscribe
      +e.inner.inner
        +e.container
          +e.P.title Подписывайтесь на закрытый телеграм-канал и первыми узнавайте о новых акциях, скидках и стартах продаж!
          +e.A.btn.btn_white(href='#')
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none')
              path(fill='#37A9E0' d='m9.27028 15.4994-.39082 6.1424c.55915 0 .80131-.2684 1.09173-.5906l2.62141-2.7996 5.4319 4.4451c.9962.6204 1.6981.2937 1.9668-1.0241l3.5655-18.66906.001-.0011c.316-1.6456-.5325-2.2891-1.5032-1.88539L1.0968 10.0831c-1.43034.6204-1.40868 1.5114-.24315 1.9151l5.35808 1.8622L18.6575 5.15842c.5857-.43339 1.1182-.1936.6802.2398L9.27028 15.4994Z')
            span Перейти в телеграм
  if type == 10
    +b.callback-form
      +e.inner.inner
        +e.container
          +e.P.title Остались вопросы?
          +e.txt Оставьте свои контактные данные в форме ниже, и наш специалист свяжется с вами для ответа на все ваши вопросы
          +e.FORM.action
            +e.group
              +e.name Имя
              +e.INPUT.field(placeholder="Константинопольский")
            +e.group
              +e.name Телефон
              +e.INPUT.field(placeholder="+7")
            +e.BUTTON.submit.btn_white Отправить заявку
          +e.req Отправляя свои данные вы соглашаетесь с 
            a(href="#") пользовательским соглашением и политикой конфиденциальности
  if type == 11
    +b.callback
      +e.inner.inner
        +e.container
          +e.P.title Стоимость: 2 490 рублей
          +e.content
            +e.P.text Что в ~5 раз дешевле услуг любого агентства. Без звонков из банков, решения вы получаете онлайн
            +e.buttons
              +e.A.btn.js-open-modal(href="#callback") Отправить анкету в 20 банков
              +e.A.more.btn_transparent(href='#')  Получить консультацию
  if type == 12
    +b.callback-practicum
      +e.container
        +e.P.title Новое полезное видео каждый день
        +e.txt с 17 по 22 октября
        +e.FORM.action
          +e.fields
            +e.group
              +e.name Имя
              +e.INPUT.field(placeholder="Константинопольский")
            +e.group
              +e.name Телефон
              +e.INPUT.field(placeholder="+7")
            +e.group
              +e.name Электронная почта
              +e.INPUT.field(placeholder="example@mail.ru")
            +e.BUTTON.submit.btn_white Отправить заявку
        +e.req Отправляя свои данные вы соглашаетесь с 
          a(href="#") пользовательским соглашением и политикой конфиденциальности
  if type == 13
    +b.callback
      +e.inner.inner
        +e.box
          +e.P.title Обновленная демоквартира уже в марте 2023! Следите за новостями
          +e.FORM.action
            +e.INPUT.field(placeholder="E-mail")
            +e.BUTTON.submit.btn_white(href='#') Подробнее 
  if type == 14
    +b.callback-parking
      +e.container
        +e.P.title Запишись в лист ожидания
        +e.txt Оставьте свои контактные данные и мы внесем вас в лист ожидания, чтобы вы одним из первых узнали о наличии доступных мест
        +e.FORM.action
          +e.fields
            +e.group
              +e.name Имя
              +e.INPUT.field(placeholder="Константинопольский")
            +e.group
              +e.name Телефон
              +e.INPUT.field(placeholder="+7")
            +e.group
              +e.name Электронная почта
              +e.INPUT.field(placeholder="example@mail.ru")
            +e.BUTTON.submit.btn_white Отправить заявку
        +e.req Отправляя свои данные вы соглашаетесь с 
          a(href="#") пользовательским соглашением и политикой конфиденциальности
  if type == 15
    +b.callback-banner
      +e.inner.inner
        +e.container
          +e.content
            +e.P.title Дома 
              br
              | повышенной комфортности
            +e.P.subtitle в 11-м квартале ЖК «Новая Кузнечиха»
            +e.A.more.btn_transparent(href='#') Узнать подробнее 
          +e.IMG.pic(src='/img/callback-1.png' alt='')
  if type == 16
    +b.callback-mini
      +e.inner.inner
        +e.container
          +e.P.title Региональным клиентам предоставляются особые условия
          +e.A.btn.btn_transparent Узнать подробнее
  if type == 17
    +b.callback-banner
      +e.inner.inner
        +e.container_green
          +e.content
            +e.P.title Дистанционная покупка
            +e.P.subtitle Вам не придется приезжать, вы сможете оформить покупку не поднимаясь с дивана
            +e.A.more.btn_transparent(href='#') Узнать подробнее 
          +e.IMG.pic(src='/img/callback-1.png' alt='')
  if type == 18
    +b.callback-mini
      +e.inner.inner
        +e.container
          +e.P.title Скачать презентацию о «ЖК Новая Кузнечиха»
          +e.A.btn.btn_transparent Скачать презентацию
  if type == 19
    +b.callback-review
      +e.container
        +e.P.title Оставить отзыв
        +e.FORM.action
          +e.fields
            +e.group
              +e.name Имя
              +e.INPUT.field(placeholder="Константинопольский")
            +e.group
              +e.name Телефон
              +e.INPUT.field(placeholder="+7")
          +e.rating
            +e.P.txt Ваша оценка
            +e.stars
              svg(width='220' height='40' viewBox='0 0 220 40' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(opacity='0.5' d='M20 1.29426L24.7351 12.5995C24.8792 12.9438 25.2031 13.1791 25.5751 13.2098L37.7902 14.2196L28.5015 22.2165C28.2187 22.4599 28.0949 22.8407 28.1806 23.2039L30.995 35.1333L20.5191 28.7703C20.2002 28.5766 19.7998 28.5766 19.4809 28.7703L9.00504 35.1333L11.8194 23.2039C11.9051 22.8407 11.7813 22.4599 11.4985 22.2164L2.20979 14.2196L14.4249 13.2098C14.7969 13.1791 15.1208 12.9438 15.2649 12.5995L14.8037 12.4064L15.2649 12.5995L20 1.29426Z' stroke='white')
                path(opacity='0.5' d='M65 1.29426L69.7351 12.5995C69.8792 12.9438 70.2031 13.1791 70.5751 13.2098L82.7902 14.2196L73.5015 22.2165C73.2187 22.4599 73.0949 22.8407 73.1806 23.2039L75.995 35.1333L65.5191 28.7703C65.2002 28.5766 64.7998 28.5766 64.4809 28.7703L54.005 35.1333L56.8194 23.2039C56.9051 22.8407 56.7813 22.4599 56.4985 22.2164L47.2098 14.2196L59.4249 13.2098C59.7969 13.1791 60.1208 12.9438 60.2649 12.5995L59.8037 12.4064L60.2649 12.5995L65 1.29426Z' stroke='white')
                path(opacity='0.5' d='M110 1.29426L114.735 12.5995C114.879 12.9438 115.203 13.1791 115.575 13.2098L127.79 14.2196L118.501 22.2165C118.219 22.4599 118.095 22.8407 118.181 23.2039L120.995 35.1333L110.519 28.7703C110.2 28.5766 109.8 28.5766 109.481 28.7703L99.005 35.1333L101.819 23.2039C101.905 22.8407 101.781 22.4599 101.499 22.2164L92.2098 14.2196L104.425 13.2098C104.797 13.1791 105.121 12.9438 105.265 12.5995L104.804 12.4064L105.265 12.5995L110 1.29426Z' stroke='white')
                path(opacity='0.5' d='M155 1.29426L159.735 12.5995C159.879 12.9438 160.203 13.1791 160.575 13.2098L172.79 14.2196L163.501 22.2165C163.219 22.4599 163.095 22.8407 163.181 23.2039L165.995 35.1333L155.519 28.7703C155.2 28.5766 154.8 28.5766 154.481 28.7703L144.005 35.1333L146.819 23.2039C146.905 22.8407 146.781 22.4599 146.499 22.2164L137.21 14.2196L149.425 13.2098C149.797 13.1791 150.121 12.9438 150.265 12.5995L149.804 12.4064L150.265 12.5995L155 1.29426Z' stroke='white')
                path(opacity='0.5' d='M200 1.29426L204.735 12.5995C204.879 12.9438 205.203 13.1791 205.575 13.2098L217.79 14.2196L208.501 22.2165C208.219 22.4599 208.095 22.8407 208.181 23.2039L210.995 35.1333L200.519 28.7703C200.2 28.5766 199.8 28.5766 199.481 28.7703L189.005 35.1333L191.819 23.2039C191.905 22.8407 191.781 22.4599 191.499 22.2164L182.21 14.2196L194.425 13.2098C194.797 13.1791 195.121 12.9438 195.265 12.5995L194.804 12.4064L195.265 12.5995L200 1.29426Z' stroke='white')
          +e.group
            +e.name Отзыв
            +e.INPUT.field(placeholder="Введите текст...")
          +e.req Отправляя свои данные вы соглашаетесь с 
            a(href="#") пользовательским соглашением и политикой конфиденциальности
  if type == 20
    +b.callback
      +e.inner.inner
        +e.container
          +e.P.title Посетите шоурум
          +e.info
            +e.P.txt Наши специалисты проведут вам экскурсию и ознакомят с квартирой, отделкой, планировками 
            +e.A.btn.js-open-modal(href="#callback") Записаться