.callback
  margin: 6rem 0 12rem
  +screen('max', 1500)
    margin: 6rem 0 10rem
  +screen('max', 700)
    margin: 5.5rem 0
  &__container
    background-color: var(--brand-primary-light)
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='445' height='232' fill='none' viewBox='0 0 445 232'%3E%3Cpath fill='%2300a6e6' fill-rule='evenodd' d='M299.457 353.913 0 144.729 145.297 43.236l299.508 209.185z' clip-rule='evenodd'/%3E%3Cpath fill='%23006098' fill-rule='evenodd' d='M145.297-113.125 444.805 96.059v156.363L145.297 43.238z' clip-rule='evenodd'/%3E%3C/svg%3E")
    background-repeat: no-repeat
    background-position: right
    padding: 4rem 7rem
    box-sizing: border-box
    background-size: contain
    color: var(--white-100)
    clip-path: polygon(100% 0%, 98% 100%, 0% 100%, 2% 0%)
    +screen('max', 1500)
      padding: 4rem
    +screen('max', 1023)
      padding: 3rem
    +screen('max', 700)
      padding: 3rem 2rem
      background: var(--brand-primary-light)
      clip-path: polygon(100% 0%, 97% 100%, 0% 100%, 3% 0%)
    &_two
      background-color: var(--brand-tertiary-light)
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='656' height='212' fill='none' viewBox='0 0 656 212'%3E%3Cpath fill='%2300a6e6' fill-rule='evenodd' d='M373.141-69.425 51.029 47.43l220.544 262.205 322.148-116.791z' clip-rule='evenodd'/%3E%3Cpath fill='%23006098' fill-rule='evenodd' d='m271.596 310.644 452.459-164.052L777.377-52.41 324.919 111.642z' clip-rule='evenodd'/%3E%3C/svg%3E")
      background-repeat: no-repeat
      background-position: right top
      background-size: contain
      +screen('max', 1500)
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='369' height='175' fill='none' viewBox='0 0 369 175'%3E%3Cpath fill='%2300a6e6' fill-rule='evenodd' d='M222.982-17.939 30.494 51.891l131.792 156.688 192.51-69.792z' clip-rule='evenodd'/%3E%3Cpath fill='%23006098' fill-rule='evenodd' d='m162.302 209.183 270.38-98.034 31.865-118.92-270.38 98.034z' clip-rule='evenodd'/%3E%3C/svg%3E")
      +screen('max', 700)
        background: var(--brand-tertiary-light)
    &_three
      background-color: var(--brand-secondary)
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='585' height='232' fill='none' viewBox='0 0 585 232'%3E%3Cpath fill='%230082ca' fill-rule='evenodd' d='m394.608 267.399 280.893-196.24-280.893-196.19-280.944 196.19z' clip-rule='evenodd'/%3E%3Cpath fill='%23006098' fill-rule='evenodd' d='M394.581-125.031 0 150.536v206.022L394.581 80.991z' clip-rule='evenodd'/%3E%3C/svg%3E")
      background-repeat: no-repeat
      background-position: right top
      background-size: contain
      +screen('max', 700)
        background: var(--brand-secondary)
  &__box
    display: flex
    justify-content: space-between
    align-items: flex-end
    border-radius: 2px
    background-color: var(--brand-primary-light)
    background-image: url(../img/bg-callback-1.png)
    background-repeat: no-repeat
    background-position: right top
    padding: 5rem
    box-sizing: border-box
    color: var(--white-100)
    +screen('max', 1500)
      padding: 4rem
      background-position: 60% top
    +screen('max', 1023)
      padding: 3rem
      flex-flow: column
      align-items: flex-start
      gap: 2rem
    +screen('max', 700)
      padding: 3rem 2rem
      background-position: 50% top
      background-size: 150%
  &__title
    color: var(--white-100)
    &_mod
      +screen('max', 700)
        +fs(22px)
    &_two
      max-width: 1000px
      margin-bottom: 0
      +screen('max', 1500)
        max-width: 700px
      +screen('max', 700)
        +fs(22px)
  &__info
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 1.5rem
    +screen('max', 700)
      display: block
  &__content
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 1.5rem
    +screen('max', 1023)
      display: block
  &__txt
    max-width: 1150px
    +fs(22px)
    font-weight: 300
    line-height: 1.4
    margin-top: 1.5rem
    +screen('max', 1500)
      +fs(16px)
    +screen('max', 1023)
      +fs(14px)
    +screen('max', 700)
      max-width: 100%
      margin-bottom: 2rem
  &__btn
    width: 255px
    +screen('max', 700)
      width: 100%
    &:not(.btn)
      border-radius: 2px
      padding: 2.5rem
      display: inline-block
      transition: .5s ease
      background: var(--white-100)
      color: var(--black-100)
      +fs(18px)
      font-weight: 300
      border: 1px solid transparent
      text-align: center
      box-sizing: border-box
      +screen('max', 1500)
        +fs(14px)
        padding: 1.6rem
      +screen('max', 700)
        width: 100%
        +fs(12px)
        margin-top: 0
      &:hover
        background: var(--brand-tertiary-hover)
  &__more
    backdrop-filter: blur(6px)
    background: var(--white-5)
    +screen('max', 700)
      padding: 1.6rem
      +fs(12px)
  &__control
    display: flex
    gap: 1.5rem
    align-items: center
    +screen('max', 1500)
      flex-flow: column-reverse
      align-items: stretch
      margin-top: -6rem
    +screen('max', 700)
      margin-top: 0
      flex-flow: row-reverse
      gap: .7rem
  &__buttons
    display: flex
    gap: 1.5rem
    align-items: center
    flex-shrink: 0
    +screen('max', 1500)
      margin-left: 4rem
    +screen('max', 1023)
      margin-left: 0
    +screen('max', 700)
      gap: 1rem
      flex-wrap: wrap
    .callback__btn
      +screen('max', 1500)
        width: 260px
      +screen('max', 1023)
        width: 50%
      +screen('max', 700)
        width: 100%
    .callback__more
      +screen('max', 1023)
        width: 50%
      +screen('max', 700)
        width: 100%
  &__action
    width: 50%
    max-width: 620px
    display: flex
    justify-content: space-between
    align-items: center
    gap: 2rem
    flex-shrink: 0
    margin-left: 5rem
    +screen('max', 1023)
      width: 100%
      margin-left: 0
      gap: 0.5rem
  &__field
    backdrop-filter: blur(13px)
    background: rgba(255, 255, 255, 0.1)
    padding: 2.3rem 2rem
    box-sizing: border-box
    +fs(18px)
    font-weight: 600
    border-radius: 64px
    transition: .5s ease
    width: 100%
    border: 1px solid rgba(255, 255, 255, 0.5)
    +screen('max', 1023)
      +fs(16px)
      padding: 1.6rem 2rem
      border-radius: 2px
    &::placeholder
      color: var(--white-100)

.callback-banner
  margin: 9rem 0
  +screen('max', 1280)
    margin: 6rem 0
  +screen('max', 700)
    margin: 5rem 0
  &__container
    display: flex
    justify-content: space-between
    align-items: center
    border-radius: 2px
    background: var(--brand-primary-dark)
    clip-path: polygon(100% 0%, 97% 100%, 0% 100%, 3% 0%)
    padding: 4rem
    box-sizing: border-box
    color: var(--white-100)
    +screen('max', 1500)
      padding: 1rem
    +screen('max', 1023)
      padding: 2rem
      display: block
    +screen('max', 700)
      padding: 1rem
      clip-path: none
    &_green
      background: var(--brand-tertiary-light)
  &__content
    position: relative
    padding: 5rem 10rem
    +screen('max', 1500)
      padding: 5rem
    +screen('max', 1023)
      padding: 3rem
      box-sizing: border-box
    +screen('max', 700)
      padding: 2rem 1.5rem
  &__sign
    +fs(30px)
    margin-bottom: 5rem
    +screen('max', 1500)
      +fs(18px)
    +screen('max', 1023)
      margin-bottom: 2rem
    +screen('max', 700)
      +fs(16px)
  &__title
    +fs(52px)
    color: var(--white-100)
    text-transform: uppercase
    font-weight: 300
    line-height: 1.1
    max-width: 800px
    +screen('max', 1500)
      +fs(44px)
    +screen('max', 700)
      +fs(26px)
    br
      +screen('max', 1023)
        display: none
  &__subtitle
    +fs(28px)
    margin-top: 3rem
    max-width: 735px
    font-weight: 300
    +screen('max', 1500)
      +fs(18px)
      margin-top: 2rem
    +screen('max', 1023)
      +fs(16px)
    +screen('max', 700)
      margin-top: 1.5rem
  &__more
    margin-top: 4.5rem
    width: 242px
    +screen('max', 1023)
      position: absolute
      right: 1rem
      width: auto
      bottom: 3rem
      margin-top: 0
    +screen('max', 700)
      position: relative
      right: 0
      bottom: 0
      width: 100%
      margin-top: 2rem
  &__picture
    width: 78%
    position: relative
    border-radius: 2px
    &:after
      content: ''
      position: absolute
      left: -80px
      top: 0
      height: 100%
      width: 200px
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='211' height='494' fill='none' viewBox='0 0 211 494'%3E%3Cpath fill='%230082ca' fill-rule='evenodd' d='m103.639 0 107.259 74.931v55.997L103.639 56.011z' clip-rule='evenodd'/%3E%3Cpath fill='%2367c2ed' fill-rule='evenodd' d='m50 18.545 107.273 74.931v55.997L50 74.555z' clip-rule='evenodd'/%3E%3Cpath fill='%230082ca' fill-rule='evenodd' d='M107.26 344 0 418.931v55.997l107.26-74.917z' clip-rule='evenodd'/%3E%3Cpath fill='%2367c2ed' fill-rule='evenodd' d='M160.899 362.545 53.625 437.476v55.997l107.274-74.917z' clip-rule='evenodd'/%3E%3C/svg%3E")
      background-repeat: no-repeat
      background-position: center
      background-size: contain
      +screen('max', 1023)
        display: none
    +screen('max', 1500)
      height: 423px
    +screen('max', 1023)
      width: 100%
      height: 272px
    +screen('max', 700)
      height: 150px
  &__pic
    width: 100%
    height: 100%
    border-radius: 2px
    object-fit: cover
    clip-path: polygon(100% 0%, 98% 100%, 0% 100%, 2% 0%)
    +screen('max', 1500)
      clip-path: polygon(100% 0%, 94% 100%, 0% 100%, 6% 0%)
    +screen('max', 1023)
      clip-path: polygon(100% 0%, 97% 100%, 0% 100%, 3% 0%)
    +screen('max', 700)
      clip-path: none

.callback-practicum
  &__container
    border-radius: 2px
    background-color: var(--color-brown)
    background-image: url(../img/bg-callback-7.png)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    padding: 10rem 4rem
    margin: 0 .5rem
    box-sizing: border-box
    color: var(--white-100)
    text-align: center
    +screen('max', 700)
      background-image: none
      border-radius: 15px
      padding: 3.5rem 1.5rem
  &__title
    +fs(60px)
    font-family: var(--second-family)
    margin-bottom: 3rem
    +screen('max', 1500)
      +fs(30px)
      margin-bottom: 1.5rem
    +screen('max', 700)
      +fs(20px)
      margin-bottom: 1rem
  &__txt
    +fs(24px)
    line-height: 1.5
    margin-bottom: 7rem
    +screen('max', 1500)
      +fs(16px)
      margin-bottom: 3rem
      max-width: 600px
      display: inline-block
    +screen('max', 700)
      +fs(14px)
      margin-bottom: 2rem
  &__fields
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 3rem
    align-items: flex-end
    max-width: 1410px
    margin: 0 auto
    +screen('max', 1500)
      grid-template-columns: repeat(3, 1fr)
    +screen('max', 700)
      grid-template-columns: 1fr
      gap: 1.2rem
  &__name
    margin-bottom: 1.5rem
    text-align: left
    +screen('max', 1500)
      +fs(12px)
      margin-bottom: 1rem
  &__field
    border: 1px solid rgba(255, 255, 255, 0.5)
    width: 100%
    padding: 2.3rem 2rem
    box-sizing: border-box
    +fs(18px)
    font-weight: 600
    border-radius: 64px
    background: none
    color: var(--white-100)
    transition: .5s ease
    +screen('max', 1500)
      +fs(14px)
      padding: 1.6rem
    &::placeholder
      color: var(--white-100)
      opacity: 0.4
    &:focus
      border-color: var(--white-100)
  &__submit
    +screen('max', 1500)
      grid-column: 1/4
    +screen('max', 700)
      grid-column: auto
      margin-top: 1rem
  &__req
    +fs(18px)
    font-weight: 600
    margin-top: 5rem
    color: rgba(255, 255, 255, 0.5)
    +screen('max', 1500)
      +fs(12px)
      margin-top: 3rem
    +screen('max', 1023)
      max-width: 460px
      display: inline-block
    +screen('max', 700)
      margin-top: 1.5rem
    a
      color: var(--white-100)

.callback-parking
  &__container
    border-radius: 2px
    background-color: var(--color-brown)
    background-image: url(../img/bg-callback-7.png)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    padding: 10rem 4rem
    margin: 0 .5rem
    box-sizing: border-box
    color: var(--white-100)
    text-align: center
    +screen('max', 700)
      background-image: none
      border-radius: 15px
  &__title
    +fs(60px)
    font-family: var(--second-family)
    margin-bottom: 3rem
    +screen('max', 1500)
      +fs(30px)
      margin-bottom: 1.5rem
    +screen('max', 700)
      +fs(20px)
      margin-bottom: 1rem
  &__txt
    +fs(24px)
    line-height: 1.5
    margin-bottom: 7rem
    opacity: 0.8
    max-width: 1020px
    display: inline-block
    +screen('max', 1500)
      +fs(16px)
      margin-bottom: 3rem
      max-width: 600px
      display: inline-block
    +screen('max', 700)
      +fs(14px)
      margin-bottom: 2.5rem
  &__fields
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 3rem
    align-items: flex-end
    max-width: 1410px
    margin: 0 auto
  &__name
    margin-bottom: 1.5rem
    text-align: left
    +screen('max', 1500)
      +fs(12px)
      margin-bottom: 1rem
  &__field
    border: 1px solid rgba(255, 255, 255, 0.5)
    width: 100%
    padding: 2.3rem 2rem
    box-sizing: border-box
    +fs(18px)
    font-weight: 600
    border-radius: 64px
    background: none
    color: var(--white-100)
    transition: .5s ease
    +screen('max', 1500)
      +fs(14px)
      padding: 1.6rem
    &::placeholder
      color: var(--white-100)
      opacity: 0.4
    &:focus
      border-color: var(--white-100)
  &__submit
    grid-column: 1/4
    +screen('max', 700)
      grid-column: auto
      margin-top: 1rem
  &__req
    +fs(18px)
    font-weight: 600
    margin-top: 5rem
    color: rgba(255, 255, 255, 0.5)
    +screen('max', 1500)
      +fs(12px)
      margin-top: 3rem
    +screen('max', 1023)
      max-width: 460px
      display: inline-block
    +screen('max', 700)
      margin-top: 1.5rem
    a
      color: var(--white-100)

.subscribe
  margin: 5rem 0
  +screen('max', 1023)
    margin: 3.5rem 0
  &__container
    display: flex
    justify-content: space-between
    align-items: center
    clip-path: polygon(100% 0%, 98% 100%, 0% 100%, 2% 0%)
    padding: 3rem 5rem
    background: var(--brand-tertiary-light)
    box-sizing: border-box
    gap: 10rem
    color: var(--white-100)
    +screen('max', 1023)
      padding: 2.5rem
      display: block
    +screen('max', 700)
      padding: 3rem 2rem
      background-image: none
      border-radius: 15px
  &__title
    +fs(30px)
    letter-spacing: -0.02em
    text-transform: uppercase
    +screen('max', 1500)
      +fs(22px)
    +screen('max', 700)
      +fs(18px)
  &__btn
    display: inline-flex
    align-items: center
    justify-content: center
    padding: 2rem 3rem
    flex-shrink: 0
    gap: 1rem
    +screen('max', 1023)
      padding: 1.2rem 1.5rem
      margin-top: 2.5rem
    +screen('max', 700)
      width: 100%

.callback-form
  padding-block: 8.5rem
  border-radius: 2px
  background-color: var(--brand-primary-light)
  margin: 8.5rem 5px .5rem
  position: relative
  z-index: 1
  +screen('max', 1500)
    margin: 5rem .5rem
    padding-block: 6rem
  +screen('max', 1023)
    border-radius: 2px
  +screen('max', 700)
    padding-block: 3.5rem
  &:before
    content: ''
    width: 338px
    height: 297px
    position: absolute
    top: 0
    left: 0
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='322' height='286' fill='none' viewBox='0 0 322 286'%3E%3Cpath fill='%2300a6e6' fill-rule='evenodd' d='m231.027 126.854 202.468 21.773-90.109 182.594-202.48-21.731z' clip-rule='evenodd'/%3E%3Cpath fill='%2370b865' fill-rule='evenodd' d='M343.378 331.228 58.991 300.695.004 193.404l284.386 30.533z' clip-rule='evenodd'/%3E%3C/svg%3E")
    background-size: contain
    background-repeat: no-repeat
    transform: rotate(180deg)
    background-position: right
    z-index: -1
    +screen('max', 1023)
      width: 138px
      height: 159px
    +screen('max', 700)
      content: none
  &:after
    content: ''
    width: 338px
    height: 297px
    position: absolute
    bottom: 0
    right: 0
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='322' height='286' fill='none' viewBox='0 0 322 286'%3E%3Cpath fill='%2300a6e6' fill-rule='evenodd' d='m231.027 126.854 202.468 21.773-90.109 182.594-202.48-21.731z' clip-rule='evenodd'/%3E%3Cpath fill='%2370b865' fill-rule='evenodd' d='M343.378 331.228 58.991 300.695.004 193.404l284.386 30.533z' clip-rule='evenodd'/%3E%3C/svg%3E")
    background-size: contain
    background-repeat: no-repeat
    background-position: right
    z-index: -1
    +screen('max', 1023)
      width: 138px
      height: 159px
    +screen('max', 700)
      content: none
  &__container
    max-width: 1070px
    margin: 0 auto
    text-align: center
    color: var(--white-100)
  &__title
    +fs(52px)
    font-weight: 300
    text-transform: uppercase
    margin-bottom: 3rem
    +screen('max', 1500)
      +fs(30px)
      margin-bottom: 1.5rem
    +screen('max', 700)
      +fs(20px)
      margin-bottom: 1rem
  &__txt
    +fs(22px)
    line-height: 1.5
    color: var(--white-80)
    font-weight: 300
    margin-bottom: 5rem
    +screen('max', 1500)
      +fs(16px)
      margin-bottom: 3rem
      max-width: 600px
      display: inline-block
    +screen('max', 700)
      +fs(14px)
      margin-bottom: 2.5rem
  &__action
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 4rem
    align-items: flex-end
    +screen('max', 1500)
      gap: 2rem
    +screen('max', 1023)
      grid-template-columns: repeat(2, 1fr)
      max-width: 563px
      margin: 0 auto
    +screen('max', 700)
      grid-template-columns: 1fr
      gap: 1.2rem
      max-width: 300px
  &__name
    margin-bottom: 1.5rem
    text-align: left
    +fs(12px)
    letter-spacing: -0.02em
    color: var(--white-60)
    +screen('max', 1500)
      +fs(12px)
      margin-bottom: 1rem
  &__field
    border: 1px solid var(--white-40)
    border-radius: 2px
    width: 100%
    padding: 2.3rem 2rem
    box-sizing: border-box
    +fs(18px)
    font-weight: 300
    background: none
    color: var(--white-100)
    transition: .5s ease
    +screen('max', 1500)
      +fs(14px)
      padding: 1.6rem
    &::placeholder
      color: var(--white-100)
      opacity: 0.4
    &:focus
      border-color: var(--white-100)
  &__submit
    +screen('max', 1023)
      grid-column: 1/3
    +screen('max', 700)
      grid-column: auto
      margin-top: 1rem
  &__req
    +fs(18px)
    font-weight: 300
    margin-top: 2.5rem
    color: var(--white-60)
    +screen('max', 1500)
      +fs(12px)
      margin-top: 3rem
    +screen('max', 1023)
      max-width: 460px
      display: inline-block
    +screen('max', 700)
      margin-top: 1.5rem
    a
      color: var(--white-100)

.callback-mini
  margin: 8rem 0
  +screen('max', 1023)
    margin: 6rem 0
  +screen('max', 700)
    margin: 4rem 0
  &__container
    width: 100%
    background-color: var(--brand-primary-light)
    background-image: url(../img/bg-select-parking.png)
    background-repeat: no-repeat
    background-size: contain
    background-position: right
    padding: 2.5rem
    border-radius: 2px
    box-sizing: border-box
    display: flex
    justify-content: center
    align-items: center
    gap: 2rem
  &__title
    +fs(30px)
    color: var(--white-100)
    font-weight: 600

.callback-review
  &__container
    border-radius: 2px
    background-color: var(--color-brown)
    background-image: url(../img/bg-callback-7.png)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    padding: 10rem 4rem
    margin: 0 .5rem
    box-sizing: border-box
    color: var(--white-100)
    text-align: center
    +screen('max', 700)
      background-image: none
      border-radius: 15px
  &__title
    +fs(60px)
    font-family: var(--second-family)
    margin-bottom: 3rem
    +screen('max', 1500)
      +fs(30px)
      margin-bottom: 1.5rem
    +screen('max', 700)
      +fs(20px)
      margin-bottom: 1rem
  &__txt
    +fs(24px)
    line-height: 1.5
    margin-bottom: 7rem
    +screen('max', 1500)
      +fs(16px)
      margin-bottom: 3rem
      max-width: 600px
      display: inline-block
    +screen('max', 700)
      +fs(14px)
      margin-bottom: 2.5rem
  &__fields
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 3rem
    align-items: flex-end
    max-width: 1410px
    margin: 0 auto 3.5rem
  &__name
    margin-bottom: 1.5rem
    text-align: left
    +screen('max', 1500)
      +fs(12px)
      margin-bottom: 1rem
  &__field
    border: 1px solid rgba(255, 255, 255, 0.5)
    width: 100%
    padding: 2.3rem 2rem
    box-sizing: border-box
    +fs(18px)
    font-weight: 600
    border-radius: 64px
    background: none
    color: var(--white-100)
    transition: .5s ease
    +screen('max', 1500)
      +fs(14px)
      padding: 1.6rem
    &::placeholder
      color: var(--white-100)
      opacity: 0.4
    &:focus
      border-color: var(--white-100)
  &__submit
    +screen('max', 1023)
      grid-column: 1/3
    +screen('max', 700)
      grid-column: auto
      margin-top: 1rem
  &__req
    +fs(18px)
    font-weight: 600
    margin-top: 5rem
    color: rgba(255, 255, 255, 0.5)
    +screen('max', 1500)
      +fs(12px)
      margin-top: 3rem
    +screen('max', 1023)
      max-width: 460px
      display: inline-block
    +screen('max', 700)
      margin-top: 1.5rem
    a
      color: var(--white-100)
  &__stars
    margin-bottom: 2.2rem
  &__txt
    line-height: 1.3
    margin-bottom: 2.5rem
    +fs(20px)
    +screen('max', 1500)
      +fs(14px)
    p
      margin-bottom: 1rem
  &__rating
    display: flex
    align-items: center
    gap: 3rem
    margin-bottom: 3.5rem
    +screen('max', 700)
      margin-bottom: 1.5rem
      gap: 1.5rem
  &__action
    max-width: 700px
    margin: 0 auto
    width: 100%
