.callback
  margin: 6rem 0 12rem
  +screen('max', 1500)
    margin: 6rem 0 10rem
  +screen('max', 700)
    margin: 5.5rem 0
  &__container
    border-radius: 25px
    background-color: var(--secondary)
    background-image: url(../img/bg-callback-1.png)
    background-repeat: no-repeat
    background-position: right top
    padding: 5rem
    box-sizing: border-box
    background-size: cover
    color: var(--white)
    +screen('max', 1500)
      padding: 4rem
      background-position: 60% top
    +screen('max', 1023)
      padding: 3rem
    +screen('max', 700)
      padding: 3rem 2rem
      background-position: 50% top
      background-size: 150%
  &__box
    display: flex
    justify-content: space-between
    align-items: flex-end
    border-radius: 25px
    background-color: var(--secondary)
    background-image: url(../img/bg-callback-1.png)
    background-repeat: no-repeat
    background-position: right top
    padding: 5rem
    box-sizing: border-box
    color: var(--white)
    +screen('max', 1500)
      padding: 4rem
      background-position: 60% top
    +screen('max', 1023)
      padding: 3rem
      flex-flow: column
      align-items: flex-start
      gap: 2rem
    +screen('max', 700)
      padding: 3rem 2rem
      background-position: 50% top
      background-size: 150%
  &__title
    +fs(50px)
    font-family: var(--second-family)
    +screen('max', 1500)
      +fs(39px)
    +screen('max', 1023)
      +fs(28px)
    &_mod
      +screen('max', 700)
        +fs(22px)
    &_two
      max-width: 1000px
      margin-bottom: 0
      +screen('max', 1500)
        max-width: 700px
      +screen('max', 700)
        +fs(22px)
  &__info
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 1.5rem
    +screen('max', 700)
      display: block
  &__content
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 1.5rem
    +screen('max', 1023)
      display: block
  &__txt
    max-width: 1150px
    +fs(22px)
    font-weight: 600
    line-height: 1.4
    margin-top: 1.5rem
    +screen('max', 1500)
      +fs(16px)
      max-width: 50%
    +screen('max', 1023)
      +fs(14px)
    +screen('max', 700)
      max-width: 100%
      margin-bottom: 2rem
  &__text
    max-width: 1150px
    +fs(22px)
    font-weight: 600
    line-height: 1.4
    margin-top: 1.5rem
    +screen('max', 1500)
      +fs(16px)
      max-width: 50%
    +screen('max', 1023)
      +fs(14px)
      max-width: 100%
      margin-bottom: 2rem
  &__btn
    border-radius: 48px
    padding: 2.5rem
    background: var(--white)
    display: inline-block
    width: 270px
    +fs(18px)
    font-weight: 600
    color: var(--primary)
    transition: .5s ease
    border: 1px solid var(--white)
    text-align: center
    box-sizing: border-box
    +screen('max', 1500)
      +fs(14px)
      width: 177px
      padding: 1.6rem
    +screen('max', 700)
      width: 100%
      +fs(12px)
      margin-top: 0
    &:hover
      background: var(--hover-green)
      color: var(--white)
  &__more
    backdrop-filter: blur(8px)
    background: rgba(255, 255, 255, 0.15)
    +screen('max', 700)
      padding: 1.6rem
  &__control
    display: flex
    gap: 1.5rem
    align-items: center
    +screen('max', 1500)
      flex-flow: column-reverse
      align-items: stretch
      margin-top: -7rem
    +screen('max', 700)
      margin-top: 0
      flex-flow: row-reverse
      gap: .7rem
    .callback__btn
      +screen('max', 1500)
        width: 220px
  &__buttons
    display: flex
    gap: 1.5rem
    align-items: center
    flex-shrink: 0
    +screen('max', 1500)
      margin-left: 4rem
    +screen('max', 1023)
      margin-left: 0
    +screen('max', 700)
      gap: 1rem
      flex-wrap: wrap
    .callback__btn
      +screen('max', 1500)
        width: 260px
      +screen('max', 1023)
        width: 50%
      +screen('max', 700)
        width: 100%
    .callback__more
      +screen('max', 1023)
        width: 50%
      +screen('max', 700)
        width: 100%
  &__action
    width: 50%
    max-width: 620px
    display: flex
    justify-content: space-between
    align-items: center
    gap: 2rem
    flex-shrink: 0
    margin-left: 5rem
    +screen('max', 1023)
      width: 100%
      margin-left: 0
      gap: 0.5rem
  &__field
    backdrop-filter: blur(13px)
    background: rgba(255, 255, 255, 0.1)
    padding: 2.3rem 2rem
    box-sizing: border-box
    +fs(18px)
    font-weight: 600
    border-radius: 64px
    transition: .5s ease
    width: 100%
    border: 1px solid rgba(255, 255, 255, 0.5)
    +screen('max', 1023)
      +fs(16px)
      padding: 1.6rem 2rem
      border-radius: 30px
    &::placeholder
      color: var(--white)

.callback-banner
  margin: 9rem 0
  +screen('max', 1280)
    margin: 6rem 0
  +screen('max', 700)
    margin: 5rem 0
  &__container
    display: flex
    justify-content: space-between
    align-items: center
    border-radius: 30px
    background-color: var(--color-brown)
    background-image: url(../img/bg-callback-2.png)
    background-repeat: no-repeat
    background-position: right bottom
    background-size: contain
    padding: 5rem
    box-sizing: border-box
    color: var(--white)
    +screen('max', 1500)
      padding: 4rem
      background-position: 60% bottom
    +screen('max', 1023)
      padding: 1rem
      display: block
      background-image: url(../img/bg-callback-2--mobile.png)
      background-position: right top
      background-size: 100%
    +screen('max', 700)
      padding: .5rem
      background-image: none
    &_green
      background-color: var(--secondary)
      background-image: url(../img/bg-callback-2.png)
      background-repeat: no-repeat
      background-position: right bottom
      background-size: contain
  &__content
    position: relative
    +screen('max', 1023)
      padding: 3rem
      box-sizing: border-box
    +screen('max', 700)
      padding: 2rem 1.5rem
  &__sign
    +fs(30px)
    margin-bottom: 5rem
    +screen('max', 1500)
      +fs(22px)
    +screen('max', 1023)
      margin-bottom: 2rem
    +screen('max', 700)
      +fs(16px)
  &__title
    +fs(70px)
    color: var(--white)
    font-family: var(--second-family)
    line-height: 1
    max-width: 800px
    +screen('max', 1500)
      +fs(50px)
    +screen('max', 700)
      +fs(34px)
    br
      +screen('max', 1023)
        display: none
  &__subtitle
    +fs(30px)
    margin-top: 3rem
    max-width: 735px
    +screen('max', 1500)
      +fs(20px)
      margin-top: 2rem
    +screen('max', 700)
      +fs(16px)
      margin-top: 1rem
  &__more
    margin-top: 4.5rem
    +screen('max', 1023)
      position: absolute
      right: 1rem
      bottom: 3rem
      margin-top: 0
    +screen('max', 700)
      position: relative
      right: 0
      bottom: 0
      width: 100%
      margin-top: 2rem
  &__pic
    width: 50%
    border-radius: 20px
    object-fit: cover
    +screen('max', 1023)
      width: 100%
      height: 272px
      border-radius: 13px
    +screen('max', 700)
      height: 150px
      border-radius: 11px

.callback-practicum
  &__container
    border-radius: 30px
    background-color: var(--color-brown)
    background-image: url(../img/bg-callback-7.png)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    padding: 10rem 4rem
    margin: 0 .5rem
    box-sizing: border-box
    color: var(--white)
    text-align: center
    +screen('max', 700)
      background-image: none
      border-radius: 15px
      padding: 3.5rem 1.5rem
  &__title
    +fs(60px)
    font-family: var(--second-family)
    margin-bottom: 3rem
    +screen('max', 1500)
      +fs(30px)
      margin-bottom: 1.5rem
    +screen('max', 700)
      +fs(20px)
      margin-bottom: 1rem
  &__txt
    +fs(24px)
    line-height: 1.5
    margin-bottom: 7rem
    +screen('max', 1500)
      +fs(16px)
      margin-bottom: 3rem
      max-width: 600px
      display: inline-block
    +screen('max', 700)
      +fs(14px)
      margin-bottom: 2rem
  &__fields
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 3rem
    align-items: flex-end
    max-width: 1410px
    margin: 0 auto
    +screen('max', 1500)
      grid-template-columns: repeat(3, 1fr)
    +screen('max', 700)
      grid-template-columns: 1fr
      gap: 1.2rem
  &__name
    margin-bottom: 1.5rem
    text-align: left
    +screen('max', 1500)
      +fs(12px)
      margin-bottom: 1rem
  &__field
    border: 1px solid rgba(255, 255, 255, 0.5)
    width: 100%
    padding: 2.3rem 2rem
    box-sizing: border-box
    +fs(18px)
    font-weight: 600
    border-radius: 64px
    background: none
    color: var(--white)
    transition: .5s ease
    +screen('max', 1500)
      +fs(14px)
      padding: 1.6rem
    &::placeholder
      color: var(--white)
      opacity: 0.4
    &:focus
      border-color: var(--white)
  &__submit
    +screen('max', 1500)
      grid-column: 1/4
    +screen('max', 700)
      grid-column: auto
      margin-top: 1rem
  &__req
    +fs(18px)
    font-weight: 600
    margin-top: 5rem
    color: rgba(255, 255, 255, 0.5)
    +screen('max', 1500)
      +fs(12px)
      margin-top: 3rem
    +screen('max', 1023)
      max-width: 460px
      display: inline-block
    +screen('max', 700)
      margin-top: 1.5rem
    a
      color: var(--white)

.callback-parking
  &__container
    border-radius: 30px
    background-color: var(--color-brown)
    background-image: url(../img/bg-callback-7.png)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    padding: 10rem 4rem
    margin: 0 .5rem
    box-sizing: border-box
    color: var(--white)
    text-align: center
    +screen('max', 700)
      background-image: none
      border-radius: 15px
  &__title
    +fs(60px)
    font-family: var(--second-family)
    margin-bottom: 3rem
    +screen('max', 1500)
      +fs(30px)
      margin-bottom: 1.5rem
    +screen('max', 700)
      +fs(20px)
      margin-bottom: 1rem
  &__txt
    +fs(24px)
    line-height: 1.5
    margin-bottom: 7rem
    opacity: 0.8
    max-width: 1020px
    display: inline-block
    +screen('max', 1500)
      +fs(16px)
      margin-bottom: 3rem
      max-width: 600px
      display: inline-block
    +screen('max', 700)
      +fs(14px)
      margin-bottom: 2.5rem
  &__fields
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 3rem
    align-items: flex-end
    max-width: 1410px
    margin: 0 auto
  &__name
    margin-bottom: 1.5rem
    text-align: left
    +screen('max', 1500)
      +fs(12px)
      margin-bottom: 1rem
  &__field
    border: 1px solid rgba(255, 255, 255, 0.5)
    width: 100%
    padding: 2.3rem 2rem
    box-sizing: border-box
    +fs(18px)
    font-weight: 600
    border-radius: 64px
    background: none
    color: var(--white)
    transition: .5s ease
    +screen('max', 1500)
      +fs(14px)
      padding: 1.6rem
    &::placeholder
      color: var(--white)
      opacity: 0.4
    &:focus
      border-color: var(--white)
  &__submit
    grid-column: 1/4
    +screen('max', 700)
      grid-column: auto
      margin-top: 1rem
  &__req
    +fs(18px)
    font-weight: 600
    margin-top: 5rem
    color: rgba(255, 255, 255, 0.5)
    +screen('max', 1500)
      +fs(12px)
      margin-top: 3rem
    +screen('max', 1023)
      max-width: 460px
      display: inline-block
    +screen('max', 700)
      margin-top: 1.5rem
    a
      color: var(--white)

.subscribe
  margin: 5rem 0
  +screen('max', 1023)
    margin: 3.5rem 0
  &__container
    display: flex
    justify-content: space-between
    align-items: center
    border-radius: 30px
    background-color: var(--color-brown)
    background-image: url(../img/bg-callback-4.png)
    background-repeat: no-repeat
    background-position: right bottom
    background-size: contain
    padding: 3.5rem 4rem
    box-sizing: border-box
    gap: 10rem
    color: var(--white)
    +screen('max', 1023)
      padding: 2.5rem
      display: block
    +screen('max', 700)
      padding: 3rem 2rem
      background-image: none
      border-radius: 15px
  &__title
    +fs(30px)
    line-height: 1
    font-weight: 600
    +screen('max', 1500)
      +fs(22px)
    +screen('max', 700)
      +fs(18px)
  &__btn
    display: inline-flex
    align-items: center
    justify-content: center
    padding: 2rem 3rem
    flex-shrink: 0
    gap: 1rem
    +screen('max', 1023)
      padding: 1.2rem 1.5rem
      margin-top: 2.5rem
    +screen('max', 700)
      width: 100%

.callback-form
  padding-block: 9.5rem
  border-radius: 40px
  background-color: var(--secondary)
  background-image: url(../img/bg-callback-5.png)
  background-repeat: no-repeat
  background-size: contain
  background-position: right 0
  margin: 8.5rem .5rem
  +screen('max', 1500)
    background-size: cover
    background-position: right 0
    margin: 5rem .5rem
    padding-block: 6rem
  +screen('max', 1023)
    border-radius: 20px
  +screen('max', 700)
    background-image: none
    padding-block: 3.5rem
  &__container
    max-width: 1070px
    margin: 0 auto
    text-align: center
    color: var(--white)
  &__title
    +fs(60px)
    font-family: var(--second-family)
    margin-bottom: 3rem
    +screen('max', 1500)
      +fs(30px)
      margin-bottom: 1.5rem
    +screen('max', 700)
      +fs(20px)
      margin-bottom: 1rem
  &__txt
    +fs(24px)
    line-height: 1.5
    opacity: 0.8
    margin-bottom: 5rem
    +screen('max', 1500)
      +fs(16px)
      margin-bottom: 3rem
      max-width: 600px
      display: inline-block
    +screen('max', 700)
      +fs(14px)
      margin-bottom: 2.5rem
  &__action
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 4rem
    align-items: flex-end
    +screen('max', 1500)
      gap: 2rem
    +screen('max', 1023)
      grid-template-columns: repeat(2, 1fr)
      max-width: 563px
      margin: 0 auto
    +screen('max', 700)
      grid-template-columns: 1fr
      gap: 1.2rem
      max-width: 300px
  &__name
    margin-bottom: 1.5rem
    text-align: left
    +screen('max', 1500)
      +fs(12px)
      margin-bottom: 1rem
  &__field
    border: 1px solid rgba(255, 255, 255, 0.5)
    width: 100%
    padding: 2.3rem 2rem
    box-sizing: border-box
    +fs(18px)
    font-weight: 600
    border-radius: 64px
    background: none
    color: var(--white)
    transition: .5s ease
    +screen('max', 1500)
      +fs(14px)
      padding: 1.6rem
    &::placeholder
      color: var(--white)
      opacity: 0.4
    &:focus
      border-color: var(--white)
  &__submit
    +screen('max', 1023)
      grid-column: 1/3
    +screen('max', 700)
      grid-column: auto
      margin-top: 1rem
  &__req
    +fs(18px)
    font-weight: 600
    margin-top: 5rem
    color: rgba(255, 255, 255, 0.5)
    +screen('max', 1500)
      +fs(12px)
      margin-top: 3rem
    +screen('max', 1023)
      max-width: 460px
      display: inline-block
    +screen('max', 700)
      margin-top: 1.5rem
    a
      color: var(--white)

.callback-mini
  margin: 8rem 0
  +screen('max', 1023)
    margin: 6rem 0
  +screen('max', 700)
    margin: 4rem 0
  &__container
    width: 100%
    background-color: var(--secondary)
    background-image: url(../img/bg-select-parking.png)
    background-repeat: no-repeat
    background-size: contain
    background-position: right
    padding: 2.5rem
    border-radius: 20px
    box-sizing: border-box
    display: flex
    justify-content: center
    align-items: center
    gap: 2rem
  &__title
    +fs(30px)
    color: var(--white)
    font-weight: 600

.callback-review
  &__container
    border-radius: 30px
    background-color: var(--color-brown)
    background-image: url(../img/bg-callback-7.png)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    padding: 10rem 4rem
    margin: 0 .5rem
    box-sizing: border-box
    color: var(--white)
    text-align: center
    +screen('max', 700)
      background-image: none
      border-radius: 15px
  &__title
    +fs(60px)
    font-family: var(--second-family)
    margin-bottom: 3rem
    +screen('max', 1500)
      +fs(30px)
      margin-bottom: 1.5rem
    +screen('max', 700)
      +fs(20px)
      margin-bottom: 1rem
  &__txt
    +fs(24px)
    line-height: 1.5
    margin-bottom: 7rem
    +screen('max', 1500)
      +fs(16px)
      margin-bottom: 3rem
      max-width: 600px
      display: inline-block
    +screen('max', 700)
      +fs(14px)
      margin-bottom: 2.5rem
  &__fields
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 3rem
    align-items: flex-end
    max-width: 1410px
    margin: 0 auto 3.5rem
  &__name
    margin-bottom: 1.5rem
    text-align: left
    +screen('max', 1500)
      +fs(12px)
      margin-bottom: 1rem
  &__field
    border: 1px solid rgba(255, 255, 255, 0.5)
    width: 100%
    padding: 2.3rem 2rem
    box-sizing: border-box
    +fs(18px)
    font-weight: 600
    border-radius: 64px
    background: none
    color: var(--white)
    transition: .5s ease
    +screen('max', 1500)
      +fs(14px)
      padding: 1.6rem
    &::placeholder
      color: var(--white)
      opacity: 0.4
    &:focus
      border-color: var(--white)
  &__submit
    +screen('max', 1023)
      grid-column: 1/3
    +screen('max', 700)
      grid-column: auto
      margin-top: 1rem
  &__req
    +fs(18px)
    font-weight: 600
    margin-top: 5rem
    color: rgba(255, 255, 255, 0.5)
    +screen('max', 1500)
      +fs(12px)
      margin-top: 3rem
    +screen('max', 1023)
      max-width: 460px
      display: inline-block
    +screen('max', 700)
      margin-top: 1.5rem
    a
      color: var(--white)
  &__stars
    margin-bottom: 2.2rem
  &__txt
    line-height: 1.3
    margin-bottom: 2.5rem
    +fs(20px)
    +screen('max', 1500)
      +fs(14px)
    p
      margin-bottom: 1rem
  &__rating
    display: flex
    align-items: center
    gap: 3rem
    margin-bottom: 3.5rem
    +screen('max', 700)
      margin-bottom: 1.5rem
      gap: 1.5rem
  &__action
    max-width: 700px
    margin: 0 auto
    width: 100%