.offer
  overflow: hidden
  margin: 7.5rem 0
  position: relative
  +screen('max', 700)
    margin: 4.5rem 0
  &_sale
    +screen('max', 700)
      padding-top: 5rem
    .offer__title
      +screen('max', 700)
        display: block
        position: absolute
        top: 0
  &__inner
    +screen('max', 700)
      display: flex
      flex-flow: column-reverse
      gap: 2rem
  &__head
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 3rem
    +screen('max', 700)
      margin-bottom: 0
    .slider-arrow
      width: 67px
      height: 67px
      +screen('max', 1500)
        width: 50px
        height: 50px
    .slider-arrows
      +screen('max', 1023)
        display: none
  &__title
    +screen('max', 700)
      display: none
  &__btn
    padding: 2.2rem 3.8rem
    margin-right: 2rem
    +screen('max', 1500)
      padding: 1.6rem 2.5rem
    +screen('max', 1023)
      margin-right: 0
    +screen('max', 700)
      width: 100%
      border-color: var(--secondary)
      color: var(--primary)
  &__control
    +screen('max', 700)
      width: 100%
  &__wrapper
    .swiper
      margin: 0 -5rem
      padding-inline: 5rem
      +screen('max', 1800)
        margin: 0 -3rem
      +screen('max', 1500)
        margin: 0 calc((-100vw + 1160px) / 2 )
        padding-inline: calc((100vw - 1160px) / 2 )
      +screen('max', 1200)
        margin: 0 -2rem
        padding-inline: 2rem
  &__slider
    .swiper
      margin: 0 -5rem
      padding-inline: 5rem
      +screen('max', 1800)
        margin: 0 -3rem
      +screen('max', 1500)
        margin: 0 calc((-100vw + 1160px) / 2 )
        padding-inline: calc((100vw - 1160px) / 2 )
      +screen('max', 1200)
        margin: 0 -2rem
        padding-inline: 2rem
  &__box
    padding: 3.5rem
    box-sizing: border-box
    border-radius: 25px
    color: var(--white)
    display: block
    +screen('max', 1500)
      padding: 2.5rem
    &_color-1
      background: #aa825e
    &_color-2
      background: #c3a454
    &_color-3
      background: var(--secondary)
    &_color-4
      background: var(--color-brown)
  &__time
    display: inline-block
    padding: 0.7rem 1rem
    box-sizing: border-box
    background: rgba(255, 255, 255, 0.1)
    border-radius: 32px
    +fs(18px)
    font-weight: 700
    line-height: 1
    margin-bottom: 2.7rem
    +screen('max', 1500)
      +fs(14px)
    +screen('max', 1023)
      margin-bottom: 2rem
    span
      position: relative
      +fs(14.5px)
      font-weight: 600
      padding-left: 1rem
      &:before
        content: '•'
        padding-right: 1rem
  &__caption
    +fs(28px)
    font-weight: 700
    margin-bottom: 2rem
    +screen('max', 1500)
      +fs(24px)
  &__txt
    +fs(16px)
    font-weight: 600
    line-height: 1.3
    opacity: 0.9
    text-wrap: balance
    +screen('max', 1500)
      +fs(14px)

.offer-special
  padding-block: 8rem
  background: var(--fon)
  border-radius: 40px
  +screen('max', 1500)
    padding-block: 5rem
  +screen('max', 700)
    padding-block: 3.5rem
    border-radius: 15px
  &__head
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 3rem
    .slider-arrow
      width: 67px
      height: 67px
      +screen('max', 1500)
        width: 50px
        height: 50px
    .slider-arrows
      +screen('max', 1023)
        display: none
  &__control
    +screen('max', 700)
      display: none
  &__item
    box-shadow: 0 11px 33px 0 rgba(158, 163, 172, 0.12)
    border-radius: 25px
    background: var(--white)
    padding: 2.5rem 2.5rem 4rem
    box-sizing: border-box
    position: relative
    +screen('max', 1500)
      padding: 1.5rem 2rem
    +screen('max', 700)
      padding: 1.5rem
      border-radius: 15px
  &__wrapper
    .swiper
      padding: 2rem
      margin: -2rem
  &__slider
    position: relative
    +screen('max', 700)
      width: 96px
      position: absolute
      right: 0
      top: 1rem
    .slider-dots
      display: flex
      justify-content: center
      margin-top: 2rem
      .swiper-pagination-bullet.swiper-pagination-bullet-active
        background: var(--secondary)
      .swiper-pagination-bullet
        background: #838c95
  &__pic
    max-width: 100%
  &__sale
    color: var(--white)
    background: var(--color-red)
    +fs(20px)
    padding: 0.8rem 1.5rem 1rem
    border-radius: 82px
    display: inline-block
    margin-bottom: 5rem
    +screen('max', 700)
      +fs(12px)
      margin-bottom: 2rem
  &__caption
    +fs(28px)
    font-weight: 600
    margin-bottom: 4rem
    +screen('max', 700)
      +fs(20px)
      padding-right: 120px