+b.finishing
  +e.inner
    +e.head.inner
      +e.H2.title Отделка
      +e.control
        +e.BUTTON.btn.btn_transparent._tr-black.active Комнаты и кухня
        +e.BUTTON.btn.btn_transparent._tr-black Санузел
        +e.BUTTON.btn.btn_transparent._tr-black Лоджия
        +e.BUTTON.btn.btn_transparent._tr-black Окна в квартире
    +e.wrapper
      .swiper
        .swiper-wrapper
          .swiper-slide
            +e.IMG.pic(src='/img/finishing-1.png' alt='')
          .swiper-slide
            +e.IMG.pic(src='/img/finishing-1.png' alt='')
          .swiper-slide
            +e.IMG.pic(src='/img/finishing-1.png' alt='')
      .slider-arrows
        +b.slider-arrow_prev._gray
          svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
            path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6.48438.79102 1.27604 5.99935l5.20834 5.20835')
        +b.slider-arrow_next._gray
          svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
            path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m1.51562.79102 5.20834 5.20833-5.20834 5.20835')
      .slider-dots
      +e.info
        +e.A.cntrl.btn(href='#') Подробнее об отделке
        +e.A.cntrl.btn_white(href='#') Записаться на просмотр