+b.finishing-tabs
  +e.inner.inner
    +e.head
      +e.H2.title Отделка
      +e.control
        +e.BUTTON.btn.btn_white.active Комнаты и кухня
        +e.BUTTON.btn.btn_white Санузел
        +e.BUTTON.btn.btn_white Лоджия
        +e.BUTTON.btn.btn_white Окна в квартире
    +e.wrapper
      +e.box
        +e.row
          +e.IMG.pic(src='/img/finishing-2.png' alt='')
          +e.content
            +e.H2.caption Чистовая
            +e.line
              +e.P.holder Напольное покрытие
              +e.P.txt Керамогранит на кухне и в прихожей, ламинат 33 класса в жилых комнатах
            +e.line
              +e.P.holder Обои
              +e.P.txt Под покраску виниловые на флизелиновой основе
            +e.line
              +e.P.holder Потолок
              +e.P.txt Натяжной с выводом под люстру
            +e.line
              +e.P.holder Двери Geona
              +e.P.txt Металлическая входная дверь с утеплением косяка, межкомнатные двери с качественной фурнитурой и магнитным замком.
            +e.line
              +e.P.holder Радиаторы
              +e.P.txt Prado с термостатическим элементом Danfoss.
            +e.A.more.btn_tr-green(href="#") Подробнее об отделке
      +e.box
        +e.row
          +e.IMG.pic(src='/img/finishing-2.png' alt='')
          +e.content
            +e.H2.caption Чистовая
            +e.line
              +e.P.holder Напольное покрытие
              +e.P.txt Керамогранит на кухне и в прихожей, ламинат 33 класса в жилых комнатах
            +e.line
              +e.P.holder Обои
              +e.P.txt Под покраску виниловые на флизелиновой основе
            +e.line
              +e.P.holder Потолок
              +e.P.txt Натяжной с выводом под люстру
            +e.line
              +e.P.holder Двери Geona
              +e.P.txt Металлическая входная дверь с утеплением косяка, межкомнатные двери с качественной фурнитурой и магнитным замком.
            +e.line
              +e.P.holder Радиаторы
              +e.P.txt Prado с термостатическим элементом Danfoss.
            +e.A.more.btn_tr-green(href="#") Подробнее об отделке