+b.life
  +e.inner.inner
    +e.head
      +e.H2.title Жизнь в ЖК
      +e.control
        +e.A.btn.btn_transparent(href="/life.html") Подробнее
        .slider-arrows
          +b.slider-arrow_prev._gray
            svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
              path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6.48438.79102 1.27604 5.99935l5.20834 5.20835')
          +b.slider-arrow_next._gray
            svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
              path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m1.51562.79102 5.20834 5.20833-5.20834 5.20835')
    +e.wrapper
      .swiper
        .swiper-wrapper
          .swiper-slide
            +e.IMG.pic(src='/img/life-1.png' alt='')
            +e.P.time 28 декабря 2022
            +e.H3.caption Новогодний праздник в ЖК «Новая Кузнечиха», 2022
            +e.A.more(href='#') Подробнее
              svg(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='none')
                circle(cx='12.5' cy='12.5' r='12' stroke='#51A747')
                path(stroke='#51A747' stroke-linecap='round' stroke-linejoin='round' d='m11.7578 9.89453 2.6042 2.60417-2.6042 2.6042')
          .swiper-slide
            +e.IMG.pic(src='/img/life-2.png' alt='')
            +e.P.time 28 декабря 2022
            +e.H3.caption Новогодний праздник в ЖК «Новая Кузнечиха», 2022
            +e.A.more(href='#') Подробнее
              svg(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='none')
                circle(cx='12.5' cy='12.5' r='12' stroke='#51A747')
                path(stroke='#51A747' stroke-linecap='round' stroke-linejoin='round' d='m11.7578 9.89453 2.6042 2.60417-2.6042 2.6042')
          .swiper-slide
            +e.IMG.pic(src='/img/life-2.png' alt='')
            +e.P.time 28 декабря 2022
            +e.H3.caption Новогодний праздник в ЖК «Новая Кузнечиха», 2022
            +e.A.more(href='#') Подробнее
              svg(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='none')
                circle(cx='12.5' cy='12.5' r='12' stroke='#51A747')
                path(stroke='#51A747' stroke-linecap='round' stroke-linejoin='round' d='m11.7578 9.89453 2.6042 2.60417-2.6042 2.6042')
          .swiper-slide
            +e.IMG.pic(src='/img/life-1.png' alt='')
            +e.P.time 28 декабря 2022
            +e.H3.caption Новогодний праздник в ЖК «Новая Кузнечиха», 2022
            +e.A.more(href='#') Подробнее
              svg(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='none')
                circle(cx='12.5' cy='12.5' r='12' stroke='#51A747')
                path(stroke='#51A747' stroke-linecap='round' stroke-linejoin='round' d='m11.7578 9.89453 2.6042 2.60417-2.6042 2.6042')
