+b.life_page
  +e.inner.inner
    +e.list
      +e.item
        +e.IMG.pic(src='/img/life-1.png' alt='')
        +e.P.time 28 декабря 2022
        +e.H3.caption Новогодний праздник в ЖК «Новая Кузнечиха», 2022
        +e.A.more(href='#') Подробнее
          svg(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='none')
            circle(cx='12.5' cy='12.5' r='12' stroke='#51A747')
            path(stroke='#51A747' stroke-linecap='round' stroke-linejoin='round' d='m11.7578 9.89453 2.6042 2.60417-2.6042 2.6042')
      +e.item
        +e.IMG.pic(src='/img/life-2.png' alt='')
        +e.P.time 28 декабря 2022
        +e.H3.caption Новогодний праздник в ЖК «Новая Кузнечиха», 2022
        +e.A.more(href='#') Подробнее
          svg(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='none')
            circle(cx='12.5' cy='12.5' r='12' stroke='#51A747')
            path(stroke='#51A747' stroke-linecap='round' stroke-linejoin='round' d='m11.7578 9.89453 2.6042 2.60417-2.6042 2.6042')
      +e.item
        +e.IMG.pic(src='/img/life-2.png' alt='')
        +e.P.time 28 декабря 2022
        +e.H3.caption Новогодний праздник в ЖК «Новая Кузнечиха», 2022
        +e.A.more(href='#') Подробнее
          svg(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='none')
            circle(cx='12.5' cy='12.5' r='12' stroke='#51A747')
            path(stroke='#51A747' stroke-linecap='round' stroke-linejoin='round' d='m11.7578 9.89453 2.6042 2.60417-2.6042 2.6042')
      +e.item
        +e.IMG.pic(src='/img/life-1.png' alt='')
        +e.P.time 28 декабря 2022
        +e.H3.caption Новогодний праздник в ЖК «Новая Кузнечиха», 2022
        +e.A.more(href='#') Подробнее
          svg(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='none')
            circle(cx='12.5' cy='12.5' r='12' stroke='#51A747')
            path(stroke='#51A747' stroke-linecap='round' stroke-linejoin='round' d='m11.7578 9.89453 2.6042 2.60417-2.6042 2.6042')
    +b.pagination
      +e.A.btn.disabled(href="#")
        svg(xmlns='http://www.w3.org/2000/svg' width='13' height='12' fill='none')
          path(stroke='#51A747' stroke-linecap='round' stroke-linejoin='round' d='M12.1039 5.99966H.89614m0 0L6.0517.84411M.89614 5.99966l5.37971 5.37974')
        span В начало
      +e.A.numb.active(href="#") 1
      +e.A.numb(href="#") 2
      +e.A.numb(href="#") 3
      +e.A.numb(href="#") 4
      +e.A.numb(href="#") 5
      +e.next
        svg(xmlns='http://www.w3.org/2000/svg' width='13' height='12' fill='none')
          path(stroke='#51A747' stroke-linecap='round' stroke-linejoin='round' d='M.9977 5.99966h11.2077m0 0L7.04987.84411m5.15553 5.15555L6.82572 11.3794')
      +e.A.btn(href="#")
        span В конец
        svg(xmlns='http://www.w3.org/2000/svg' width='13' height='12' fill='none')
          path(stroke='#51A747' stroke-linecap='round' stroke-linejoin='round' d='M.4977 5.99966h11.2077m0 0L6.54987.84411m5.15553 5.15555L6.32572 11.3794')