:root
  --font-family: 'Geologica', sans-serif
  --second-family: "Open Sans", sans-serif
  --third-family: "DOCKER", sans-serif
  // --third-family: "Inter", sans-serif
  --brand-primary-light: #0082ca
  --brand-primary-hover: #0166b8
  --brand-primary-dark: #006098
  --brand-secondary: #00a6e6
  --brand-secondary-hover: #25bbf6
  --brand-tertiary-light: #70b865
  --brand-tertiary-hover: #138d00
  --black-grey-light: #f5f6f7
  --dark-green: #19950b
  --color-red: #dd4949
  --color-gray: #4d545a
  --color-brown: #99482e
  --white-100: #fff
  --black-100: #13151a
  --black-80: rgba(19, 21, 26, 0.8)
  --black-60: rgba(19, 21, 26, 0.6)
  --black-40: rgba(19, 21, 26, 0.4)
  --black-20: rgba(19, 21, 26, 0.2)
  --black-10: rgba(19, 21, 26, 0.1)
  --black-5: rgba(19, 21, 26, 0.05)
  --white-80: rgba(255, 255, 255, 0.8)
  --white-60: rgba(255, 255, 255, 0.6)
  --white-40: rgba(255, 255, 255, 0.4)
  --white-20: rgba(255, 255, 255, 0.2)
  --white-10: rgba(255, 255, 255, 0.1)
  --white-5: rgba(255, 255, 255, 0.05)
