+b.gallery-collection
  +e.inner.inner
    +e.head
      +e.H2.title Галерея
      +e.control
        +e.tabs
          +e.BUTTON.tab.active Фото
          +e.BUTTON.tab Альбомы
          +e.BUTTON.tab Видео
    +e.wrapper
      +e.box
        .slider-arrows
          +b.slider-arrow_prev._gray
            svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
              path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6.48438.79102 1.27604 5.99935l5.20834 5.20835')
          +b.slider-arrow_next._gray
            svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
              path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m1.51562.79102 5.20834 5.20833-5.20834 5.20835')
        .swiper
          .swiper-wrapper
            .swiper-slide
              +e.item
                +e.count
                  svg(xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none')
                    path(fill='#FAC8A9' d='M13.352 3H6.648C3.736 3 2 4.736 2 7.648v6.704c0 .872.152 1.632.448 2.272.688 1.52 2.16 2.376 4.2 2.376h6.704C16.264 19 18 17.264 18 14.352V7.648C18 4.736 16.264 3 13.352 3Zm3.344 8.4c-.624-.536-1.632-.536-2.256 0l-3.328 2.856c-.624.536-1.632.536-2.256 0l-.272-.224c-.568-.496-1.472-.544-2.112-.112L3.48 15.928c-.176-.448-.28-.968-.28-1.576V7.648C3.2 5.392 4.392 4.2 6.648 4.2h6.704c2.256 0 3.448 1.192 3.448 3.448v3.84l-.104-.088Z')
                  span 7
                +e.IMG.pic(src='/img/gallery-5.png' alt='')
                +e.holder Интерьер
            .swiper-slide
              +e.item
                +e.count
                  svg(xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none')
                    path(fill='#FAC8A9' d='M13.352 3H6.648C3.736 3 2 4.736 2 7.648v6.704c0 .872.152 1.632.448 2.272.688 1.52 2.16 2.376 4.2 2.376h6.704C16.264 19 18 17.264 18 14.352V7.648C18 4.736 16.264 3 13.352 3Zm3.344 8.4c-.624-.536-1.632-.536-2.256 0l-3.328 2.856c-.624.536-1.632.536-2.256 0l-.272-.224c-.568-.496-1.472-.544-2.112-.112L3.48 15.928c-.176-.448-.28-.968-.28-1.576V7.648C3.2 5.392 4.392 4.2 6.648 4.2h6.704c2.256 0 3.448 1.192 3.448 3.448v3.84l-.104-.088Z')
                  span 7
                +e.IMG.pic(src='/img/gallery-5.png' alt='')
                +e.holder Интерьер
            .swiper-slide
              +e.item
                +e.count
                  svg(xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none')
                    path(fill='#FAC8A9' d='M13.352 3H6.648C3.736 3 2 4.736 2 7.648v6.704c0 .872.152 1.632.448 2.272.688 1.52 2.16 2.376 4.2 2.376h6.704C16.264 19 18 17.264 18 14.352V7.648C18 4.736 16.264 3 13.352 3Zm3.344 8.4c-.624-.536-1.632-.536-2.256 0l-3.328 2.856c-.624.536-1.632.536-2.256 0l-.272-.224c-.568-.496-1.472-.544-2.112-.112L3.48 15.928c-.176-.448-.28-.968-.28-1.576V7.648C3.2 5.392 4.392 4.2 6.648 4.2h6.704c2.256 0 3.448 1.192 3.448 3.448v3.84l-.104-.088Z')
                  span 7
                +e.IMG.pic(src='/img/gallery-5.png' alt='')
                +e.holder Интерьер
            .swiper-slide
              +e.item
                +e.count
                  svg(xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none')
                    path(fill='#FAC8A9' d='M13.352 3H6.648C3.736 3 2 4.736 2 7.648v6.704c0 .872.152 1.632.448 2.272.688 1.52 2.16 2.376 4.2 2.376h6.704C16.264 19 18 17.264 18 14.352V7.648C18 4.736 16.264 3 13.352 3Zm3.344 8.4c-.624-.536-1.632-.536-2.256 0l-3.328 2.856c-.624.536-1.632.536-2.256 0l-.272-.224c-.568-.496-1.472-.544-2.112-.112L3.48 15.928c-.176-.448-.28-.968-.28-1.576V7.648C3.2 5.392 4.392 4.2 6.648 4.2h6.704c2.256 0 3.448 1.192 3.448 3.448v3.84l-.104-.088Z')
                  span 7
                +e.IMG.pic(src='/img/gallery-5.png' alt='')
                +e.holder Интерьер
            .swiper-slide
              +e.item
                +e.count
                  svg(xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none')
                    path(fill='#FAC8A9' d='M13.352 3H6.648C3.736 3 2 4.736 2 7.648v6.704c0 .872.152 1.632.448 2.272.688 1.52 2.16 2.376 4.2 2.376h6.704C16.264 19 18 17.264 18 14.352V7.648C18 4.736 16.264 3 13.352 3Zm3.344 8.4c-.624-.536-1.632-.536-2.256 0l-3.328 2.856c-.624.536-1.632.536-2.256 0l-.272-.224c-.568-.496-1.472-.544-2.112-.112L3.48 15.928c-.176-.448-.28-.968-.28-1.576V7.648C3.2 5.392 4.392 4.2 6.648 4.2h6.704c2.256 0 3.448 1.192 3.448 3.448v3.84l-.104-.088Z')
                  span 7
                +e.IMG.pic(src='/img/gallery-5.png' alt='')
                +e.holder Интерьер
      +e.box
        .slider-arrows
          +b.slider-arrow_prev._gray
            svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
              path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6.48438.79102 1.27604 5.99935l5.20834 5.20835')
          +b.slider-arrow_next._gray
            svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
              path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m1.51562.79102 5.20834 5.20833-5.20834 5.20835')
        .swiper
          .swiper-wrapper
            .swiper-slide
              +e.item
                +e.count
                  svg(xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none')
                    path(fill='#FAC8A9' d='M13.352 3H6.648C3.736 3 2 4.736 2 7.648v6.704c0 .872.152 1.632.448 2.272.688 1.52 2.16 2.376 4.2 2.376h6.704C16.264 19 18 17.264 18 14.352V7.648C18 4.736 16.264 3 13.352 3Zm3.344 8.4c-.624-.536-1.632-.536-2.256 0l-3.328 2.856c-.624.536-1.632.536-2.256 0l-.272-.224c-.568-.496-1.472-.544-2.112-.112L3.48 15.928c-.176-.448-.28-.968-.28-1.576V7.648C3.2 5.392 4.392 4.2 6.648 4.2h6.704c2.256 0 3.448 1.192 3.448 3.448v3.84l-.104-.088Z')
                  span 7
                +e.IMG.pic(src='/img/gallery-5.png' alt='')
                +e.holder Интерьер
            .swiper-slide
              +e.item
                +e.count
                  svg(xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none')
                    path(fill='#FAC8A9' d='M13.352 3H6.648C3.736 3 2 4.736 2 7.648v6.704c0 .872.152 1.632.448 2.272.688 1.52 2.16 2.376 4.2 2.376h6.704C16.264 19 18 17.264 18 14.352V7.648C18 4.736 16.264 3 13.352 3Zm3.344 8.4c-.624-.536-1.632-.536-2.256 0l-3.328 2.856c-.624.536-1.632.536-2.256 0l-.272-.224c-.568-.496-1.472-.544-2.112-.112L3.48 15.928c-.176-.448-.28-.968-.28-1.576V7.648C3.2 5.392 4.392 4.2 6.648 4.2h6.704c2.256 0 3.448 1.192 3.448 3.448v3.84l-.104-.088Z')
                  span 7
                +e.IMG.pic(src='/img/gallery-5.png' alt='')
                +e.holder Интерьер
            .swiper-slide
              +e.item
                +e.count
                  svg(xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none')
                    path(fill='#FAC8A9' d='M13.352 3H6.648C3.736 3 2 4.736 2 7.648v6.704c0 .872.152 1.632.448 2.272.688 1.52 2.16 2.376 4.2 2.376h6.704C16.264 19 18 17.264 18 14.352V7.648C18 4.736 16.264 3 13.352 3Zm3.344 8.4c-.624-.536-1.632-.536-2.256 0l-3.328 2.856c-.624.536-1.632.536-2.256 0l-.272-.224c-.568-.496-1.472-.544-2.112-.112L3.48 15.928c-.176-.448-.28-.968-.28-1.576V7.648C3.2 5.392 4.392 4.2 6.648 4.2h6.704c2.256 0 3.448 1.192 3.448 3.448v3.84l-.104-.088Z')
                  span 7
                +e.IMG.pic(src='/img/gallery-5.png' alt='')
                +e.holder Интерьер
            .swiper-slide
              +e.item
                +e.count
                  svg(xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none')
                    path(fill='#FAC8A9' d='M13.352 3H6.648C3.736 3 2 4.736 2 7.648v6.704c0 .872.152 1.632.448 2.272.688 1.52 2.16 2.376 4.2 2.376h6.704C16.264 19 18 17.264 18 14.352V7.648C18 4.736 16.264 3 13.352 3Zm3.344 8.4c-.624-.536-1.632-.536-2.256 0l-3.328 2.856c-.624.536-1.632.536-2.256 0l-.272-.224c-.568-.496-1.472-.544-2.112-.112L3.48 15.928c-.176-.448-.28-.968-.28-1.576V7.648C3.2 5.392 4.392 4.2 6.648 4.2h6.704c2.256 0 3.448 1.192 3.448 3.448v3.84l-.104-.088Z')
                  span 7
                +e.IMG.pic(src='/img/gallery-5.png' alt='')
                +e.holder Интерьер
            .swiper-slide
              +e.item
                +e.count
                  svg(xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none')
                    path(fill='#FAC8A9' d='M13.352 3H6.648C3.736 3 2 4.736 2 7.648v6.704c0 .872.152 1.632.448 2.272.688 1.52 2.16 2.376 4.2 2.376h6.704C16.264 19 18 17.264 18 14.352V7.648C18 4.736 16.264 3 13.352 3Zm3.344 8.4c-.624-.536-1.632-.536-2.256 0l-3.328 2.856c-.624.536-1.632.536-2.256 0l-.272-.224c-.568-.496-1.472-.544-2.112-.112L3.48 15.928c-.176-.448-.28-.968-.28-1.576V7.648C3.2 5.392 4.392 4.2 6.648 4.2h6.704c2.256 0 3.448 1.192 3.448 3.448v3.84l-.104-.088Z')
                  span 7
                +e.IMG.pic(src='/img/gallery-5.png' alt='')
                +e.holder Интерьер
      +e.box
        .slider-arrows
          +b.slider-arrow_prev._gray
            svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
              path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6.48438.79102 1.27604 5.99935l5.20834 5.20835')
          +b.slider-arrow_next._gray
            svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
              path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m1.51562.79102 5.20834 5.20833-5.20834 5.20835')
        .swiper
          .swiper-wrapper
            .swiper-slide
              +e.item
                +e.count
                  svg(xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none')
                    path(fill='#FAC8A9' d='M13.352 3H6.648C3.736 3 2 4.736 2 7.648v6.704c0 .872.152 1.632.448 2.272.688 1.52 2.16 2.376 4.2 2.376h6.704C16.264 19 18 17.264 18 14.352V7.648C18 4.736 16.264 3 13.352 3Zm3.344 8.4c-.624-.536-1.632-.536-2.256 0l-3.328 2.856c-.624.536-1.632.536-2.256 0l-.272-.224c-.568-.496-1.472-.544-2.112-.112L3.48 15.928c-.176-.448-.28-.968-.28-1.576V7.648C3.2 5.392 4.392 4.2 6.648 4.2h6.704c2.256 0 3.448 1.192 3.448 3.448v3.84l-.104-.088Z')
                  span 7
                +e.IMG.pic(src='/img/gallery-5.png' alt='')
                +e.holder Интерьер
            .swiper-slide
              +e.item
                +e.count
                  svg(xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none')
                    path(fill='#FAC8A9' d='M13.352 3H6.648C3.736 3 2 4.736 2 7.648v6.704c0 .872.152 1.632.448 2.272.688 1.52 2.16 2.376 4.2 2.376h6.704C16.264 19 18 17.264 18 14.352V7.648C18 4.736 16.264 3 13.352 3Zm3.344 8.4c-.624-.536-1.632-.536-2.256 0l-3.328 2.856c-.624.536-1.632.536-2.256 0l-.272-.224c-.568-.496-1.472-.544-2.112-.112L3.48 15.928c-.176-.448-.28-.968-.28-1.576V7.648C3.2 5.392 4.392 4.2 6.648 4.2h6.704c2.256 0 3.448 1.192 3.448 3.448v3.84l-.104-.088Z')
                  span 7
                +e.IMG.pic(src='/img/gallery-5.png' alt='')
                +e.holder Интерьер
            .swiper-slide
              +e.item
                +e.count
                  svg(xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none')
                    path(fill='#FAC8A9' d='M13.352 3H6.648C3.736 3 2 4.736 2 7.648v6.704c0 .872.152 1.632.448 2.272.688 1.52 2.16 2.376 4.2 2.376h6.704C16.264 19 18 17.264 18 14.352V7.648C18 4.736 16.264 3 13.352 3Zm3.344 8.4c-.624-.536-1.632-.536-2.256 0l-3.328 2.856c-.624.536-1.632.536-2.256 0l-.272-.224c-.568-.496-1.472-.544-2.112-.112L3.48 15.928c-.176-.448-.28-.968-.28-1.576V7.648C3.2 5.392 4.392 4.2 6.648 4.2h6.704c2.256 0 3.448 1.192 3.448 3.448v3.84l-.104-.088Z')
                  span 7
                +e.IMG.pic(src='/img/gallery-5.png' alt='')
                +e.holder Интерьер
            .swiper-slide
              +e.item
                +e.count
                  svg(xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none')
                    path(fill='#FAC8A9' d='M13.352 3H6.648C3.736 3 2 4.736 2 7.648v6.704c0 .872.152 1.632.448 2.272.688 1.52 2.16 2.376 4.2 2.376h6.704C16.264 19 18 17.264 18 14.352V7.648C18 4.736 16.264 3 13.352 3Zm3.344 8.4c-.624-.536-1.632-.536-2.256 0l-3.328 2.856c-.624.536-1.632.536-2.256 0l-.272-.224c-.568-.496-1.472-.544-2.112-.112L3.48 15.928c-.176-.448-.28-.968-.28-1.576V7.648C3.2 5.392 4.392 4.2 6.648 4.2h6.704c2.256 0 3.448 1.192 3.448 3.448v3.84l-.104-.088Z')
                  span 7
                +e.IMG.pic(src='/img/gallery-5.png' alt='')
                +e.holder Интерьер
            .swiper-slide
              +e.item
                +e.count
                  svg(xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none')
                    path(fill='#FAC8A9' d='M13.352 3H6.648C3.736 3 2 4.736 2 7.648v6.704c0 .872.152 1.632.448 2.272.688 1.52 2.16 2.376 4.2 2.376h6.704C16.264 19 18 17.264 18 14.352V7.648C18 4.736 16.264 3 13.352 3Zm3.344 8.4c-.624-.536-1.632-.536-2.256 0l-3.328 2.856c-.624.536-1.632.536-2.256 0l-.272-.224c-.568-.496-1.472-.544-2.112-.112L3.48 15.928c-.176-.448-.28-.968-.28-1.576V7.648C3.2 5.392 4.392 4.2 6.648 4.2h6.704c2.256 0 3.448 1.192 3.448 3.448v3.84l-.104-.088Z')
                  span 7
                +e.IMG.pic(src='/img/gallery-5.png' alt='')
                +e.holder Интерьер
    +e.A.more.btn(href="#") Смотреть все