+b.product-sale
  +e.inner
    +e.box
      +e.P.txt Квартира по цене 2021 года! До завершения акции
      +e.timer
        +e.col
          +e.count 00
          +e.sign Дней
        +e.col
          +e.count 12
          +e.sign часов
        +e.col
          +e.count 19
          +e.sign минут
      +e.close
        svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox="0 0 24 24")
          path(fill='#fff' fill-rule='evenodd' d='M1.28033.21967c-.2929-.2929-.76777-.2929-1.06066 0-.2929.2929-.2929.76777 0 1.06066L10.7518 11.8125.2205 22.3438c-.2929.2929-.2929.7678 0 1.0607.2929.2929.76777.2929 1.06066 0L11.8125 12.8732l10.5313 10.5313c.2929.2929.7678.2929 1.0607 0 .2929-.2929.2929-.7678 0-1.0607L12.8732 11.8125 23.4053 1.28033c.2929-.2929.2929-.76777 0-1.06066-.2929-.2929-.7677-.2929-1.0606 0L11.8125 10.7518 1.28033.21967Z' clip-rule='evenodd')
