mixin eco(clas, position)
  +b.eco
    +e.inner.inner
      +e.H2.title Экология и парки
      +e.list(class=clas)
        +e.A.item.js-open-modal(href='#garden')
          +e.box
            +e.IMG.pic(src='/img/park-1.png' alt='')
            +e.content(class=clas)
              +e.time
                svg(xmlns='http://www.w3.org/2000/svg' width='11' height='16' fill='none' viewBox="0 0 11 16")
                  path(fill='#838C95' d='m1.89425 5.3846 2.56381-1.73812c.2878-.19658.63787-.29753.99432-.2867.43477.01011.85537.14641 1.20331.38994.34794.24353.60594.58219.73814.9689.14879.43528.28478.72944.40797.8825.37222.4635.85506.83965 1.41022 1.09859.55511.25895 1.16738.39356 1.78798.39315v1.49323c-.8262.00084-1.64217-.16927-2.38938-.49809-.74721-.32882-1.40701-.80817-1.93193-1.40354l-.55756 2.95287L7.7698 10.929l1.77827 4.5603L8.04418 16l-1.63187-4.184-2.7118-2.12417c-.22254-.16773-.39283-.38807-.49314-.63808-.10031-.25002-.12698-.52058-.07721-.78347l.40717-2.15399-.54156.36733L1.2943 8.66971 0 7.79169l1.88065-2.41605.0136.00896Zm4.70604-2.39813c-.42431 0-.83124-.15733-1.13128-.43736-.30003-.28003-.4686-.65985-.4686-1.05588 0-.39602.16857-.77584.4686-1.05587C5.76905.15732 6.17598 0 6.60029 0c.42432 0 .83126.15732 1.13129.43736.30003.28003.46859.65985.46859 1.05587 0 .39603-.16856.77585-.46859 1.05588-.30003.28003-.70697.43736-1.13129.43736ZM4.22287 12.8276l-2.571 2.8595-1.2255-.9593 2.38061-2.6475.59676-1.6277 1.43269 1.12-.61356 1.255Z')
                span 10 мин
              if position != true
                +e.P.caption Ботанический сад
          if position == true
            +e.info
              +e.H3.holder Ботанический сад
              +e.P.txt Уникальные коллекционные насаждения Ботанического сада ННГУ представляют большую научную, культурную и историческую ценность. На его территории произрастают растения более 3,5 тысяч таксонов.
        +e.A.item.js-open-modal(href='#garden')
          +e.box
            +e.IMG.pic(src='/img/park-2.png' alt='')
            +e.content(class=clas)
              +e.time
                svg(xmlns='http://www.w3.org/2000/svg' width='11' height='16' fill='none' viewBox="0 0 11 16")
                  path(fill='#838C95' d='m1.89425 5.3846 2.56381-1.73812c.2878-.19658.63787-.29753.99432-.2867.43477.01011.85537.14641 1.20331.38994.34794.24353.60594.58219.73814.9689.14879.43528.28478.72944.40797.8825.37222.4635.85506.83965 1.41022 1.09859.55511.25895 1.16738.39356 1.78798.39315v1.49323c-.8262.00084-1.64217-.16927-2.38938-.49809-.74721-.32882-1.40701-.80817-1.93193-1.40354l-.55756 2.95287L7.7698 10.929l1.77827 4.5603L8.04418 16l-1.63187-4.184-2.7118-2.12417c-.22254-.16773-.39283-.38807-.49314-.63808-.10031-.25002-.12698-.52058-.07721-.78347l.40717-2.15399-.54156.36733L1.2943 8.66971 0 7.79169l1.88065-2.41605.0136.00896Zm4.70604-2.39813c-.42431 0-.83124-.15733-1.13128-.43736-.30003-.28003-.4686-.65985-.4686-1.05588 0-.39602.16857-.77584.4686-1.05587C5.76905.15732 6.17598 0 6.60029 0c.42432 0 .83126.15732 1.13129.43736.30003.28003.46859.65985.46859 1.05587 0 .39603-.16856.77585-.46859 1.05588-.30003.28003-.70697.43736-1.13129.43736ZM4.22287 12.8276l-2.571 2.8595-1.2255-.9593 2.38061-2.6475.59676-1.6277 1.43269 1.12-.61356 1.255Z')
                span 10 мин
              if position != true
                +e.P.caption Анкудиновский лесопарк
          if position == true
            +e.info
              +e.H3.holder Анкудиновский лесопарк
              +e.P.txt Есть в Нижнем Новгороде недалеко от Щёлоковского хутора лесопарк Анкудиновский. На некоторых картах он принадлежит области, однако на кадастровой карте России он все таки находится в Нижнем Новгороде.
        +e.A.item.js-open-modal(href='#garden')
          +e.box
            +e.IMG.pic(src='/img/park-3.png' alt='')
            +e.content(class=clas)
              +e.time
                svg(xmlns='http://www.w3.org/2000/svg' width='11' height='16' fill='none' viewBox="0 0 11 16")
                  path(fill='#838C95' d='m1.89425 5.3846 2.56381-1.73812c.2878-.19658.63787-.29753.99432-.2867.43477.01011.85537.14641 1.20331.38994.34794.24353.60594.58219.73814.9689.14879.43528.28478.72944.40797.8825.37222.4635.85506.83965 1.41022 1.09859.55511.25895 1.16738.39356 1.78798.39315v1.49323c-.8262.00084-1.64217-.16927-2.38938-.49809-.74721-.32882-1.40701-.80817-1.93193-1.40354l-.55756 2.95287L7.7698 10.929l1.77827 4.5603L8.04418 16l-1.63187-4.184-2.7118-2.12417c-.22254-.16773-.39283-.38807-.49314-.63808-.10031-.25002-.12698-.52058-.07721-.78347l.40717-2.15399-.54156.36733L1.2943 8.66971 0 7.79169l1.88065-2.41605.0136.00896Zm4.70604-2.39813c-.42431 0-.83124-.15733-1.13128-.43736-.30003-.28003-.4686-.65985-.4686-1.05588 0-.39602.16857-.77584.4686-1.05587C5.76905.15732 6.17598 0 6.60029 0c.42432 0 .83126.15732 1.13129.43736.30003.28003.46859.65985.46859 1.05587 0 .39603-.16856.77585-.46859 1.05588-.30003.28003-.70697.43736-1.13129.43736ZM4.22287 12.8276l-2.571 2.8595-1.2255-.9593 2.38061-2.6475.59676-1.6277 1.43269 1.12-.61356 1.255Z')
                span 10 мин
              if position != true
                +e.P.caption Лесопарк «Щелковский хутор»
          if position == true
            +e.info
              +e.H3.holder Лесопарк «Щелковский хутор»
              +e.P.txt Архитектурно-этнографический музей-заповедник «Щёлоковский хутор» — музей в Нижнем Новгороде, расположенный в Советском районе, на 38 гектарах территории лесопарка «Щёлоковский хутор»
      if position != true
        +e.A.more.btn_transparent(href="#") Подробнее о расположении