+b.programs
  +e.inner.inner
    +e.head
      +e.H2.title Другие программы
      +e.control
        +e.A.btn.btn_tr-green(href="#") Все способы покупки
        .slider-arrows
          +b.slider-arrow_prev
            svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
              path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6.48438.79102 1.27604 5.99935l5.20834 5.20835')
          +b.slider-arrow_next
            svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
              path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m1.51562.79102 5.20834 5.20833-5.20834 5.20835')
    +e.wrapper
      .swiper
        .swiper-wrapper
          .swiper-slide
            +e.item
              +e.numb 01
              +e.P.caption Без первого взноса
              +e.txt Сотрудники российских IT-компаний, имеющих аккредитацию Минцифры РФ, смогут приобрести квартиру в ипотеку по льготной ставке от 4,3% на сумму до 18 млн рублей.
              +e.A.more.btn_tr-green(href="#") Подробнее
          .swiper-slide
            +e.item
              +e.numb 02
              +e.P.caption Семейная ипотека
              +e.txt Семьи в Нижегородской области, в которых есть даже один ребенок, родившийся после 1 января 2018 года, могут получить ипотечный кредит до 6 млн рублей по ставке от 5,4% при условии оплаты не менее 15 % цены договора.
              +e.A.more.btn_tr-green(href="#") Подробнее
          .swiper-slide
            +e.item
              +e.numb 03
              +e.P.caption Ипотека траншами
              +e.txt «Ипотека траншами» — это новая программа оплаты, благодаря которой клиенты «Столицы Нижний» смогут снизить размер ежемесячного ипотечного платежа на период до одного года, пока строится дом.
              +e.A.more.btn_tr-green(href="#") Подробнее
          .swiper-slide
            +e.item
              +e.numb 04
              +e.P.caption Без первого взноса 
              +e.txt Агентства-партнеры возьмут на себя поиски покупателя и коммуникацию по сделке
              +e.A.more.btn_tr-green(href="#") Подробнее
          .swiper-slide
            +e.item
              +e.numb 05
              +e.P.caption Без первого взноса 
              +e.txt Агентства-партнеры возьмут на себя поиски покупателя и коммуникацию по сделке
              +e.A.more.btn_tr-green(href="#") Подробнее