+b.benefit
  +e.inner.inner
    +e.list
      each item, index in [ 'Социальные учреждения в 5 минутах от дома', 'Остановки в пешеходной доступности', 'Бульвар с кафе и магазинами', 'Детские сады и школа на стадии строительства', 'ТЦ с крытым паркингом', 'Собственная котельня']
        +e.item
          +e.IMG.pic(src='/icon/icon-benefit-' + (index + 1) + '.svg' alt='')
          +e.P.caption=item