+b.office_page
  +e.inner.inner
    +e.row
      +e.box
        +e.picture
          +e.IMG.figure(src='/img/office-2.png' alt='')
        +e.info
          +e.P.title Офис продаж в БЦ «Столица Нижний»
          +e.P.addr Ул. М. Горького, 117, 3 этаж, офис 317
            a(href="#") Как добраться
          +e.wrap
            +e.cnt
              +e.P.time Пн-Пт с 9:00 до 19:00
              +e.A.phone(href="tel: +7 (831) 231-07-53") +7 (831) 231-07-53
            +e.A.btn.btn.js-open-modal(href='#') Записаться на консультацию
      +e.box
        +e.picture
          +e.IMG.figure(src='/img/office-3.png' alt='')
          +e.P.state_mod Идивидуальные туры в реальную квартиру
        +e.info
          +e.P.title Демоквартира в ЖК «Новая Кузнечиха»
          +e.P.addr Ул. Романтиков, 8
            a(href="#") Как добраться
          +e.wrap
            +e.cnt
              +e.P.time_red по предварительной записи
              +e.A.phone(href="tel: +7 (831) 231-07-53") +7 (831) 231-07-53
            +e.A.btn.btn_tr-green.js-open-modal(href='#') Записаться на консультацию
      +e.box
        +e.picture
          +e.IMG.figure(src='/img/office-4.png' alt='')
        +e.info
          +e.P.title Шоу-рум в ТРЦ «Жар птица»
          +e.P.addr Пл. Советская, 5, 1 этаж
            a(href="#") Как добраться
          +e.wrap
            +e.cnt
              +e.P.time Пн-Пт с 9:00 до 19:00
              +e.A.phone(href="tel: +7 (831) 231-07-53") +7 (831) 231-07-53
            +e.A.btn.btn_tr-green.js-open-modal(href='#') Записаться в шоурум
      +e.item_padding
        +e.IMG.pic(src='/img/office-1.png' alt='')
        +e.floating_mini
          +e.P.caption Экскурсии в жилой комплекс
          +e.P.txt Запишитесь на офлайн-экскурсию по ЖК: вы сможете посетить понравившийся вам жилой комплекс и получить консультацию по ипотеке
          +e.A.btn.btn_transparent.js-open-modal(href='#') Записаться на экскурсию