+b.step-build
  +e.inner.inner
    +e.H2.title Ход строительства
    +e.list
      +e.item_big._back
        +e.count
          svg(xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none')
            path(fill='#FAC8A9' d='M13.352 3H6.648C3.736 3 2 4.736 2 7.648v6.704c0 .872.152 1.632.448 2.272.688 1.52 2.16 2.376 4.2 2.376h6.704C16.264 19 18 17.264 18 14.352V7.648C18 4.736 16.264 3 13.352 3Zm3.344 8.4c-.624-.536-1.632-.536-2.256 0l-3.328 2.856c-.624.536-1.632.536-2.256 0l-.272-.224c-.568-.496-1.472-.544-2.112-.112L3.48 15.928c-.176-.448-.28-.968-.28-1.576V7.648C3.2 5.392 4.392 4.2 6.648 4.2h6.704c2.256 0 3.448 1.192 3.448 3.448v3.84l-.104-.088Z')
          span 7
        +e.IMG.pic(src='/img/step-build-1.png' alt='')
        +e.P.caption 10 и 11 кварталы
      +e.item_back
        +e.count
          svg(xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none')
            path(fill='#FAC8A9' d='M12.9545 1.76758H6.05158c-2.99843 0-4.78596 1.78663-4.78596 4.78357v6.89125c0 3.0052 1.78753 4.7918 4.78596 4.7918h6.89472c2.9984 0 4.786-1.7866 4.786-4.7835V6.55115c.0082-2.99694-1.7793-4.78357-4.7778-4.78357Zm-1.2603 9.65772-1.0544.6092-1.05436.6093c-1.35918.7822-2.47123.14-2.47123-1.4244V8.78238c0-1.57257 1.11205-2.20653 2.47123-1.42437l1.05436.60927 1.0544.60927c1.3592.78216 1.3592 2.06655 0 2.84875Z')
          span 7
        +e.IMG.pic(src='/img/step-build-2.png' alt='')
        +e.P.caption_mini Видеоотчет
      +e.item_live
        +e.IMG.pic(src='/img/step-build-3.png' alt='')
        +e.P.caption_mini В режиме реального времени