+b.calc
  +e.inner.inner
    +e.head
      +e.H2.title Способы покупки
      +e.sort
        svg(xmlns='http://www.w3.org/2000/svg' width='34' height='34' fill='none' viewBox="0 0 34 34")
          circle(cx='17' cy='17' r='17' fill='#51A747')
          path(stroke='#fff' stroke-linecap='round' stroke-linejoin='round' d='M11.1797 13.1613h10.6349m0 0-3.3005-3.1418m3.3005 3.1418-3.3005 3.1419M21.8125 20.841H11.1776m0 0 3.3005-3.1418m-3.3005 3.1418 3.3005 3.1419')
        span Сравнить варианты покупки
    +e.filter
      +e.BUTTON.btn.btn_white.active Ипотека 0.1
      +e.BUTTON.btn.btn_white(data-tooltyp="Родился ребёнок после 1 января 2018 года или есть двое детей до 18 лет") Семейная ипотека
      +e.BUTTON.btn.btn_white Льготная ипотека
      +e.BUTTON.btn.btn_white Без первого взноса
      +e.BUTTON.btn.btn_white Другие ипотеки
      +e.BUTTON.btn.btn_white Рассрочка
      +e.BUTTON.btn.btn_white Трейд-ин 
      +e.BUTTON.btn.btn_white 100% оплата
    +e.container
      +e.left
        +e.box
          +e.caption Стоимость квартиры, млн ₽ 
          +e.row.price
            +e.group_start
              span от
              input(type="hidden" name="PRICE_START" id="PRICE_START" class="price_start" value="1")
              +e.field.range-start 0
            +e.group_end
              span до
              input(type="hidden" name="PRICE_END" class="price_end" value="25")
              +e.field.range-end 0
            .slider
        +e.box
          +e.caption Первоначальны взнос, ₽ 
          +e.row_one.contribution
            +e.group
              input(type="hidden" name="PRICE_START" id="PRICE_START" class="start" value="1")
              +e.field.range-start 0
            +e.percent 30%
            .slider
        +e.box
          +e.caption Срок
          +e.row_one.year
            +e.group
              input(type="hidden" name="PRICE_START" id="PRICE_START" class="start" value="1")
              +e.field.range-start 0
            .slider
        +e.A.submit.btn(href="#") Получить консультацию
      +e.right
        +e.P.count 20 предложений
        +e.wrapper
          - var bank = ['Альфа банк', 'ВТБ', 'МКБ', 'Совкомбанк' ]
          - for (var k=1; k<5; k++){
            - for (var i=1; i<5; i++){
              +b.calc-item
                +e.info
                  +e.picture
                    +e.IMG.pic(src='/img/bank-calc-'+ i +'.png' alt='')
                  +e.P.title=bank[i - 1]
                +e.proposal
                  +e.col
                    +e.P.val 34 305 ₽
                    +e.P.caption Ежемесячный платеж
                  +e.col
                    +e.P.val до 20 лет
                    +e.P.caption Срок
                  +e.col
                    +e.P.val от 3%
                    +e.P.caption Ставка
                +e.control
                  +e.A.btn.btn Подать заявку
            - }
          - }
  +e.A.more.btn_transparent(href="#") Подробнее об Ипотеке 0.1
  +callback(2)