.calc
  margin: 7rem 0 10rem
  background: var(--fon)
  border-radius: 40px
  padding-block: 7rem
  +screen('max', 1500)
    padding-block: 6rem
    margin: 7rem 0
  +screen('max', 1023)
    padding-block: 4rem
  +screen('max', 700)
    margin: 5.5rem 0
  &__head
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 5rem
    +screen('max', 1023)
      margin-bottom: 3rem
    +screen('max', 700)
      position: relative
      display: block
      margin-bottom: 2.5rem
  &__filter
    display: flex
    flex-wrap: wrap
    gap: 1rem
    scrollbar-width: 0
    +screen('max', 1023)
      flex-wrap: nowrap
      overflow: auto
      padding-bottom: 4px
    &::-webkit-scrollbar
      height: 0
  &__btn
    padding: 1.8rem 2.5rem
    box-shadow: 0 6px 12px 0 rgba(112, 119, 126, 0.07)
    flex-shrink: 0
    +screen('max', 1500)
      +fs(12px)
      padding: 1.2rem 1.5rem
    &.active
      box-shadow: none
  &__container
    margin-top: 3rem
    display: flex
    gap: 7rem
    position: relative
    +screen('max', 1700)
      gap: 5rem
      margin-top: 4rem
    +screen('max', 1500)
      gap: 2rem
    +screen('max', 1280)
      display: block
      margin-top: 2rem
    +screen('max', 700)
      margin-top: 10rem
    &_mod
      +screen('max', 700)
        margin-top: 9rem
  &__left
    max-width: 440px
    flex-shrink: 0
    width: 32%
    border-radius: 25px
    padding: 3.5rem 2.5rem 13rem
    box-shadow: 0 5px 20px 0 rgba(158, 163, 172, 0.06)
    background: var(--white)
    box-sizing: border-box
    +screen('max', 1500)
      padding: 2.5rem 2.5rem 9rem
    +screen('max', 1280)
      width: 100%
      max-width: 100%
      display: flex
      gap: 2rem
      margin-bottom: 3rem
      padding: 2.5rem
      border-radius: 15px
    +screen('max', 1023)
      flex-wrap: wrap
      padding: 2.5rem
    +screen('max', 700)
      margin-bottom: 3.5rem
      padding: 0
      background: none
  &__row
    display: flex
    padding: 2.6rem 2rem
    width: 100%
    border-radius: 100px
    background: var(--fon)
    box-sizing: border-box
    position: relative
    height: 75px
    +screen('max', 1500)
      height: 50px
    +screen('max', 700)
      background: var(--white)
    &:before
      content: ''
      width: 2px
      height: 27px
      background: #838c95
      opacity: .3
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      +screen('max', 1500)
        height: 22px
    &_one
      &:before
        content: none
  &__field
    +fs(18px)
    background: none
    border: none
    text-align: center
    margin-left: auto
    margin-right: 0
    color: var(--primary)
    font-weight: 600
    +screen('max', 1500)
      +fs(16px)
  &__group
    position: absolute
    top: 50%
    transform: translateY(-50%)
    display: flex
    align-items: center
    gap: .5rem
    &_start
      left: 2rem
    &_end
      right: 2rem
    span
      +fs(14px)
      color: var(--color-gray)
  &__caption
    +fs(16px)
    margin-bottom: 1.5rem
    color: var(--color-gray)
    opacity: 0.7
    +screen('max', 1500)
      +fs(14px)
      margin-bottom: 1rem
    +screen('max', 1023)
      +fs(12px)
  &__box
    margin-bottom: 2.5rem
    +screen('max', 1280)
      margin-bottom: 0
      flex-grow: 1
      width: 30%
  &__percent
    position: absolute
    right: 2.5rem
    +fs(18px)
    color: var(--secondary)
    top: 50%
    transform: translateY(-50%)
    +screen('max', 1500)
      +fs(16px)
  &__count
    +fs(18px)
    font-weight: 600
    color: var(--primary)
    margin-bottom: 2rem
    +screen('max', 1500)
      +fs(14px)
  &__right
    flex-grow: 1
  &__wrapper
    max-height: 515px
    overflow: auto
    padding-right: 3rem
    padding-bottom: 1rem
    +screen('max', 1500)
      max-height: 405px
    +screen('max', 1023)
      border-top: 1px solid #bdc0ca
      padding-top: 1.5rem
      padding-right: 0
    +screen('max', 700)
      max-height: 555px
    &::-webkit-scrollbar
      width: 4px
      border-radius: 20px
    &::-webkit-scrollbar-track
      background: #bdc0ca
      width: 1px
    &::-webkit-scrollbar-thumb
      background-color: var(--secondary)
      width: 2px
  &__submit
    position: absolute
    left: 2.5rem
    bottom: 3.5rem
    max-width: 390px
    width: calc(25% - 5rem)
    padding: 2.5rem
    +screen('max', 1500)
      bottom: 2rem
      width: calc(32% - 5rem)
      padding: 1.8rem
    +screen('max', 1280)
      position: relative
      bottom: 0
      left: 0
      width: 100%
      max-width: 100%
      padding: 2.2rem
      margin-top: 2.5rem
  &__more
    border-color: var(--secondary)
    color: var(--primary)
    max-width: 1800px
    margin: 1.6rem auto 0
    display: block
    +screen('max', 1500)
      max-width: 1140px
    +screen('max', 1280)
      width: calc(100% - 4rem)
  &__sort
    display: flex
    align-items: center
    gap: 1rem
    +fs(18px)
    +screen('max', 1500)
      +fs(16px)
    +screen('max', 700)
      position: absolute
      top: 11rem
    svg
      +screen('max', 1500)
        width: 26px
        height: 26px
    &_mod
      +screen('max', 700)
        top: 5rem
  .callback
    margin-bottom: 0

.calc-item
  display: flex
  justify-content: space-between
  align-items: center
  box-sizing: border-box
  box-shadow: 0 5px 20px 0 rgba(158, 163, 172, 0.06)
  padding: 0.6rem 0.8rem
  background: var(--white)
  margin-bottom: 1.5rem
  border-radius: 15px
  +screen('max', 1023)
    gap: 2rem
  +screen('max', 700)
    display: block
    border-radius: 8px
    position: relative
  &__info
    display: flex
    align-items: center
    gap: 2.7rem
    width: 25%
    +screen('max', 1500)
      gap: 1.2rem
    +screen('max', 1023)
      gap: 1.5rem
    +screen('max', 700)
      width: 50%
  &__picture
    width: 105px
    height: 105px
    flex-shrink: 0
    border-radius: 10px
    background: #f4f6f8
    display: flex
    justify-content: center
    align-items: center
    padding: 1rem
    box-sizing: border-box
    +screen('max', 1500)
      width: 75px
      height: 75px
    +screen('max', 1023)
      width: 63px
      height: 63px
    +screen('max', 700)
      width: 40px
      height: 40px
      box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05)
      background: var(--fon)
  &__pic
    vertical-align: middle
    max-width: 100%
    object-fit: contain
    +screen('max', 1500)
      height: 80%
  &__title
    +fs(22px)
    font-weight: 600
    +screen('max', 1700)
      +fs(20px)
    +screen('max', 1500)
      +fs(16px)
  &__proposal
    display: flex
    justify-content: center
    gap: 6rem
    border-left: 1px solid #d7dbe0
    padding-left: 4rem
    padding-block: 2rem
    position: relative
    left: -4rem
    +screen('max', 1500)
      gap: 4rem
      left: 0
      padding-left: 2rem
    +screen('max', 1023)
      gap: 3rem
    +screen('max', 700)
      order: 1
      width: 100%
      justify-content: flex-start
      border-top: 1px solid #bdc0ca
      padding-top: 1rem
      margin-top: 1rem
      border-left: 0
      padding-left: 0
      gap: 2rem
  &__col
    +screen('max', 700)
      padding-right: 2rem
      border-right: 1px solid #bdc0ca
    &:last-of-type
      +screen('max', 700)
        border-right: 0
  &__caption
    +fs(16px)
    color: var(--color-gray)
    margin-top: 0.4rem
    line-height: 1
    opacity: 0.6
    +screen('max', 1500)
      +fs(10px)
  &__val
    +fs(26px)
    font-weight: 600
    +screen('max', 1700)
      +fs(20px)
    +screen('max', 1500)
      +fs(16px)
    +screen('max', 700)
      +fs(14px)
  &__btn
    background: #f4f6f8
    color: var(--primary)
    padding: 1.8rem 2.5rem
    +fs(16px)
    margin-right: 3rem
    +screen('max', 1500)
      margin-right: 1rem
      +fs(12px)
    +screen('max', 700)
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='none'%3E%3Crect width='39' height='39' x='.5' y='.5' stroke='%2351A747' rx='19.5'/%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%2351A747' d='m27.5633 23.7424-2.2328-2.2329c-.7974-.7974-2.1531-.4784-2.4721.5583-.2392.7177-1.0367 1.1164-1.7544.9569-1.5949-.3987-3.748-2.4721-4.1467-4.1467-.2392-.7178.2393-1.5152.957-1.7544 1.0366-.319 1.3556-1.6746.5582-2.4721l-2.2329-2.2328c-.6379-.5583-1.5949-.5583-2.1531 0l-1.5151 1.5151c-1.5152 1.5949.1595 5.8214 3.9075 9.5694 3.7479 3.7479 7.9744 5.5024 9.5693 3.9074l1.5151-1.5151c.5583-.638.5583-1.5949 0-2.1531Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M12 12h16v16H12z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
      background-repeat: no-repeat
      background-size: contain
      font-size: 0
      padding: 0
      width: 40px
      height: 40px
      position: absolute
      right: 0
      top: .7rem

.calc-benefit
  box-shadow: 0 5px 20px 0 rgba(158, 163, 172, 0.06)
  display: flex
  background: var(--white)
  border-radius: 25px
  &__box
    padding: 3rem 3rem 4rem
    flex-grow: 1
    +screen('max', 1500)
      padding: 2.5rem 2.5rem 3.5rem
    +screen('max', 700)
      padding: 1rem 1rem 1.5rem
    &_green
      border-radius: 25px
      background: var(--secondary)
      color: var(--white)
      border: 8px solid var(--fon)
      +screen('max', 700)
        border-width: 4px
        border-radius: 15px
      .calc-benefit__head
        path
          stroke: var(--white)
      .calc-benefit__sign
        color: var(--white)
      .calc-benefit__line
        border-bottom-color: #74c76b
      .calc-benefit__val_price:after, .calc-benefit__total:after
        filter: brightness(0) saturate(100%) invert(100%) sepia(7%) saturate(0%) hue-rotate(74deg) brightness(106%) contrast(106%)
      .calc-benefit__state
        background: #e96a6a
        color: var(--white)
  &__head
    display: flex
    align-items: center
    justify-content: space-between
    +fs(30px)
    padding-bottom: 3rem
    font-weight: 600
    border-bottom: 1px solid #e1e4e8
    +screen('max', 1500)
      +fs(24px)
    +screen('max', 700)
      +fs(12px)
      padding-bottom: 1rem
      align-items: flex-start
    span
      +screen('max', 700)
        max-width: 80%
    svg
      +screen('max', 700)
        transform: scale(.7) translateY(5px)
  &__line
    padding-block: 1.9rem
    border-bottom: 1px solid #e1e4e8
    +screen('max', 1500)
      padding-block: 1.5rem
    +screen('max', 700)
      padding-block: 1rem
  &__val
    +fs(30px)
    font-weight: 600
    margin-bottom: 0.8rem
    +screen('max', 1500)
      +fs(22px)
    +screen('max', 700)
      +fs(14px)
    &_price
      &:after
        content: ''
        width: 14px
        height: 21px
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='21' fill='none'%3E%3Cpath fill='%2323262B' d='M2.28518 21V0h4.93809C9.5172 0 11.2158.5196 12.3189 1.55882 13.4396 2.59804 14 4.10784 14 6.08823c0 1.33334-.2714 2.4804-.8143 3.44118-.5428.94119-1.3483 1.66669-2.4165 2.17649-1.05063.5098-2.35519.7647-3.91366.7647H4.64916V21H2.28518ZM0 17v-1.9118h8.98311V17H0Zm0-4.5294v-2.2353h6.01501v2.2353H0Zm6.51407-2.2353c1.06817 0 1.96998-.1275 2.70544-.38236.75297-.2549 1.33079-.67647 1.73359-1.2647.4027-.58824.6041-1.39216.6041-2.41177 0-1.33333-.3677-2.32353-1.1032-2.97059-.73543-.64706-1.88239-.97059-3.44087-.97059H4.64916v8.00001h1.86491Z'/%3E%3C/svg%3E")
        background-repeat: no-repeat
        background-position: center
        background-size: contain
        display: inline-block
        position: relative
        +screen('max', 1500)
          width: 12px
          height: 15px
        +screen('max', 700)
          width: 8px
          height: 10px
  &__sign
    line-height: 1.1
    color: var(--color-gray)
    +screen('max', 700)
      +fs(9px)
  &__all
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 5.5rem
    +screen('max', 1500)
      margin-top: 3rem
    +screen('max', 700)
      display: block
      margin-top: 1rem
  &__total
    +fs(38px)
    font-weight: 600
    +screen('max', 1500)
      +fs(25px)
    +screen('max', 700)
      +fs(18px)
    &:after
      content: ''
      width: 21px
      height: 36px
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='36' fill='none'%3E%3Cpath fill='%2323262B' d='M3.10131 33V6H9.803c3.1132 0 5.4184.66807 6.9156 2.0042C18.2395 9.34034 19 11.2815 19 13.8277c0 1.7143-.3684 3.1891-1.1051 4.4244-.7367 1.2101-1.8299 2.1429-3.2795 2.7983-1.4259.6555-3.1964.9832-5.31146.9832H6.30957V33H3.10131ZM0 27.8571v-2.4579h12.1914v2.4579H0Zm0-5.8235v-2.8739h8.16323v2.8739H0Zm8.84053-2.8739c1.44967 0 2.67357-.1639 3.67167-.4916 1.0219-.3278 1.8061-.8698 2.3527-1.6261.5466-.7563.8199-1.7899.8199-3.1008 0-1.7143-.4991-2.9874-1.4972-3.8194-.9981-.83188-2.5547-1.24785-4.66978-1.24785H6.30957V19.1597h2.53096Z'/%3E%3C/svg%3E")
      background-repeat: no-repeat
      background-position: center
      background-size: contain
      display: inline-block
      position: relative
      top: 2px
      +screen('max', 1500)
        width: 19px
        height: 22px
      +screen('max', 700)
        width: 10px
        height: 13px
  &__state
    +fs(18px)
    font-weight: 600
    color: var(--secondary)
    padding: 1rem 1.5rem
    box-sizing: border-box
    display: inline-block
    background: rgba(38, 187, 20, 0.09)
    border-radius: 56px
    +screen('max', 1500)
      +fs(12px)
    +screen('max', 700)
      +fs(10px)
      width: 100%
      text-align: center
      padding: 0.7rem
      margin-top: 0.8rem