+b.demand
  +e.inner.inner
    +e.head
      +e.H2.title Требования к заемщику
      +e.A.call.btn_transparent(href='#callbcak') Получить консультацию
    +e.list
      +e.item
        +e.P.sign Сумма кредита
        +e.P.caption до 6 млн рублей
      +e.item
        +e.P.sign Доход
        +e.P.caption более 120 000 руб. в месяц
      +e.item
        +e.P.sign Работодатель
        +e.P.caption должен быть аккредитован МинЦифры и пользоваться налоговой льготой
    +e.txt Подробные условия кредитования в Постановлении Правительства Российской Федерации от 30 апреля 2022 года №805