+b.conditions
  +e.inner.inner
    +e.head
      +e.left
        +e.H2.title Привлекательные условия от банков-партнеров
      +e.right
        +e.txt Договор на приобретение квартиры должен быть заключен с юридическим лицом, являющимся первичным владельцем готового жилья, либо застройщиком строящегося жилья по 214-ФЗ.
    +e.list
      +e.item
        +e.P.sign Ставка
        +e.P.caption от 4% годовых
      +e.item
        +e.P.sign Сумма кредита
        +e.P.caption до 18 млн рублей
      +e.item
        +e.P.sign Первоначальный взнос
        +e.P.caption от 15%
      +e.item
        +e.P.sign Срок ипотеки
        +e.P.caption до 30 лет