+b.conditions
  +e.inner.inner
    +e.head
      +e.left
        +e.H2.title Новые выгодные ипотечные программы
      +e.right
        +e.txt
          p Все программы действуют как в рамках семейной ипотеки, так и в рамках льготной ипотеки, доступной всем.Программа субсидирования ипотечной ставки действует при приобретении объектов долевого строительства с использованием кредитных средств банков: ПАО Сбербанк, АО «Банк ДОМ.РФ», ПАО Банк «ФК Открытие», Промсвязьбанк, ВТБ (ПАО).
          p
            a(href="#") Подробные правила акции по ссылке.
    +e.list
      +e.item
        +e.P.sign Ставка
        +e.P.caption от 4% годовых
      +e.item
        +e.P.sign Сумма кредита
        +e.P.caption до 18 млн рублей
      +e.item
        +e.P.sign Первоначальный взнос
        +e.P.caption от 15%
      +e.item
        +e.P.sign Срок ипотеки
        +e.P.caption до 30 лет