.sales
  margin: 5rem 0 8.5rem
  +screen('max', 700)
    margin: 3.5rem 0
  &__list
    display: flex
    gap: 1.5rem
    scrollbar-width: 0
    +screen('max', 1023)
      overflow: auto
    &::-webkit-scrollbar
      height: 0
  &__item
    +screen('max', 1023)
      flex-shrink: 0
      width: 289px
    +screen('max', 700)
      width: 187px
    &:last-of-type
      +screen('max', 1500)
        display: none
      +screen('max', 1023)
        display: block
  &__pic
    vertical-align: middle
    width: 100%
  &__title
    +fs(30px)
    padding-block: 5rem 4rem
    +screen('max', 1500)
      padding-block: 1rem 3.5rem
      +fs(28px)
    +screen('max', 700)
      +fs(18px)
      padding-block: 1rem 2rem