+b.sales
  +e.inner.inner
    +e.list
      +e.A.item(href='#')
        +e.IMG.pic(src='/img/vnt-1.png' alt='')
      +e.A.item(href='#')
        +e.IMG.pic(src='/img/vnt-2.png' alt='')
      +e.A.item(href='#')
        +e.IMG.pic(src='/img/vnt-3.png' alt='')
      +e.A.item(href='#')
        +e.IMG.pic(src='/img/vnt-4.png' alt='')