+b.sales
  +e.inner.inner
    +e.H2.title Особые акции для выбранной квартиры
    +e.list
      +e.item
        +e.IMG.pic(src='/img/vnt-1.png' alt='')
      +e.item
        +e.IMG.pic(src='/img/vnt-2.png' alt='')
      +e.item
        +e.IMG.pic(src='/img/vnt-3.png' alt='')
      +e.item
        +e.IMG.pic(src='/img/vnt-4.png' alt='')