+b.quize
  +e.line
    +e.step.green
    +e.step
    +e.step
    +e.step
    +e.step
    +e.step
    +e.step
    +e.step
    +e.step
  +e.FORM.wrapper
    +e.box.active
      +e.P.title
        span 1/9. 
        | Какое количество комнат вас интересует?
      +e.P.subtitle Можно выбрать один или несколько вариантов
      +e.cols
        +e.LABEL.radio
          +e.INPUT.hidden(type="radio" name="room" value='Студия')
          +e.SPAN.txt Студия
        +e.LABEL.radio
          +e.INPUT.hidden(type="radio" name="room" value='3')
          +e.SPAN.txt 3 комнатная
        +e.LABEL.radio
          +e.INPUT.hidden(type="radio" name="room" value='1')
          +e.SPAN.txt 1 комнатная
        +e.LABEL.radio
          +e.INPUT.hidden(type="radio" name="room" value='4')
          +e.SPAN.txt 4  комнатная
        +e.LABEL.radio
          +e.INPUT.hidden(type="radio" name="room" value='2')
          +e.SPAN.txt 2 комнатная
    +e.box
      +e.P.title
        span 2/9. 
        | Какой 
        i(data-tooltyp="Евро-планировка — это с увеличенной кухней-гостиницей. Классическая — спривычным типом") тип планировки 
        | вы предпочитаете?
      +e.P.subtitle Можно выбрать один или несколько вариантов
      +e.list
        +e.LABEL.radio
          +e.INPUT.hidden(type="radio" name="plane" value='Классическая планировка')
          +e.SPAN.txt Классическая планировка
        +e.LABEL.radio
          +e.INPUT.hidden(type="radio" name="plane" value='Евро-планировка')
          +e.SPAN.txt Евро-планировка
        +e.LABEL.radio
          +e.INPUT.hidden(type="radio" name="plane" value='Не имеет значения')
          +e.SPAN.txt Не имеет значения
    +e.box
      +e.P.title
        span 4/9. 
        | В какой бюджет хотите уложиться?
      +e.P.subtitle Если не знаете - можно пропустить этот вопрос
      +e.wrap
        +e.name Задайте стоимость, млн ₽ 
        +e.slider.price
          +e.group_start
            span от
            input(type="hidden" name="PRICE_START" id="PRICE_START" class="price_start" value="1")
            +e.number.range-start 0
          +e.group_end
            span до
            input(type="hidden" name="PRICE_END" class="price_end" value="25")
            +e.number.range-end 0
          .slider
    +e.box
      +e.P.title
        span 8/9. 
        | Нам понадобится 20 минут, чтобы составить подборку. Пришлем ее на e-mail
      +e.wrap
        +e.name E-mail
        +e.INPUT.field(placeholder="Введите ваш e-mail" name="email")
    +e.box
      +e.P.title
        span 9/9. 
        | Укажите телефон и мы также вышлем отдельный список квартир с выгодой и гайд по акциям и ипотекам
      +e.wrap
        +e.name Номер телефона
        +e.INPUT.field(placeholder="Введите ваш телефон")
    +e.box
      +e.P.title
        span 3/9. 
        | Какой 
        i(data-tooltyp="Евро-планировка — это с увеличенной кухней-гостиницей. Классическая — спривычным типом") тип планировки 
        | вы предпочитаете?
      +e.P.subtitle Можно выбрать один или несколько вариантов
      +e.cols-pics
        +e.LABEL.radio
          +e.INPUT.hidden(type="radio" name="plane" value='Классическая планировка')
          +e.SPAN.txt Классическая планировка
          +e.IMG.pic(src='/img/quize-1.png' alt='')
        +e.LABEL.radio
          +e.INPUT.hidden(type="radio" name="room" value='Евро-планировка')
          +e.SPAN.txt Евро-планировка
          +e.IMG.pic(src='/img/quize-2.png' alt='')
        +e.LABEL.radio
          +e.INPUT.hidden(type="radio" name="room" value='Не имеет значения')
          +e.SPAN.txt Не имеет значения
          +e.IMG.pic(src='/img/quize-3.png' alt='')
    +e.box
      +b.success
        +e.IMG.pic(src='/icon/succces-form.svg' alt='')
        +e.P.title.display-3 Ваша заявка на подбор отправлена!
        +e.sign Как только мы подберем подходящие для вас варианты, то свяжемся с вами
        +e.social-box
          +e.P.caption А пока подписывайтесь на наши соцсети 
          +e.social
            +e.A.soc-link(href='#')
              +e.soc-icon
                svg(xmlns='http://www.w3.org/2000/svg' width='79' height='79' fill='none')
                  circle(cx='39.441' cy='39.441' r='38.941' stroke='#51A747')
                  path(fill='#51A747' d='M41.447 55.371a.047.047 0 0 0-.047-.047c-13.441-.02-21.77-8.957-22.4-23.847a.985.985 0 0 1 .987-1.022h4.98c.546 0 .99.439 1.014.984.427 9.644 4.663 14.342 8.417 15.907.6.25 1.214-.225 1.214-.876V31.455a1 1 0 0 1 1-1h4.695a1 1 0 0 1 1 1v7.69c0 .6.527 1.067 1.1.894 3.375-1.017 6.69-4.742 8.14-8.873.148-.418.535-.71.978-.71h4.664c.62 0 1.093.56.941 1.161-1.153 4.574-4.21 8.14-6.906 10.214-.634.488-.586 1.54.092 1.968 2.837 1.787 6.351 5.121 8.192 10.358.22.626-.26 1.26-.923 1.26h-5.218c-.435 0-.817-.282-.969-.689-1.53-4.087-4.727-7.232-9.005-8.04-.578-.11-1.086.356-1.086.944v7.356a.43.43 0 0 1-.43.43h-.383a.047.047 0 0 1-.047-.047Z')
            +e.A.soc-link(href='#')
              +e.soc-icon
                svg(xmlns='http://www.w3.org/2000/svg' width='80' height='79' fill='none')
                  circle(cx='40.324' cy='39.441' r='38.941' stroke='#51A747')
                  path(fill='#51A747' d='M60.216 30.02c-.374-2.081-2.155-3.594-4.224-4.067-3.093-.662-8.82-1.135-15.017-1.135-6.192 0-12.01.473-15.109 1.135-2.065.473-3.85 1.891-4.224 4.066-.378 2.364-.751 5.674-.751 9.93 0 4.255.373 7.565.843 9.929.378 2.08 2.16 3.593 4.223 4.066 3.285.662 8.917 1.135 15.113 1.135 6.197 0 11.828-.473 15.114-1.135 2.064-.473 3.845-1.891 4.223-4.066.374-2.364.947-6.035.91-9.93-.037-3.903-.632-7.565-1.101-9.929ZM36.793 46.567v-13.24l11.45 6.62-11.45 6.62Z')
            +e.A.soc-link(href='#')
              +e.soc-icon
                svg(xmlns='http://www.w3.org/2000/svg' width='80' height='79' fill='none')
                  circle(cx='40.206' cy='39.441' r='38.941' stroke='#51A747')
                  path(fill='#51A747' d='m34.105 44.719-.564 8.363c.806 0 1.156-.365 1.575-.804l3.78-3.812 7.835 6.053c1.437.844 2.449.4 2.837-1.395l5.142-25.42h.001c.456-2.242-.768-3.118-2.168-2.568L22.316 37.344c-2.063.845-2.031 2.058-.35 2.608l7.727 2.535 17.95-11.848c.846-.59 1.614-.264.982.326L34.105 44.72Z')
            +e.A.soc-link(href='#')
              +e.soc-icon
                svg(xmlns='http://www.w3.org/2000/svg' width='80' height='79' fill='none')
                  circle(cx='40.089' cy='39.441' r='38.941' stroke='#51A747')
                  path(fill='#51A747' d='M59.559 40.158v-.44c-8.622-.268-12.564-.488-15.71-3.638-3.07-3.225-3.286-7.268-3.546-16.111h-.43c-.26 8.843-.476 12.886-3.547 16.11-3.145 3.152-7.087 3.371-15.709 3.64v.44c8.622.267 12.564.488 15.71 3.637 3.07 3.226 3.286 7.27 3.546 16.113h.43c.26-8.843.476-12.887 3.547-16.113 3.145-3.15 7.087-3.37 15.709-3.638Z')
  +e.FORM.control
    +e.btn_back.btn_tr-green
      svg(xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none')
        path(stroke='#51A747' stroke-linecap='round' stroke-linejoin='round' d='M11 6H1m0 0 5.556 5M1 6l5.556-5')
      span Назад
    +e.btn_next.btn
      svg(xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none')
        path(stroke='#fff' stroke-linecap='round' stroke-linejoin='round' d='M1 6h10m0 0-5.556 5M11 6 5.444 1')
      span Далее
