+b.map-object
  +e.inner.inner
    +e.head
      +e.H2.title Объекты на карте
      +e.control
        +e.BUTTON.btn.btn_transparent._tr-black.active Все
        +e.BUTTON.btn.btn_transparent._tr-black Продукты
        +e.BUTTON.btn.btn_transparent._tr-black Услуги
        +e.BUTTON.btn.btn_transparent._tr-black Магазины
        +e.BUTTON.btn.btn_transparent._tr-black Сервисы
        +e.BUTTON.btn.btn_transparent._tr-black Магазины
        +e.BUTTON.btn.btn_transparent._tr-black Сервисы
    +e.wrapper
      +e.IMG.pic(src='/img/excursion-1.png' alt='')
      +e.icon_school
        svg(xmlns='http://www.w3.org/2000/svg' width='24' height='19' fill='none')
          path.fill(fill='#51A747' d='M19.5 11.1479v3.2625c0 1.185-.6975 2.2425-1.7775 2.7375-1.3125.6-3.3 1.2525-5.7225 1.2525-2.4225 0-4.41-.6525-5.73-1.2525-1.0725-.495-1.77-1.5525-1.77-2.7375v-3.2625l5.3325 2.4375c.6825.315 1.4175.4725 2.1675.4725s1.485-.1575 2.1675-.4725L19.5 11.1479Zm3-1.37251v4.87501c0 .4125-.3375.75-.75.75s-.75-.3375-.75-.75v-4.185l1.5-.69001Z')
          path.fill(fill='#51A747' d='M10.4535 12.2229A3.72232 3.72232 0 0 0 12 12.5593c.5337 0 1.0611-.1147 1.5465-.3364l9.5783-4.37854c.54-.24675.8752-.7695.8752-1.36425s-.3352-1.11825-.8752-1.365L13.5465.73736a3.71537 3.71537 0 0 0-3.0922 0l-9.57905 4.377C.33525 5.36186 0 5.88461 0 6.47936s.33525 1.1175.87525 1.365l9.57825 4.37854Z')
      +e.icon_child
        svg(xmlns='http://www.w3.org/2000/svg' width='22' height='19' fill='none')
          path.fill(fill='#51A747' d='M12.9134 3.40616c0 1.5436 1.2629 2.80654 2.8065 2.80654 1.5436 0 2.8066-1.26294 2.8066-2.80654S17.2635.59961 15.7199.59961s-2.8065 1.23488-2.8065 2.80655Zm5.136 3.8169h-3.2276c-1.0665 0-1.9365.87003-1.9365 1.93652v8.36352c0 .5052.421.9262.9262.9262.5052 0 .9261-.421.9261-.9262v-1.8804c0-.5052.421-.9262.9262-.9262.5052 0 .9262.421.9262.9262v1.8804c0 .5052.4209.9262.9261.9262.5052 0 .9262-.421.9262-.9262v-7.1567c0-.1684.2245-.2526.3368-.1403l1.4313 1.4313c.3649.3649.9542.3649 1.3191 0 .3648-.3648.3648-.9542 0-1.3191l-2.6662-2.77845c-.2246-.19646-.5052-.33679-.8139-.33679ZM.48038 11.6293c.36485.3649.95422.3649 1.31907 0l.58938-.5893c.11226-.1123.30872 0 .28065.1403l-.92616 4.1537c-.02806.1684.0842.3087.25259.3087h1.12262c.25259 0 .44905.1965.44905.4491v1.4313c0 .5052.42098.9262.92616.9262s.92616-.421.92616-.9262v-.9262c0-.5051.42098-.9261.92616-.9261s.92616.421.92616.9261v.9262c0 .5052.42099.9262.92616.9262.50518 0 .92617-.421.92617-.9262v-1.4313c0-.2526.19645-.4491.44904-.4491h1.12261c.1684 0 .2807-.1403.2526-.3087L9.43326 8.54214c-.16839-.78583-.87002-1.31908-1.65586-1.31908H5.08312c-1.01036 0-1.96459.39292-2.66623 1.09456L.45231 10.2822c-.33678.3929-.33678.9823.02807 1.3471ZM3.5395 3.40616c0 1.5436 1.26295 2.80654 2.80655 2.80654s2.80655-1.26294 2.80655-2.80654S7.88966.59961 6.34606.59961 3.53951 1.83449 3.53951 3.40616Z')
      +e.icon_shop
        svg(xmlns='http://www.w3.org/2000/svg' width='23' height='22' fill='none')
          path.fill(fill='#51A747' d='M17.1803 16.4449c-1.4327 0-2.614 1.1561-2.614 2.6139 0 1.4326 1.1562 2.6139 2.614 2.6139 1.4326 0 2.6139-1.1561 2.6139-2.6139-.0251-1.4327-1.1813-2.6139-2.6139-2.6139Zm4.5995-12.46649c-.0503 0-.1257-.02514-.2011-.02514H5.74432L5.49298 2.2693C5.34217 1.16341 4.38708.33398 3.25605.33398H1.2202C.66726.33398.21484.7864.21484 1.33934c0 .55295.45242 1.00536 1.00536 1.00536h2.03585c.12567 0 .22621.10054.25134.22621L5.0657 13.1774c.20107 1.3321 1.35723 2.3375 2.71447 2.3375H18.2359c1.307 0 2.438-.93 2.7145-2.2118l1.6337-8.16853c.1005-.52781-.2514-1.05563-.8043-1.15616ZM10.7711 18.9331c-.0503-1.3824-1.20642-2.4882-2.58879-2.4882-1.45777.0754-2.56366 1.2818-2.5134 2.7144.05027 1.3824 1.1813 2.4883 2.56367 2.4883h.05027c1.43263-.0754 2.56365-1.2819 2.48825-2.7145Z')
      +e.icon_trees
        svg(xmlns='http://www.w3.org/2000/svg' width='18' height='24' fill='none')
          path.fill(fill='#51A747' d='M14.2449 13.9762h2.3269l-3.5977-5.14863h2.1932L8.99889 0 2.83047 8.82757h2.19314L1.42594 13.9762H3.7529L.28906 18.9334h6.20109v5.0661h4.48265v-5.0661h6.736l-3.4639-4.9572Z')
      +e.icon_parking
        svg(xmlns='http://www.w3.org/2000/svg' width="30" height="30" fill='none')
          path.fill(fill='#51A747' d="M29.828 10.953a.77.77 0 0 0-.595-.284h-2.92c-.72-1.9-1.66-3.762-2.726-4.465-3.691-2.428-13.481-2.428-17.172 0-1.068.704-2.003 2.568-2.727 4.465H.768a.768.768 0 0 0-.752.924L.45 13.69a.768.768 0 0 0 .752.612h.865c-.835.963-1.24 2.176-1.246 3.39-.005 1.5.564 2.854 1.605 3.813l.034.027v2.932c0 .635.516 1.152 1.152 1.152h2.693c.636 0 1.152-.517 1.152-1.152v-1.179h15.088v1.179c0 .635.516 1.152 1.152 1.152h2.693c.634 0 1.152-.517 1.152-1.152v-2.875c1.105-1.011 1.633-2.403 1.64-3.793.004-1.255-.42-2.512-1.303-3.496h.922a.765.765 0 0 0 .752-.613l.433-2.094a.775.775 0 0 0-.157-.64ZM7.68 8.128c2.942-1.936 11.698-1.936 14.639 0 .571.375 1.306 1.89 1.98 3.746H5.7c.672-1.855 1.408-3.37 1.979-3.746ZM4.234 17.98a2.266 2.266 0 1 1 4.533 0 2.266 2.266 0 0 1-4.533 0Zm19.295 2.266a2.268 2.268 0 1 1 0-4.535 2.268 2.268 0 0 1 0 4.535Z")