+b.sale-days
  +e.inner.inner
    +e.top
      +e.item Выгода на квартиры до 570 000 ₽
      +e.item От студий до 4-комнатных
      +e.item Доступны ипотека, рассрочка 0%, трейд-ин и госпрограммы
    +e.row
      +e.left
        +e.H2.title Акция «Квартира дня»
        +b.timer
          +e.P.holder До конца акции
          +e.row
            +e.col
              +e.count 00
              +e.sign Дней
            +e.col
              +e.count 12
              +e.sign часов
            +e.col
              +e.count 19
              +e.sign минут
        +e.IMG.pic(src='/img/sale-days-1.png' alt='')
      +e.right
        +e.P.caption Каждый будний день - новая квартира со скидкой!
        +e.txt
          p В 10:00 - мы публикуем новую квартиру со выгодой от обычной цены. Забронировать акционную квартиру можно только в день публикации. После первой брони - квартира снимается, а новая квартира появляется уже на следующий день.
          p Получите ссылку на страницу, где будут публиковаться квартиры, следите за обновлениями и успевайте забронировать понравившуюся квартиру!
          p Количество участвующих в акции квартир ограничено.Скидка по акции не суммируется с другими действующими акциями и скидками.
        +e.A.btn.btn.js-open-modal(href='#callback') Получить ссылку

+b.sales-room
  +e.inner.inner
    +e.row
      +e.left
        +e.H2.title Выгода до 400 000р. в новых домах!
      +e.right
        +e.txt
          p
            b Старт продаж дома 8 - это более 290 новых квартир и полный ассортимент от студий до 3-комнатных.
          p Шанс купить квартиру с планировками или расположением, которые уже раскуплены в текущих домах. И, конечно, выгода до 400 000р по сравнению с текущими ценами.
    +e.item
      +e.content
        +e.P.caption.display-2 Дом №8
        +e.P.subcaption старт продаж: 2-3 квартал 2022 г.
        +e.UL.list
          li 293 квартиры
          li от студий до 3-комнатных
          li готовая отделка класса «Комфорт»
        +e.control
          +e.A.btn.btn.js-open-modal(href='#callback') Записаться в лист ожидания
          +e.A.btn.btn_tr-green.js-open-modal(href='#callback') Записаться в лист ожидания
      +e.slider
        .slider-arrows
          +b.slider-arrow_prev._gray
            svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
              path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6.48438.79102 1.27604 5.99935l5.20834 5.20835')
          +b.slider-arrow_next._gray
            svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
              path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m1.51562.79102 5.20834 5.20833-5.20834 5.20835')
        .swiper
          .swiper-wrapper
            .swiper-slide
              +e.IMG.pic(src='/img/sales-room-1.png' alt='')
            .swiper-slide
              +e.IMG.pic(src='/img/sales-room-1.png' alt='')
            .swiper-slide
              +e.IMG.pic(src='/img/sales-room-1.png' alt='')
            .swiper-slide
              +e.IMG.pic(src='/img/sales-room-1.png' alt='')
        +e.P.sign *По сравнению с аналогичными квартирами 2 очереди ЖК «Новая Кузнечиха»