+b.sale-other
  +e.inner.inner
    +e.H2.title Другие акции
    +e.list
      +e.col
        +e.A.box(href='#')
          +e.info
            +e.time 40 дней
              span до конца акции
            +e.P.caption Ипотека по ставке 1,99%
            +e.txt Снизьте ежемесячный платеж и уменьшите сумму переплаты по ипотеке
        +e.IMG.pic(src='/img/sale-big-1.png' alt='')
        +e.A.box(href='#')
          +e.info
            +e.time 40 дней
              span до конца акции
            +e.P.caption Ипотека по ставке 1,99%
            +e.txt Снизьте ежемесячный платеж и уменьшите сумму переплаты по ипотеке
      +e.col
        +e.A.box(href='#')
          +e.info 
            +e.time 40 дней
              span до конца акции
            +e.P.caption Ипотека по ставке 1,99%
            +e.txt Снизьте ежемесячный платеж и уменьшите сумму переплаты по ипотеке
        +e.IMG.pic(src='/img/sale-big-2.png' alt='')
        +e.A.box(href='#')
          +e.info
            +e.time 40 дней
              span до конца акции
            +e.P.caption Ипотека по ставке 1,99%
            +e.txt Снизьте ежемесячный платеж и уменьшите сумму переплаты по ипотеке
      +e.col
        +e.A.box(href='#')
          +e.info
            +e.time 40 дней
              span до конца акции
            +e.P.caption Ипотека по ставке 1,99%
            +e.txt Снизьте ежемесячный платеж и уменьшите сумму переплаты по ипотеке
        +e.IMG.pic(src='/img/sale-big-3.png' alt='')
        +e.A.box(href='#')
          +e.info
            +e.time 40 дней
              span до конца акции
            +e.P.caption Ипотека по ставке 1,99%
            +e.txt Снизьте ежемесячный платеж и уменьшите сумму переплаты по ипотеке
    +e.control
      +e.A.more.btn(href="#") Смотреть все акции