+b.sale_page
  +e.inner.inner
    +e.containter
      +e.IMG.pic(src='/img/sale-1.png' alt='')
      +e.content
        +e.P.caption Квартиры с хорошей выгодой!
        +e.P.txt Ограниченный ассортимент квартир с выгодой, по сравнению со стоимостью аналогичных квартир.
        +e.UL.list
          li От студий до 4-комнатных
          li Доступны ипотека, рассрочка 0%, трейд-ин,
            br
            | военная ипотека
        +e.A.call.btn.js-open-modal(href="#callback") Получить список квартир

+b.sale-other
  +e.inner.inner
    +e.list
      +e.col
        +e.box_color-1
          +e.info
            +e.time 40 дней
              span до конца акции
            +e.P.caption Ипотека по ставке 1,99%
            +e.txt Снизьте ежемесячный платеж и уменьшите сумму переплаты по ипотеке
        +e.IMG.pic(src='/img/sale-big-1.png' alt='')
      +e.col
        +e.box_color-2
          +e.info 
            +e.time 40 дней
              span до конца акции
            +e.P.caption Ипотека по ставке 1,99%
            +e.txt Снизьте ежемесячный платеж и уменьшите сумму переплаты по ипотеке
        +e.IMG.pic(src='/img/sale-big-2.png' alt='')
      +e.col
        +e.box_color-3
          +e.info
            +e.time 40 дней
              span до конца акции
            +e.P.caption Ипотека по ставке 1,99%
            +e.txt Снизьте ежемесячный платеж и уменьшите сумму переплаты по ипотеке
        +e.IMG.pic(src='/img/sale-big-3.png' alt='')