+b.sale
  +e.inner.inner
    +e.H2.title Акции
    +e.containter
      +e.IMG.pic(src='/img/sale-1.png' alt='')
      +e.content
        +e.P.caption Квартиры с хорошей выгодой!
        +e.P.txt Ограниченный ассортимент квартир с выгодой, по сравнению со стоимостью аналогичных квартир.
        +e.UL.list
          li От студий до 4-комнатных
          li Доступны ипотека, рассрочка 0%, трейд-ин,
            br
            | военная ипотека
        +e.A.call.btn.js-open-modal(href="#callback") Получить список квартир