+b.flat
  +e.inner.inner
    +e.wrap
      +e.left
        +e.H2.title Квартиры для работы и отдыха
        +e.UL.list
          li Продуманные и эргономичные планировки
          li С готовой отделкой комфорт-класса, предчистовой отделкой WhiteBox или свободной планировкой без отделки
          li Широкий ассортимент от компактных студий до просторных 4-комнатных квартир
          li Евро- и классические форматы квартир
          li Квартиры с террасами, видовые квартиры и квартиры с патио
          li Разные районы города
          li Развитая инфраструктура и удобная транспортная доступность всех ЖК
        +e.A.btn.btn_tr-green(href='#') Подобрать планировку
      +e.right
        +e.wrapper
          .swiper
            .swiper-wrapper
              .swiper-slide
                +e.IMG.pic(src='/img/flat-1.png' alt='')
              .swiper-slide
                +e.IMG.pic(src='/img/flat-1.png' alt='')
              .swiper-slide
                +e.IMG.pic(src='/img/flat-1.png' alt='')
              .swiper-slide
                +e.IMG.pic(src='/img/flat-1.png' alt='')
              .swiper-slide
                +e.IMG.pic(src='/img/flat-1.png' alt='')
              .swiper-slide
                +e.IMG.pic(src='/img/flat-1.png' alt='')
              .swiper-slide
                +e.IMG.pic(src='/img/flat-1.png' alt='')
              .swiper-slide
                +e.IMG.pic(src='/img/flat-1.png' alt='')
            .slider-arrows
              +b.slider-arrow_prev._gray
                svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
                  path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6.48438.79102 1.27604 5.99935l5.20834 5.20835')
              +b.slider-arrow_next._gray
                svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
                  path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m1.51562.79102 5.20834 5.20833-5.20834 5.20835')
        +e.thumbs
          .swiper
            .swiper-wrapper
              .swiper-slide
                +e.IMG.pic(src='/img/flat-1.png' alt='')
              .swiper-slide
                +e.IMG.pic(src='/img/flat-1.png' alt='')
              .swiper-slide
                +e.IMG.pic(src='/img/flat-1.png' alt='')
              .swiper-slide
                +e.IMG.pic(src='/img/flat-1.png' alt='')
              .swiper-slide
                +e.IMG.pic(src='/img/flat-1.png' alt='')
              .swiper-slide
                +e.IMG.pic(src='/img/flat-1.png' alt='')
              .swiper-slide
                +e.IMG.pic(src='/img/flat-1.png' alt='')
              .swiper-slide
                +e.IMG.pic(src='/img/flat-1.png' alt='')
              .swiper-slide
                +e.IMG.pic(src='/img/flat-1.png' alt='')
          +e.more + 2