include ../static/pug/head
+head('Отделка ')
body
  main
    +header()
    +breadcrumb(['Главная','Отделка '], 'Отделка ')
    +b.heading-with-text
      +e.inner.inner
        +e.info
          +e.H1.title Отделка 
        +e.P.txt «Новая Кузнечиха» — это современная комплексная застройка квартального типа. Концепция микрорайона предполагает строительство закрытых дворов. Они образованы тремя или четырьмя домами. Внутри каждого двора будут располагаться детские и спортивные площадки. Двор в ЖК «Новая Кузнечиха» - это центр притяжения, место прогулок, отдыха и общения. Внутриквартальную территорию жители воспринимают как свою личную, а значит, как более комфортную.
    +b.edge
      +e.inner.inner
        +e.list
          +e.item
            +e.IMG.pic_mod(src='/icon/need-1.svg' alt='')
            +e.P.caption Социальные учреждения в 5 минутах от дома
          +e.item
            +e.IMG.pic_mod(src='/icon/need-2.svg' alt='')
            +e.P.caption Остановки в пешеходной доступности
          +e.item
            +e.IMG.pic_mod(src='/icon/need-3.svg' alt='')
            +e.P.caption Бульвар с кафе и магазинами
          +e.item
            +e.IMG.pic_mod(src='/icon/need-4.svg' alt='')
            +e.P.caption Детские сады и школа на стадии строительства
    +b.video
      +e.inner.inner
        +e.IMG.block(src='/img/video-3.png' alt='')
    +finishing('Отделка в деталях', '_border', '_tr-black', true, true, true)
    +b.decorating
      +e.inner.inner
        +e.row_mod
          +e.left
            +e.H2.title Современная и качественная отделка по дизайн-проекту
            +e.IMG.pic(src='/img/decorating-1.png' alt='')
          +e.right
            +e.P.txt Мы уделили особое внимание отделочным материалам. В жилых комнатах в качестве напольного покрытия выбран ламинат, в прихожей и кухонной зоне — керамогранит. Потолки во всех помещениях квартир — натяжные. Стены оклеены антивандальными виниловыми обоями на флизелиновой основе под покраску
            +e.UL.list
              +e.LI.item Все квартиры сдаются с отделкой «под ключ» комфорт-класса с использованием современных, безопасных, экологичных и долговечных материалов
              +e.LI.item Интерьер жилых комнат выполнен в нейтральных тонах, что делает его универсальным. Все инженерные коммуникации, стояки водоснабжения и канализации зашиты в короба
              +e.LI.item Вместо затрат на ремонт можно задуматься о покупке мебели и бытовой техники. Примеры отделки можно увидеть в наших шоу-румах или посетить демонстрационную квартиру
            +e.A.btn.btn_tr-green.js-open-modal(href="#callback") Записаться на просмотр
    +b.decoration-outer
      +e.inner.inner
        +e.head
          +e.left
            +e.H2.title Виды отделок
          +e.right
            +b.decoration-type
              +e.control
                +e.BUTTON.btn.btn_tr-black.active Комнаты и кухня
                +e.BUTTON.btn.btn_tr-black Санузел
                +e.BUTTON.btn.btn_tr-black Лоджия
                +e.BUTTON.btn.btn_tr-black Окна в квартире
              +e.wrapper
                +e.box
                  +e.P.txt Интерьер жилых комнат выполнен в нейтральных тонах, что делает его универсальным. Все инженерные коммуникации, стояки водоснабжения и канализации зашиты в короба.
                  +e.line
                    +e.head
                      +e.H4.title Напольное покрытие
                      +e.room В домах 8, 9, 10 ,11 ,12 кварталов
                    +e.body
                      +e.item
                        +e.IMG.pic(src='/img/decoration-type-1.png' alt='')
                        +e.H4.caption Керамогранитна кухне, в прихожей
                      +e.item
                        +e.IMG.pic(src='/img/decoration-type-1.png' alt='')
                        +e.H4.caption Ламинат 33 класса в жилых комнатах
                  +e.line
                    +e.head
                      +e.H4.title Напольное покрытие
                      +e.room В домах 8, 9, 10 ,11 ,12 кварталов
                    +e.body
                      +e.item
                        +e.IMG.pic(src='/img/decoration-type-2.png' alt='')
                        +e.H4.caption Обои под покраску виниловые на флизелиновой основе
                +e.box
                  +e.P.txt Интерьер жилых комнат выполнен в нейтральных тонах, что делает его универсальным. Все инженерные коммуникации, стояки водоснабжения и канализации зашиты в короба.
                  +e.line
                    +e.head
                      +e.H4.title Стены
                      +e.room В домах 8, 9, 10 ,11 ,12 кварталов
                    +e.body
                      +e.item
                        +e.IMG.pic(src='/img/decoration-type-1.png' alt='')
                        +e.H4.caption Керамогранитна кухне, в прихожей
                      +e.item
                        +e.IMG.pic(src='/img/decoration-type-1.png' alt='')
                        +e.H4.caption Ламинат 33 класса в жилых комнатах
                  +e.line
                    +e.head
                      +e.H4.title Напольное покрытие
                      +e.room В домах 8, 9, 10 ,11 ,12 кварталов
                    +e.body
                      +e.item
                        +e.IMG.pic(src='/img/decoration-type-2.png' alt='')
                        +e.H4.caption Обои под покраску виниловые на флизелиновой основе
    +callback(5)
    include ../modules/more/more
    +b.seo-text
      +e.inner.inner
        +e.txt SEO текст Запишитесь на офлайн-экскурсию по ЖК: вы сможете посетить понравившийся вам жилой комплекс и получить консультацию по ипотеке SEO текст Запишитесь на офлайн-экскурсию по ЖК: вы сможете посетить понравившийся вам жилой комплекс и получить консультацию по ипотеке SEO текст Запишитесь на офлайн-экскурсию по ЖК: вы сможете посетить понравившийся вам жилой комплекс и получить консультацию по ипотеке
    include ../modules/footer/footer
  include ../static/pug/scripts