include ../static/pug/head
+head('ОБРАЩЕНИЕ В ГАРАНТИЙНЫЙ ОТДЕЛ')
body
  main.with-top
    +header()
    +heading('/img/banner-9.png', 'ОБРАЩЕНИЕ В ГАРАНТИЙНЫЙ ОТДЕЛ', 'Обратиться по гарантии', '', '', '', '')
    +b.credit-need
      +e.inner.inner
        +e.H2.title Чем полезно обращение по гарантии
        +e.list
          +e.item
            +e.IMG.pic(src='/icon/need-1.svg' alt='')
            +e.txt
              b Узнать, где одобрят наименьшую ставку по ипотеке
          +e.item
            +e.IMG.pic(src='/icon/need-2.svg' alt='')
            +e.txt
              b Узнать о программах 
              | с нулевым или наименьшим первоначальным взносом
          +e.item
            +e.IMG.pic(src='/icon/need-3.svg' alt='')
            +e.txt
              b Увеличить шансы на одобрение 
              | при плохой кредитной истории или отказах от крупных банков
          +e.item
            +e.IMG.pic(src='/icon/need-4.svg' alt='')
            +e.txt
              b Сэкономить 95 % времени 
              | на коммуникацию с банками и одобрение
    +b.regulations
      +e.inner.inner
        +e.head
          +e.H2.title Регламент обработки обращений
          +e.content
            +e.text
              p Если в процессе эксплуатации принадлежащего вам помещения обнаружены дефекты строительства, вы можете обратиться к застройщику для их устранения, заполнив и прикрепив подписанное заявление
            +e.A.btn.btn(href='#' download) Скачать бланк заявление
    +b.support
      +e.inner.inner
        +e.H2.title Оставьте свое обращение
        +e.row
          +e.FORM.action
            +e.step
              span.active
              span
              span
              span
            +e.wrapper
              +e.box
                +e.P.caption
                  span 1/4. 
                  | Сообщите данные собственника
                +e.fields
                  +e.group
                    +e.INPUT.field(placeholder="Фамилия")
                  +e.group
                    +e.INPUT.field(placeholder="Имя")
                  +e.group
                    +e.INPUT.field(placeholder="Отчество")
                  +e.LABEL.file
                    +e.INPUT.hidden(type="file")
                    +e.file-box
                      +e.file-name Скан заявления
                      +e.file-btn Выбрать файл
                +e.btn.btn Далее
          +e.info
            +e.head Доводим до Вашего сведения
            +e.text
              p Согласно ч.6 ст.7 ФЗ No214-ФЗ от 30.12.2004 г. Участник долевого строительства вправе предъявить застройщику в письменной форме требования в связи с ненадлежащим качеством объекта долевого строительства с указанием выявленных недостатков(дефектов) при условии, что такие недостатки (дефекты) выявлены в течении гарантийного срока. 
              p Объем прав (требований) участника долевого строительства в связи с выявлением недостатка объекта долевого строительства определен в ч.ч. 2, 3 ст. 7 ФЗ No 214 - ФЗ от 30.12.2004 г. Согласно ч. 1 ст. 160, 6 ГК РФ письменная форма претензии подразумевает составление документа, выражающего содержание претензии и подписанного уполномоченным лицом. Письменная форма считается соблюденной также в случае составления претензии с помощью электронных либо иных технических средств, позволяющих воспроизвести на материальном носителе в неизменном виде содержание претензии, при этом требование о наличии подписи считается выполненным, если использован любой способ, позволяющий достоверно определить лицо, выразившее волю. 
              p Законом, иными правовыми актами и соглашением сторон может быть предусмотрено специальный способ достоверного определения лица, выразившего волю. Согласно ч. 2 ст. 162, 6 ГК РФ несоблюдение письменной формы претензии влечет за собой недействительность данного «документа». Последствия недействительности устанавливаются ст. 167, 6 ГК РФ
    include ../modules/docs/docs-gray
    include ../modules/faq/faq 
    include ../modules/footer/footer
  include ../static/pug/scripts