include ../static/pug/head
+head('Главная')
body
  main.with-top
    +header()
    include ../modules/banner/banner
    include ../modules/proposal/proposal
    include ../modules/sales/sales
    include ../modules/about/about
    include ../modules/vantage/vantage
    include ../modules/landscaping/landscaping
    +placement()
    +location('Инфраструктура')
    +callback(1)
    +sections()
    +location('Места поблизости')
    +eco()
    include ../modules/finishing/finishing
    include ../modules/plane/plane
    include ../modules/sale/sale
    include ../modules/offer/offer
    include ../modules/calc/calc
    +live()
    include ../modules/life/life
    include ../modules/review/review
    include ../modules/news/news
    +callback(3)
    +office()
    include ../modules/footer/footer
  include ../static/pug/scripts