include ../static/pug/head
include ../modules/location/location
include ../modules/callback/callback
include ../modules/office/office
+head('Главная')
body
  main.home
    +header()
    include ../modules/banner/banner
    include ../modules/proposal/proposal
    include ../modules/sales/sales
    include ../modules/about/about
    include ../modules/vantage/vantage
    include ../modules/landscaping/landscaping
    include ../modules/placement/placement
    +location('Инфраструктура')
    +callback(1)
    +location('Места поблизости')
    include ../modules/eco/eco
    include ../modules/finishing/finishing
    include ../modules/plane/plane
    include ../modules/sale/sale
    include ../modules/offer/offer
    include ../modules/calc/calc
    include ../modules/live/live
    include ../modules/life/life
    include ../modules/review/review
    include ../modules/news/news
    +callback(3)
    +office()
    include ../modules/footer/footer
  include ../static/pug/scripts