include ../static/pug/head
+head('Live')
body
  main
    +header()
    +breadcrumb(['Главная','Live'], 'Live')
    +b.live-heading
      +e.inner.inner
        +e.P.title Live
        +e.social
          +e.A.soc-link(href='#')
            +e.soc-icon
              svg(xmlns='http://www.w3.org/2000/svg' width='70' height='70' fill='none')
                circle(cx='35' cy='35' r='35' fill='#51A747')
                path(fill='#fff' d='M35.32 45.575c-10.206 0-16.444-7.1-16.656-18.888h5.173c.143 8.663 4.112 12.355 7.159 13.136V26.687h4.96v7.456c2.907-.355 5.953-3.764 7.018-7.456h4.89c-.78 4.616-4.112 8.024-6.45 9.444 2.338 1.136 6.094 4.118 7.583 9.515h-5.386c-1.134-3.621-3.898-6.39-7.654-6.745v6.745h-.637v-.07Z')
          +e.A.soc-link(href='#')
            +e.soc-icon
              svg(xmlns='http://www.w3.org/2000/svg' width='70' height='70' fill='none')
                circle(cx='35' cy='35' r='35' fill='#51A747')
                path(fill='#fff' d='M49.858 27.157c-.297-1.642-1.714-2.837-3.36-3.21-2.461-.523-7.017-.896-11.947-.896-4.925 0-9.554.373-12.019.896-1.642.373-3.063 1.493-3.36 3.21-.3 1.867-.598 4.48-.598 7.84 0 3.36.297 5.974.67 7.84.302 1.643 1.719 2.838 3.36 3.211 2.614.523 7.094.896 12.024.896 4.929 0 9.409-.373 12.022-.896 1.642-.373 3.06-1.493 3.36-3.21.298-1.867.753-4.766.724-7.841-.03-3.082-.503-5.973-.876-7.84ZM31.225 40.224V29.77l9.11 5.227-9.11 5.227Z')
          +e.A.soc-link(href='#')
            +e.soc-icon
              svg(xmlns='http://www.w3.org/2000/svg' width='70' height='70' fill='none')
                circle(cx='35' cy='35' r='35' fill='#51A747')
                path(fill='#fff' d='m29.88 40.248-.473 7.166c.677 0 .97-.313 1.321-.689L33.9 43.46l6.572 5.186c1.205.724 2.054.342 2.38-1.195l4.313-21.78.001-.002c.382-1.92-.644-2.67-1.819-2.2L19.991 33.93c-1.73.724-1.704 1.763-.294 2.234l6.483 2.173 15.057-10.152c.709-.506 1.353-.226.823.28L29.88 40.247Z')
          +e.A.soc-link(href='#')
            +e.soc-icon
              svg(xmlns='http://www.w3.org/2000/svg' width='70' height='70' fill='none')
                circle(cx='35' cy='35' r='35' fill='#51A747')
                path(fill='#fff' d='M53.178 35.452v-.406c-8.157-.247-11.887-.45-14.862-3.357-2.905-2.974-3.11-6.703-3.356-14.86h-.406c-.247 8.157-.451 11.886-3.356 14.86-2.975 2.907-6.705 3.11-14.862 3.357v.406c8.157.247 11.887.45 14.862 3.355 2.905 2.975 3.11 6.706 3.356 14.863h.406c.246-8.157.45-11.888 3.356-14.863 2.975-2.905 6.705-3.108 14.862-3.355Z')
    +b.practicum-videos
      +e.inner.inner
        +e.head
          +e.H2.title Практикум
          +e.control
            +e.A.btn.btn_transparent(href="/life.html") Подробнее
            .slider-arrows
              +b.slider-arrow_prev._gray
                svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
                  path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6.48438.79102 1.27604 5.99935l5.20834 5.20835')
              +b.slider-arrow_next._gray
                svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
                  path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m1.51562.79102 5.20834 5.20833-5.20834 5.20835')
        +e.wrapper
          .swiper
            .swiper-wrapper
              .swiper-slide
                +e.item
                  +e.IMG.pic(src='/img/practicum-1.png' alt='')
                  +e.holder Первый вебинар
              .swiper-slide
                +e.item
                  +e.IMG.pic(src='/img/practicum-1.png' alt='')
                  +e.holder Первый вебинар
              .swiper-slide
                +e.item
                  +e.IMG.pic(src='/img/practicum-1.png' alt='')
                  +e.holder Первый вебинар
              .swiper-slide
                +e.item
                  +e.IMG.pic(src='/img/practicum-1.png' alt='')
                  +e.holder Первый вебинар
    include ../modules/life/life
    include ../modules/articles/articles
    +b.interesting
      +e.inner.inner
        +e.head
          +e.H2.title Новости
          +e.A.btn.btn_tr-green(href="/news.html") Смотреть все новости
        +e.list
          +e.A.item
            +e.P.date 17 февраля 2023
            +e.P.caption МТС увеличила скорость мобильного интернета и расширила покрытие в ЖК «Новая Кузнечиха»
          +e.A.item
            +e.P.date 17 февраля 2023
            +e.P.caption «Столица Нижний» объявила о снижении цен на квартиры в ЖК «Новая Кузнечиха»
          +e.A.item
            +e.P.date 17 февраля 2023
            +e.P.caption 19 квартир было приобретено в жилых комплексах «Столицы Нижний» в 2022 году с помощью IT-ипотеки
    +live('Ход строительства', false)
    include ../modules/gallery/gallery
    include ../modules/panorame/panorame-2
    include ../modules/offer/sale
    +b.update-block
      +e.inner.inner
        +e.H2.title Следи за нашими обновлениями
        +e.list
          +e.A.item(href='#')
            svg(width='90' height='90' viewBox='0 0 90 90' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M51.4475 69.369C51.4475 69.3139 51.4016 69.2693 51.3466 69.2692C23.5306 69.2239 6.19873 50.4395 4.60536 19.0843C4.5202 17.4084 5.87737 16.0312 7.55537 16.0312L16.1312 16.0312C17.7688 16.0312 19.0971 17.3536 19.1865 18.9887C20.2328 38.1377 28.2078 47.9601 35.6536 51.6923C37.4049 52.5702 39.2602 51.1494 39.2602 49.1903L39.2602 19.0313C39.2602 17.3744 40.6033 16.0312 42.2602 16.0312L50.243 16.0312C51.8998 16.0312 53.243 17.3744 53.243 19.0312L53.243 33.6576C53.243 35.4588 54.8361 36.856 56.5171 36.2094C63.0538 33.695 69.3342 26.3617 72.3213 18.1765C72.7796 16.9207 73.9425 16.0312 75.2793 16.0312L83.2559 16.0312C85.1124 16.0312 86.5297 17.7057 86.0346 19.495C83.6417 28.1422 78.1794 35.0283 73.0591 39.4042C71.2535 40.9473 71.4044 44.0971 73.3455 45.4657C78.8184 49.3243 85.1488 55.8923 88.7917 65.7177C89.4806 67.5758 88.0429 69.4687 86.0611 69.4687L77.0218 69.4687C75.7102 69.4687 74.5638 68.6108 74.0895 67.388C70.9341 59.2537 64.7317 52.9632 56.4943 50.9936C54.7744 50.5823 53.243 51.9843 53.243 53.7527L53.243 68.571C53.243 69.0668 52.841 69.4687 52.3452 69.4687L51.5472 69.4687C51.4921 69.4687 51.4475 69.4241 51.4475 69.369Z' fill='white')
            span Вконтакте
          +e.A.item(href='#')
            svg(width='90' height='90' viewBox='0 0 90 90' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M80.4128 26.0391C79.7059 22.2234 76.335 19.4484 72.4206 18.5812C66.5667 17.3672 55.7293 16.5 44.0038 16.5C32.2873 16.5 21.2775 17.3672 15.4148 18.5812C11.5075 19.4484 8.12948 22.05 7.42261 26.0391C6.70687 30.375 6 36.4453 6 44.25C6 52.0547 6.70687 58.125 7.59489 62.4609C8.31064 66.2766 11.6816 69.0516 15.5871 69.9187C21.8033 71.1328 32.4595 72 44.185 72C55.9104 72 66.5667 71.1328 72.7829 69.9187C76.6884 69.0516 80.0594 66.45 80.7751 62.4609C81.482 58.125 82.5663 51.3925 82.4968 44.2489C82.4272 37.0908 81.3008 30.375 80.4128 26.0391ZM36.0913 56.3895L36.0913 32.1082L57.759 44.2489L36.0913 56.3895Z' fill='white')
            span YouTube
          +e.A.item(href='#')
            svg(xmlns='http://www.w3.org/2000/svg' width='90' height='90' fill='none'  viewBox='0 0 90 90')
              path(fill='#fff' d='m32.8259 54.5097-1.1942 18.0084c1.7085 0 2.4484-.7869 3.3358-1.7317l8.01-8.2077 16.5974 13.032c3.044 1.8189 5.1885.8613 6.0097-3.0023L76.4792 17.874l.0031-.0032c.9655-4.8246-1.6273-6.7112-4.5932-5.5276L7.85133 38.63c-4.37047 1.819-4.3043 4.4312-.74296 5.6147l16.37193 5.4598 38.0288-25.5128c1.7897-1.2706 3.4167-.5676 2.0784.7031L32.8259 54.5097Z')
            span Telegram
          +e.A.item(href='#')
            svg(xmlns='http://www.w3.org/2000/svg' width='90' height='90' fill='none'  viewBox='0 0 90 90')
              path(fill='#fff' d='M86.6842 45.3024v-.9223c-18.5273-.5614-27.0004-1.0234-33.7579-7.624C46.3275 30.0004 45.8638 21.5291 45.3041 3h-.924c-.5596 18.5291-1.0234 27.0004-7.6222 33.7561C30.0004 43.3585 21.5273 43.8187 3 44.3801v.9223c18.5273.5614 27.0004 1.0234 33.7579 7.6222 6.5988 6.7575 7.0626 15.2305 7.6222 33.7596h.924c.5579-18.5291 1.0234-27.0021 7.6222-33.7596 6.7575-6.5988 15.2306-7.0608 33.7579-7.6222Z')
            span Яндекс Дзен
    include ../modules/select-room/offer
    include ../modules/footer/footer
  include ../static/pug/scripts