include ../static/pug/head
+head('Дома № 1, 2, 10 (по генплану) введены в эксплуатацию!')
body
  main
    +header()
    +breadcrumb(['Главная','Новости', 'Дома № 1, 2, 10 (по генплану) введены в эксплуатацию!'], 'Дома № 1, 2, 10 (по генплану) введены в эксплуатацию!')
    +b.news-single
      +e.inner.inner
        include ../modules/share/share
        +e.head
          +e.P.date 17 февраля 2023
          +e.H1.title Власти планируют построить новые школы в ЖК «Новая Кузнечиха» и «Цветы» к концу 2023 года
          +e.control
            +e.nav
              svg(xmlns='http://www.w3.org/2000/svg' width='65' height='65' fill='none' viewBox="0 0 65 65")
                circle(cx='32.5' cy='32.5' r='32.5' fill='#F5F6F7' transform='matrix(-1 0 0 1 65 0)')
                path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m34.4375 25.7266-6.7708 6.7708 6.7708 6.7708')
              span Предыдущая 
                i новость
            +e.nav
              span Следующая 
                i новость
              svg(xmlns='http://www.w3.org/2000/svg' width='65' height='65' fill='none' viewBox="0 0 65 65")
                circle(cx='32.5' cy='32.5' r='32.5' fill='#F5F6F7')
                path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m30.5625 25.7266 6.7708 6.7708-6.7708 6.7708')
        +e.body
          +e.text
            img(src="/img/news-10.png", alt="")
            h4 Власти Нижегородской области рассчитывают, что новые школы на территории жилых комплексов «Новая Кузнечиха» и «Цветы» будут построены к концу 2023 года. Об этом в своем официальном телеграм-канале сообщает Корпорация развития Нижегородской области.
            p Согласно сообщению, школа на 1500 мест в ЖК «Цветы» уже строится. Ее общая площадь будет 29050 кв. метров. Сейчас здесь ведутся работы по бетонированию и армированию фундаментной плиты, устройство бетонной подготовки, доработка котлована и устройство фундамента башенного крана.
            br
            img(src="/img/news-3.png", alt="")
            br
            br
            br
            p По информации Корпорации развития, 
              a(href="#") школа на 800 мест 
              | во второй очереди застройки ЖК «Новая Кузнечиха» находится на стадии подготовки к строительству. Ее общая площадь будет 17250 кв. метров. Сейчас здесь ведется обустройство строительного городка, устройство проездов из дорожных плит, испытания свай, а также демонтаж недействующих сетей.
            img(src="/img/news-4.png", alt="")
            p Строительство идет в рамках концессий между правительством Нижегородской области и дочерними организациями Корпорации развития региона.
            h2 Заголовок h2
            h3 Заголовок h3
            h4 Заголовок h4
            h5 Заголовок h5
            article
              h4 Текстовый блок с  ссылкой
              p По информации Корпорации развития, 
                a(href="#") школа на 800 мест 
                | во второй очереди застройки ЖК «Новая Кузнечиха» находится на стадии подготовки к строительству. Ее общая площадь будет 17250 кв. метров. Сейчас здесь ведется обустройство строительного городка, устройство проездов из дорожных плит, испытания свай, а также демонтаж недействующих сетей.
            article
              h4 Буллеты
              ul
                li Продуманные и эргономичные планировки
                li С готовой отделкой комфорт-класса, предчистовой отделкой WhiteBox или свободной планировкой без отделки
                li Широкий ассортимент от компактных студий до просторных 4-комнатных квартир
                li Евро и классические форматы квартир
                li Квартиры с террасами, видовые квартиры и квартиры с патио
                li Разные районы города
                li Развитая инфраструктура и удобная транспортная доступность всех ЖК
            article
              h4 Перечисления
              ol
                li Продуманные и эргономичные планировки
                li С готовой отделкой комфорт-класса, предчистовой отделкой WhiteBox или свободной планировкой без отделки. И немного переноса на другую строку
                li Широкий ассортимент от компактных студий до просторных 4-комнатных квартир
                li Евро и классические форматы квартир
                li Квартиры с террасами, видовые квартиры и квартиры с патио
                li Разные районы города
                li Развитая инфраструктура и удобная транспортная доступность всех ЖК
            blockquote
              h4 Цитата
              p Поздравляем дольщиков с этим долгожданным событием и желаем вам уюта, добра и легкого переезда!
            h4 Галерея
          +b.news-gallery
            +e.wrapper
              .swiper
                .swiper-wrapper
                  .swiper-slide
                    +e.IMG.pic(src='/img/excursion-1.png' alt='')
                  .swiper-slide
                    +e.IMG.pic(src='/img/excursion-1.png' alt='')
                  .swiper-slide
                    +e.IMG.pic(src='/img/excursion-1.png' alt='')
                  .swiper-slide
                    +e.IMG.pic(src='/img/excursion-1.png' alt='')
                  .swiper-slide
                    +e.IMG.pic(src='/img/excursion-1.png' alt='')
                  .swiper-slide
                    +e.IMG.pic(src='/img/excursion-1.png' alt='')
                  .swiper-slide
                    +e.IMG.pic(src='/img/excursion-1.png' alt='')
                  .swiper-slide
                    +e.IMG.pic(src='/img/excursion-1.png' alt='')
                .slider-arrows
                  +b.slider-arrow_prev._gray
                    svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
                      path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6.48438.79102 1.27604 5.99935l5.20834 5.20835')
                  +b.slider-arrow_next._gray
                    svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
                      path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m1.51562.79102 5.20834 5.20833-5.20834 5.20835')
            +e.thumbs
              .swiper
                .swiper-wrapper
                  .swiper-slide
                    +e.IMG.pic(src='/img/excursion-1.png' alt='')
                  .swiper-slide
                    +e.IMG.pic(src='/img/excursion-1.png' alt='')
                  .swiper-slide
                    +e.IMG.pic(src='/img/excursion-1.png' alt='')
                  .swiper-slide
                    +e.IMG.pic(src='/img/excursion-1.png' alt='')
                  .swiper-slide
                    +e.IMG.pic(src='/img/excursion-1.png' alt='')
                  .swiper-slide
                    +e.IMG.pic(src='/img/excursion-1.png' alt='')
                  .swiper-slide
                    +e.IMG.pic(src='/img/excursion-1.png' alt='')
                  .swiper-slide
                    +e.IMG.pic(src='/img/excursion-1.png' alt='')
                  .swiper-slide
                    +e.IMG.pic(src='/img/excursion-1.png' alt='')
              +e.more + 40
          +b.news-pictures
            +e.IMG.pic(src='/img/news-3.png' alt='')
            +e.IMG.pic(src='/img/news-4.png' alt='')
            +e.IMG.pic(src='/img/news-5.png' alt='')
            +e.IMG.pic(src='/img/news-6.png' alt='')
            +e.IMG.pic(src='/img/news-7.png' alt='')
          +b.news-txt
            +e.content
              h4 Власти Нижегородской области рассчитывают, что новые школы на территории жилых комплексов «Новая Кузнечиха» и «Цветы» будут построены к концу 2023 года. Об этом в своем официальном телеграм-канале сообщает Корпорация развития Нижегородской области.
              p Согласно сообщению, школа на 1500 мест в ЖК «Цветы» уже строится. Ее общая площадь будет 29050 кв. метров. Сейчас здесь ведутся работы по бетонированию и армированию фундаментной плиты, устройство бетонной подготовки, доработка котлована и устройство фундамента башенного крана.
            picture
              source(media="(max-width: 1500px)", srcset="/img/news-8--mobile.png")
              +e.IMG.pic(src='/img/news-8.png' alt='')
          +b.video
            h4 Видео
            +e.box
              +e.IMG.pic(src='/img/news-9.png' alt='')
            h4 Может быть название, а может и не быть
    +placement()
    +b.interesting
      +e.inner.inner
        +e.head
          +e.H2.title Вам может быть интересно
          +e.A.btn.btn_tr-green(href="/news.html") Смотреть все новости
        +e.list
          +e.A.item
            +e.P.date 17 февраля 2023
            +e.P.caption МТС увеличила скорость мобильного интернета и расширила покрытие в ЖК «Новая Кузнечиха»
          +e.A.item
            +e.P.date 17 февраля 2023
            +e.P.caption «Столица Нижний» объявила о снижении цен на квартиры в ЖК «Новая Кузнечиха»
          +e.A.item
            +e.P.date 17 февраля 2023
            +e.P.caption 19 квартир было приобретено в жилых комплексах «Столицы Нижний» в 2022 году с помощью IT-ипотеки
    +b.update-block
      +e.inner.inner
        +e.H2.title Следи за нашими обновлениями
        +e.list
          +e.A.item(href='#')
            svg(width='90' height='90' viewBox='0 0 90 90' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M51.4475 69.369C51.4475 69.3139 51.4016 69.2693 51.3466 69.2692C23.5306 69.2239 6.19873 50.4395 4.60536 19.0843C4.5202 17.4084 5.87737 16.0312 7.55537 16.0312L16.1312 16.0312C17.7688 16.0312 19.0971 17.3536 19.1865 18.9887C20.2328 38.1377 28.2078 47.9601 35.6536 51.6923C37.4049 52.5702 39.2602 51.1494 39.2602 49.1903L39.2602 19.0313C39.2602 17.3744 40.6033 16.0312 42.2602 16.0312L50.243 16.0312C51.8998 16.0312 53.243 17.3744 53.243 19.0312L53.243 33.6576C53.243 35.4588 54.8361 36.856 56.5171 36.2094C63.0538 33.695 69.3342 26.3617 72.3213 18.1765C72.7796 16.9207 73.9425 16.0312 75.2793 16.0312L83.2559 16.0312C85.1124 16.0312 86.5297 17.7057 86.0346 19.495C83.6417 28.1422 78.1794 35.0283 73.0591 39.4042C71.2535 40.9473 71.4044 44.0971 73.3455 45.4657C78.8184 49.3243 85.1488 55.8923 88.7917 65.7177C89.4806 67.5758 88.0429 69.4687 86.0611 69.4687L77.0218 69.4687C75.7102 69.4687 74.5638 68.6108 74.0895 67.388C70.9341 59.2537 64.7317 52.9632 56.4943 50.9936C54.7744 50.5823 53.243 51.9843 53.243 53.7527L53.243 68.571C53.243 69.0668 52.841 69.4687 52.3452 69.4687L51.5472 69.4687C51.4921 69.4687 51.4475 69.4241 51.4475 69.369Z' fill='white')
            span Вконтакте
          +e.A.item(href='#')
            svg(width='90' height='90' viewBox='0 0 90 90' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M80.4128 26.0391C79.7059 22.2234 76.335 19.4484 72.4206 18.5812C66.5667 17.3672 55.7293 16.5 44.0038 16.5C32.2873 16.5 21.2775 17.3672 15.4148 18.5812C11.5075 19.4484 8.12948 22.05 7.42261 26.0391C6.70687 30.375 6 36.4453 6 44.25C6 52.0547 6.70687 58.125 7.59489 62.4609C8.31064 66.2766 11.6816 69.0516 15.5871 69.9187C21.8033 71.1328 32.4595 72 44.185 72C55.9104 72 66.5667 71.1328 72.7829 69.9187C76.6884 69.0516 80.0594 66.45 80.7751 62.4609C81.482 58.125 82.5663 51.3925 82.4968 44.2489C82.4272 37.0908 81.3008 30.375 80.4128 26.0391ZM36.0913 56.3895L36.0913 32.1082L57.759 44.2489L36.0913 56.3895Z' fill='white')
            span YouTube
          +e.A.item(href='#')
            svg(xmlns='http://www.w3.org/2000/svg' width='90' height='90' fill='none'  viewBox='0 0 90 90')
              path(fill='#fff' d='m32.8259 54.5097-1.1942 18.0084c1.7085 0 2.4484-.7869 3.3358-1.7317l8.01-8.2077 16.5974 13.032c3.044 1.8189 5.1885.8613 6.0097-3.0023L76.4792 17.874l.0031-.0032c.9655-4.8246-1.6273-6.7112-4.5932-5.5276L7.85133 38.63c-4.37047 1.819-4.3043 4.4312-.74296 5.6147l16.37193 5.4598 38.0288-25.5128c1.7897-1.2706 3.4167-.5676 2.0784.7031L32.8259 54.5097Z')
            span Telegram
          +e.A.item(href='#')
            svg(xmlns='http://www.w3.org/2000/svg' width='90' height='90' fill='none'  viewBox='0 0 90 90')
              path(fill='#fff' d='M86.6842 45.3024v-.9223c-18.5273-.5614-27.0004-1.0234-33.7579-7.624C46.3275 30.0004 45.8638 21.5291 45.3041 3h-.924c-.5596 18.5291-1.0234 27.0004-7.6222 33.7561C30.0004 43.3585 21.5273 43.8187 3 44.3801v.9223c18.5273.5614 27.0004 1.0234 33.7579 7.6222 6.5988 6.7575 7.0626 15.2305 7.6222 33.7596h.924c.5579-18.5291 1.0234-27.0021 7.6222-33.7596 6.7575-6.5988 15.2306-7.0608 33.7579-7.6222Z')
            span Яндекс Дзен
    include ../modules/footer/footer
  include ../static/pug/scripts