include ../static/pug/head
+head('Парковки')
body
  main
    +header()
    +breadcrumb(['Главная','Парковки'], 'Парковки')
    +b.heading-with-text
      +e.inner.inner
        +e.info
          +e.H1.title Парковки
          +e.P.sign Уже сдаются!
        +e.txt
          p Хорошая новость для автовладельцев, ценящих комфорт! Стартовали продажи машино-мест в крытом паркинге ЖК «Новая Кузнечиха».
          p Это приобретение позволит защитить автомобиль от непогоды, а также закрепит место именно за вашим автомобилем, что несомненно является большим преимуществом!
          p Проект представляет собой 3-х этажное здание в районе 12 квартала, в котором на 1 этаже будет расположена торговая зона, а на 2 и 3 этажах - 200 машино-мест открытого типа размером от 2,5*5,3 м для автомобилей жителей нашего жилого комплекса. Строительные работы уже ведутся, срок сдачи объекта - IV квартал 2021 г.
    +b.select-parking
      +e.inner.inner
        +e.IMG.pic(src='/img/select-parking.png' alt='')
        +e.A.btn
          span Выбрать машиноместо
          svg(xmlns='http://www.w3.org/2000/svg' width='60' height='60' fill='none' viewBox="0 0 60 60")
            circle(cx='30' cy='30' r='30' fill='#fff')
            path(stroke='#23262B' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m27 22 8 8-8 8')
    include ../modules/attract/parking
    +placement()
    +callback(14)
    +b.seo-text
      +e.inner.inner
        +e.txt SEO текст Запишитесь на офлайн-экскурсию по ЖК: вы сможете посетить понравившийся вам жилой комплекс и получить консультацию по ипотеке SEO текст Запишитесь на офлайн-экскурсию по ЖК: вы сможете посетить понравившийся вам жилой комплекс и получить консультацию по ипотеке SEO текст Запишитесь на офлайн-экскурсию по ЖК: вы сможете посетить понравившийся вам жилой комплекс и получить консультацию по ипотеке
    include ../modules/footer/footer
  include ../static/pug/scripts