include ../static/pug/head
+head('Генплан')
body
  main
    +header()
    +breadcrumb(['Главная','Генплан'], 'Генплан')
    +placement('_page')
    include ../modules/plane/interest
    include ../modules/more/more
    +b.seo-text
      +e.inner.inner
        +e.txt SEO текст Запишитесь на офлайн-экскурсию по ЖК: вы сможете посетить понравившийся вам жилой комплекс и получить консультацию по ипотеке SEO текст Запишитесь на офлайн-экскурсию по ЖК: вы сможете посетить понравившийся вам жилой комплекс и получить консультацию по ипотеке SEO текст Запишитесь на офлайн-экскурсию по ЖК: вы сможете посетить понравившийся вам жилой комплекс и получить консультацию по ипотеке
    include ../modules/footer/footer
  include ../static/pug/scripts