include ../static/pug/head
+head('Выбор квартиры и парковочного места')
body
  main
    +header()
    +breadcrumb(['Главная','Выбор квартиры и парковочного места'], 'Выбор квартиры и парковочного места')
    include ../modules/select-room/no-type
    include ../modules/offer/sale
    +callback(5)
    +b.seo-text
      +e.inner.inner
        +e.txt SEO текст Запишитесь на офлайн-экскурсию по ЖК: вы сможете посетить понравившийся вам жилой комплекс и получить консультацию по ипотеке SEO текст Запишитесь на офлайн-экскурсию по ЖК: вы сможете посетить понравившийся вам жилой комплекс и получить консультацию по ипотеке SEO текст Запишитесь на офлайн-экскурсию по ЖК: вы сможете посетить понравившийся вам жилой комплекс и получить консультацию по ипотеке
    include ../modules/footer/footer
  include ../static/pug/scripts