include ../static/pug/head
+head('Выбор квартиры и парковочного места')
body
  main.gray
    +header()
    include ../modules/product-sale/product-sale
    +breadcrumb(['Главная','Выбор квартиры и парковочного места', '1-комн. 41.7 м²'], '1-комн. 41.7 м²')
    include ../modules/product/product
    include ../modules/sales/sales-is-title
    include ../modules/panorame/panorame
    +finishing()
    include ../modules/calc/calc
    +payment()
    include ../modules/step-build/step-build
    +sections()
    +services()
    +office('_white')
    include ../modules/attract/attract
    +b.seo-text
      +e.inner.inner
        +e.txt SEO текст Запишитесь на офлайн-экскурсию по ЖК: вы сможете посетить понравившийся вам жилой комплекс и получить консультацию по ипотеке SEO текст Запишитесь на офлайн-экскурсию по ЖК: вы сможете посетить понравившийся вам жилой комплекс и получить консультацию по ипотеке SEO текст Запишитесь на офлайн-экскурсию по ЖК: вы сможете посетить понравившийся вам жилой комплекс и получить консультацию по ипотеке
    include ../modules/footer/footer
  include ../static/pug/scripts