include ../static/pug/head
+head('Для региональных клиентов  ')
body
  main
    +header()
    +breadcrumb(['Главная','Для региональных клиентов  '], 'Для региональных клиентов  ')
    +b.heading-with-text
      +e.inner.inner
        +e.info
          +e.H1.title Для 
            br
            | региональных клиентов 
        +e.txt
          h4 Почему Нижний Новгород?
          p Описание Преимуществ НН. Площадь территории реализуемого сейчас проекта составляет 53 га, а общая площадь, подлежащая комплексному освоению, составляет около 453 га. К 2030 году здесь будет построен полноценный городской кластер, состоящий из 4 микрорайонов и с численностью жителей порядка 70 тысяч человек.
    +b.credit-need
      +e.inner.inner
        +e.list
          +e.item
            +e.IMG.pic(src='/icon/need-1.svg' alt='')
            +e.txt
              b Узнать, где одобрят наименьшую ставку по ипотеке
          +e.item
            +e.IMG.pic(src='/icon/need-2.svg' alt='')
            +e.txt
              b Узнать о программах 
              | с нулевым или наименьшим первоначальным взносом
          +e.item
            +e.IMG.pic(src='/icon/need-3.svg' alt='')
            +e.txt
              b Увеличить шансы на одобрение 
              | при плохой кредитной истории или отказах от крупных банков
          +e.item
            +e.IMG.pic(src='/icon/need-4.svg' alt='')
            +e.txt
              b Сэкономить 95 % времени 
              | на коммуникацию с банками и одобрение
    +callback(16)
    include ../modules/sale/list
    +callback(17)
    +b.decoration-outer
      +e.inner.inner
        +e.head
          +e.left
            +e.H2.title Высокое качество жилья
          +e.right
            +e.txt Холлы и подъезды в жилом комплексе «Новая Кузнечиха» спроектированы для вашего максимального удобства и по-современному дизайн проекту, который учитывает все для создания комфортной и безопасной среды. В каждом доме есть входы в подъезд и лифтовые холлы, которые находятся на одном уровне с тротуаром, чтобы вам было легко завезти коляску или чемодан
        +e.gallery
          +e.IMG.pic(src='/img/decoration-1.png' alt='')
          +e.IMG.pic(src='/img/decoration-2.png' alt='')
    +b.decoration-text
      +e.inner.inner
        +e.content
          +e.H2.title Высокое качество жилья
          +e.P.txt Холлы и подъезды в жилом комплексе «Новая Кузнечиха» спроектированы для вашего максимального удобства и по-современному дизайн проекту, который учитывает все для создания комфортной и безопасной среды. В каждом доме есть входы в подъезд и лифтовые холлы, которые находятся на одном уровне с тротуаром, чтобы вам было легко завезти коляску или чемодан
          +e.A.more.btn_tr-green(href='#') Записаться в демоквартиру
        +e.IMG.pic(src='/img/decoration-3.png' alt='')
    +b.quality-home
      +e.inner.inner
        +e.head
          +e.left
            +e.H2.title Высокое качество жилья
          +e.right
            +e.txt Холлы и подъезды в жилом комплексе «Новая Кузнечиха» спроектированы для вашего максимального удобства и по-современному дизайн проекту, который учитывает все для создания комфортной и безопасной среды. В каждом доме есть входы в подъезд и лифтовые холлы, которые находятся на одном уровне с тротуаром, чтобы вам было легко завезти коляску или чемодан
        +e.vnt
          +e.item
            +e.P.numb 453 
              span ГА
            +e.info Общая территория
          +e.item
            +e.P.numb 53 
              span га
            +e.info Уже используемая площадь
          +e.item
            +e.P.numb 4 
              span микрорайона
            +e.info Уже используемая площадь
          +e.item
            +e.P.numb 70 000 
            +e.info Уже используемая площадь
    +b.video
      +e.inner.inner
        +e.IMG.block(src='/img/video-halls.png' alt='')
        +e.A.more.btn Подробнее о перспективах застройки
    +sections(true)
    +b.video
      +e.inner.inner
        +e.IMG.block(src='/img/video-4.png' alt='')
    +callback(18)
    include ../modules/calc/calc
    include ../modules/about/mini
    include ../modules/awards/awards
    +office()
    include ../modules/more/more
    include ../modules/footer/footer
  include ../static/pug/scripts