include ../static/pug/head
+head('Безопасность')
body
  main
    +header()
    +breadcrumb(['Главная','Безопасность'], 'Безопасность')
    +b.heading-with-text
      +e.inner.inner
        +e.info
          +e.H1.title Безопасность
          +e.P.sign Современные и безопасные дома
        +e.P.txt «Новая Кузнечиха» — это современная комплексная застройка квартального типа. Концепция микрорайона предполагает строительство закрытых дворов. Они образованы тремя или четырьмя домами. Внутри каждого двора будут располагаться детские и спортивные площадки. Двор в ЖК «Новая Кузнечиха» - это центр притяжения, место прогулок, отдыха и общения. Внутриквартальную территорию жители воспринимают как свою личную, а значит, как более комфортную.
    +b.edge
      +e.inner.inner
        +e.list
          +e.item
            +e.IMG.pic_mod(src='/icon/need-1.svg' alt='')
            +e.P.caption Социальные учреждения в 5 минутах от дома
          +e.item
            +e.IMG.pic_mod(src='/icon/need-2.svg' alt='')
            +e.P.caption Остановки в пешеходной доступности
          +e.item
            +e.IMG.pic_mod(src='/icon/need-3.svg' alt='')
            +e.P.caption Бульвар с кафе и магазинами
          +e.item
            +e.IMG.pic_mod(src='/icon/need-4.svg' alt='')
            +e.P.caption Детские сады и школа на стадии строительства
    +b.content-right
      +e.inner.inner
        +e.H2.title Решения
        +e.content
          +e.box
            +e.H3.title Безопасное передвижение внутри двора
            +e.P.txt Жители первого квартала уже могут оценить эффективность концепции двора без машин, которая позволяет им безопасно передвигаться по территории внутри двора и проводить больше времени с семьей. Это архитектурное решение придает дополнительный комфорт и безопасность жителям, которые могут наслаждаться более безопасной и приятной обстановкой в своих дворах
          +e.box
            +e.H3.title Экологическая устойчивость
            +e.P.txt Двор без машин также способствует экологической устойчивости, поскольку уменьшает количества выхлопных газов и шума, а также обеспечивает возможность создания зеленых зон внутри двора
          +e.box
            +e.H3.title Повышение качества жизни жителей
            +e.P.txt Концепция двора без машин может также способствовать повышению качества жизни жителей, поскольку создает условия для улучшения социальной среды и повышения общественной активности. Жители могут проводить более активный образ жизни, заниматься спортом, проводить время на свежем воздухе, общаться с соседями, что в свою очередь может способствовать формированию дружественной и сплоченной городской общины. 
    +b.gallery
      +e.inner.inner
        +e.list
          +e.IMG.pic(src='/img/gallery-1.png' alt='')
          +e.IMG.pic(src='/img/gallery-2.png' alt='')
          +e.IMG.pic(src='/img/gallery-3.png' alt='')
    include ../modules/more/more
    +b.seo-text
      +e.inner.inner
        +e.txt SEO текст Запишитесь на офлайн-экскурсию по ЖК: вы сможете посетить понравившийся вам жилой комплекс и получить консультацию по ипотеке SEO текст Запишитесь на офлайн-экскурсию по ЖК: вы сможете посетить понравившийся вам жилой комплекс и получить консультацию по ипотеке SEO текст Запишитесь на офлайн-экскурсию по ЖК: вы сможете посетить понравившийся вам жилой комплекс и получить консультацию по ипотеке
    include ../modules/footer/footer
  include ../static/pug/scripts