include ../static/pug/head
+head('Квартиры со сроком сдачи весной 2023 года!')
body
  main.with-top
    +header()
    +heading('/img/banner-4.png', 'Квартиры со сроком сдачи весной 2023 года!', 'Смотреть планировки', 'Получить консультацию', '', '', 'Помещения для бизнеса на цокольном и первом этажах зданий нового комплекса', true)
    +b.rooms
      +e.inner.inner
        +e.head
          +e.left
            +e.H2.title Своя квартира с отделкой уже через полгода
            +e.P.subtitle Останется только расставить мебель
          +e.right
            +e.txt
              p Шесть домов находятся уже на финальной стадии готовности и вводятся в эксплуатацию в 1-м квартале 2023 года. Вся инфраструктура готова, а квартиры сдаются с готовой отделкой.
              p Успейте купить квартиру сейчас и заезжайте жить уже через полгода!
        +e.middle
          - for(var i = 0; i< 6; i++){
            +e.item
              +e.top
                +e.P.caption Дом № 21
                +e.sign 1-я очередь застройки сдача — 1 кв. 2023 г.
              +e.mid
                +e.icon
                  +e.A.link(href='#')
                    svg(xmlns='http://www.w3.org/2000/svg' width='55' height='55' fill='none')
                      circle(cx='27.5' cy='27.5' r='27.5' fill='#fff')
                      path(fill='#51A747' d='m24.1854 29.2213 2.2807 8.474h1.0673l2.2806-8.474c.4978-1.8492.7719-4.1697.7719-6.5338 0-6.6528-1.8896-11.2891-3.5859-11.2891-1.6963 0-3.5859 4.6363-3.5859 11.2891 0 2.3641.2741 4.684.7719 6.5338h-.0006Z')
                      path(fill='#51A747' d='m30.5838 29.4289-2.2249 8.2668h.17l4.8419-8.5664c1.0306-1.8233 1.598-4.1108 1.598-6.4414 0-5.2934-2.5883-9.7347-6.0637-10.9496 1.5788 2.0464 2.4777 6.5524 2.4777 10.9496 0 2.432-.2837 4.8258-.799 6.741Zm-11.5526-6.741c0 2.3306.5674 4.6181 1.598 6.4414l4.8419 8.5664h.17l-2.2249-8.2668c-.5153-1.9152-.799-4.3095-.799-6.741 0-4.3972.8989-8.9027 2.4777-10.9496-3.4754 1.2144-6.0637 5.6562-6.0637 10.9496Zm11.0426 18.1953h-6.1471c-.057 0-.1134.0123-.1653.036a.39874.39874 0 0 0-.1355.1014.39901.39901 0 0 0-.0812.1485.3997.3997 0 0 0-.0122.1688l.4176 2.9219a.39818.39818 0 0 0 .1333.2446c.0724.0628.165.0975.2609.0975h5.3125c.1981 0 .3665-.1455.3942-.3421l.4175-2.9219a.3981.3981 0 0 0-.0122-.1688.4002.4002 0 0 0-.0811-.1485.39874.39874 0 0 0-.1355-.1014.40046.40046 0 0 0-.1659-.036Z')
                      path(fill='#51A747' d='M31.3754 12.2227c2.6217 2.0915 4.3902 5.9983 4.3902 10.4661 0 2.4661-.604 4.8928-1.7016 6.8335l-4.6197 8.1743h1.4673l5.7842-7.3264a11.15678 11.15678 0 0 0 2.3901-6.8845c0-5.1213-3.2034-9.5062-7.7105-11.263ZM19.936 29.5223c-1.0971-1.9407-1.7016-4.368-1.7016-6.8335 0-4.4678 1.769-8.3746 4.3902-10.4661-4.5071 1.7568-7.7105 6.1412-7.7105 11.263 0 2.4873.8489 4.9321 2.3901 6.8845l5.7842 7.3264h1.4673l-4.6197-8.1743Zm4.6952 10.565-.5313-1.5938H23.26l.5312 1.5938h.84Zm1.9704-1.5938h.7968v1.5938h-.7968v-1.5938Zm2.7672 1.5938h.84l.5312-1.5938h-.8399l-.5313 1.5938Z')
                +e.A.link(href='#')
                  +e.IMG.pic(src='/img/rooms-1.png' alt='')
              +e.foot
                +e.info
                  p Ипотека 0,1%
                  span от 10 456 ₽/мес.
                +e.A.more.btn_tr-green Смотреть квартиры
                  span 1 230 
          -}
        +e.footer
          +e.callback
            +e.P.holder Получите все доступные планировки и цены
            +e.A.call.btn_transparent.js-open-modal(href='#callback') Получить планировки и цены
    include ../modules/calc/benefit
    +payment('_gray', false)
    include ../modules/offer/sale
    +services('_gray')
    +callback(1)
    include ../modules/footer/footer
  include ../static/pug/scripts