include ../static/pug/head
+head('Ипотека от 4% на весь срок!')
body
  main.with-top
    +header()
    +heading('/img/banner-6.png', 'Ипотека от 4% на весь срок!', 'Получить консультацию', 'Узнать как это работает', '', 'Ипотека от 4% на весь срок!', '')
    include ../modules/conditions/type-1
    +b.credit-work
      +e.inner.inner
        +e.H2.title Как это работает?
        +e.content
          +e.text
            p Субсидирование ставки — это, по сути, «покупка» более низкой ставки по ипотеке. Изначально ставка базовая (~7% по льготной и ~5% по семейной ипотеке) может быть снижена вплоть до 1,99%, но при этом к стоимости квартиры будет добавлена дополнительная сумма, назовем ее «надбавка». Чем ниже ипотечная ставка, тем больше эта «надбавка». 
            p Но, несмотря на увеличение стоимости квартиры, за счет более низкой ипотечной ставки в итоге вы получите значительную экономию! Сумма уплаченных процентов по субсидированной ипотеке и «надбавка» к цене квартиры будут меньше стоимости квартиры с учетом стандартной ипотеки (7%) на величину до 40%! Согласитесь, выплачивать 12 000 рублей в месяц вместо 30 000 рублей куда более приятно. Вы сможете наглядно произвести расчеты по выплатам на калькуляторах ниже.
            p В видеоролике вы можете узнать подробности о программе субсидирования, а также о том, какие способы и инструменты можно использовать для максимально комфортной покупки квартиры.
          +e.control
            +e.A.btn.btn(href="#") Проконсультироваться
            +e.A.video.btn_tr-green(href="#")
              svg(xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='none')
                circle(cx='15' cy='15' r='15' fill='#51A747')
                path(fill='#fff' d='M20.2581 14.7523c.6228.3922.6228 1.3001 0 1.6923l-7.0236 4.4237c-.6659.4194-1.5329-.0591-1.5329-.8461v-8.8475c0-.787.867-1.26556 1.5329-.8461l7.0236 4.4237Z')
              span Смотреть видео
    include ../modules/faq/faq-2
    +b.credit-variable
      +e.inner.inner
        +e.H2.title Варианты программ и ставок
        +e.list
          +e.item
            +e.SPAN.state Для минимальной переплаты
            +e.content
              +e.P.caption 4% на весь срок
              +e.txt Снижение переплаты особенно выгодно для тех, кто не планирует гасить ипотеку досрочного в первые 10 лет
            +e.A.btn.btn_transparent(href="#") Рассчитать на калькуляторе
          +e.item
            +e.SPAN.state Для минимального платежа в первый месяц
            +e.content
              +e.P.caption 4% в первые 2 года
              +e.txt Снижение ежемесячного платежа выгодно для тех, кто хочет значительно снизить платежи на период до 2 лет
            +e.A.btn.btn_transparent(href="#") Рассчитать на калькуляторе
    include ../modules/calc/benefit
    +b.credit-faq
      +e.inner.inner
        +e.list
          +e.item
            +e.P.caption Не знаете с чего начать?
            +e.txt
              p Начните с подбора планировки.
              p Мы подберем варианты квартир по вашим параметрам и рассчитаем возможные варианты ипотеки
            +e.A.btn.btn_tr-green(href="#") Подобрать квартиру
          +e.item
            +e.P.caption Трудно определиться с программой?
            +e.txt
              p Давайте подумаем вместе
              p Просто расскажите нам о ваших пожеланиях, а мы рассчитаем возможные варианты ипотеки
            +e.A.btn.btn_tr-green(href="#") Подобрать квартиру
    include ../modules/flat/flat
    include ../modules/programs/programs
    +callback(9)
    +b.seo-text
      +e.inner.inner
        +e.txt SEO текст Запишитесь на офлайн-экскурсию по ЖК: вы сможете посетить понравившийся вам жилой комплекс и получить консультацию по ипотеке SEO текст Запишитесь на офлайн-экскурсию по ЖК: вы сможете посетить понравившийся вам жилой комплекс и получить консультацию по ипотеке SEO текст Запишитесь на офлайн-экскурсию по ЖК: вы сможете посетить понравившийся вам жилой комплекс и получить консультацию по ипотеке
    include ../modules/footer/footer
  include ../static/pug/scripts 