include ../static/pug/head
+head('Рассрочка от застройщика до 12 месяцев на квартиры в ЖК «Новая Кузнечиха»')
body
  main.with-top
    +header()
    +heading('/img/banner-8.png', 'Рассрочка от застройщика до 12 месяцев на квартиры в ЖК «Новая Кузнечиха»', 'Получить консультацию', '', '', '', 'Воспользуйтесь обновленной программой беспроцентной рассрочки от 2 до 12 месяцев при покупке квартиры в ЖК «Новая Кузнечиха»')
    +b.credit-need
      +e.inner.inner
        +e.H2.title Идеально, если нужно
        +e.list
          +e.item
            +e.IMG.pic(src='/icon/need-1.svg' alt='')
            +e.txt 
              b Зафиксировать текущую стоимость 
              |квартиры на период продажи своей недвижимости, окончания срока по депозиту и т.п.
          +e.item
            +e.IMG.pic(src='/icon/need-2.svg' alt='')
            +e.txt Отложить заключение ипотечного договора и таким образом 
              b не переплачивать
              |, если банки в период действия рассрочки снизят ипотечную ставку
          +e.item
            +e.IMG.pic(src='/icon/need-3.svg' alt='')
            +e.txt В период действия рассрочки не платить за использование ипотечных средств и 
              b сэкономить на стоимости кредита.
          +e.item
            +e.IMG.pic(src='/icon/need-4.svg' alt='')
            +e.txt Комфортно 
              b спланировать 
              |расходы и распределить оплату первоначального взноса на период до 12 месяцев.
    +b.credit-work
      +e.inner.inner
        +e.H2.title Механика покупки квартир по обновленной акции
        +e.content
          +e.text
            ul
              li По условиям акции, минимальный платеж, который клиент вносит в день подписания договора долевого участия, должен составлять не менее 10% от стоимости квартиры. Оставшаяся сумма вносится покупателем ежемесячными платежами в пределах 12 месяцев. 
              li При минимальном размере первоначального взноса – 10% от стоимости приобретаемой квартиры, размер минимального ежемесячного платежа по рассрочке – 1,0% от стоимости приобретаемой квартиры.
              li При размере первоначального взноса – от 15% и выше от стоимости приобретаемой квартиры, размер минимального ежемесячного платежа по рассрочке – 0,6% от стоимости приобретаемой квартиры.
              li По окончании периода рассрочки оставшуюся сумму можно оплатить, заключив ипотечный договор (по той ставке, которая будет на момент окончания рассрочки) , либо за счет собственных средств.
          +e.sign *Акция действует на все квартиры в домах № 19, 19.1, 20 (по генплану) в ЖК "Новая Кузнечиха"; дома №4, № 8 (по генплану) территория застройки "Север-Запад". ООО СЗ «Инградстрой». Проектные декларации на сайте наш.дом.рф.
          +e.control
            +e.A.btn.btn(href="#") Получить консультацию
    include ../modules/docs/docs
    include ../modules/flat/flat
    include ../modules/calc/benefit
    include ../modules/broker/broker
    include ../modules/faq/faq
    include ../modules/select-room/offer
    include ../modules/programs/programs
    +callback(10)
    include ../modules/footer/footer
  include ../static/pug/scripts 