include ../static/pug/head
+head('Коммерческие помещения')
body
  main.with-top
    +header()
    +heading('/img/banner-3.png', 'Коммерческие помещения', 'Подобрать помещение', 'Получить консультацию', 'ЖК «Новая Кузнечиха»', '', 'Помещения для бизнеса на цокольном и первом этажах зданий нового комплекса')
    +b.comercial
      +e.inner.inner
        +e.row
          +e.left
            +e.H2.title Идеальные помещения для любого бизнеса
            +e.info
              +e.metro м. Горьковская
              +e.time
                svg(xmlns='http://www.w3.org/2000/svg' width='13' height='20' fill='none')
                  path(fill='#9C9C9C' d='M2.23866 6.73075 5.26861 4.5581c.34014-.24573.75385-.37191 1.17511-.35838.51382.01264 1.01089.18302 1.4221.48743.4112.30441.7161.72774.87234 1.21112.17585.5441.33656.91181.48215 1.10313.43989.57937 1.01049 1.04956 1.66659 1.37324.6561.32368 1.3796.49195 2.1131.49144v1.86652c-.9764.0011-1.9407-.2116-2.8238-.6226-.88308-.41102-1.66285-1.01021-2.28321-1.75442l-.65893 3.69112 1.94843 1.6145 2.10161 5.7004L9.50676 20l-1.92858-5.2301-3.20484-2.6551c-.26301-.2097-.46426-.4851-.58281-.7976a1.84419 1.84419 0 0 1-.09125-.9794l.4812-2.69244-.64003.45917-2.01082 2.73257L0 9.73962l2.22259-3.02007.01607.0112Zm5.56169-2.99767c-.50146 0-.98238-.19665-1.33698-.54669-.35458-.35004-.55379-.82482-.55379-1.31985 0-.49503.19921-.9698.55379-1.31984C6.81797.19665 7.29889 0 7.80035 0s.98239.19665 1.33697.5467c.35458.35004.55379.82481.55379 1.31984 0 .49503-.19921.96981-.55379 1.31985s-.83551.54669-1.33697.54669ZM4.99067 16.0345l-3.03846 3.5744-1.44832-1.1992 2.81345-3.3094.70526-2.0345 1.69318 1.3999-.72511 1.5688Z')
                span 7 мин
            +e.IMG.pic(src='/img/comercial-1.png' alt='')
          +e.right
            +e.txt
              p Специально для удобства жителей внутри жилого комплекса на первых этажах многих домов открыты многочисленные магазины и предприятия сферы услуг, так что совершать все необходимые каждый день покупки можно не выезжая за пределы микрорайона.
              p В ЖК уже работают супермаркеты и продуктовые лавки, аптеки, частные медицинские центры, зоомагазины, кафе, пункты выдачи онлайн-покупок и многое другое.
              p В районе 12-го квартала построен ТЦ с крытым паркингом площадью 1 700 кв.м. На первом этаже здания разместилась торговая зона с продовольственным гипермаркетом, на 2-м и 3-м этажах — 200 машино-мест.
            +e.list
              +e.item
                +e.numb 5-8 
                  span тыс.
                +e.sign
                  b человек
                  | проживающих в квартале
              +e.item
                +e.numb 3,82 
                  span м
                +e.sign
                  b высота потолков
                  | и витринное остекление
              +e.item
                +e.numb 13 
                  span %
                +e.sign
                  b годовых
                  | гарантированная доходность
    include ../modules/ready-rooms/ready-rooms
    +callback(8)
    include ../modules/calc/calc
    include ../modules/footer/footer
  include ../static/pug/scripts