include ../static/pug/head
+head('Дома повышенной комфортности')
body
  main.with-top
    +header()
    +heading('/img/banner-2.png', 'Дома повышенной комфортности', 'Смотреть планировки', 'Получить консультацию', '', 'в 11-м квартале ЖК «Новая Кузнечиха»', 'Открыты продажы домов повышенной комфортности в последнем квартале первой очереди застройки: закрытая территория с системой контроля доступа, высокий уровень благоустройства, бесшумные и безопасные лифты от известного производителя, дизайнерская отделка санузлов.')
    +b.information
      +e.inner.inner
        +e.H2.title Последний квартал первой очереди застройки — повышенной комфортности
        +e.list
          +e.item
            +e.IMG.pic(src='/img/information-0.png' alt='')
            +e.P.caption Улучшенная отделка санузлов
            +e.text Огороженная территория и система контроля доступа сделают дворовую территорию не только приватной, но и 
              b абсолютно безопасной
          +e.item
            +e.IMG.pic(src='/img/information-1.png' alt='')
            +e.P.caption Новый уровень благоустройства
            +e.text
              p — Зона отдыха для взрослых с беседкой, перголой, навесом с качелями, скамейками и ландшафтной подсветкой;
              p — многофункциональная зона воркаута от производителя уличной мебели Punto Group;
              p — новый ландшафтный дизайн с крупномерными растениями и светодиодным освещением.
          +e.item
            +e.IMG.pic(src='/img/information-2.png' alt='')
            +e.P.caption Детский развивающий комплекс
            +e.text Игровая и развивающая зона для детей с прорезиненным покрытием, качелями, игровыми панелями, развивающим комплексом и другими элементами от производителя 
              b «Kомпан».
          +e.item
            +e.IMG.pic(src='/img/information-3.png' alt='')
            +e.P.caption Улучшенные холлы и подъезды
            +e.text Холлы и подъезды оформлены по авторскому дизайн-проекту с применением улучшенной отделки. Оборудованы удобной поэтажной навигацией и современными 
              b бесшумными лифтами
              |, отличающимися повышенной надежностью, сниженным уровнем шума и высокими рабочими характеристиками
          +e.item
            +e.IMG.pic(src='/img/information-4.png' alt='')
            +e.P.caption Улучшенная отделка санузлов
            +e.text Применение качественной плитки 
              b Cersanit Chesterwood и Cersanit MANHATTAN 
              | для отделки санузлов
          +e.item
            +e.IMG.pic(src='/img/information-5.png' alt='')
            +e.P.caption В шаговой доступности
            +e.text Площадки для игровых видов спорта, площадка для выгула собак, зоны воркаута и уличные тренажеры, велодорожка, планируемая к благоустройству зона Кузнечихинского ручья, 
              b многоуровневый крытый паркинг 
              | и другая инфраструктура микрорайона в шаговой доступности.
        +e.sign * Представленные материалы и оборудование демонстрируются в целях художественной визуализации, являются примером. Марка или производитель оборудования и материалов могут меняться без ухудшения свойств без какого-либо уведомления. Цветовые решения фасадов и иные проектные решения могут быть изменены
    include ../modules/locate/locate
    +callback(7)
    +b.decorating
      +e.inner.inner
        +e.row
          +e.left
            +e.H2.title Современная и качественная отделка по дизайн-проекту
            +e.IMG.pic(src='/img/decorating-1.png' alt='')
          +e.right
            +e.P.txt Мы уделили особое внимание отделочным материалам. В жилых комнатах в качестве напольного покрытия выбран ламинат, в прихожей и кухонной зоне — керамогранит. Потолки во всех помещениях квартир — натяжные. Стены оклеены антивандальными виниловыми обоями на флизелиновой основе под покраску
            +e.UL.list
              +e.LI.item Все квартиры сдаются с отделкой «под ключ» комфорт-класса с использованием современных, безопасных, экологичных и долговечных материалов
              +e.LI.item Интерьер жилых комнат выполнен в нейтральных тонах, что делает его универсальным. Все инженерные коммуникации, стояки водоснабжения и канализации зашиты в короба
              +e.LI.item Вместо затрат на ремонт можно задуматься о покупке мебели и бытовой техники. Примеры отделки можно увидеть в наших шоу-румах или посетить демонстрационную квартиру
            +e.A.btn.btn_tr-green.js-open-modal(href="#callback") Записаться на просмотр
    +finishing('Отделка в деталях', '_border', '_tr-black', true, true, true)
    include ../modules/plane/plane
    include ../modules/calc/benefit
    +payment('_gray', false)
    +live('Посмотрите, как мы строим', false)
    include ../modules/offer/sale
    +b.seo-text
      +e.inner.inner
        +e.txt SEO текст Запишитесь на офлайн-экскурсию по ЖК: вы сможете посетить понравившийся вам жилой комплекс и получить консультацию по ипотеке SEO текст Запишитесь на офлайн-экскурсию по ЖК: вы сможете посетить понравившийся вам жилой комплекс и получить консультацию по ипотеке SEO текст Запишитесь на офлайн-экскурсию по ЖК: вы сможете посетить понравившийся вам жилой комплекс и получить консультацию по ипотеке
    include ../modules/footer/footer
  include ../static/pug/scripts