include ../static/pug/head
+head('Дистанционная сделка')
body
  main.with-top
    +header()
    +heading('/img/banner-9.png', 'Дистанционная сделка', 'Получить консультацию', '', '', '', 'Новое решение на рынке недвижимости. Особенность такой сделки в том, что покупатель и продавец могут находиться в разных городах.')
    +b.credit-need
      +e.inner.inner
        +e.H2.title C сервисом цифровой ипотеки от «Столицы Нижний» вы сможете
        +e.list
          +e.item
            +e.IMG.pic(src='/icon/need-1.svg' alt='')
            +e.txt
              b Узнать, где одобрят наименьшую ставку по ипотеке
          +e.item
            +e.IMG.pic(src='/icon/need-2.svg' alt='')
            +e.txt
              b Узнать о программах 
              | с нулевым или наименьшим первоначальным взносом
          +e.item
            +e.IMG.pic(src='/icon/need-3.svg' alt='')
            +e.txt
              b Увеличить шансы на одобрение 
              | при плохой кредитной истории или отказах от крупных банков
          +e.item
            +e.IMG.pic(src='/icon/need-4.svg' alt='')
            +e.txt
              b Сэкономить 95 % времени 
              | на коммуникацию с банками и одобрение
    +b.step-online
      +e.inner.inner
        +e.H2.title 7 простых шагов по покупке квартиры в режиме on-line
        +e.list
          +e.item
            +e.IMG.pic(src='/icon/step-online-1.svg' alt='')
            +e.H4.caption Ознакомление
            +e.text Ознакомьтесь с ассортиментом квартир* с помощью выборщика и позвоните в отдел продаж ООО «Столица Нижний РИЭЛТИ» для получения консультации специалиста.
          +e.item
            +e.IMG.pic(src='/icon/step-online-2.svg' alt='')
            +e.H4.caption Резервирование
            +e.text Зарезервируйте понравившуюся квартиру по телефону (для резерва необходимо предоставить скан/фото паспорта и СНИЛС).
            +e.A.more.btn_tr-green(href="#") Скачать для ознакомления
          +e.item
            +e.IMG.pic(src='/icon/step-online-1.svg' alt='')
            +e.H4.caption Подтверждение
            +e.text Получите подтверждение резерва и памятку клиента
          +e.item
            +e.IMG.pic(src='/icon/step-online-1.svg' alt='')
            +e.H4.caption Ознакомление
            +e.text Ознакомьтесь с ассортиментом квартир* с помощью выборщика и позвоните в отдел продаж ООО «Столица Нижний РИЭЛТИ» для получения консультации специалиста.
          +e.item
            +e.IMG.pic(src='/icon/step-online-1.svg' alt='')
            +e.H4.caption Резервирование
            +e.text Зарезервируйте понравившуюся квартиру по телефону (для резерва необходимо предоставить скан/фото паспорта и СНИЛС).
          +e.item
            +e.IMG.pic(src='/icon/step-online-1.svg' alt='')
            +e.H4.caption Подтверждение
            +e.text Получите подтверждение резерва и памятку клиента
          +e.item
            +e.IMG.pic(src='/icon/step-online-1.svg' alt='')
            +e.H4.caption Ознакомление
            +e.text Ознакомьтесь с ассортиментом квартир* с помощью выборщика и позвоните в отдел продаж ООО «Столица Нижний РИЭЛТИ» для получения консультации специалиста.
          +e.box
            +e.P.holder Мы вам поможем
            +e.P.txt Мы и раньше проводили дистанционные сделки с клиентами, как из других городов, так и с нижегородцами, поэтому, мы точно знаем, как сделать покупку квартиры комфортной даже дистанционно! Звоните в наш отдел продаж по телефону +7 (831) 211-86-58 и приступайте к первому шагу на пути к покупке квартиры своей мечты!
            +e.A.btn.btn_white(href='#' download) Скачать для ознакомления
    include ../modules/docs/docs-gray
    include ../modules/faq/faq 
    include ../modules/select-room/offer
    include ../modules/programs/programs
    +callback(10)
    include ../modules/footer/footer
  include ../static/pug/scripts