include ../static/pug/head
+head('Каждый день - новая квартира со скидкой')
body
  main.with-top
    +header()
    +heading('/img/banner-5.png', 'Каждый день - новая квартира со скидкой', 'Смотреть квартиру дня', 'Получить консультацию', '', 'в ЖК «Новая Кузнечиха»', 'Следите за обновлениями и успевайте забронировать квартиру со скидкой, пока этого не сделали другие! После первой брони - квартира снимается и появляется новая уже на следующий день', undefined, '_sale')
    include ../modules/sale/day
    include ../modules/offer/special
    include ../modules/sale/large
    include ../modules/suggestion/suggestion
    +callback(9)
    +b.seo-text
      +e.inner.inner
        +e.txt SEO текст Запишитесь на офлайн-экскурсию по ЖК: вы сможете посетить понравившийся вам жилой комплекс и получить консультацию по ипотеке SEO текст Запишитесь на офлайн-экскурсию по ЖК: вы сможете посетить понравившийся вам жилой комплекс и получить консультацию по ипотеке SEO текст Запишитесь на офлайн-экскурсию по ЖК: вы сможете посетить понравившийся вам жилой комплекс и получить консультацию по ипотеке
    include ../modules/footer/footer
  include ../static/pug/scripts