+b.faq
  +e.inner.inner
    +e.H2.title Примеры и сценарии
    +e.content
      +e.line
        +e.head
          +e.P.caption При нынешних ставках для меня ипотека слишком дорогая, хочу намного дешевле!
          +e.SVG.icon(xmlns='http://www.w3.org/2000/svg' width='31' height='31' fill='none')
            path(fill='#BDC0CA' fill-rule='evenodd' d='M16.6182.75c0-.41421-.3358-.75-.75-.75-.4143 0-.75.33579-.75.75v13.6334H1.48438c-.41422 0-.75.3358-.75.75s.33578.75.75.75H15.1182v13.6341c0 .4142.3357.75.75.75.4142 0 .75-.3358.75-.75V15.8834h13.6337c.4142 0 .75-.3358.75-.75s-.3358-.75-.75-.75H16.6182V.75Z' clip-rule='evenodd')
        +e.body Возможно, вы арендуете жилье и нет возможности дополнительно выплачивать большие платежи по ипотеке. Ставка 4% на период 1 или 2 года — отличное решение. В этот период платеж будет 3000-7000 рублей в месяц, а после постройки дома и въезда в собственную квартиру ежемесячные платежи будут примерно равны текущей сумме аренды.
      +e.line
        +e.head
          +e.P.caption Хочу самый маленький платеж в месяц, хотя бы на некоторое время
          +e.SVG.icon(xmlns='http://www.w3.org/2000/svg' width='31' height='31' fill='none')
            path(fill='#BDC0CA' fill-rule='evenodd' d='M16.6182.75c0-.41421-.3358-.75-.75-.75-.4143 0-.75.33579-.75.75v13.6334H1.48438c-.41422 0-.75.3358-.75.75s.33578.75.75.75H15.1182v13.6341c0 .4142.3357.75.75.75.4142 0 .75-.3358.75-.75V15.8834h13.6337c.4142 0 .75-.3358.75-.75s-.3358-.75-.75-.75H16.6182V.75Z' clip-rule='evenodd')
        +e.body Возможно, вы арендуете жилье и нет возможности дополнительно выплачивать большие платежи по ипотеке. Ставка 4% на период 1 или 2 года — отличное решение. В этот период платеж будет 3000-7000 рублей в месяц, а после постройки дома и въезда в собственную квартиру ежемесячные платежи будут примерно равны текущей сумме аренды.
      +e.control
        +e.A.btn.btn(href="#") Проконсультироваться
        +e.A.btn.btn_tr-green(href="#") Рассчитать выгоду на калькуляторе