mixin live(title="Ход строительства", head)
  +b.live
    +e.inner.inner
      if head == undefined
        +e.P.title Live
      +e.container
        +e.head
          +e.H2.caption=title
          +e.tabs
            +e.BUTTON.tab.active Фотоотчет
            +e.BUTTON.tab Видеоотчет
            +e.BUTTON.tab В режиме реального времени
        +e.body
          +e.box
            +e.list
              +e.A.item(href='#')
                +e.IMG.pic(src='/img/live-1.png' alt='')
                +e.holder 10 и 11 кварталы
              +e.A.item(href='#')
                +e.IMG.pic(src='/img/live-1.png' alt='')
                +e.holder 10 и 11 кварталы
              +e.A.item(href='#')
                +e.IMG.pic(src='/img/live-1.png' alt='')
                +e.holder 10 и 11 кварталы
              +e.A.item(href='#')
                +e.IMG.pic(src='/img/live-1.png' alt='')
                +e.holder 10 и 11 кварталы
          +e.box
            +e.list
              +e.A.item(href='#')
                +e.IMG.pic(src='/img/live-1.png' alt='')
                +e.holder 10 и 11 кварталы
              +e.A.item(href='#')
                +e.IMG.pic(src='/img/live-1.png' alt='')
                +e.holder 10 и 11 кварталы
              +e.A.item(href='#')
                +e.IMG.pic(src='/img/live-1.png' alt='')
                +e.holder 10 и 11 кварталы
              +e.A.item(href='#')
                +e.IMG.pic(src='/img/live-1.png' alt='')
                +e.holder 10 и 11 кварталы
          +e.box
            +e.list
              +e.A.item(href='#')
                +e.IMG.pic(src='/img/live-1.png' alt='')
                +e.holder 10 и 11 кварталы
              +e.A.item(href='#')
                +e.IMG.pic(src='/img/live-1.png' alt='')
                +e.holder 10 и 11 кварталы
              +e.A.item(href='#')
                +e.IMG.pic(src='/img/live-1.png' alt='')
                +e.holder 10 и 11 кварталы
              +e.A.item(href='#')
                +e.IMG.pic(src='/img/live-1.png' alt='')
                +e.holder 10 и 11 кварталы
        +e.A.more.btn_transparent(href="#") Смотреть все