.live
  margin: 10rem 5px 8rem
  +screen('max', 1500)
    margin: 7rem 5px
  +screen('max', 1023)
    margin: 5.5rem 5px
  +screen('max', 700)
    margin: 4rem 5px
  &__title
    +fs(80px)
    text-align: center
    margin-bottom: 6rem
    letter-spacing: -0.02em
    text-transform: uppercase
    +screen('max', 1500)
      +fs(60px)
      margin-bottom: 2.5rem
    +screen('max', 700)
      +fs(40px)
    &:before
      content: ''
      width: 17px
      height: 17px
      border-radius: 100%
      background: #c41e1e
      display: inline-block
      margin-right: 2rem
      vertical-align: middle
      margin-bottom: 1rem
  &__container
    margin: 0 -3rem
    padding-inline: 3rem
    box-sizing: border-box
    border-radius: 2px
    +screen('max', 1850)
      margin: 0 -3rem
    +screen('max', 1500)
      margin: 0 calc((-100vw + 1160px) / 2 )
      padding-inline: calc((100vw - 1160px) / 2 )
    +screen('max', 1280)
      margin: 0 -2rem
      padding-inline: 2rem
    +screen('max', 1023)
      padding-inline: 2rem
    &_gray
      background: var(--black-grey-light)
      padding-block: 6rem
      +screen('max', 1280)
        padding-block: 4rem
      +screen('max', 1023)
        padding-block: 3.5rem
  &__head
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 4rem
    +screen('max', 1023)
      margin-bottom: 3rem
    +screen('max', 700)
      display: block
      margin-bottom: 2rem
  &__tabs
    box-shadow: 0 6px 32px 0 rgba(0, 0, 0, 0.04)
    background: var(--white-100)
    border-radius: 2px
    box-sizing: border-box
    padding: 0.3rem
    border: 1px solid var(--brand-secondary)
    +screen('max', 700)
      justify-content: space-between
      display: flex
      margin-top: 2.5rem
  &__caption
    +screen('max', 1023)
      +fs(22px)
      max-width: 40%
    +screen('max', 700)
      max-width: 100%
  &__tab
    +fs(18px)
    font-weight: 300
    padding: 2rem 3.5rem
    border-radius: 2px
    transition: .5s ease
    +screen('max', 1500)
      +fs(12px)
      padding: 1.2rem 1.5rem
    +screen('max', 1023)
      padding: 1.2rem
    +screen('max', 700)
      +fs(10px)
      padding: 1.2rem 2.5vw
    &.active
      background: var(--brand-secondary)
      color: var(--white-100)
  &__box
    display: none
    &:first-of-type
      display: block
  &__list
    display: flex
    gap: 1.5rem
    scrollbar-width: 0
    +screen('max', 1023)
      flex-wrap: nowrap
      overflow: auto
      gap: 1rem
    +screen('max', 700)
      margin: 0 -2rem
      padding-inline: 2rem
    &::-webkit-scrollbar
      height: 0
  &__item
    position: relative
    display: block
    +screen('max', 1023)
      width: 350px
      flex-shrink: 0
    +screen('max', 700)
      width: 80vw
    &:last-of-type
      +screen('max', 1500)
        display: none
    &:before
      content: ''
      width: 100%
      height: 100%
      left: 0
      top: 0
      border-radius: 2px
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 6.96%, rgba(0, 0, 0, 0) 70.15%)
      position: absolute
    &:after
      content: ''
      width: 60px
      height: 60px
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' fill='none' viewBox='0 0 60 60'%3E%3Ccircle cx='30' cy='30' r='30' fill='%2300a6e6'/%3E%3Cpath fill='%23fff' d='M38.407 28.929a2 2 0 0 1 0 3.366l-10.826 6.946c-1.332.854-3.08-.102-3.08-1.684v-13.89c0-1.582 1.748-2.538 3.08-1.684z'/%3E%3C/svg%3E")
      background-repeat: no-repeat
      background-position: center
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      z-index: 2
  &__pic
    border-radius: 2px
    vertical-align: middle
    max-width: 100%
  &__holder
    display: block
    position: absolute
    bottom: 0
    left: 0
    padding: 2rem
    box-sizing: border-box
    +fs(20px)
    font-weight: 400
    color: var(--white-100)
    text-transform: uppercase
    z-index: 2
    +screen('max', 1500)
      +fs(14px)
  &__more
    width: 100%
    margin-top: 1.6rem

.live-heading
  margin-bottom: 7.5rem
  &__inner
    display: flex
    justify-content: space-between
    align-items: center
  &__title
    +fs(90px)
    letter-spacing: -0.02em
    text-transform: uppercase
    +screen('max', 700)
      +fs(60px)
    &:before
      content: ''
      width: 25px
      height: 25px
      border-radius: 100%
      background: #c41e1e
      display: inline-block
      margin-right: 2rem
      vertical-align: middle
      margin-bottom: 1rem
  &__social
    display: flex
    gap: 1.5rem
