+b.broker
  +e.inner.inner
    +e.content
      +e.H2.title Ипотечный брокер
      +e.text Ипотечный брокер подберет индивидуальную ипотечную программу с учетом конкретной жизненной ситуации клиента, объекта, который он хочет приобрести, его дохода, семейного положения и других нюансов. Сервис покажет, где одобрят наименьшую ставку по ипотеке, а также какие банки предлагают программы с нулевым или наименьшим первоначальным взносом. «Цифровая ипотека» также поможет увеличить шансы на одобрение ипотечного кредита при плохой кредитной истории или отказах от крупных банков.
      +e.control
        +e.A.btn.btn(href="#") Подробнее
        +e.A.btn.btn_tr-green(href="#") Получить консультацию
    +e.IMG.pic(src='/img/broker-1.png' alt='')