mixin sections(head)
  +b.sections
    +e.inner.inner
      if head == true
        +e.head
          +e.left
            +e.H2.holder Удобное расположение
            +e.H4.subcaption ЖК «Новая Кузнечиха»
          +e.right
            +e.txt
              p ЖК «Новая Кузнечиха» строится между двумя крупными транспортными артериями – улицей Академика Сахарова и Казанским шоссе. Путь на машине до центра города занимает около 15 минут. 
              p В шаговой доступности несколько остановок общественного транспорта - ост. Генерала Штеменко, ост. Маршала Рокоссовского, ост. Кузнечиха-2, с которых можно добраться до любой точки города. На стадии проектирования дорог общегородского значения решен вопрос проекта переноса конечной остановки с ул. Рокосовского в ЖК «Новая Кузнечиха» в срок до 2022 года.
      else
        +e.H2.title Местоположение секции
    +e.box
      +e.legend
        +e.line.active
          +e.icon
            svg(xmlns='http://www.w3.org/2000/svg' width='18' height='12' fill='none')
              path.stroke(stroke='#BDC0CA' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M1 6.21739 6.17647 11 17 1')
          +e.P.caption Все
          +e.SPAN.count 28
        +e.line
          +e.icon
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='19' fill='none')
              path.fill(fill='#BDC0CA' d='M19.5 11.1479v3.2625c0 1.185-.6975 2.2425-1.7775 2.7375-1.3125.6-3.3 1.2525-5.7225 1.2525-2.4225 0-4.41-.6525-5.73-1.2525-1.0725-.495-1.77-1.5525-1.77-2.7375v-3.2625l5.3325 2.4375c.6825.315 1.4175.4725 2.1675.4725s1.485-.1575 2.1675-.4725L19.5 11.1479Zm3-1.37251v4.87501c0 .4125-.3375.75-.75.75s-.75-.3375-.75-.75v-4.185l1.5-.69001Z')
              path.fill(fill='#BDC0CA' d='M10.4535 12.2229A3.72232 3.72232 0 0 0 12 12.5593c.5337 0 1.0611-.1147 1.5465-.3364l9.5783-4.37854c.54-.24675.8752-.7695.8752-1.36425s-.3352-1.11825-.8752-1.365L13.5465.73736a3.71537 3.71537 0 0 0-3.0922 0l-9.57905 4.377C.33525 5.36186 0 5.88461 0 6.47936s.33525 1.1175.87525 1.365l9.57825 4.37854Z')
          +e.P.caption Школы
          +e.SPAN.count 3
        +e.line
          +e.icon
            svg(xmlns='http://www.w3.org/2000/svg' width='22' height='19' fill='none')
              path.fill(fill='#BDC0CA' d='M12.9134 3.40616c0 1.5436 1.2629 2.80654 2.8065 2.80654 1.5436 0 2.8066-1.26294 2.8066-2.80654S17.2635.59961 15.7199.59961s-2.8065 1.23488-2.8065 2.80655Zm5.136 3.8169h-3.2276c-1.0665 0-1.9365.87003-1.9365 1.93652v8.36352c0 .5052.421.9262.9262.9262.5052 0 .9261-.421.9261-.9262v-1.8804c0-.5052.421-.9262.9262-.9262.5052 0 .9262.421.9262.9262v1.8804c0 .5052.4209.9262.9261.9262.5052 0 .9262-.421.9262-.9262v-7.1567c0-.1684.2245-.2526.3368-.1403l1.4313 1.4313c.3649.3649.9542.3649 1.3191 0 .3648-.3648.3648-.9542 0-1.3191l-2.6662-2.77845c-.2246-.19646-.5052-.33679-.8139-.33679ZM.48038 11.6293c.36485.3649.95422.3649 1.31907 0l.58938-.5893c.11226-.1123.30872 0 .28065.1403l-.92616 4.1537c-.02806.1684.0842.3087.25259.3087h1.12262c.25259 0 .44905.1965.44905.4491v1.4313c0 .5052.42098.9262.92616.9262s.92616-.421.92616-.9262v-.9262c0-.5051.42098-.9261.92616-.9261s.92616.421.92616.9261v.9262c0 .5052.42099.9262.92616.9262.50518 0 .92617-.421.92617-.9262v-1.4313c0-.2526.19645-.4491.44904-.4491h1.12261c.1684 0 .2807-.1403.2526-.3087L9.43326 8.54214c-.16839-.78583-.87002-1.31908-1.65586-1.31908H5.08312c-1.01036 0-1.96459.39292-2.66623 1.09456L.45231 10.2822c-.33678.3929-.33678.9823.02807 1.3471ZM3.5395 3.40616c0 1.5436 1.26295 2.80654 2.80655 2.80654s2.80655-1.26294 2.80655-2.80654S7.88966.59961 6.34606.59961 3.53951 1.83449 3.53951 3.40616Z')
          +e.P.caption Детские сады
          +e.SPAN.count 3
        +e.line
          +e.icon
            svg(xmlns='http://www.w3.org/2000/svg' width='21' height='19' fill='none')
              path.fill(fill='#BDC0CA' d='M2.55124.39844c-.96252 0-1.76608.68705-1.76608 1.51V17.7634c0 .2003.09303.3923.25863.5339.16561.1416.39021.2211.62441.2211h10.5965c.2342 0 .4588-.0795.6244-.2211.1656-.1416.2586-.3336.2586-.5339v-3.3975c0-.1001.0465-.1961.1293-.2669.0828-.0708.1952-.1106.3123-.1106h.4415c.498 0 .883.3292.883.755v.755c0 1.242 1.1965 2.265 2.6491 2.265s2.6492-1.023 2.6492-2.265V5.68344c0-.71197-.393-1.38467-1.0597-1.812l-2.8257-1.812c-.1875-.11975-.4229-.1711-.6546-.1428-.2317.0283-.4409.13394-.5817.2938-.1398.1604-.1997.36159-.1666.55964.0331.19804.1565.37685.3432.49736l1.0597.6795c.1096.07032.1987.16151.26.26635.0613.10484.0932.22044.0932.33765v1.8875c0 .69611.5713 1.29407 1.3299 1.46319.2348.05209.4362.21593.4362.42431v7.17246c0 .4259-.385.755-.8831.755-.498 0-.883-.3291-.883-.755v-.755c0-1.2419-1.1965-2.265-2.6491-2.265h-.4415c-.1171 0-.2295-.0397-.3123-.1105-.0828-.0708-.1293-.1668-.1293-.267V1.90844c0-.82295-.8035-1.51-1.7661-1.51H2.55124Zm.44152 1.51h7.94734c.2446 0 .4415.16836.4415.3775v5.285c0 .20913-.1969.3775-.4415.3775H2.99276c-.05802.0001-.11548-.0096-.1691-.02854-.05362-.01893-.10234-.04673-.14336-.08181-.04103-.03507-.07354-.07673-.09569-.12257-.02215-.04585-.03349-.09498-.03337-.14458v-5.285c0-.20914.19692-.3775.44152-.3775Z' )
          +e.P.caption Заправки
          +e.SPAN.count 2
        +e.line
          +e.icon
            svg(xmlns='http://www.w3.org/2000/svg' width='23' height='22' fill='none')
              path.fill(fill='#BDC0CA' d='M17.1803 16.4449c-1.4327 0-2.614 1.1561-2.614 2.6139 0 1.4326 1.1562 2.6139 2.614 2.6139 1.4326 0 2.6139-1.1561 2.6139-2.6139-.0251-1.4327-1.1813-2.6139-2.6139-2.6139Zm4.5995-12.46649c-.0503 0-.1257-.02514-.2011-.02514H5.74432L5.49298 2.2693C5.34217 1.16341 4.38708.33398 3.25605.33398H1.2202C.66726.33398.21484.7864.21484 1.33934c0 .55295.45242 1.00536 1.00536 1.00536h2.03585c.12567 0 .22621.10054.25134.22621L5.0657 13.1774c.20107 1.3321 1.35723 2.3375 2.71447 2.3375H18.2359c1.307 0 2.438-.93 2.7145-2.2118l1.6337-8.16853c.1005-.52781-.2514-1.05563-.8043-1.15616ZM10.7711 18.9331c-.0503-1.3824-1.20642-2.4882-2.58879-2.4882-1.45777.0754-2.56366 1.2818-2.5134 2.7144.05027 1.3824 1.1813 2.4883 2.56367 2.4883h.05027c1.43263-.0754 2.56365-1.2819 2.48825-2.7145Z')
          +e.P.caption Магазины
          +e.SPAN.count 1
        +e.line
          +e.icon
            svg(xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none')
              path.fill(fill='#BDC0CA' d='M14.6128.95764c0-.34443-.2792-.62366-.6236-.62366H3.32678c-.34442 0-.62366.27923-.62366.62366v8.90375L14.6129 4.8835 14.6128.95764ZM21.041 20.3747h-.6481V4.98633c0-.27614-.2238-.5-.5-.5h-3.5425c-.2761 0-.5.22386-.5.5V20.3747h-1.2392V6.42341L2.05951 11.4518a.6229.6229 0 0 0-.28808.2292.6235.6235 0 0 0-.10865.3517v8.342H.95959c-.34442 0-.62365.2793-.62365.6237 0 .3444.27923.6236.62365.6236H21.041c.3444 0 .6236-.2792.6236-.6236 0-.3444-.2792-.6237-.6236-.6237Zm-8.9499 0h-1.2473v-4.1093H5.39348v4.1093h-1.2473v-4.733c0-.3444.27923-.6237.62365-.6237h6.69757c.3444 0 .6237.2793.6237.6237v4.733Z')
          +e.P.caption Торговые центры
          +e.SPAN.count 6
        +e.line
          +e.icon
            svg(xmlns='http://www.w3.org/2000/svg' width='16' height='24' fill='none')
              path.fill(fill='#BDC0CA' d='m15.3885 21.6116-1.1007-8.2557h.0306c.3233 0 .5853-.262.5853-.5852V.87004a.5848.5848 0 0 0-.2832-.5013.58459.58459 0 0 0-.5751-.0165c-2.2823 1.20422-3.7109 3.57197-3.7109 6.15315v5.01791c0 1.012.8206 1.8326 1.8327 1.8326h.1388l-1.1007 8.2557c-.0396.298-.0151.6009.0718.8887.0868.2877.2341.5537.4319.78.1981.2261.4423.4074.7162.5316.2738.1242.571.1885.8717.1886.3007-.0001.5979-.0645.8717-.1887.2739-.1242.518-.3054.7162-.5315.1978-.2263.3451-.4922.4319-.78a2.1116 2.1116 0 0 0 .0718-.8887ZM6.21727 0c-.44403 0-.80336.35933-.80336.80332v4.48751h-.80337V.80332C4.61054.35933 4.2512 0 3.80717 0c-.44403 0-.80332.35933-.80332.80332v4.48751h-.80336V.80332C2.20044.35933 1.8411 0 1.39712 0 .95304 0 .59375.35933.59375.80332V8.054c0 1.19171.96572 2.15739 2.15743 2.15739h.17807L1.66308 21.6053a2.16054 2.16054 0 0 0 .08974.8955c.09245.2889.2447.555.44683.7812a2.1577 2.1577 0 0 0 2.48798.5307c.277-.1239.52478-.3047.72716-.5307a2.16043 2.16043 0 0 0 .44686-.7812 2.16003 2.16003 0 0 0 .08971-.8955L4.68514 10.2115h.17812c1.19166 0 2.15743-.96573 2.15743-2.15744V.80332C7.02064.35933 6.66131 0 6.21727 0Z')
          +e.P.caption Кафе / Рестораны
          +e.SPAN.count 3
        +e.line
          +e.icon
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='22' fill='none')
              path.fill(fill='#BDC0CA' d='m23.3919 12.6636-5.9295-4.44752v-4.7609L13.4301.76681a2.57684 2.57684 0 0 0-2.8589 0L6.53894 3.45518v4.7609L.60937 12.6636l.93568 1.2481 1.8729-1.4045v9.4152h4.68148v-5.5137c0-2.1511 1.7502-3.9013 3.90127-3.9013 2.151 0 3.9012 1.7502 3.9012 3.9013v5.5137h4.6815v-9.4152l1.8729 1.4046.9356-1.2482Z')
              path.fill(fill='#BDC0CA' d='M14.3416 16.4071c0-1.2907-1.05-2.3407-2.3407-2.3407s-2.34074 1.05-2.34074 2.3407v5.5138h4.68144v-5.5138Z')
          +e.P.caption Храмы / Церкви
          +e.SPAN.count 5
        +e.line
          +e.icon
            svg(xmlns='http://www.w3.org/2000/svg' width='18' height='24' fill='none')
              path.fill(fill='#BDC0CA' d='M14.2449 13.9762h2.3269l-3.5977-5.14863h2.1932L8.99889 0 2.83047 8.82757h2.19314L1.42594 13.9762H3.7529L.28906 18.9334h6.20109v5.0661h4.48265v-5.0661h6.736l-3.4639-4.9572Z')
          +e.P.caption Парки и скверы
          +e.SPAN.count 2
        +e.line
          +e.icon
            svg(xmlns='http://www.w3.org/2000/svg' width='22' height='23' fill='none')
              path.fill(fill='#BDC0CA' d='M5.07233.33398c-1.6251 0-2.96371 1.33861-2.96371 2.96371v1.48186a.49392.49392 0 0 1-.14468.34927.49392.49392 0 0 1-.34927.14468h-.49395a.9879.9879 0 0 0-.9879.9879v3.9516c0 .262.10408.5133.28934.6986a.98814.98814 0 0 0 .69856.2893h.49395a.4941.4941 0 0 1 .34927.1447.49393.49393 0 0 1 .14468.3493v8.3971c0 1.0768.89899 1.9758 1.9758 1.9758 1.07682 0 1.97581-.899 1.97581-1.9758v-.4939c0-.0649.01277-.1291.0376-.189a.4938.4938 0 0 1 .26732-.2674.4944.4944 0 0 1 .18903-.0376h8.89112a.49402.49402 0 0 1 .3493.1447.49613.49613 0 0 1 .1071.1603.49402.49402 0 0 1 .0376.189v.4939c0 1.0768.8989 1.9758 1.9758 1.9758 1.0768 0 1.9758-.899 1.9758-1.9758v-8.3971c0-.131.052-.2567.1446-.3493a.4943.4943 0 0 1 .3493-.1447h.494a.98791.98791 0 0 0 .9879-.9879V6.2614a.9878.9878 0 0 0-.2894-.69855.98767.98767 0 0 0-.6985-.28935h-.494a.4941.4941 0 0 1-.3493-.14468.494.494 0 0 1-.1446-.34927V3.29769c0-1.6251-1.3386-2.9637-2.9637-2.9637H5.07233ZM4.57837 5.2735h4.93952c.27365 0 .49391.2203.49391.49395V10.707c0 .2736-.22026.4939-.49391.4939H4.57837a.49308.49308 0 0 1-.18918-.0373.49338.49338 0 0 1-.26743-.2675.4922.4922 0 0 1-.03734-.1891V5.76745c0-.27365.22031-.49395.49395-.49395Zm7.90323 0h4.9395c.2737 0 .494.2203.494.49395V10.707c0 .2736-.2203.4939-.494.4939h-4.9395a.49322.49322 0 0 1-.1892-.0373.49336.49336 0 0 1-.1604-.1071.49308.49308 0 0 1-.107-.1604.49245.49245 0 0 1-.0374-.1891V5.76745c0-.27365.2203-.49395.494-.49395Zm-7.90323 7.9032h2.96371c.27365 0 .49395.2203.49395.494v.9879c0 .2736-.2203.4939-.49395.4939H4.57837a.49122.49122 0 0 1-.18918-.0373.49338.49338 0 0 1-.26743-.2674.49307.49307 0 0 1-.03734-.1892v-.9879c0-.2737.22031-.494.49395-.494Zm9.87903 0h2.9637c.2737 0 .494.2203.494.494v.9879c0 .2736-.2203.4939-.494.4939h-2.9637a.49136.49136 0 0 1-.1892-.0373.49336.49336 0 0 1-.1604-.1071.49332.49332 0 0 1-.1444-.3495v-.9879c0-.2737.2204-.494.494-.494Z')
          +e.P.caption Остановки
          +e.SPAN.count 6
      +e.IMG.pic(src='/img/sections.png' alt='')