.heading
  padding: 0.5rem
  box-sizing: border-box
  position: relative
  &__inner
    max-width: calc(100% - 8rem)
    +screen('max', 1280)
      max-width: 100%
  &__container
    position: relative
    &:before
      content: ''
      width: 100%
      height: 100%
      border-radius: 40px
      position: absolute
      top: 0
      left: 0
      background: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 36.18%, rgba(0, 0, 0, 0.8) 100%), rgba(0, 0, 0, 0.2)
      opacity: 0.6
      z-index: 1
      +screen('max', 1023)
        border-radius: 20px
  &__pic
    width: 100%
    border-radius: 40px
    vertical-align: middle
    object-fit: cover
    +screen('max', 1280)
      height: 700px
      border-radius: 20px
    +screen('max', 1023)
      height: clamp(715px, 80vh, 915px)
  &__content
    position: absolute
    bottom: 6rem
    width: 100%
    z-index: 2
    left: 0
    +screen('max', 1023)
      bottom: 2.5rem
    &_sale
      bottom: 12rem
  &__title
    +fs(90px)
    color: var(--white)
    font-family: var(--second-family)
    line-height: 1
    max-width: 1450px
    +screen('max', 1500)
      +fs(66px)
    +screen('max', 1280)
      +fs(55px)
    +screen('max', 700)
      +fs(32px)
  &__sign
    margin-bottom: 4rem
    color: var(--white)
  &__subtitle
    color: var(--white)
    margin-top: 2.5rem
    max-width: 940px
    +screen('max', 1500)
      margin-top: 2rem
    +screen('max', 700)
      +fs(18px)
      margin-top: 1rem
  &__txt
    margin-top: 4rem
    max-width: 940px
    +fs(20px)
    font-weight: 600
    line-height: 1.3
    color: var(--white)
    +screen('max', 1500)
      +fs(14px)
      margin-top: 2rem
    +screen('max', 700)
      margin-top: 1rem
  &__control
    display: flex
    gap: 2rem
    margin-top: 5rem
    +screen('max', 1500)
      margin-top: 3rem
    +screen('max', 700)
      flex-wrap: wrap
      gap: 1.5rem
  &__btn
    +screen('max', 1023)
      flex-grow: 1
  .breadcrumb
    position: absolute
    top: 14rem
    left: calc((100% - 1800px) / 2)
    z-index: 2
    +screen('max', 1800)
      left: 4rem
      top: 10rem
    +screen('max', 1280)
      left: 0
    &__active, &__link
      color: var(--white)
      opacity: 0.8
  .timer
    position: absolute
    bottom: 3.5rem
    right: 3.5rem
    z-index: 2
    +screen('max', 1023)
      position: relative
      bottom: 0
      left: 0
      margin-top: 1rem

.heading-with-text
  margin-bottom: 6rem
  +screen('max', 1500)
    margin-bottom: 4rem
  +screen('max', 1023)
    margin-bottom: 3rem
  +screen('max', 700)
    margin-top: 3rem
  &__inner
    display: flex
    align-items: flex-start
    justify-content: space-between
    gap: 2rem
    +screen('max', 1023)
      display: block
    &_border
      padding-bottom: 10rem
      border-bottom: 1px solid #d7dbe0
      +screen('max', 1500)
        padding-bottom: 8rem
      +screen('max', 1023)
        padding-bottom: 6rem
      +screen('max', 700)
        padding-bottom: 4rem
  &__title
    line-height: 1
  &__txt
    line-height: 150%
    +fs(20px)
    color: var(--color-gray)
    max-width: 1195px
    +screen('max', 1500)
      +fs(16px)
      max-width: 750px
    +screen('max', 1023)
      margin-top: 1.5rem
    p
      margin-bottom: 1rem
      &:last-of-type
        margin-bottom: 0
    h4
      margin-bottom: 2rem
  &__sign
    +fs(24px)
    font-weight: 600
    margin-top: 1.5rem
    +screen('max', 1500)
      +fs(18px)
      margin-top: 1rem
    +screen('max', 1023)
      margin-bottom: 3.5rem
    +screen('max', 700)
      +fs(16px)
      margin-bottom: 2.5rem
  &__content
    max-width: 1450px
    +screen('max', 1500)
      max-width: 950px
  &__control
    display: flex
    gap: 2rem
    margin-top: 5rem
    +screen('max', 1500)
      margin-top: 3rem
    +screen('max', 700)
      flex-wrap: wrap
      gap: 1.5rem
  &__btn
    +screen('max', 1023)
      width: 50%
    +screen('max', 700)
      width: 100%
  &__text
    line-height: 150%
    +fs(20px)
    color: var(--color-gray)
    margin-top: 2.5rem
    +screen('max', 1500)
      +fs(16px)
      margin-top: 2rem
    +screen('max', 1023)
      margin-top: 1.5rem
    +screen('max', 700)
      margin-top: 2rem
    p
      margin-bottom: 1rem
      &:last-of-type
        margin-bottom: 0
  &__pic
    margin-top: 4rem
  &__more
    margin-top: 4rem
    +screen('max', 1023)
      width: 100%