+b.suggestion
  +e.inner.inner
    +e.H2.title Другие предложения
    +e.list
      +e.item
        +e.IMG.pic(src='/img/suggestion-1.png' alt='')
        +e.content
          +e.P.caption Старты продаж новых домов
          +e.text
            p На старте продаж цены обычно ниже, чем на более поздней стадии строительства.
            p Кроме того, ассортимент квартир шире, и есть возможность купить планировку, которой уже нет в других домах.
          +e.A.call.btn_tr-green(href="#") Записаться в лист ожидания
      +e.item
        +e.IMG.pic(src='/img/suggestion-2.png' alt='')
        +e.content
          +e.P.caption Шоу-румы и демоквартира
          +e.text
            p Оцените реальную отделку квартир, посетив один из шоу-румов или демонстрационную квартиру в самом жилом комплексе.
            p Там же вы сможете задать менеджеру любые вопросы и получить исчерпывающие ответы.
          +e.A.call.btn_tr-green(href="#") Записаться в лист ожидания
      +e.item
        +e.IMG.pic(src='/img/suggestion-3.png' alt='')
        +e.content
          +e.P.caption Экскурсия по ЖК
          +e.text
            p Оцените вживую жилой комплекс, его благоустройство, инфраструктуру и отделку квартир.
            p Там же вы сможете задать менеджеру любые вопросы и получить исчерпывающие ответы
          +e.A.call.btn_tr-green(href="#") Записаться в лист ожидания
      +e.item
        +e.IMG.pic(src='/img/suggestion-4.png' alt='')
        +e.content
          +e.P.caption Розыгрыш IPhone 13!
          +e.text Станьте обладателем новенького Iphone 13! Три минуты вашего времени — и вы участник розыгрыша крутого подарка!Условия очень просты: нужно пройти небольшой опрос и ждать розыгрыша.
          +e.A.call.btn_tr-green(href="#") Записаться в лист ожидания
      +e.item
        +e.IMG.pic(src='/img/suggestion-5.png' alt='')
        +e.content
          +e.P.caption Старты продаж новых домов
          +e.text
            p На старте продаж цены обычно ниже, чем на более поздней стадии строительства.
            p Кроме того, ассортимент квартир шире, и есть возможность купить планировку, которой уже нет в других домах.
          +e.A.call.btn_tr-green(href="#") Записаться в лист ожидания
      +e.item
        +e.IMG.pic(src='/img/suggestion-6.png' alt='')
        +e.content
          +e.P.caption Шоу-румы и демоквартира
          +e.text
            p Оцените реальную отделку квартир, посетив один из шоу-румов или демонстрационную квартиру в самом жилом комплексе.
            p Там же вы сможете задать менеджеру любые вопросы и получить исчерпывающие ответы.
          +e.A.call.btn_tr-green(href="#") Записаться в лист ожидания
      +e.item
        +e.IMG.pic(src='/img/suggestion-7.png' alt='')
        +e.content
          +e.P.caption Экскурсия по ЖК
          +e.text
            p Оцените вживую жилой комплекс, его благоустройство, инфраструктуру и отделку квартир.
            p Там же вы сможете задать менеджеру любые вопросы и получить исчерпывающие ответы
          +e.A.call.btn_tr-green(href="#") Записаться в лист ожидания
      +e.item
        +e.IMG.pic(src='/img/suggestion-8.png' alt='')
        +e.content
          +e.P.caption Розыгрыш IPhone 13!
          +e.text Станьте обладателем новенького Iphone 13! Три минуты вашего времени — и вы участник розыгрыша крутого подарка!Условия очень просты: нужно пройти небольшой опрос и ждать розыгрыша.
          +e.A.call.btn_tr-green(href="#") Записаться в лист ожидания