+b.awards
  +e.inner.inner
    +e.head
      +e.H2.title Награды и премии
      +e.control
        +e.tabs
          +e.BUTTON.tab.btn_transparent._tr-black.active 2022
          +e.BUTTON.tab.btn_transparent._tr-black 2021
          +e.BUTTON.tab.btn_transparent._tr-black 2020
          +e.BUTTON.tab.btn_transparent._tr-black 2019
        .slider-arrows
          +b.slider-arrow_prev._gray
            svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
              path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6.48438.79102 1.27604 5.99935l5.20834 5.20835')
          +b.slider-arrow_next._gray
            svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
              path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m1.51562.79102 5.20834 5.20833-5.20834 5.20835')
    +e.wrapper
      +e.box
        .swiper
          .swiper-wrapper
            .swiper-slide
              +e.slide
                +e.FIGURE.picture
                  +e.IMG.pic(src='/icon/awards-bg.svg' alt='')
                  +e.FIGCAPTION.sign Диплом
                +e.info
                  +e.P.subtitle Градостроительный конкурсе жилых комплексов-новостроек «ТОП ЖК-2021»
                  +e.P.caption.display-4 Лучший жилой комплекс-новостройка в Нижегородской области, доступное жилье
                  +e.A.more(href='#')
                    span Смотреть
                    svg(xmlns='http://www.w3.org/2000/svg' width='35' height='35' fill='none' viewBox="0 0 35 35")
                      circle(cx='17.5' cy='17.5' r='17' stroke='#51A747')
                      path(stroke='#51A747' stroke-linecap='round' stroke-linejoin='round' d='m16 13 4 4-4 4')
            .swiper-slide
              +e.slide
                +e.FIGURE.picture
                  +e.IMG.pic(src='/icon/awards-bg.svg' alt='')
                  +e.FIGCAPTION.sign Номинация
                +e.info
                  +e.P.subtitle URBAN AWARDS
                  +e.P.caption.display-4 Лучший строящийся региональный жилой комплекс комфорт-класса
                  +e.A.more(href='#')
                    span Смотреть
                    svg(xmlns='http://www.w3.org/2000/svg' width='35' height='35' fill='none' viewBox="0 0 35 35")
                      circle(cx='17.5' cy='17.5' r='17' stroke='#51A747')
                      path(stroke='#51A747' stroke-linecap='round' stroke-linejoin='round' d='m16 13 4 4-4 4')
            .swiper-slide
              +e.slide
                +e.FIGURE.picture
                  +e.IMG.pic(src='/icon/awards-bg.svg' alt='')
                  +e.FIGCAPTION.sign Сертификат
                +e.info
                  +e.P.subtitle Градостроительный конкурсе жилых комплексов-новостроек «ТОП ЖК-2021»
                  +e.P.caption.display-4 Лучший жилой комплекс-новостройка в Нижегородской области, доступное жилье
                  +e.A.more(href='#')
                    span Смотреть
                    svg(xmlns='http://www.w3.org/2000/svg' width='35' height='35' fill='none' viewBox="0 0 35 35")
                      circle(cx='17.5' cy='17.5' r='17' stroke='#51A747')
                      path(stroke='#51A747' stroke-linecap='round' stroke-linejoin='round' d='m16 13 4 4-4 4')
            .swiper-slide
              +e.slide
                +e.FIGURE.picture
                  +e.IMG.pic(src='/icon/awards-bg.svg' alt='')
                  +e.FIGCAPTION.sign Диплом
                +e.info
                  +e.P.subtitle Градостроительный конкурсе жилых комплексов-новостроек «ТОП ЖК-2021»
                  +e.P.caption.display-4 Лучший жилой комплекс-новостройка в Нижегородской области, доступное жилье
                  +e.A.more(href='#')
                    span Смотреть
                    svg(xmlns='http://www.w3.org/2000/svg' width='35' height='35' fill='none' viewBox="0 0 35 35")
                      circle(cx='17.5' cy='17.5' r='17' stroke='#51A747')
                      path(stroke='#51A747' stroke-linecap='round' stroke-linejoin='round' d='m16 13 4 4-4 4')
      +e.box
        .swiper
          .swiper-wrapper
            .swiper-slide
              +e.slide
                +e.FIGURE.picture
                  +e.IMG.pic(src='/icon/awards-bg.svg' alt='')
                  +e.FIGCAPTION.sign Диплом
                +e.info
                  +e.P.subtitle Градостроительный конкурсе жилых комплексов-новостроек «ТОП ЖК-2021»
                  +e.P.caption.display-4 Лучший жилой комплекс-новостройка в Нижегородской области, доступное жилье
                  +e.A.more(href='#')
                    span Смотреть
                    svg(xmlns='http://www.w3.org/2000/svg' width='35' height='35' fill='none' viewBox="0 0 35 35")
                      circle(cx='17.5' cy='17.5' r='17' stroke='#51A747')
                      path(stroke='#51A747' stroke-linecap='round' stroke-linejoin='round' d='m16 13 4 4-4 4')
            .swiper-slide
              +e.slide
                +e.FIGURE.picture
                  +e.IMG.pic(src='/icon/awards-bg.svg' alt='')
                  +e.FIGCAPTION.sign Номинация
                +e.info
                  +e.P.subtitle URBAN AWARDS
                  +e.P.caption.display-4 Лучший строящийся региональный жилой комплекс комфорт-класса
                  +e.A.more(href='#')
                    span Смотреть
                    svg(xmlns='http://www.w3.org/2000/svg' width='35' height='35' fill='none' viewBox="0 0 35 35")
                      circle(cx='17.5' cy='17.5' r='17' stroke='#51A747')
                      path(stroke='#51A747' stroke-linecap='round' stroke-linejoin='round' d='m16 13 4 4-4 4')
            .swiper-slide
              +e.slide
                +e.FIGURE.picture
                  +e.IMG.pic(src='/icon/awards-bg.svg' alt='')
                  +e.FIGCAPTION.sign Сертификат
                +e.info
                  +e.P.subtitle Градостроительный конкурсе жилых комплексов-новостроек «ТОП ЖК-2021»
                  +e.P.caption.display-4 Лучший жилой комплекс-новостройка в Нижегородской области, доступное жилье
                  +e.A.more(href='#')
                    span Смотреть
                    svg(xmlns='http://www.w3.org/2000/svg' width='35' height='35' fill='none' viewBox="0 0 35 35")
                      circle(cx='17.5' cy='17.5' r='17' stroke='#51A747')
                      path(stroke='#51A747' stroke-linecap='round' stroke-linejoin='round' d='m16 13 4 4-4 4')
            .swiper-slide
              +e.slide
                +e.FIGURE.picture
                  +e.IMG.pic(src='/icon/awards-bg.svg' alt='')
                  +e.FIGCAPTION.sign Диплом
                +e.info
                  +e.P.subtitle Градостроительный конкурсе жилых комплексов-новостроек «ТОП ЖК-2021»
                  +e.P.caption.display-4 Лучший жилой комплекс-новостройка в Нижегородской области, доступное жилье
                  +e.A.more(href='#')
                    span Смотреть
                    svg(xmlns='http://www.w3.org/2000/svg' width='35' height='35' fill='none' viewBox="0 0 35 35")
                      circle(cx='17.5' cy='17.5' r='17' stroke='#51A747')
                      path(stroke='#51A747' stroke-linecap='round' stroke-linejoin='round' d='m16 13 4 4-4 4')
