+b.popup(data-type="#garden")
  +e.overlay
  +e.frame
    +e.close-btn.js-close-modal
      svg(xmlns='http://www.w3.org/2000/svg' width='59' height='59' fill='none' viewBox="0 0 59 59")
        circle(cx='29.5' cy='29.5' r='29.5' fill='#000' opacity='.5')
        path(fill='#fff' fill-rule='evenodd' d='M40.337 18.106a.75.75 0 0 1 1.06 1.061L31.315 29.25l10.082 10.083a.75.75 0 0 1-1.06 1.06L30.254 30.312 20.17 40.394a.75.75 0 0 1-1.06-1.061L29.192 29.25 19.11 19.167a.75.75 0 1 1 1.061-1.06l10.083 10.082 10.083-10.083Z' clip-rule='evenodd')
    +b.popup-info
      +e.wrapper
        .swiper
          .swiper-wrapper
            .swiper-slide
              +e.IMG.pic(src='/img/garden-1.png' alt='')
            .swiper-slide
              +e.IMG.pic(src='/img/garden-2.png' alt='')
            .swiper-slide
              +e.IMG.pic(src='/img/garden-3.png' alt='')
            .swiper-slide
              +e.IMG.pic(src='/img/garden-4.png' alt='')
            .swiper-slide
              +e.IMG.pic(src='/img/garden-1.png' alt='')
        .slider-arrows
          +b.slider-arrow_prev
            svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
              path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6.48438.79102 1.27604 5.99935l5.20834 5.20835')
          +b.slider-arrow_next
            svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
              path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m1.51562.79102 5.20834 5.20833-5.20834 5.20835')
      +e.content
        +e.head
          +e.P.title.display-2 Ботанический сад
          +e.time
            svg(xmlns='http://www.w3.org/2000/svg' width='10' height='16' fill='none')
              path(fill='#51A747' d='m1.72205 5.05978 2.33073-1.62949c.26164-.18429.57988-.27893.90393-.26878.39525.00948.77761.13726 1.09392.36557s.55085.54581.67104.90834c.13526.40808.25888.68386.37088.82735.33837.43453.77732.78717 1.28201 1.02993.50465.24276 1.06122.36896 1.62544.36858v1.3999c-.75107.00079-1.49288-.15869-2.17216-.46696-.67929-.30827-1.27911-.75766-1.75631-1.31582l-.50687 2.76832 1.4988 1.21088 1.6166 4.2754-1.36717.4787-1.48352-3.9225L3.3641 9.09781c-.20231-.15724-.35712-.36381-.44831-.5982-.09119-.2344-.11543-.48804-.07019-.73451l.37015-2.01936-.49232.34437-1.54679 2.04947L0 7.31643l1.70969-2.26505.01236.0084Zm4.27822-2.24825c-.38574 0-.75568-.14749-1.02844-.41002s-.426-.61861-.426-.98988c0-.37128.15324-.72735.426-.98989.27276-.26253.6427-.41002 1.02844-.41002.38574 0 .75568.14749 1.02844.41002.27275.26253.42599.61861.42599.98989 0 .37127-.15324.72735-.42599.98988-.27276.26253-.6427.41002-1.02844.41002ZM3.83898 12.0376 1.5017 14.7184.3876 13.819l2.1642-2.482.54251-1.52593L4.39675 10.861l-.55777 1.1766Z')
            span 5 мин пешком от ЖК «Новая Кузнечиха»
        +e.text В структуре Ботанического сада имеются:1. учебно-научная лаборатория интродукции, изучения и охраны мировой флоры; включает:1.1. дендрологическую коллекцию;1.2. коллекцию тропической и субтропической флоры;1.3. коллекцию травянистых растений открытого грунта;2. учебно-научная лаборатория изучения региональной флоры и растительности;3. учебно-научная биотехнологическая лаборатория микроклонального размножения растений;4. учебно-научная лаборатория инновационных технологий производства растений.5. Фонд ботанических коллекций (гербарий)6. Биостанция
        +e.H4.caption В структуре Ботанического сада имеются:
        +e.UL.list
          li 1. учебно-научная лаборатория интродукции, изучения и охраны мировой флоры; включает:
          li 1.1. дендрологическую коллекцию;
          li 1.2. коллекцию тропической и субтропической флоры;
          li 1.3. коллекцию травянистых растений открытого грунта;
          li 2. учебно-научная лаборатория изучения региональной флоры и растительности;
          li 3. учебно-научная биотехнологическая лаборатория микроклонального размножения растений;
          li 4. учебно-научная лаборатория инновационных технологий производства растений.
          li 5. Фонд ботанических коллекций (гербарий)6. Биостанция