+b.popup(data-type="#register")
  +e.overlay
  +e.container
    +e.close.js-close-modal
      svg(xmlns='http://www.w3.org/2000/svg' width='27' height='27' fill='none')
        path(fill='#BDC0CA' fill-rule='evenodd' d='M25.2197.21967c.2929-.2929.7677-.2929 1.0606 0 .2929.2929.2929.76777 0 1.06066L14.3107 13.25l11.9696 11.9697c.2929.2929.2929.7677 0 1.0606-.2929.2929-.7677.2929-1.0606 0L13.25 14.3107 1.28033 26.2803c-.2929.2929-.76777.2929-1.06066 0-.2929-.2929-.2929-.7677 0-1.0606L12.1893 13.25.21967 1.28033c-.2929-.2929-.2929-.76777 0-1.06066.2929-.2929.76777-.2929 1.06066 0L13.25 12.1893 25.2197.21967Z' clip-rule='evenodd')
    +b.login
      +e.tabs
        +e.BUTTON.tab.active Регистрация
        +e.BUTTON.tab Авторизация
      +e.wrappper
        +e.FORM.action
          +e.P.title.display-2 Зарегистрируйтесь в личном кабинете
          +e.fields
            +e.group
              +e.name Фамилия
              +e.INPUT.field(placeholder="Константинопольский")
            +e.group
              +e.name Имя
              +e.INPUT.field(placeholder="Константин")
            +e.group
              +e.name Отчество
              +e.INPUT.field(placeholder="Константинович")
            +e.group
              +e.name Номер телефона
              +e.INPUT.field(placeholder="+7")
            +e.group
              +e.name Электронная почта
              +e.INPUT.field(placeholder="example@mail.ru")
            +e.BUTTON.submit.btn Зарегистрироваться
          +e.req Отправляя свои данные вы соглашаетесь с 
            a(href="#") пользовательским соглашением и политикой конфиденциальности
          +e.info Раздел «Личный кабинет» — персональный инструмент участника закрытого «Клуба Столицы Нижний», который облегчит вам покупку квартиры и последующее сопровождение сделки. В нем можно ознакомиться с акциями от дезелопера и подать заявку на ипотеку через веб-сервис «Ипотечный брокер». Совсем скоро в «Личном кабинете» появятся новые функции, так что регистрируйтесь чтобы узнать о них первыми
        +e.FORM.action
          +e.P.title.display-2 Войдите в личный кабинет
          +e.wrap
            +e.group
              +e.name Номер телефона
              +e.INPUT.field(placeholder="+7")
            +e.group
              +e.name Код из SMS
              +e.INPUT.field(placeholder="Код из SMS")
            +e.BUTTON.send.btn Войти
            +e.link(data-type="reset") Восстановить доступ
        +e.FORM.action
          +e.P.title.display-2 Восстановление доступа
          +e.wrap
            +e.group
              +e.name Номер телефона
              +e.INPUT.field(placeholder="+7")
            +e.BUTTON.send.btn Восстановить
            +e.link(data-type="back") < Вернуться к авторизации

+b.popup(data-type="#success-register" )
  +e.overlay
  +e.container_white
    +e.close_black.js-close-modal
      svg(xmlns='http://www.w3.org/2000/svg' width='27' height='27' fill='none')
        path(fill='#BDC0CA' fill-rule='evenodd' d='M25.2197.21967c.2929-.2929.7677-.2929 1.0606 0 .2929.2929.2929.76777 0 1.06066L14.3107 13.25l11.9696 11.9697c.2929.2929.2929.7677 0 1.0606-.2929.2929-.7677.2929-1.0606 0L13.25 14.3107 1.28033 26.2803c-.2929.2929-.76777.2929-1.06066 0-.2929-.2929-.2929-.7677 0-1.0606L12.1893 13.25.21967 1.28033c-.2929-.2929-.2929-.76777 0-1.06066.2929-.2929.76777-.2929 1.06066 0L13.25 12.1893 25.2197.21967Z' clip-rule='evenodd')
    +b.success-register
      +e.IMG.pic(src='/icon/succces-form-green.svg' alt='')
      +e.P.title.display-2 Ваша заявка отправлена!
      +e.sign Зайдите на почту exmple@mail.ru и следуйте отправленным инструкциям
      +e.btn.btn Закрыть