+b.popup(data-type="#rw-callback" )
  +e.overlay
  +e.review-call
    +e.close-in-box.js-close-modal
      svg(xmlns='http://www.w3.org/2000/svg' width='27' height='27' fill='none')
        path(fill='#fff' fill-rule='evenodd' d='M25.2197.21967c.2929-.2929.7677-.2929 1.0606 0 .2929.2929.2929.76777 0 1.06066L14.3107 13.25l11.9696 11.9697c.2929.2929.2929.7677 0 1.0606-.2929.2929-.7677.2929-1.0606 0L13.25 14.3107 1.28033 26.2803c-.2929.2929-.76777.2929-1.06066 0-.2929-.2929-.2929-.7677 0-1.0606L12.1893 13.25.21967 1.28033c-.2929-.2929-.2929-.76777 0-1.06066.2929-.2929.76777-.2929 1.06066 0L13.25 12.1893 25.2197.21967Z' clip-rule='evenodd')
    +b.popup-review-call
      +e.P.title Оставить отзыв
      +e.FORM.action
        +e.fields
          +e.group
            +e.name Имя
            +e.INPUT.field(placeholder="Константинопольский")
          +e.group
            +e.name Телефон
            +e.INPUT.field(placeholder="+7")
        +e.rating
          +e.P.txt Ваша оценка
          +e.stars
            svg(width='220' height='40' viewBox='0 0 220 40' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(opacity='0.5' d='M20 1.29426L24.7351 12.5995C24.8792 12.9438 25.2031 13.1791 25.5751 13.2098L37.7902 14.2196L28.5015 22.2165C28.2187 22.4599 28.0949 22.8407 28.1806 23.2039L30.995 35.1333L20.5191 28.7703C20.2002 28.5766 19.7998 28.5766 19.4809 28.7703L9.00504 35.1333L11.8194 23.2039C11.9051 22.8407 11.7813 22.4599 11.4985 22.2164L2.20979 14.2196L14.4249 13.2098C14.7969 13.1791 15.1208 12.9438 15.2649 12.5995L14.8037 12.4064L15.2649 12.5995L20 1.29426Z' stroke='white')
              path(opacity='0.5' d='M65 1.29426L69.7351 12.5995C69.8792 12.9438 70.2031 13.1791 70.5751 13.2098L82.7902 14.2196L73.5015 22.2165C73.2187 22.4599 73.0949 22.8407 73.1806 23.2039L75.995 35.1333L65.5191 28.7703C65.2002 28.5766 64.7998 28.5766 64.4809 28.7703L54.005 35.1333L56.8194 23.2039C56.9051 22.8407 56.7813 22.4599 56.4985 22.2164L47.2098 14.2196L59.4249 13.2098C59.7969 13.1791 60.1208 12.9438 60.2649 12.5995L59.8037 12.4064L60.2649 12.5995L65 1.29426Z' stroke='white')
              path(opacity='0.5' d='M110 1.29426L114.735 12.5995C114.879 12.9438 115.203 13.1791 115.575 13.2098L127.79 14.2196L118.501 22.2165C118.219 22.4599 118.095 22.8407 118.181 23.2039L120.995 35.1333L110.519 28.7703C110.2 28.5766 109.8 28.5766 109.481 28.7703L99.005 35.1333L101.819 23.2039C101.905 22.8407 101.781 22.4599 101.499 22.2164L92.2098 14.2196L104.425 13.2098C104.797 13.1791 105.121 12.9438 105.265 12.5995L104.804 12.4064L105.265 12.5995L110 1.29426Z' stroke='white')
              path(opacity='0.5' d='M155 1.29426L159.735 12.5995C159.879 12.9438 160.203 13.1791 160.575 13.2098L172.79 14.2196L163.501 22.2165C163.219 22.4599 163.095 22.8407 163.181 23.2039L165.995 35.1333L155.519 28.7703C155.2 28.5766 154.8 28.5766 154.481 28.7703L144.005 35.1333L146.819 23.2039C146.905 22.8407 146.781 22.4599 146.499 22.2164L137.21 14.2196L149.425 13.2098C149.797 13.1791 150.121 12.9438 150.265 12.5995L149.804 12.4064L150.265 12.5995L155 1.29426Z' stroke='white')
              path(opacity='0.5' d='M200 1.29426L204.735 12.5995C204.879 12.9438 205.203 13.1791 205.575 13.2098L217.79 14.2196L208.501 22.2165C208.219 22.4599 208.095 22.8407 208.181 23.2039L210.995 35.1333L200.519 28.7703C200.2 28.5766 199.8 28.5766 199.481 28.7703L189.005 35.1333L191.819 23.2039C191.905 22.8407 191.781 22.4599 191.499 22.2164L182.21 14.2196L194.425 13.2098C194.797 13.1791 195.121 12.9438 195.265 12.5995L194.804 12.4064L195.265 12.5995L200 1.29426Z' stroke='white')
        +e.group
          +e.name Отзыв
          +e.INPUT.field(placeholder="Введите текст...")
        +e.BUTTON.submit.btn_white Отправить заявку
      +e.req Отправляя свои данные вы соглашаетесь с 
        a(href="#") пользовательским соглашением и политикой конфиденциальности