+b.popup(data-type="#sale-month" )
  +e.overlay
  +e.container_mini._white
    +e.close.js-close-modal
      svg(xmlns='http://www.w3.org/2000/svg' width='27' height='27' fill='none')
        path(fill='#BDC0CA' fill-rule='evenodd' d='M25.2197.21967c.2929-.2929.7677-.2929 1.0606 0 .2929.2929.2929.76777 0 1.06066L14.3107 13.25l11.9696 11.9697c.2929.2929.2929.7677 0 1.0606-.2929.2929-.7677.2929-1.0606 0L13.25 14.3107 1.28033 26.2803c-.2929.2929-.76777.2929-1.06066 0-.2929-.2929-.2929-.7677 0-1.0606L12.1893 13.25.21967 1.28033c-.2929-.2929-.2929-.76777 0-1.06066.2929-.2929.76777-.2929 1.06066 0L13.25 12.1893 25.2197.21967Z' clip-rule='evenodd')
    +b.popup-sale-month
      +e.IMG.pic(src='/img/sale-month.png' alt='')
      +e.content
        +e.P.title Акция месяца!
        +e.P.txt Квартиры с хорошей выгодой! Ограниченный ассортимент квартир с выгодой, по сравнению со стоимостью аналогичных квартир.
        +e.OL.list
          li От студий до 4-комнатных
          li Доступны ипотека, рассрочка 0%, трейд-ин, военная ипотека
        +e.A.btn.btn(href='#') Получить список квартир