+b.review
  +e.inner.inner
    +e.head
      +e.H2.title Отзывы
      +e.control
        +e.A.btn.btn_transparent(href="/reviews.html") Все отзывы
        .slider-arrows
          +b.slider-arrow_prev
            svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
              path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6.48438.79102 1.27604 5.99935l5.20834 5.20835')
          +b.slider-arrow_next
            svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
              path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m1.51562.79102 5.20834 5.20833-5.20834 5.20835')
    +e.wrapper
      .swiper
        .swiper-wrapper
          -for(var i=0; i< 6; i++){
            .swiper-slide
              +e.box
                +e.P.time 25 декабря 2022
                +e.P.name Константин П.
                +e.stars
                  svg(width='150' height='26' viewBox='0 0 150 26' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M12.5388 1.1011C12.7102 0.69198 13.2898 0.691981 13.4612 1.1011L16.3365 7.9661C16.4086 8.13821 16.5705 8.25586 16.7565 8.27124L24.174 8.88443C24.6161 8.92097 24.7952 9.47225 24.459 9.76165L18.8186 14.6176C18.6771 14.7394 18.6153 14.9297 18.6581 15.1114L20.3671 22.3553C20.4689 22.787 20 23.1278 19.6209 22.8975L13.2596 19.0337C13.1001 18.9368 12.8999 18.9368 12.7404 19.0337L6.37911 22.8975C6 23.1278 5.53105 22.787 5.6329 22.3553L7.34186 15.1114C7.38471 14.9297 7.32285 14.7394 7.18144 14.6176L1.54096 9.76165C1.20482 9.47225 1.38394 8.92097 1.82599 8.88443L9.24351 8.27124C9.42948 8.25586 9.59141 8.13821 9.6635 7.9661L12.5388 1.1011Z' fill='#F37528')
                    path(d='M43.5388 1.1011C43.7102 0.69198 44.2898 0.691981 44.4612 1.1011L47.3365 7.9661C47.4086 8.13821 47.5705 8.25586 47.7565 8.27124L55.174 8.88443C55.6161 8.92097 55.7952 9.47225 55.459 9.76165L49.8186 14.6176C49.6771 14.7394 49.6153 14.9297 49.6581 15.1114L51.3671 22.3553C51.4689 22.787 51 23.1278 50.6209 22.8975L44.2596 19.0337C44.1001 18.9368 43.8999 18.9368 43.7404 19.0337L37.3791 22.8975C37 23.1278 36.5311 22.787 36.6329 22.3553L38.3419 15.1114C38.3847 14.9297 38.3229 14.7394 38.1814 14.6176L32.541 9.76165C32.2048 9.47225 32.3839 8.92097 32.826 8.88443L40.2435 8.27124C40.4295 8.25586 40.5914 8.13821 40.6635 7.9661L43.5388 1.1011Z' fill='#F37528')
                    path(d='M74.5388 1.1011C74.7102 0.69198 75.2898 0.691981 75.4612 1.1011L78.3365 7.9661C78.4086 8.13821 78.5705 8.25586 78.7565 8.27124L86.174 8.88443C86.6161 8.92097 86.7952 9.47225 86.459 9.76165L80.8186 14.6176C80.6771 14.7394 80.6153 14.9297 80.6581 15.1114L82.3671 22.3553C82.4689 22.787 82 23.1278 81.6209 22.8975L75.2596 19.0337C75.1001 18.9368 74.8999 18.9368 74.7404 19.0337L68.3791 22.8975C68 23.1278 67.5311 22.787 67.6329 22.3553L69.3419 15.1114C69.3847 14.9297 69.3229 14.7394 69.1814 14.6176L63.541 9.76165C63.2048 9.47225 63.3839 8.92097 63.826 8.88443L71.2435 8.27124C71.4295 8.25586 71.5914 8.13821 71.6635 7.9661L74.5388 1.1011Z' fill='#F37528')
                    path(d='M105.539 1.1011C105.71 0.69198 106.29 0.691981 106.461 1.1011L109.337 7.9661C109.409 8.13821 109.571 8.25586 109.756 8.27124L117.174 8.88443C117.616 8.92097 117.795 9.47225 117.459 9.76165L111.819 14.6176C111.677 14.7394 111.615 14.9297 111.658 15.1114L113.367 22.3553C113.469 22.787 113 23.1278 112.621 22.8975L106.26 19.0337C106.1 18.9368 105.9 18.9368 105.74 19.0337L99.3791 22.8975C99 23.1278 98.5311 22.787 98.6329 22.3553L100.342 15.1114C100.385 14.9297 100.323 14.7394 100.181 14.6176L94.541 9.76165C94.2048 9.47225 94.3839 8.92097 94.826 8.88443L102.244 8.27124C102.429 8.25586 102.591 8.13821 102.663 7.9661L105.539 1.1011Z' fill='#F37528')
                    path(d='M136.539 1.1011C136.71 0.69198 137.29 0.691981 137.461 1.1011L140.337 7.9661C140.409 8.13821 140.571 8.25586 140.756 8.27124L148.174 8.88443C148.616 8.92097 148.795 9.47225 148.459 9.76165L142.819 14.6176C142.677 14.7394 142.615 14.9297 142.658 15.1114L144.367 22.3553C144.469 22.787 144 23.1278 143.621 22.8975L137.26 19.0337C137.1 18.9368 136.9 18.9368 136.74 19.0337L130.379 22.8975C130 23.1278 129.531 22.787 129.633 22.3553L131.342 15.1114C131.385 14.9297 131.323 14.7394 131.181 14.6176L125.541 9.76165C125.205 9.47225 125.384 8.92097 125.826 8.88443L133.244 8.27124C133.429 8.25586 133.591 8.13821 133.663 7.9661L136.539 1.1011Z' fill='#D9D9D9')
                +e.txt Ознакомьтесь с ассортиментом квартир* с помощью выборщика и позвоните в отдел продаж ООО «Столица Нижний РИЭЛТИ» для получения консультации специалиста.
                +e.A.more.js-open-modal(href="#review") Подробнее
                  svg(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='none')
                    circle(cx='12.5' cy='12.5' r='12' stroke='#51A747')
                    path(stroke='#51A747' stroke-linecap='round' stroke-linejoin='round' d='m11.7578 9.89453 2.6042 2.60417-2.6042 2.6042')
          - }
      +e.A.call.btn_transparent.js-open-modal(href="#rw-callback") Оставить отзыв