.about
  margin: 8rem 0 13rem
  padding-block: 14rem 3rem
  background: url(../icon/bg-about-2.svg) right bottom no-repeat, url(../img/bg-about-1.png) no-repeat
  color: var(--white-100)
  +screen('max', 1500)
    margin: 7rem 5px
    padding: 7rem 0
    background-size: 30%
  +screen('max', 1023)
    margin: 5.5rem 5px
    padding: 4.5rem 0 1.5rem
    background-size: 50%
    background-position: right -10%
  &__inner
    display: flex
    +screen('max', 1280)
      gap: 4rem
    +screen('max', 1023)
      flex-flow: column
      gap: 0
  &__left
    max-width: 600px
    flex-shrink: 0
    +screen('max', 1500)
      max-width: 290px
  &__sign
    +fs(20px)
    text-transform: uppercase
    margin-bottom: 1.8rem
    +screen('max', 1500)
      +fs(16px)
  &__title
    +fs(38px)
    line-height: 1.2
    font-weight: 400
    letter-spacing: -0.02em
    text-transform: uppercase
    +screen('max', 1500)
      +fs(28px)
  &__txt
    +fs(22px)
    line-height: 1.2
    font-weight: 300
    margin-bottom: 4rem
    +screen('max', 1500)
      +fs(18px)
      margin-bottom: 3rem
  &__pic
    max-width: 100%
    object-fit: cover
    position: relative
    left: calc((100vw - 1800px) / -2)
    bottom: -1.8vw
    +screen('max', 1023)
      display: none
  &__pic-mobile
    width: 100%
    margin-top: 1.6rem
    +screen('min', 1024)
      display: none
  &__vnt
    margin-top: 7rem
    display: flex
    padding: 3rem 4rem
    box-sizing: border-box
    gap: 4rem
    max-width: 778px
    background: var(--white-100)
    +screen('max', 1500)
      margin-top: 4rem
    +screen('max', 700)
      display: block
      padding: 1.5rem
  &__numb
    +fs(44px)
    font-family: var(--second-family)
    font-weight: 600
    letter-spacing: -0.02em
    color: var(--brand-tertiary-light)
    margin-bottom: 1.5rem
    line-height: 1
    +screen('max', 700)
      width: 110px
      flex-shrink: 0
    span
      +fs(5.1px)
      font-family: var(--font-family)
      font-weight: 400
  &__info
    line-height: 1.2
    color: var(--black-80)
    font-weight: 300
  &__btn
    +screen('max', 1023)
      width: 100%
      backdrop-filter: blur(8px)
      background: rgba(255, 255, 255, 0.15)
  &__item
    +screen('max', 700)
      display: flex

.about-info
  &__inner
    display: flex
    align-items: flex-start
    justify-content: space-between
    gap: 6rem
    +screen('max', 1023)
      display: block
  &__info
    max-width: 500px
    width: 40%
    +screen('max', 1023)
      width: 100%
      max-width: 100%
  &__title
    margin-bottom: 4rem
    +screen('max', 700)
      margin-bottom: 2rem
  &__txt
    +fs(20px)
    line-height: 1.5
    color: var(--black-40)
    margin-bottom: 5rem
    max-width: 1195px
    width: 70%
    +screen('max', 1500)
      +fs(16px)
    +screen('max', 1023)
      width: 100%
    +screen('max', 700)
      margin-bottom: 2.5rem
    p
      margin-bottom: 1rem
  &__more
    margin-top: 4rem
