+b.about
  +e.inner.inner
    +e.left
      +e.P.sign О проекте
      +e.P.title «Новая Кузнечиха»
      +e.IMG.pic(src='/img/about-1.png' alt='')
    +e.right
      +e.P.txt «Новая Кузнечиха» — это современная комплексная застройка квартального типа. Концепция микрорайона предполагает строительство закрытых дворов. Они образованы тремя или четырьмя домами. Внутри каждого двора будут располагаться детские и спортивные площадки. 
      +e.A.btn.btn_transparent(href="#") Подробнее о проекте
      +e.vnt
        +e.item
          +e.P.numb 5-8 
            span тыс.
          +e.info человек проживающих в квартале
        +e.item
          +e.P.numb 3,2 
            span м
          +e.info высота потолков и витринное остекление
        +e.item
          +e.P.numb 13 
            span %
          +e.info чгодовых гарантированная доходность