.about
  margin: 8rem 0 13rem
  padding-block: 14rem
  color: var(--white-100)
  position: relative
  z-index: 1
  +screen('max', 900)
    background: var(--brand-tertiary-light)
  &:before
    content: ''
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background: var(--brand-tertiary-light)
    clip-path: polygon(100% 0%, 100% 90%, 0% 100%, 0% 10%)
    z-index: -1
    +screen('max', 900)
      content: none
  &:after
    content: ''
    position: absolute
    bottom: 15px
    right: 0
    width: clamp(303px, 22vw, 404px)
    height: clamp(232px, 21vw, 390px)
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='404' height='390' fill='none' viewBox='0 0 404 390'%3E%3Cpath fill='%2300a6e6' fill-rule='evenodd' d='M292.281 389.535 0 185.338l213.949-149.47L506.23 240.063z' clip-rule='evenodd'/%3E%3Cpath fill='%2371d5ff' fill-rule='evenodd' d='M439.378 0 225.43 149.471l66.875 46.68L506.254 46.733z' clip-rule='evenodd'/%3E%3Cpath fill='%230082ca' fill-rule='evenodd' d='M506.238 46.73 292.289 196.149v193.38l213.949-149.471z' clip-rule='evenodd'/%3E%3Cpath fill='%23006098' fill-rule='evenodd' d='m225.43 149.475 66.875 46.679v193.38l-66.875-46.733z' clip-rule='evenodd'/%3E%3C/svg%3E")
    background-size: contain
    background-repeat: no-repeat
    background-position: right
    z-index: 1
    +screen('max', 900)
      content: none
  +screen('max', 1500)
    margin: 7rem 0
    padding: 10rem 0
  +screen('max', 1023)
    margin: 5.5rem 5px
    padding: 4.5rem 0 clamp(191px, calc(100vw / 1.6), 383px)
  &__inner
    display: flex
    +screen('max', 1500)
      gap: 4rem
    +screen('max', 1023)
      flex-flow: column
      gap: 0
  &__left
    max-width: 600px
    width: 70%
    flex-shrink: 0
    +screen('max', 1500)
      max-width: 310px
  &__sign
    +fs(20px)
    text-transform: uppercase
    margin-bottom: 1.8rem
    +screen('max', 1500)
      +fs(16px)
    +screen('max', 700)
      +fs(14px)
  &__title
    +fs(38px)
    line-height: 1.2
    font-weight: 400
    letter-spacing: -0.02em
    text-transform: uppercase
    +screen('max', 1500)
      +fs(28px)
      margin-bottom: 2.5rem
    +screen('max', 700)
      +fs(22px)
  &__txt
    +fs(22px)
    line-height: 1.2
    font-weight: 300
    margin-bottom: 4rem
    +screen('max', 1500)
      +fs(18px)
      margin-bottom: 3rem
    +screen('max', 700)
      +fs(16px)
  &__pic
    max-width: 600px
    width: 32%
    object-fit: cover
    position: absolute
    left: 0
    height: clamp(300px, 25vw, 438px)
    bottom: -10px
    clip-path: polygon(70% 8%, 100% 93%, 0% 100%, 0% 0%)
    +screen('max', 1850)
      left: -3rem
    +screen('max', 1280)
      height: 377px
      max-width: 400px
    +screen('max', 900)
      width: calc(100vw - 5rem)
      bottom: 1.5rem
      left: 2rem
      height: clamp(191px, calc(100vw / 1.8), 353px)
      clip-path: none
      max-width: 100%
    +screen('max', 700)
      left: 1.5rem
      width: calc(100vw - 4rem)
  &__pic-mobile
    width: 100%
    margin-top: 1.6rem
    +screen('min', 1024)
      display: none
  &__vnt
    margin-top: 7rem
    display: flex
    padding: 3rem 4rem
    box-sizing: border-box
    gap: 4rem
    max-width: 778px
    background: var(--white-100)
    position: relative
    z-index: 2
    +screen('max', 1500)
      margin-top: 4rem
      max-width: 600px
    +screen('max', 900)
      max-width: 100%
    +screen('max', 700)
      display: block
      padding: 1.5rem
  &__numb
    +fs(44px)
    font-family: var(--second-family)
    font-weight: 600
    letter-spacing: -0.02em
    color: var(--brand-tertiary-light)
    margin-bottom: 1.5rem
    line-height: 1
    +screen('max', 700)
      width: 110px
      flex-shrink: 0
    span
      +fs(5.1px)
      font-family: var(--font-family)
      font-weight: 400
  &__info
    line-height: 1.2
    color: var(--black-80)
    font-weight: 300
  &__btn
    +screen('max', 1023)
      width: 100%
      backdrop-filter: blur(8px)
      background: rgba(255, 255, 255, 0.15)
  &__item
    +screen('max', 700)
      display: flex

.about-info
  &__inner
    display: flex
    align-items: flex-start
    justify-content: space-between
    gap: 6rem
    +screen('max', 1023)
      display: block
  &__info
    max-width: 500px
    width: 40%
    +screen('max', 1023)
      width: 100%
      max-width: 100%
  &__title
    margin-bottom: 4rem
    +screen('max', 700)
      margin-bottom: 2rem
  &__txt
    +fs(20px)
    line-height: 1.5
    color: var(--black-40)
    margin-bottom: 5rem
    max-width: 1195px
    width: 70%
    +screen('max', 1500)
      +fs(16px)
    +screen('max', 1023)
      width: 100%
    +screen('max', 700)
      margin-bottom: 2.5rem
    p
      margin-bottom: 1rem
  &__more
    margin-top: 4rem
