+b.about-info
  +e.inner.inner
    +e.info
      +e.H2.title О компании
      +e.IMG.pic(src='/icon/icon-builder-big.png' alt='')
    +e.txt
      p «Новая Кузнечиха» — это современная комплексная застройка квартального типа. Концепция микрорайона предполагает строительство закрытых дворов. Они образованы тремя или четырьмя домами. Внутри каждого двора будут располагаться детские и спортивные площадки. Двор в ЖК «Новая Кузнечиха» - это центр притяжения, место прогулок, отдыха и общения. Внутриквартальную территорию жители воспринимают как свою личную, а значит, как более комфортную.
      +e.A.more.btn(href="#") Подробнее о компании