+b.placement_page
  +e.inner.inner
    +e.head
      +e.H1.title Генплан
      +e.control
        +e.BUTTON.btn.btn(data-count="1")
          svg(xmlns='http://www.w3.org/2000/svg' width='22' height='23' fill='none')
            path(stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5' d='M20.1641 6.45898h-5.5M5.5026 6.45898H1.83594')
            path(fill='#F5F6F7' d='M9.16927 9.66667c1.77193 0 3.20833-1.43642 3.20833-3.20834 0-1.77191-1.4364-3.20833-3.20833-3.20833-1.77191 0-3.20833 1.43642-3.20833 3.20833 0 1.77192 1.43642 3.20834 3.20833 3.20834Z')
            path(stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5' d='M20.1667 16.541H16.5M7.33594 16.541h-5.5')
            path(fill='#F5F6F7' d='M12.8333 19.7507c1.7719 0 3.2084-1.4365 3.2084-3.2084s-1.4365-3.2083-3.2084-3.2083-3.2083 1.4364-3.2083 3.2083 1.4364 3.2084 3.2083 3.2084Z')
          span Фильтр 
      +b.mini-filter
        +e.P.title.display-4 Параметры квартир
        +e.FORM.search()
          +e.box
            +e.list
              +e.LABEL.radio
                +e.INPUT.hidden(type="radio" name="room" value='Студия' checked)
                +e.SPAN.txt Студия
              +e.LABEL.radio
                +e.INPUT.hidden(type="radio" name="room" value='1')
                +e.SPAN.txt 1
              +e.LABEL.radio
                +e.INPUT.hidden(type="radio" name="room" value='2')
                +e.SPAN.txt 2
              +e.LABEL.radio
                +e.INPUT.hidden(type="radio" name="room" value='3')
                +e.SPAN.txt 3
              +e.LABEL.radio
                +e.INPUT.hidden(type="radio" name="room" value='4')
                +e.SPAN.txt 4
          +e.box
            +e.caption Стоимость, млн ₽ 
            +e.row.price
              +e.group_start
                span от
                input(type="hidden" name="PRICE_START" id="PRICE_START" class="price_start" value="1")
                +e.field.range-start 0
              +e.group_end
                span до
                input(type="hidden" name="PRICE_END" class="price_end" value="25")
                +e.field.range-end 0
              .slider
          +e.box
            +e.caption Этаж
            +e.row.squere
              +e.group_start
                span от
                input(type="hidden" name="PRICE_START" id="PRICE_START" class="price_start" value="1")
                +e.field.range-start 0
              +e.group_end
                span до
                input(type="hidden" name="PRICE_END" class="price_end" value="25")
                +e.field.range-end 0
              .slider
          +e.box
            +e.caption Общая площадь, м²
            +e.row.squere
              +e.group_start
                span от
                input(type="hidden" name="PRICE_START" id="PRICE_START" class="price_start" value="1")
                +e.field.range-start 0
              +e.group_end
                span до
                input(type="hidden" name="PRICE_END" class="price_end" value="25")
                +e.field.range-end 0
              .slider
            +e.box
              +e.wrap
                +e.col
                  +e.caption Кухня, м²
                  +e.row.squere
                    +e.group_start
                      span от
                      input(type="hidden" name="PRICE_START" id="PRICE_START" class="price_start" value="1")
                      +e.field.range-start 0
                    +e.group_end
                      span до
                      input(type="hidden" name="PRICE_END" class="price_end" value="25")
                      +e.field.range-end 0
                    .slider
                +e.col
                  +e.caption Этаж
                  +e.row.squere
                    +e.group_start
                      span от
                      input(type="hidden" name="PRICE_START" id="PRICE_START" class="price_start" value="1")
                      +e.field.range-start 0
                    +e.group_end
                      span до
                      input(type="hidden" name="PRICE_END" class="price_end" value="25")
                      +e.field.range-end 0
                    .slider
            +e.box
              +e.wrap
                +e.LABEL.checkbox
                  +e.INPUT.hidden(type="checkbox" checked)
                  +e.check-text Лоджии
                +e.LABEL.checkbox
                  +e.INPUT.hidden(type="checkbox" )
                  +e.check-text Спецпредложения
          +e.box
            +e.A.submit.btn.js-open-modal(href="#success") Показать варианты
              span 1 230 
            +e.BUTTON.reset
              span Очистить фильтр
              svg(xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox="0 0 20 20")
                path(fill='#838C95' fill-rule='evenodd' d='M1.2807.22004C.98802-.07306.51314-.07339.22004.2193-.07306.51199-.07339.98686.2193 1.27996l8.61629 8.6284L.22033 18.5357c-.29269.2931-.29235.768.00074 1.0607.2931.2927.76798.2923 1.06067-.0008l8.61377-8.6258 8.61379 8.6258c.2927.2931.7675.2935 1.0606.0008.2931-.2927.2935-.7676.0008-1.0607l-8.6153-8.62734 8.6163-8.6284c.2927-.2931.2924-.76797-.0007-1.06066-.2931-.29269-.768-.29236-1.0607.00074L9.89551 8.84695 1.2807.22005Z' clip-rule='evenodd')
    +e.body
      +e.back
        svg(xmlns='http://www.w3.org/2000/svg' width='45' height='45' fill='none')
          rect(width='44' height='44' x='.5' y='.5' fill='#F37528' stroke='#F37528' rx='22')
          path(stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m25.102 18-5.105 5.104 5.105 5.104')
      +e.wrapper
        +e.box
          +e.IMG.pic(src='/img/placement-2.png' alt='')
          +b.placement-info
            +e.container
              +e.P.title.display-3 Этаж 10
              +e.P.count 8 квартир
              +e.list
                +e.item
                  +e.P.name(data-count="2") Студии
                  +e.P.price от 4,4 млн
                +e.item
                  +e.P.name(data-count="3") 1-комнатные 
                  +e.P.price от 4,4 млн
              +e.A.btn.btn(href="#") Выбрать квартиру
        +e.box
          +b.placement-chess
            +e.head
              +e.legend
                +e.item
                  +e.frame_available 1
                  +e.P.sign Доступно
                +e.item
                  +e.frame_blocked
                  +e.P.sign Забронировано
                +e.item
                  +e.frame
                  +e.P.sign Продано
              +e.house Дом 10. Срок сдачи 1 кв. 2024
            +e.list
              +e.col
                +e.P.title.display-4 Секция 1
                +e.table
                  -for(var i = 0; i< 10; i++){
                    +e.line
                      -for(var k = 0; k< 5; k++){
                          if i == 3 && k == 1
                            +e.frame_available Ст
                          else if i == 3 && k == 3
                            +e.frame_available 2
                          else if i == 6 && k == 2
                            +e.frame_available 1
                          else if i == 7 && k == 3
                            +e.frame_blocked
                          else
                            +e.frame
                      - }
                  - }
              +e.col
                +e.P.title.display-4 Секция 4
                +e.table
                  -for(var i = 0; i< 10; i++){
                    +e.line
                      -for(var k = 0; k< 5; k++){
                          if i == 3 && k == 1
                            +e.frame_available Ст
                          else if i == 3 && k == 3
                            +e.frame_available 2
                          else if i == 6 && k == 2
                            +e.frame_available 1
                          else if i == 7 && k == 3
                            +e.frame_blocked
                          else
                            +e.frame
                      - }
                  - }
              +e.col
                +e.P.title.display-4 Секция 5
                +e.table
                  -for(var i = 0; i< 12; i++){
                    +e.line
                      -for(var k = 0; k< 5; k++){
                          if i == 3 && k == 1
                            +e.frame_available Ст
                          else if i == 3 && k == 3
                            +e.frame_available 2
                          else if i == 6 && k == 2
                            +e.frame_available 1
                          else if i == 7 && k == 3
                            +e.frame_blocked
                          else
                            +e.frame
                      - }
                  - }
            +e.product-info
              +b.sp-prod-card
                +e.top
                  +e.left
                    +e.position
                      span дом 15, секц. 2
                      span Ввод  4 кв. 2023
                    +e.type
                      span Студия
                      span 21 м²
                      span 15 этаж
                  +e.right
                    +e.A.block(href="#")
                      svg(xmlns='http://www.w3.org/2000/svg' width='22' height='29' fill='none')
                        path(fill='#D3D6DD' fill-rule='evenodd' d='M18.1172 10.9992h.9c1.488 0 2.7 1.2107 2.7 2.7v12.6c0 1.4893-1.212 2.7-2.7 2.7H2.81719c-1.48798 0-2.7-1.2107-2.7-2.7v-12.6c0-1.4893 1.21202-2.7 2.7-2.7h.9V7.39922c0-3.97091 3.22909-7.2 7.20001-7.2 3.5639 0 6.5302 2.60106 7.1009 6.00503.1096.65364-.4382 1.19497-1.1009 1.19497-.6628 0-1.1847-.54566-1.3487-1.18781-.5298-2.07438-2.4139-3.61212-4.6513-3.61212-2.64725 0-4.79994 2.15263-4.79994 4.79993v3.59998H18.1172Z' clip-rule='evenodd')
                    +e.A.favor(href="#")
                      svg(xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='none')
                        path(fill='#D3D6DD' d='M15.8791 28.1592c-.4809.1676-1.2729.1676-1.7537 0C10.0239 26.7767.85937 21.0093.85937 11.234c0-4.31509 3.52158-7.80627 7.86343-7.80627 2.574 0 4.851 1.2289 6.2794 3.12809 1.4285-1.89919 3.7196-3.12809 6.2795-3.12809 4.3418 0 7.8634 3.49118 7.8634 7.80627 0 9.7753-9.1646 15.5427-13.266 16.9252Z')
                +e.A.middle(href="#")
                  +e.slider
                    .swiper
                      .swiper-wrapper
                        .swiper-slide
                          +e.IMG.pic(src='/img/plane-1.png' alt='')
                        .swiper-slide
                          +e.IMG.pic(src='/img/plane-1.png' alt='')
                    .slider-dots
                +e.bottom
                  +e.P.price 3 649 685 ₽
                  +e.info
                    p Ипотека - 
                      a(href="#") от 10 456 ₽/мес.
                    p Первоначальный взнос - 
                      a(href="#") от 570 456 ₽
                  +e.tags
                    +e.tag Лоджия
        +e.box
          +b.placement-list
            +e.head
              +e.legend
                +e.item
                  +e.frame_available
                    +e.frame-list
                      span 2-к
                      span 63,5 м²
                      span №1
                    +e.frame-text 7 717 640 ₽ 
                  +e.P.sign Доступно
                +e.item
                  +e.frame_blocked
                    +e.frame-list
                      span 2-к
                      span 63,5 м²
                      span №1
                  +e.P.sign Забронировано
                +e.item
                  +e.frame_sale
                    +e.frame-list
                      span 2-к
                      span 63,5 м²
                      span №1
                    +e.frame-text_sale Акция!
                  +e.P.sign Забронировано
                  +e.P.sign Продано
              +e.house Дом 10. Срок сдачи 1 кв. 2024
            +e.list
              +e.col
                +e.P.title.display-4 Секция 1
                +e.table
                  -for(var i = 0; i< 10; i++){
                    +e.line
                      -for(var k = 0; k< 5; k++){
                          if i == 3 && k == 1
                            +e.frame_available
                              +e.frame-list
                                span 2-к
                                span 63,5 м²
                                span №1
                              +e.frame-text 7 717 640 ₽ 
                          else if i == 3 && k == 3
                            +e.frame_blocked
                              +e.frame-list
                                span 2-к
                                span 63,5 м²
                                span №1
                          else if i == 6 && k == 2
                            +e.frame_sale
                              +e.frame-list
                                span 2-к
                                span 63,5 м²
                                span №1
                              +e.frame-text_sale Акция!
                          else
                            +e.frame
                              +e.frame-list
                                span 2-к
                                span 63,5 м²
                                span №1
                      - }
                  - }
              +e.col
                +e.P.title.display-4 Секция 4
                +e.table
                  -for(var i = 0; i< 10; i++){
                    +e.line
                      -for(var k = 0; k< 5; k++){
                          if i == 3 && k == 1
                            +e.frame_available
                              +e.frame-list
                                span 2-к
                                span 63,5 м²
                                span №1
                              +e.frame-text 7 717 640 ₽ 
                          else if i == 3 && k == 3
                            +e.frame_blocked
                              +e.frame-list
                                span 2-к
                                span 63,5 м²
                                span №1
                          else if i == 6 && k == 2
                            +e.frame_sale
                              +e.frame-list
                                span 2-к
                                span 63,5 м²
                                span №1
                              +e.frame-text_sale Акция!
                          else
                            +e.frame
                              +e.frame-list
                                span 2-к
                                span 63,5 м²
                                span №1
                      - }
                  - }
              +e.col
                +e.P.title.display-4 Секция 5
                +e.table
                  -for(var i = 0; i< 10; i++){
                    +e.line
                      -for(var k = 0; k< 5; k++){
                          if i == 3 && k == 1
                            +e.frame_available
                              +e.frame-list
                                span 2-к
                                span 63,5 м²
                                span №1
                              +e.frame-text 7 717 640 ₽ 
                          else if i == 3 && k == 3
                            +e.frame_blocked
                              +e.frame-list
                                span 2-к
                                span 63,5 м²
                                span №1
                          else if i == 6 && k == 2
                            +e.frame_sale
                              +e.frame-list
                                span 2-к
                                span 63,5 м²
                                span №1
                              +e.frame-text_sale Акция!
                          else
                            +e.frame
                              +e.frame-list
                                span 2-к
                                span 63,5 м²
                                span №1
                      - }
                  - }
      +e.tabs
        +e.BUTTON.tab.active Фасад
        +e.BUTTON.tab Шахматка
        +e.BUTTON.tab Шахматка +