+b.placement_page
  +e.inner.inner
    +e.head
      +e.H1.title Генплан
      +e.control
        +e.BUTTON.btn.btn(data-count="1")
          svg(xmlns='http://www.w3.org/2000/svg' width='22' height='23' fill='none')
            path(stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5' d='M20.1641 6.45898h-5.5M5.5026 6.45898H1.83594')
            path(fill='#F5F6F7' d='M9.16927 9.66667c1.77193 0 3.20833-1.43642 3.20833-3.20834 0-1.77191-1.4364-3.20833-3.20833-3.20833-1.77191 0-3.20833 1.43642-3.20833 3.20833 0 1.77192 1.43642 3.20834 3.20833 3.20834Z')
            path(stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5' d='M20.1667 16.541H16.5M7.33594 16.541h-5.5')
            path(fill='#F5F6F7' d='M12.8333 19.7507c1.7719 0 3.2084-1.4365 3.2084-3.2084s-1.4365-3.2083-3.2084-3.2083-3.2083 1.4364-3.2083 3.2083 1.4364 3.2084 3.2083 3.2084Z')
          span Фильтр 
    +e.body
      +e.back
        svg(xmlns='http://www.w3.org/2000/svg' width='45' height='45' fill='none')
          rect(width='44' height='44' x='.5' y='.5' fill='#F37528' stroke='#F37528' rx='22')
          path(stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m25.102 18-5.105 5.104 5.105 5.104')
      +e.wrapper
        +e.box
          +e.IMG.pic(src='/img/placement-2.png' alt='')
          +b.placement-info
            +e.container
              +e.P.title.display-3 Этаж 10
              +e.P.count 8 квартир
              +e.list
                +e.item
                  +e.P.name(data-count="2") Студии
                  +e.P.price от 4,4 млн
                +e.item
                  +e.P.name(data-count="3") 1-комнатные 
                  +e.P.price от 4,4 млн
              +e.A.btn.btn(href="#") Выбрать квартиру
        +e.box
          +b.placement-chess
            +e.head
              +e.legend
                +e.item
                  +e.frame_available 1
                  +e.P.sign Доступно
                +e.item
                  +e.frame_blocked
                  +e.P.sign Забронировано
                +e.item
                  +e.frame
                  +e.P.sign Продано
              +e.house Дом 10. Срок сдачи 1 кв. 2024
            +e.list
              +e.col
                +e.P.title.display-4 Секция 1
                +e.table
                  -for(var i = 0; i< 10; i++){
                    +e.line
                      -for(var k = 0; k< 5; k++){
                          if i == 3 && k == 1
                            +e.frame_available Ст
                          else if i == 3 && k == 3
                            +e.frame_available 2
                          else if i == 6 && k == 2
                            +e.frame_available 1
                          else if i == 7 && k == 3
                            +e.frame_blocked
                          else
                            +e.frame
                      - }
                  - }
              +e.col
                +e.P.title.display-4 Секция 4
                +e.table
                  -for(var i = 0; i< 10; i++){
                    +e.line
                      -for(var k = 0; k< 5; k++){
                          if i == 3 && k == 1
                            +e.frame_available Ст
                          else if i == 3 && k == 3
                            +e.frame_available 2
                          else if i == 6 && k == 2
                            +e.frame_available 1
                          else if i == 7 && k == 3
                            +e.frame_blocked
                          else
                            +e.frame
                      - }
                  - }
              +e.col
                +e.P.title.display-4 Секция 5
                +e.table
                  -for(var i = 0; i< 12; i++){
                    +e.line
                      -for(var k = 0; k< 5; k++){
                          if i == 3 && k == 1
                            +e.frame_available Ст
                          else if i == 3 && k == 3
                            +e.frame_available 2
                          else if i == 6 && k == 2
                            +e.frame_available 1
                          else if i == 7 && k == 3
                            +e.frame_blocked
                          else
                            +e.frame
                      - }
                  - }
      +e.tabs
        +e.BUTTON.tab.active Фасад
        +e.BUTTON.tab Шахматка
        +e.BUTTON.tab Шахматка +