.attract
  margin: 12rem 0 8rem
  +screen('max', 1500)
    margin: 10rem 0 6rem
  +screen('max', 1023)
    margin: 6rem 0 4rem
  +screen('max', 700)
    margin: 4rem 0
  &__head
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 3rem
    .slider-arrow
      width: 67px
      height: 67px
      +screen('max', 1500)
        width: 50px
        height: 50px
    .slider-arrows
      +screen('max', 1023)
        display: none
  &__title
    +fs(30px)
    +screen('max', 1023)
      +fs(22px)
  &__wrapper
    +screen('max', 700)
      display: none
    .swiper
      +screen('max', 1023)
        margin: 0 -2rem
        padding-inline: 2rem
  &__wrapper-mobile
    +screen('min', 700)
      display: none