include popup/login
include popup/garden
include popup/gallery
include popup/review
include popup/review-callback
include popup/review-callback-success
include popup/sale-month
include popup/sale-timer
include popup/secret
include popup/success
include popup/quize
include popup/step-photo
include popup/step-video
include popup/excursion
script(src="/js/common.js") 