include popup/login
include popup/garden
include popup/gallery
include popup/review
include popup/review-callback
include popup/review-callback-success
include popup/sale-month
include popup/sale-timer
include popup/secret
script(src="/js/common.js") 