+b.vantage-halls
  +e.inner.inner
    +e.list
      +e.item
        +e.IMG.icon(src='/icon/icon-halls-1.svg' alt='')
        +e.P.title Социальные учреждения в 5 минутах от дома
      +e.item
        +e.IMG.icon(src='/icon/icon-halls-2.svg' alt='')
        +e.P.title Остановки в пешеходной доступности
      +e.item
        +e.IMG.icon(src='/icon/icon-halls-3.svg' alt='')
        +e.P.title Остановки в пешеходной доступности