+b.vantage
  +e.inner.inner
    +e.H2.title Преимущества ЖК «Новая Кузнечиха»
    +e.list
      +e.item_picture
        +e.IMG.pic(src='/img/infrastructure-1.png' alt='')
        +e.P.caption Инфраструктура
      +e.item
        +e.IMG.icon(src='/icon/icon-infrastructure-1.svg' alt='')
        +e.P.caption Парковки
      +e.item_picture
        +e.IMG.pic(src='/img/infrastructure-2.png' alt='')
        +e.P.caption Благоустройство
      +e.item_picture
        +e.IMG.pic(src='/img/infrastructure-3.png' alt='')
        +e.P.caption Подъезды и холлы
      +e.item_picture
        +e.IMG.pic(src='/img/infrastructure-4.png' alt='')
        +e.P.caption Архитектура
      +e.item
        +e.IMG.icon(src='/icon/icon-infrastructure-2.svg' alt='')
        +e.P.caption Расположение
      +e.item_picture
        +e.IMG.pic(src='/img/infrastructure-5.png' alt='')
        +e.P.caption Отделка
      +e.item_picture
        +e.IMG.pic(src='/img/infrastructure-6.png' alt='')
        +e.P.caption Безопасность
      +e.item
        +e.IMG.icon(src='/icon/icon-infrastructure-3.svg' alt='')
        +e.P.caption Планировки
      +e.item_text
        +e.P.holder Для региональных клиентов
        +e.P.txt Узнайте о льготах и преимуществах переезда для клиентов из других регионов
      +e.item_picture
        +e.IMG.pic(src='/img/infrastructure-7.png' alt='')
        +e.P.caption Перспективы застройки