+b.banner
  +e.inner
    +e.wrapper
      .swiper
        .swiper-wrapper
          .swiper-slide
            +e.IMG.pic(src='/img/banner-1.png' alt='')
            +e.content
              +e.tags
                +e.tag_orange Сдача 2023 — 2025, есть сданные
                +e.tag
                  span
                  | м. Горьковская
                  +e.time
                    svg(xmlns='http://www.w3.org/2000/svg' width='12' height='17' fill='none')
                      path(fill='#9C9C9C' d='m1.91371 6.2596 2.59014-1.73812c.29077-.19658.64443-.29753 1.00454-.2867.43924.01011.86416.14641 1.21568.38994.35151.24353.61216.58219.74572.9689.15032.43528.2877.72944.41216.8825.37604.4635.86385.83965 1.42471 1.09859.56081.25895 1.17934.39356 1.80634.39315v1.49323c-.8347.00084-1.65903-.16927-2.41392-.49809-.75489-.32882-1.42147-.80817-1.95178-1.40354l-.56329 2.95284 1.66561 1.2917 1.79654 4.5603-1.51934.5107-1.64864-4.184-2.73965-2.1242c-.22483-.1677-.39687-.388-.49821-.63805-.10134-.25002-.12828-.52058-.078-.78347l.41135-2.15399-.54713.36733L1.3076 9.54471 0 8.66669l1.89997-2.41605.01374.00896ZM6.6681 3.86147c-.42867 0-.83978-.15733-1.14291-.43736-.30311-.28003-.47341-.65985-.47341-1.05588 0-.39602.1703-.77584.47341-1.05587C5.82832 1.03232 6.23943.875 6.6681.875c.42868 0 .83979.15732 1.1429.43736.30312.28003.47341.65985.47341 1.05587 0 .39603-.17029.77585-.47341 1.05588-.30311.28003-.71422.43736-1.1429.43736ZM4.26626 13.7026l-2.59742 2.8595-1.2381-.9593 2.40508-2.6475.60288-1.6277 1.44741 1.12-.61985 1.255Z')
                    span 7 мин
                +e.tag Надежный корпус
                +e.tag
                  +e.IMG.icon(src='/img/icon-builder.svg' alt='')
                  | Застройщик Девелопер Столица Нижний
              +e.P.title ЖК «Новая Кузнечиха»
              +e.P.txt Старт продаж новых домов от 3,6 млн 
          .swiper-slide
            +e.IMG.pic(src='/img/banner-1.png' alt='')
            +e.content
              +e.tags
                +e.tag Сдача 2023 — 2025, есть сданные
                +e.tag
                  span
                  | м. Горьковская
                  +e.time
                    svg(xmlns='http://www.w3.org/2000/svg' width='12' height='17' fill='none')
                      path(fill='#9C9C9C' d='m1.91371 6.2596 2.59014-1.73812c.29077-.19658.64443-.29753 1.00454-.2867.43924.01011.86416.14641 1.21568.38994.35151.24353.61216.58219.74572.9689.15032.43528.2877.72944.41216.8825.37604.4635.86385.83965 1.42471 1.09859.56081.25895 1.17934.39356 1.80634.39315v1.49323c-.8347.00084-1.65903-.16927-2.41392-.49809-.75489-.32882-1.42147-.80817-1.95178-1.40354l-.56329 2.95284 1.66561 1.2917 1.79654 4.5603-1.51934.5107-1.64864-4.184-2.73965-2.1242c-.22483-.1677-.39687-.388-.49821-.63805-.10134-.25002-.12828-.52058-.078-.78347l.41135-2.15399-.54713.36733L1.3076 9.54471 0 8.66669l1.89997-2.41605.01374.00896ZM6.6681 3.86147c-.42867 0-.83978-.15733-1.14291-.43736-.30311-.28003-.47341-.65985-.47341-1.05588 0-.39602.1703-.77584.47341-1.05587C5.82832 1.03232 6.23943.875 6.6681.875c.42868 0 .83979.15732 1.1429.43736.30312.28003.47341.65985.47341 1.05587 0 .39603-.17029.77585-.47341 1.05588-.30311.28003-.71422.43736-1.1429.43736ZM4.26626 13.7026l-2.59742 2.8595-1.2381-.9593 2.40508-2.6475.60288-1.6277 1.44741 1.12-.61985 1.255Z')
                    span 7 мин
                +e.tag Надежный корпус
                +e.tag
                  +e.IMG.icon(src='/icon/icon-builder.svg' alt='')
                  | Застройщик Девелопер Столица Нижний
              +e.P.title ЖК «Новая Кузнечиха»
              +e.P.txt Старт продаж новых домов от 3,6 млн 
      .slider-arrows
        +b.slider-arrow_prev
          svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
            path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6.48438.79102 1.27604 5.99935l5.20834 5.20835')
        +b.slider-arrow_next
          svg(xmlns='http://www.w3.org/2000/svg' width='8' height='12' fill='none')
            path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m1.51562.79102 5.20834 5.20833-5.20834 5.20835')
