.comercial
  margin: 9rem 0
  +screen('max', 1023)
    margin: 5rem 0
  &__row
    display: flex
    align-items: flex-start
    justify-content: space-between
    gap: 6rem
    +screen('max', 1500)
      display: block
  &__left
    max-width: 500px
    width: 40%
    +screen('max', 1023)
      width: 100%
      max-width: 100%
  &__title
    margin-bottom: 3.5rem
    +screen('max', 700)
      margin-bottom: 2rem
  &__pic
    width: 100%
    vertical-align: middle
    border-radius: 20px
    +screen('max', 1500)
      max-width: 304px
    +screen('max', 1023)
      display: none
  &__right
    max-width: 1195px
    width: 70%
    +screen('max', 1023)
      width: 100%
  &__txt
    +fs(20px)
    line-height: 1.5
    color: var(--color-gray)
    margin-bottom: 5rem
    +screen('max', 1500)
      +fs(16px)
    +screen('max', 700)
      margin-bottom: 2.5rem
    p
      margin-bottom: 1rem
  &__info
    display: flex
    align-items: center
    gap: 1.2rem
    margin-bottom: 4rem
    +screen('max', 1023)
      display: none
  &__metro
    display: flex
    align-items: center
    gap: 1rem
    +fs(18px)
    font-weight: 600
    +screen('max', 1500)
      +fs(12px)
    &::before
      content: ''
      width: 6px
      height: 6px
      border-radius: 100%
      background: #c51e1e
  &__time
    display: flex
    align-items: center
    gap: .5rem
    font-weight: 600
    color: #9c9c9c
    +fs(18px)
    +screen('max', 1500)
      +fs(12px)
    svg
      +screen('max', 1500)
        transform: scale(.8)
  &__list
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 3rem
    +screen('max', 700)
      grid-template-columns: repeat(3, 154px)
      overflow: auto
      margin: 0 -2rem
      padding-inline: 2rem
      gap: .8rem
  &__item
    border-radius: 100%
    border: 1px solid var(--secondary)
    padding-block: 8rem
    text-align: center
    +screen('max', 1500)
      padding-block: 4.5rem
    +screen('max', 700)
      padding-block: 3rem
  &__numb
    +fs(60px)
    color: var(--secondary)
    font-weight: 600
    margin-bottom: 3rem
    padding-bottom: 2rem
    position: relative
    +screen('max', 1500)
      +fs(30px)
      margin-bottom: 2rem
      padding-bottom: 2rem
    +screen('max', 700)
      padding-bottom: 1rem
      margin-bottom: .5rem
    &:after
      content: ''
      position: absolute
      width: 76px
      height: 1px
      background: var(--secondary)
      bottom: 0
      left: 0
      right: 0
      margin: 0 auto
    span
      +fs(6.931px)
  &__sign
    +fs(24px)
    line-height: 1.2
    color: #838c95
    max-width: 220px
    display: inline-block
    +screen('max', 1500)
      +fs(14px)
      max-width: 160px
    +screen('max', 700)
      +fs(12px)
      max-width: 130px
      line-height: 1
    b
      color: var(--primary)
      display: block