.credit-need
  margin: 9rem 0
  +screen('max', 1500)
    margin: 6rem 0
  +screen('max', 700)
    margin: 3.5rem 0
  &__title
    margin-bottom: 7rem
    +screen('max', 1500)
      margin-bottom: 5rem
    +screen('max', 700)
      margin-bottom: 3.5rem
  &__list
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 4rem
    +screen('max', 1023)
      grid-template-columns: repeat(4, 270px)
      overflow: auto
      gap: 2rem
    +screen('max', 700)
      grid-template-columns: 1fr
  &__item
    +screen('max', 700)
      display: flex
      gap: 2rem
  &__caption
    +fs(24px)
    font-weight: 600
    margin: 4rem 0 2rem
  &__pic
    vertical-align: middle
    margin-bottom: 2rem
    +screen('max', 1500)
      width: 50px
    +screen('max', 700)
      flex-shrink: 0
  &__txt
    +fs(20px)
    line-height: 1.5
    color: var(--color-gray)
    +screen('max', 1500)
      +fs(14px)
    b
      color: var(--primary)
      font-weight: 600
  &__head
    display: flex
    align-items: flex-start
    justify-content: space-between
    gap: 4rem
    padding-bottom: 7rem
    +screen('max', 1500)
      padding-bottom: 5rem
    +screen('max', 1023)
      display: block
      padding-bottom: 4rem
    +screen('max', 700)
      padding-bottom: 3rem
  &__left
    max-width: 500px
    width: 40%
    +screen('max', 1023)
      width: 100%
      max-width: 100%
  &__right
    max-width: 1195px
    width: 70%
    +screen('max', 1023)
      width: 100%
  &__text
    line-height: 150%
    +fs(20px)
    color: var(--color-gray)
    max-width: 1195px
    +screen('max', 1500)
      +fs(16px)
      max-width: 750px
    a
      color: var(--tertiary)
    p
      margin-bottom: 1rem
      &:last-of-type
        margin-bottom: 0
  &__more
    width: 100%
    margin-top: 7rem