.error-page
  height: 100%
  min-height: 800px
  display: flex
  justify-content: center
  align-items: center
  flex-flow: column
  box-sizing: border-box
  padding-block: 20rem 14rem
  position: relative
  +screen('max', 1500)
    padding-block: 10rem
  +screen('max', 700)
    padding-inline: 1.5rem
    padding-block: 10rem 4rem
  & + .footer
    margin-top: -4rem
  &_type-1
    &:before
      content: ''
      width: 315px
      height: 250px
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='315' height='538' fill='none' viewBox='0 0 315 538'%3E%3Cpath fill='%2300a6e6' fill-rule='evenodd' d='m35.295 153.415-244.863 26.332 108.977 220.827 244.877-26.281z' clip-rule='evenodd'/%3E%3Cpath fill='%2370b865' fill-rule='evenodd' d='m-100.584 400.581 343.933-36.926 71.339-129.756-343.933 36.926z' clip-rule='evenodd'/%3E%3C/svg%3E")
      background-repeat: no-repeat
      background-position: center
      background-size: cover
      position: absolute
      bottom: 0
      left: 0
      z-index: -1
      +screen('max', 700)
        width: 200px
        height: 154px
    &:after
      content: ''
      width: 315px
      height: 250px
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320' height='344' fill='none' viewBox='0 0 320 344'%3E%3Cpath fill='%2300a6e6' fill-rule='evenodd' d='m289.989 223.956 234.188-76.202L372.053-45.892 137.84 30.264z' clip-rule='evenodd'/%3E%3Cpath fill='%2370b865' fill-rule='evenodd' d='M372.038-45.896 43.085 61.078.002 202.746 328.955 95.771z' clip-rule='evenodd'/%3E%3C/svg%3E")
      background-repeat: no-repeat
      background-position: center
      background-size: cover
      position: absolute
      top: 0
      right: 0
      z-index: -1
      +screen('max', 700)
        width: 200px
        height: 200px
  &_type-2
    &:before
      content: ''
      width: 315px
      height: 250px
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='315' height='409' fill='none' viewBox='0 0 315 409'%3E%3Cpath fill='%2300a6e6' fill-rule='evenodd' d='m35.295 255.386-244.863-26.332L-100.591 8.227l244.877 26.281z' clip-rule='evenodd'/%3E%3Cpath fill='%2370b865' fill-rule='evenodd' d='m-100.584 8.22 343.933 36.926 71.339 129.756-343.933-36.926z' clip-rule='evenodd'/%3E%3C/svg%3E")
      background-repeat: no-repeat
      background-position: top
      background-size: cover
      position: absolute
      top: 0
      left: 0
      z-index: -1
      +screen('max', 700)
        width: 200px
        height: 154px
    &:after
      content: ''
      width: 315px
      height: 250px
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320' height='473' fill='none' viewBox='0 0 320 473'%3E%3Cpath fill='%2300a6e6' fill-rule='evenodd' d='m289.989 120.049 234.188 76.202-152.124 193.646-234.213-76.156z' clip-rule='evenodd'/%3E%3Cpath fill='%2370b865' fill-rule='evenodd' d='M372.038 389.901 43.085 282.927.002 141.259l328.953 106.975z' clip-rule='evenodd'/%3E%3C/svg%3E")
      background-repeat: no-repeat
      background-position: center
      background-size: cover
      position: absolute
      bottom: 0
      right: 0
      z-index: -1
      +screen('max', 700)
        width: 200px
        height: 200px
  &__number
    margin-bottom: 3rem
    +fs(200px)
    color: var(--brand-primary-light)
    font-family: var(--second-family)
    line-height: 1
    letter-spacing: -0.05em
    text-transform: uppercase
    +screen('max', 1500)
      +fs(180px)
      margin-bottom: 1.5rem
    +screen('max', 700)
      +fs(100px)
      margin-bottom: 1rem
  &__title
    +fs(30px)
    font-family: var(--second-family)
    margin-bottom: 3rem
    letter-spacing: -0.02em
    text-transform: uppercase
    text-align: center
    max-width: 1445pxz
    +screen('max', 1500)
      +fs(24px)
      margin-bottom: 2rem
    +screen('max', 700)
      +fs(20px)
  &__txt
    text-align: center
    +fs(22px)
    color: var(--black-60)
    max-width: 1110px
    margin-bottom: 5rem
    line-height: 120%
    text-align: center
    font-weight: 300
    +screen('max', 1500)
      +fs(16px)
      margin-bottom: 2.5rem
      max-width: 660px
    +screen('max', 700)
      +fs(14px)
  &__btn
    +screen('max', 700)
      width: 100%
