.excursion
  background: var(--black-grey-light)
  border-radius: 2px
  padding-block: 9rem
  margin: 0 5px
  +screen('max', 1500)
    padding-block: 6rem
  +screen('max', 1023)
    padding-block: 5rem
    border-radius: 2px
  +screen('max', 700)
    padding-block: 3.5rem
  &__text
    +fs(22px)
    line-height: 1.2
    font-weight: 300
    color: var(--black-80)
    +screen('max', 1500)
      +fs(14px)
    b
      color: var(--black-100)
      font-weight: 600
      font-family: var(--second-family)
      letter-spacing: -0.02em
      text-transform: uppercase
    p
      margin-bottom: 1rem
  &__head
    display: flex
    align-items: flex-start
    justify-content: space-between
    gap: 4rem
    +screen('max', 1023)
      display: block
  &__left
    max-width: 500px
    width: 40%
    +screen('max', 1023)
      width: 100%
      max-width: 100%
  &__right
    max-width: 1195px
    width: 70%
    +screen('max', 1023)
      width: 100%
  &__title
    +screen('max', 1023)
      margin-bottom: 2.5rem

.excursion-tour
  &__container
    display: grid
    grid-template-columns: 1fr 234px
    gap: 2rem
    +screen('max', 1023)
      grid-template-columns: 1fr
  &__content
    padding: 4.5rem 6rem
    box-sizing: border-box
    border-radius: 2px
    background-color: var(--white-100)
    box-shadow: 0 11px 33px 0 rgba(158, 163, 172, 0.12)
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 2rem
    +screen('max', 1500)
      padding: 4rem
    +screen('max', 700)
      padding: 2.5rem 2rem 10rem
      background-image: none
      display: block
      position: relative
      border-radius: 2px
  &__title
    margin-bottom: 2rem
    +screen('max', 700)
      +fs(22px)
      margin-bottom: 1.3rem
  &__addr
    +fs(20px)
    line-height: 130%
    text-transform: uppercase
    +screen('max', 1500)
      +fs(18px)
    +screen('max', 700)
      +fs(14px)
      margin-bottom: 2rem
      padding-bottom: 2rem
      border-bottom: 1px solid var(--black-20)
  &__video
    margin-top: 4rem
  &__time
    +fs(18px)
    font-weight: 300
    margin-bottom: 2rem
    +screen('max', 1500)
      +fs(12px)
  &__phone
    +fs(38px)
    letter-spacing: -0.02em
    text-transform: uppercase
    color: var(--brand-primary-light)
    +screen('max', 1500)
      +fs(28px)
  &__button
    background: var(--brand-primary-light)
    mix-blend-mode: darken
    border-radius: 2px
    display: flex
    flex-flow: column
    justify-content: center
    align-items: center
    gap: 2.5rem
    box-sizing: border-box
    +screen('max', 1100)
      flex-flow: row
      padding: 2rem
  &__sign
    font-weight: 400
    +fs(30px)
    line-height: 120%
    letter-spacing: -0.02em
    text-transform: uppercase
    text-align: center
    color: var(--white-100)
    +screen('max', 1500)
      +fs(22px)
      +screen('max', 700)
        +fs(18px)
  &__icon
    +screen('max', 700)
      height: 40px
      width: 40px
  &__video
    display: inline-flex
    align-items: center
    justify-content: center
    gap: 1rem
    padding: 1.8rem 3rem
    +screen('max', 1500)
      padding: 1.3rem 2rem
    +screen('max', 700)
      width: calc(100% - 4rem)
      left: 2rem
      bottom: 2rem
      position: absolute

.excursion-nearest
  margin: 11rem 0
  +screen('max', 1500)
    margin: 7rem 0
  +screen('max', 1023)
    margin: 5.5rem 0
  +screen('max', 700)
    margin: 4rem 0
  &__box
    box-sizing: border-box
    border-radius: 2px
    background: var(--black-grey-light)
    padding: 4rem 3rem
    display: flex
    justify-content: space-between
    align-items: center
    gap: 4rem
    margin: 4rem 0 7rem
    +screen('max', 1023)
      flex-wrap: wrap
      padding: 2rem
      gap: 1.5rem
    .timer
      background: var(--brand-primary-light)
      max-width: 333px
      +screen('max', 700)
        max-width: 100%
        display: flex
        justify-content: center
      &__count
        +fs(42px)
        background: var(--white-100)
        color: var(--brand-primary-light)
  &__time
    +fs(42px)
    color: var(--brand-primary-light)
    text-transform: uppercase
    font-weight: 300
    line-height: 1.1
    margin-bottom: 1rem
    +screen('max', 1500)
      +fs(30px)
    +screen('max', 700)
      +fs(24px)
  &__info
    flex-grow: 1
    +screen('max', 1023)
      order: -1
      width: 50%
    +screen('max', 700)
      width: 100%
  &__txt
    +fs(20px)
    text-transform: uppercase
    line-height: 1.3
    +screen('max', 1500)
      +fs(18px)
    +screen('max', 700)
      +fs(16px)
  &__control
    display: flex
    align-items: center
    gap: 2rem
    +screen('max', 1500)
      flex-flow: column
    +screen('max', 1023)
      flex-flow: row
      flex-grow: 1
    +screen('max', 700)
      flex-flow: column
      gap: 1.5rem
  &__more
    +screen('max', 1500)
      width: 100%
    +screen('max', 1023)
      width: 50%
    +screen('max', 700)
      width: 100%
  &__btn
    +screen('max', 1023)
      width: 50%
    +screen('max', 700)
      width: 100%
