.execution
  background: var(--black-grey-light)
  border-radius: 2px
  padding-block: 8rem
  margin: 1rem 5px 0
  +screen('max', 1500)
    padding-block: 6rem
    +screen('max', 1023)
      padding-block: 5rem
    +screen('max', 700)
      padding-block: 3.5rem
  &__head
    display: flex
    justify-content: space-between
    gap: 2rem
    margin-bottom: 6rem
    +screen('max', 1023)
      display: block
      margin-bottom: 3.5rem
  &__title
    line-height: 1
  &__txt
    line-height: 150%
    +fs(20px)
    color: var(--black-40)
    max-width: 1195px
    +screen('max', 1500)
      +fs(16px)
      max-width: 750px
    a
      color: var(--brand-primary-light)
    p
      margin-bottom: 1rem
      &:last-of-type
        margin-bottom: 0
  &__list
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 2rem
    +screen('max', 1023)
      overflow: auto
      grid-template-columns: repeat(3, 387px)
      margin: 0 -2rem
      padding-inline: 2rem
      gap: 1rem
    +screen('max', 700)
      grid-template-columns: repeat(3, 295px)
  &__item
    padding: 3rem 3rem 14rem
    box-sizing: border-box
    border-radius: 2px
    box-shadow: 0 11px 33px 0 rgba(158, 163, 172, 0.12)
    background: var(--white-100)
    position: relative
    height: 100%
    +screen('max', 1500)
      padding: 3rem 3rem 11rem
    +screen('max', 700)
      padding: 1.5rem 1.5rem 10rem
  &__numb
    +fs(112px)
    font-weight: 300
    color: var(--black-5)
    margin-bottom: 3.5rem
    line-height: 1
    +screen('max', 1500)
      +fs(100px)
    +screen('max', 700)
      +fs(80px)
  &__caption
    +fs(28px)
    font-weight: 300
    margin-bottom: 2rem
    +screen('max', 1023)
      +fs(16px)
      margin-bottom: 1.2rem
  &__txt
    +fs(22px)
    line-height: 1.2
    font-weight: 300
    color: var(--black-60)
    +screen('max', 1500)
      +fs(14px)
  &__more
    position: absolute
    bottom: 3rem
    left: 3rem
    +screen('max', 700)
      bottom: 2rem
      left: 1.5rem
      width: calc( 100% - 3rem )
  &__callback
    margin-top: 5rem
    display: flex
    justify-content: space-between
    align-items: center
    gap: 4rem
    border-radius: 2px
    border: 1px solid var(--brand-primary-light)
    padding: 2.5rem 3rem
    background: var(--white-100)
    +screen('max', 1500)
      padding: 2rem
    +screen('max', 1023)
      flex-wrap: wrap
      gap: 2rem
  &__sign
    +fs(18px)
    font-weight: 300
    line-height: 110%
    padding-left: 85px
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' fill='none' viewBox='0 0 60 60'%3E%3Ccircle cx='30' cy='30' r='30' fill='%230082ca'/%3E%3Cpath fill='%23fff' d='M32.146 33.966h-2.504l-.679-14.37h3.861zm-3.352 4.554q0-1.16.594-1.627.608-.48 1.485-.48.863 0 1.47.48.609.466.609 1.627 0 1.13-.608 1.64-.609.495-1.471.495-.878 0-1.485-.495-.594-.51-.594-1.64'/%3E%3C/svg%3E")
    background-repeat: no-repeat
    background-position: left center
    background-size: 60px
    max-width: 1020px
    padding-bottom: 2rem
    +screen('max', 1500)
      +fs(14px)
      background-size: 30px
      padding-left: 50px
    +screen('max', 700)
      background-position: top left
    a
      color: var(--brand-primary-light)
  &__control
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 2rem
    flex-shrink: 0
    max-width: 558px
    width: 40%
    +screen('max', 1023)
      width: 100%
      padding-left: 5rem
      max-width: 100%
      box-sizing: border-box
    +screen('max', 700)
      grid-template-columns: 1fr
      padding-left: 0
      gap: 1rem