.manufacure-tabs
  margin: 8rem 0
  +screen('max', 1500)
    margin: 6rem 0
  +screen('max', 700)
    margin: 4.5rem 0
  &_gray
    background: var(--fon)
    border-radius: 40px
    padding-block: 8rem
    +screen('max', 1500)
      padding-block: 6rem
    +screen('max', 1023)
      padding-block: 5rem
      border-radius: 20px
    +screen('max', 700)
      padding-block: 3.5rem
  &__head
    display: flex
    justify-content: space-between
    gap: 2rem
    margin-bottom: 6rem
    +screen('max', 1023)
      display: block
      margin-bottom: 3.5rem
  &__title
    line-height: 1
    +fs(30px)
    +screen('max', 1500)
      +fs(22px)
    +screen('max', 1023)
      margin-bottom: 2.5rem
    +screen('max', 700)
      margin-bottom: 2rem
      +fs(18px)
  &__text
    line-height: 150%
    +fs(20px)
    color: var(--color-gray)
    max-width: 1195px
    +screen('max', 1500)
      +fs(16px)
      max-width: 750px
    a
      color: var(--tertiary)
    p
      margin-bottom: 1rem
      &:last-of-type
        margin-bottom: 0
  &__list
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 2rem
    +screen('max', 1023)
      overflow: auto
      grid-template-columns: repeat(3, 387px)
      margin: 0 -2rem
      padding-inline: 2rem
      gap: 1rem
    +screen('max', 700)
      grid-template-columns: repeat(3, 295px)
    &_four
      grid-template-columns: repeat(4, 1fr)
  &__pic
    width: 100%
    vertical-align: middle
    border-radius: 20px
    +screen('max', 1023)
      border-radius: 15px
  &__caption
    +fs(24px)
    font-weight: 600
    line-height: 1.2
    margin-top: 2.5rem
    margin-bottom: 1rem
    +screen('max', 1500)
      +fs(18px)
      margin-top: 2rem
    +screen('max', 700)
      +fs(16px)
  &__sign
    +fs(18px)
    opacity: 0.9
    color: var(--color-gray)
    line-height: 1.4
    +screen('max', 1500)
      +fs(14px)
    p
      margin-bottom: 1rem
      &:last-of-type
        margin-bottom: 0
    b
      color: var(--primary)
      font-weight: 600
  &__wrapper
    max-width: 434px
    &:hover
      .slider-arrow, .slider-dots
        opacity: 1
  &__bottom
    padding-top: 3.5rem
    margin-top: 5rem
    border-top: 1px solid #bdc0ca
  &__signature
    max-width: 1195px
    color: var(--color-gray)
    opacity: 0.9
    line-height: 1.5
  .slider-arrow
    position: absolute
    top: 90%
    z-index: 2
    transform: translateY(-50%)
    background: none
    opacity: 0
    transition: .5s ease
    &_prev
      left: 0
    &_next
      right: 0
    svg
      transform: scale(1.1)
    path
      stroke: var(--white)
  .slider-dots
    position: absolute
    left: 0
    right: 0
    justify-content: center
    z-index: 3
    bottom: 1.5rem
    opacity: 0
    transition: .5s ease
    .swiper-pagination-bullet.swiper-pagination-bullet-active
      background: var(--secondary)

.manufacure-content
  margin: 8rem 0
  +screen('max', 1500)
    margin: 6rem 0
  +screen('max', 700)
    margin: 5rem 0
  &__inner
    display: flex
    justify-content: space-between
    align-items: center
    gap: 10rem
    +screen('max', 1500)
      gap: 4rem
    +screen('max', 1023)
      display: block
  &__title
    margin-bottom: 3rem
    +screen('max', 1500)
      margin-bottom: 2rem
  &__text
    line-height: 150%
    color: var(--color-gray)
    +fs(20px)
    margin-bottom: 3rem
    +screen('max', 1500)
      +fs(16px)
    p
      margin-bottom: 1rem
      &:last-of-type
        margin-bottom: 0
    ol
      list-style: decimal inside
      margin-top: 2rem
      li
        margin-bottom: 1rem
        &:last-of-type
          margin-bottom: 0
  &__btn
    padding: 2rem 2.8rem
    +screen('max', 1023)
      margin-bottom: 3rem
    +screen('max', 700)
      width: 100%
  &__pic
    max-width: 1191px
    width: 65%
    border-radius: 25px
    +screen('max', 1023)
      width: 100%
      border-radius: 15px
