.popup
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 9999
  display: none
  &__overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: -1
    backdrop-filter: blur(2px)
    background: rgba(0, 0, 0, 0.8)
  &__container
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    border-radius: 40px
    max-width: 1580px
    background: #eff1f3
    width: calc(100% - 4rem)
    min-height: 745px
    +screen('max', 1500)
      min-height: 680px
    +screen('max', 1023)
      border-radius: 30px
      min-height: 790px
    +screen('max', 700)
      transform: none
      top: 70px
      width: calc(100% - 2rem)
      border-radius: 20px
      left: 1rem
      max-height: calc(100% - 70px)
      min-height: auto
      overflow: auto
    &_white
      background: var(--white)
  &__close
    position: absolute
    top: 2.5rem
    right: 2.5rem
    cursor: pointer
    +screen('max', 1023)
      top: -5rem
    path
      +screen('max', 1023)
        fill: var(--white)
    &_black
      path
        fill: var(--primary)
        +screen('max', 1023)
          fill: var(--white)
  &__frame
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    border-radius: 30px
    box-shadow: 0 16px 43px 0 rgba(0, 0, 0, 0.25)
    background: #fff
    max-height: 100vh
    max-width: 1612px
    width: calc(100% - 4rem)
    height: calc(100vh - 6rem)
    padding: 0.5rem
    min-height: 600px
    overflow: auto
  &__close-btn
    position: absolute
    top: 0.7rem
    right: 0.7rem

.popup-login
  padding: 6.5rem 5rem 5rem
  text-align: center
  +screen('max', 1023)
    padding: 4rem 2rem 2rem
  +screen('max', 700)
    padding: 2rem
  &__title
    margin: 3rem 0 5rem
    +screen('max', 1023)
      margin: 2.5rem 0 3rem
  &__tabs
    border: 1px solid var(--tertiary)
    border-radius: 84px
    background: var(--white)
    box-sizing: border-box
    padding: 0.3rem
    display: inline-flex
    justify-content: center
    align-items: center
  &__tab
    +fs(18px)
    font-weight: 600
    padding: 2rem 3.5rem
    border-radius: 48px
    transition: .5s ease
    +screen('max', 1500)
      +fs(12px)
      padding: 1.2rem 1.5rem
    +screen('max', 1023)
      padding: 1.2rem
    +screen('max', 700)
      padding: 1.2rem 2.5vw
    &.active
      background: var(--tertiary)
      color: var(--white)
  &__action
    display: none
    &:first-of-type
      display: block
  &__fields
    display: inline-grid
    grid-template-columns: repeat(3, 1fr)
    align-items: flex-end
    gap: 3rem 4rem
    max-width: 1070px
    width: 100%
    +screen('max', 1500)
      max-width: 900px
      gap: 2rem
    +screen('max', 1023)
      grid-template-columns: repeat(2, 1fr)
      max-width: 570px
    +screen('max', 700)
      grid-template-columns: 1fr
      gap: 1.2rem
  &__name
    margin-bottom: 1.5rem
    text-align: left
    +screen('max', 1500)
      +fs(12px)
      margin-bottom: 1rem
  &__field
    border: 1px solid transparent
    width: 100%
    padding: 2.3rem 2rem
    box-sizing: border-box
    background: var(--white)
    +fs(18px)
    font-weight: 600
    border-radius: 64px
    transition: .5s ease
    +screen('max', 1500)
      +fs(14px)
      padding: 1.6rem
      border-radius: 25px
    &::placeholder
      color: var(--primary)
      opacity: 0.4
    &:focus
      border-color: var(--secondary)
  &__group
    &:last-of-type
      +screen('max', 1023)
        grid-column: 1/3
      +screen('max', 700)
        grid-column: auto
  &__req
    +fs(16px)
    font-weight: 600
    margin: 4rem 0
    color: #838c95
    +screen('max', 1500)
      +fs(12px)
      margin-top: 3rem
    +screen('max', 1023)
      max-width: 460px
      display: inline-block
    +screen('max', 700)
      margin-top: 1.5rem
    a
      color: var(--color-gray)
  &__submit
    +screen('max', 1023)
      grid-column: 1/3
    +screen('max', 700)
      grid-column: auto
  &__info
    text-align: left
    padding: 2.5rem 2.5rem 2.5rem 8rem
    border-radius: 15px
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' fill='none'%3E%3Ccircle cx='17.5' cy='17.5' r='17.5' fill='%2351A747'/%3E%3Cpath fill='%23fff' d='M18.9561 19.9082h-1.5557l-.4219-8.9297h2.3994l-.4218 8.9297Zm-2.0831 2.8301c0-.4805.1231-.8174.3692-1.0108.2519-.1992.5596-.2988.9228-.2988.3575 0 .6621.0996.9141.2988.252.1934.3779.5303.3779 1.0108 0 .4687-.1259.8086-.3779 1.0195-.252.2051-.5566.3076-.9141.3076-.3632 0-.6709-.1025-.9228-.3076-.2461-.2109-.3692-.5508-.3692-1.0195Z'/%3E%3C/svg%3E")
    background-color: #e4e8ec
    background-repeat: no-repeat
    background-position: 25px center
    background-size: 35px
    line-height: 1.4
    color: #838c95
    box-sizing: border-box
    +screen('max', 1500)
      +fs(14px)
      background-size: 30px
    +screen('max', 1023)
      background-position: 15px 20px
      padding: 2rem 2rem 2rem 6rem
    +screen('max', 700)
      +fs(12px)
      padding: 1rem 1rem 1rem 6rem
      position: relative
      width: calc(100% + 2rem)
      left: -1rem
  &__send
    width: 100%
  &__wrap
    max-width: 335px
    width: 100%
    display: inline-grid
    grid-template-columns: 1fr
    gap: 2rem
    +screen('max', 1023)
      max-width: 570px
    +screen('max', 700)
      gap: 1.2rem
  &__link
    margin-top: 1rem
    font-weight: 600
    color: var(--color-gray)
    cursor: pointer
    transition: .5s ease
    +screen('max', 1500)
      +fs(14px)
    +screen('max', 700)
      margin-bottom: 2rem
    &:hover
      color: var(--hover-green)

.success-register
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  flex-flow: column
  min-height: 745px
  +screen('max', 1500)
    min-height: 680px
  +screen('max', 1023)
    min-height: 790px
  +screen('max', 700)
    min-height: auto
    padding: 3rem 2rem 2rem
    box-sizing: border-box
  &__pic
    margin-bottom: 7rem
    +screen('max', 1500)
      margin-bottom: 4rem
    +screen('max', 700)
      width: 80px
      margin-bottom: 3rem
  &__title
    margin-bottom: 2rem
  &__sign
    +fs(20px)
    line-height: 1.5
    margin-bottom: 4rem
    +screen('max', 1500)
      +fs(16px)
    +screen('max', 700)
      +fs(14px)
      line-height: 1.3
      margin-bottom: 2.5rem
  &__btn
    +screen('max', 700)
      width: 100%

.popup-info
  &__wrapper
    position: relative
    .swiper-slide
      width: auto
    .slider-arrows
      position: absolute
      top: 50%
      transform: translateY(-50%)
      display: flex
      justify-content: space-between
      align-items: center
      width: calc(100% - 4rem)
      left: 2rem
      z-index: 2
      +screen('max', 700)
        display: none
  &__pic
    border-radius: 25px
    vertical-align: middle
  