.practicum
  margin-bottom: 10rem
  +screen('max', 1500)
    margin-bottom: 7rem
  +screen('max', 1023)
    margin-bottom: 5.5rem
  +screen('max', 700)
    margin-bottom: 4rem
  &__list
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 1.5rem
    +screen('max', 1500)
      gap: 2rem
    +screen('max', 1023)
      grid-template-columns: 1fr
      gap: 1.5rem
  &__item
    position: relative
    display: block
    +screen('max', 1023)
      width: 350px
      flex-shrink: 0
    +screen('max', 700)
      width: 80vw
    &:last-of-type
      +screen('max', 1500)
        display: none
    &:before
      content: ''
      width: 100%
      height: 100%
      left: 0
      top: 0
      border-radius: 2px
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 6.96%, rgba(0, 0, 0, 0) 70.15%)
      position: absolute
    &:after
      content: ''
      width: 70px
      height: 70px
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' fill='none' viewBox='0 0 60 60'%3E%3Ccircle cx='30' cy='30' r='30' fill='%2300a6e6'/%3E%3Cpath fill='%23fff' d='M38.407 28.929a2 2 0 0 1 0 3.366l-10.826 6.946c-1.332.854-3.08-.102-3.08-1.684v-13.89c0-1.582 1.748-2.538 3.08-1.684z'/%3E%3C/svg%3E")
      background-repeat: no-repeat
      background-position: center
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      z-index: 2
  &__pic
    border-radius: 2px
    vertical-align: middle
    max-width: 100%
  &__holder
    display: block
    position: absolute
    bottom: 0
    left: 0
    padding: 2rem
    box-sizing: border-box
    +fs(22px)
    font-weight: 600
    color: var(--white-100)
    z-index: 2
    +screen('max', 1500)
      +fs(14px)

.practicum-about
  margin: 9rem 0
  +screen('max', 1500)
    margin: 6rem 0
  +screen('max', 700)
    margin: 3.5rem 0
  &__row
    display: flex
    align-items: flex-start
    justify-content: space-between
    gap: 6rem
    +screen('max', 1023)
      display: block
  &__left
    max-width: 500px
    width: 40%
    +screen('max', 1023)
      width: 100%
      max-width: 100%
  &__title
    margin-bottom: 3.5rem
    +screen('max', 700)
      margin-bottom: 2rem
  &__right
    max-width: 1195px
    width: 70%
    +screen('max', 1023)
      width: 100%
  &__txt
    +fs(18px)
    line-height: 1.1
    color: var(--black-80)
    font-weight: 300
    margin-bottom: 5rem
    +screen('max', 1500)
      +fs(16px)
    +screen('max', 700)
      margin-bottom: 2.5rem
    p
      margin-bottom: 1rem
  &__middle
    padding-top: 6rem
    margin-top: 6rem
    border-top: 1px solid var(--black-20)
  &__steps
    counter-reset: list
    li
      margin-bottom: 4rem
      position: relative
      padding-left: 9.5rem
      +screen('max', 1500)
        padding-left: 6.5rem
        margin-bottom: 3.5rem
      +screen('max', 700)
        margin-bottom: 2rem
      &:before
        counter-increment: list
        content: counter(list)
        width: 60px
        height: 60px
        position: absolute
        top: 0
        left: 0
        border-radius: 100%
        border: 1px solid var(--brand-primary-light)
        font-family: var(--second-family)
        +fs(24px)
        font-weight: 600
        display: flex
        justify-content: center
        align-items: center
        +screen('max', 1500)
          width: 45px
          height: 45px
          +fs(18px)
      &:after
        content: ''
        width: 8px
        height: 60%
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='54' fill='none' viewBox='0 0 8 54'%3E%3Cpath fill='%230082ca' d='M4.184.5a.5.5 0 1 0-1 0h1M3.33 53.354a.5.5 0 0 0 .707 0l3.182-3.182a.5.5 0 1 0-.707-.707l-2.828 2.828-2.829-2.828a.5.5 0 1 0-.707.707zM3.684.5h-.5V53h1V.5z'/%3E%3C/svg%3E")
        background-repeat: no-repeat
        background-size: cover
        background-position: bottom
        position: absolute
        top: 65px
        left: 28px
      &:last-of-type
        &:after
            content: none
    b
      display: block
      +fs(24px)
      font-weight: 600
      font-family: var(--second-family)
      text-transform: uppercase
      letter-spacing: -0.02em
      margin-bottom: 1.5rem
      +screen('max', 1500)
        +fs(18px)
        margin-bottom: 0.8rem
      +screen('max', 700)
        +fs(16px)
    span
      +fs(18px)
      line-height: 1.1
      font-weight: 300
      color: var(--black-80)
      +screen('max', 1500)
        +fs(14px)
      +screen('max', 700)
        +fs(12px)
  &__info
    padding: 3rem 2.5rem 3rem 9.5rem
    box-sizing: border-box
    border-radius: 2px
    background-color: var(--black-grey-light)
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='45' fill='none' viewBox='0 0 45 45'%3E%3Ccircle cx='22.5' cy='22.5' r='22.5' fill='%230082ca'/%3E%3Cpath fill='%23fff' d='M23.348 24.773h-2.075l-.562-11.906h3.2zm-2.778 3.774q0-.96.492-1.348.505-.398 1.231-.398.715 0 1.219.398.504.387.504 1.348 0 .937-.504 1.36-.504.41-1.219.41-.727 0-1.23-.41-.493-.423-.493-1.36'/%3E%3C/svg%3E")
    background-repeat: no-repeat
    background-position: 2.5rem center
    +screen('max', 700)
      padding: 1.5rem 2rem 1.5rem 5.5rem
      background-size: 30px
      background-position: 1.5rem 1.5rem
    b
      display: block
      +fs(28px)
      font-weight: 300
      margin-bottom: 1rem
      +screen('max', 1500)
        +fs(18px)
      +screen('max', 700)
        +fs(16px)
    span
      +fs(18px)
      line-height: 1.1
      font-weight: 300
      color: var(--black-60)
      +screen('max', 1500)
        +fs(14px)
      +screen('max', 700)
        +fs(12px)

.practicum-bonus
  padding-block: 7.5rem
  background: var(--brand-primary-dark)
  border-radius: 2px
  margin: 9rem .5rem
  +screen('max', 1023)
    padding-block: 5rem
    position: relative
  +screen('max', 700)
    padding-block: 4rem
  &__title
    color: var(--white-100)
    margin-bottom: 6rem
    +screen('max', 1023)
      margin-bottom: 4rem
    +screen('max', 700)
      margin-bottom: 3rem
  &__list
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 2rem
    +screen('max', 1023)
      grid-template-columns: 1fr
    +screen('max', 700)
      font-style: 1rem
  &__item
    padding: 1.5rem 3rem 12rem
    box-sizing: border-box
    border-radius: 2px
    box-shadow: 0 11px 33px 0 rgba(158, 163, 172, 0.12)
    background: var(--white-100)
    position: relative
    height: 100%
    +screen('max', 1023)
      display: flex
      height: auto
      padding-bottom: 2.5rem
      gap: 5rem
      align-items: center
      padding: 2.5rem
      border-radius: 2px
    +screen('max', 700)
      padding: 1.5rem
      flex-flow: column
      align-items: flex-start
      gap: 1rem
  &__numb
    +fs(100px)
    font-weight: 200
    color: var(--black-10)
    margin-bottom: 3.5rem
    line-height: 1
    +screen('max', 1500)
      +fs(100px)
    +screen('max', 1023)
      +fs(70px)
      margin-bottom: 0
    +screen('max', 700)
      +fs(30px)
  &__caption
    +fs(28px)
    font-weight: 300
    margin-bottom: 2rem
    +screen('max', 1023)
      +fs(20px)
      margin-bottom: 2.5rem
    +screen('max', 1023)
      +fs(16px)
      margin-bottom: 1.2rem
    +screen('max', 700)
      +fs(18px)
      margin-bottom: 2.5rem
  &__content
    +screen('max', 700)
      width: 100%
  &__more
    position: absolute
    bottom: 3rem
    left: 3rem
    +screen('max', 1023)
      position: relative
      left: 0
      bottom: 0
    +screen('max', 700)
      width: 100%

.practicum-speakers
  margin: 8rem 0
  +screen('max', 1023)
    margin: 6rem 0
  +screen('max', 700)
    margin: 4rem 0
  &__head
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 6rem
    +screen('max', 700)
      margin-bottom: 4rem
    .slider-arrow
      width: 67px
      height: 67px
      +screen('max', 1500)
        width: 50px
        height: 50px
    .slider-arrows
      +screen('max', 1023)
        display: none
  &__wrapper
    .swiper
      margin: 0 calc((-100vw + 1860px) / 2 )
      padding-inline: calc((100vw - 1860px) / 2 )
      +screen('max', 1500)
        margin: 0 calc((-100vw + 1160px) / 2 )
        padding-inline: calc((100vw - 1160px) / 2 )
      +screen('max', 1200)
        margin: 0 -2rem
        padding-inline: 2rem
    .swiper-slide
      max-width: 325px
      +screen('max', 1500)
        max-width: 240px
      +screen('max', 700)
        max-width: 200px
  &__item
    text-align: center
  &__name
    margin-top: 2.5rem
    +screen('max', 1500)
      +fs(18px)
    +screen('max', 700)
      margin-top: 2rem
      +fs(16px)
  &__pic
    width: 100%
  &__pos
    +fs(18px)
    margin-top: 0.8rem
    font-weight: 300
    color: var(--black-80)
    +screen('max', 1500)
      +fs(14px)

.practicum-videos
  margin: 8rem 0
  +screen('max', 1023)
    margin: 6rem 0
  +screen('max', 700)
    margin: 4rem 0
  &__head
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 6rem
    +screen('max', 700)
      margin-bottom: 2.5rem
    .slider-arrow
      width: 67px
      height: 67px
      +screen('max', 1500)
        width: 50px
        height: 50px
    .slider-arrows
      +screen('max', 1023)
        display: none
  &__wrapper
    .swiper
      margin: 0 calc((-100vw + 1860px) / 2 )
      padding-inline: calc((100vw - 1860px) / 2 )
      +screen('max', 1500)
        margin: 0 calc((-100vw + 1160px) / 2 )
        padding-inline: calc((100vw - 1160px) / 2 )
      +screen('max', 1200)
        margin: 0 -2rem
        padding-inline: 2rem
  &__item
    position: relative
    display: block
    +screen('max', 1023)
      flex-shrink: 0
    +screen('max', 700)
      width: 80vw
    &:before
      content: ''
      width: 100%
      height: 100%
      left: 0
      top: 0
      border-radius: 2px
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 6.96%, rgba(0, 0, 0, 0) 70.15%)
      position: absolute
    &:after
      content: ''
      width: 70px
      height: 70px
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' fill='none' viewBox='0 0 60 60'%3E%3Ccircle cx='30' cy='30' r='30' fill='%2300a6e6'/%3E%3Cpath fill='%23fff' d='M38.407 28.929a2 2 0 0 1 0 3.366l-10.826 6.946c-1.332.854-3.08-.102-3.08-1.684v-13.89c0-1.582 1.748-2.538 3.08-1.684z'/%3E%3C/svg%3E")
      background-repeat: no-repeat
      background-position: center
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      z-index: 2
  &__pic
    border-radius: 2px
    vertical-align: middle
    max-width: 100%
  &__holder
    display: block
    position: absolute
    bottom: 0
    left: 0
    padding: 2rem
    box-sizing: border-box
    +fs(18px)
    font-weight: 400
    text-transform: uppercase
    letter-spacing: -0.02em
    color: var(--white-100)
    z-index: 2
    +screen('max', 1500)
      +fs(14px)