.select-parking
  margin: 10rem 0
  &__pic
    width: 100%
    vertical-align: middle
    border-radius: 30px
    margin-bottom: 2rem
  &__btn
    width: 100%
    background-color: var(--secondary)
    background-image: url(../img/bg-select-parking.png)
    background-repeat: no-repeat
    background-size: contain
    background-position: right
    display: flex
    justify-content: center
    align-items: center
    gap: 2rem
    +fs(30px)
    color: var(--white)
    font-weight: 600
    padding: 2.5rem
    border-radius: 20px
    box-sizing: border-box