.timer
  padding: 2.5rem 3.8rem
  box-sizing: border-box
  backdrop-filter: blur(33px)
  background: var(--black-40)
  border-radius: 2px
  +screen('max', 1023)
    background: var(--brand-primary-light)
    display: flex
    align-items: center
    justify-content: space-between
    gap: 2rem
    padding: 2rem
  +screen('max', 700)
    padding: 0.6rem .9rem
    border-radius: 8px
    margin-top: 0rem
    width: calc(100% - 2rem)
  &__row
    display: flex
    justify-content: center
    gap: 1rem
    +screen('max', 1023)
      gap: 1.5rem
    +screen('max', 700)
      gap: .5rem
  &__holder
    color: var(--white-100)
    font-family: var(--second-family)
    +fs(30px)
    text-transform: uppercase
    letter-spacing: -0.02em
    text-align: center
    margin-bottom: 1.2rem
    +screen('max', 1500)
      +fs(24px)
    +screen('max', 1023)
      margin-bottom: 0
    +screen('max', 700)
      +fs(20px)
  &__count
    border-radius: 2px
    background: var(--brand-primary-light)
    padding: 2.4rem 1.5rem
    +fs(38px)
    font-family: var(--second-family)
    color: var(--white-100)
    line-height: .8
    min-width: 78px
    text-align: center
    box-sizing: border-box
    +screen('max', 1500)
      +fs(40px)
      min-width: 68px
    +screen('max', 1023)
      background: var(--white-100)
      color: var(--brand-primary-light)
    +screen('max', 700)
      +fs(12px)
      min-width: 32px
      padding: 0.6rem
  &__sign
    font-family: var(--second-family)
    +fs(20px)
    margin-top: 1rem
    text-align: center
    text-transform: uppercase
    color: var(--white-100)
    +screen('max', 1500)
      +fs(18px)
    +screen('max', 700)
      +fs(8px)
      margin-top: 0.5rem
