mixin header()
  +b.header
    +e.container
      +e.A.home(href="/")
        +e.IMG.icon(src='/icon/icon-logo.svg' alt='')
      +e.NAV.nav
        +e.UL.list
          +e.LI.item
            +e.A.link(href="#") Квартиры и помещения
            +e.dropdown
              +e.wrap
                +e.UL.elems(data-title="Квартиры и помещения")
                  li
                    a(href="#") Ипотечный брокер 
                  li
                    a(href="#") Трейд-ин
                  li
                    a(href="#") Дистанционная сделка
                  li
                    a(href="#") Обращение в гарантийный отдел 
                  li
                    a(href="#") Обращение в домоуправляющую компанию
                  li
                    a(href="#") FAQ / книга новосела 
                  li
                    a(href="#") Клуб лояльности (программа привилегий)
                  li
                    a(href="#") Вебинары / практикум  
                  li
                    a(href="#") Стандарты строительства 
                +e.IMG.pic(src='/img/nav-banner.png' alt='')
          +e.LI.item
            +e.A.link(href="#") Способы покупки
            +e.dropdown
              +e.wrap
                +e.UL.elems(data-title="Способы покупки")
                  li
                    a(href="#") Ипотечный брокер 
                  li
                    a(href="#") Трейд-ин
                  li
                    a(href="#") Дистанционная сделка
                  li
                    a(href="#") Обращение в гарантийный отдел 
                  li
                    a(href="#") Обращение в домоуправляющую компанию
                  li
                    a(href="#") FAQ / книга новосела 
                  li
                    a(href="#") Клуб лояльности (программа привилегий)
                  li
                    a(href="#") Вебинары / практикум  
                  li
                    a(href="#") Стандарты строительства 
                +e.IMG.pic(src='/img/nav-banner.png' alt='')
          +e.LI.item
            +e.A.link(href="#") Преимущества
            +e.dropdown
              +e.wrap
                +e.UL.elems(data-title="Преимущества")
                  li
                    a(href="#") Ипотечный брокер 
                  li
                    a(href="#") Трейд-ин
                  li
                    a(href="#") Дистанционная сделка
                  li
                    a(href="#") Обращение в гарантийный отдел 
                  li
                    a(href="#") Обращение в домоуправляющую компанию
                  li
                    a(href="#") FAQ / книга новосела 
                  li
                    a(href="#") Клуб лояльности (программа привилегий)
                  li
                    a(href="#") Вебинары / практикум  
                  li
                    a(href="#") Стандарты строительства 
                +e.IMG.pic(src='/img/nav-banner.png' alt='')
          +e.LI.item
            +e.A.link(href="#") Акции
          +e.LI.item
            +e.A.link(href="#") Сервисы
            +e.dropdown
              +e.wrap
                +e.UL.elems(data-title="Сервисы")
                  li
                    a(href="#") Ипотечный брокер 
                  li
                    a(href="#") Трейд-ин
                  li
                    a(href="#") Дистанционная сделка
                  li
                    a(href="#") Обращение в гарантийный отдел 
                  li
                    a(href="#") Обращение в домоуправляющую компанию
                  li
                    a(href="#") FAQ / книга новосела 
                  li
                    a(href="#") Клуб лояльности (программа привилегий)
                  li
                    a(href="#") Вебинары / практикум  
                  li
                    a(href="#") Стандарты строительства 
                +e.IMG.pic(src='/img/nav-banner.png' alt='')
          +e.LI.item
            +e.A.link(href="#") Контакты
          +e.LI.item
            +e.A.link(href="#")
              span
              | LIVE
      +e.info
        +e.social
          +e.A.soc(href="#")
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24')
              path(fill='#fff' d='M20.7097 3.6545s1.9426-.7575 1.7807 1.08214c-.0539.75751-.5396 3.40876-.9174 6.27646l-1.295 8.4948s-.108 1.2445-1.0793 1.4609c-.9713.2164-2.4283-.7575-2.6982-.9739-.2158-.1623-4.0471-2.5972-5.3962-3.7875-.3778-.3247-.8095-.974.0539-1.7314l5.6662-5.41075c.6475-.6493 1.295-2.1643-1.4031-.32465l-7.55475 5.1402s-.8634.5411-2.48225.0541l-3.50759-1.0822s-1.2951-.8115.91737-1.6232C8.19035 8.68645 14.8278 6.0893 20.7097 3.6545Z')
          +e.A.soc(href="#")
            svg(xmlns='http://www.w3.org/2000/svg' width='27' height='27' fill='none' viewBox='0 0 27 27')
              path(fill='#fff' d='M25.963 8.90987c.1964.52105-.444 1.71783-1.9211 3.59033-.2049.2606-.4824.6066-.8325 1.0381-.3415.4152-.5763.7083-.7044.8793-.1281.1709-.2583.3724-.3906.6045-.1324.232-.1836.403-.1537.5129.0299.1099.0854.2503.1665.4213.0811.171.2198.346.4162.5251.1964.1791.4397.3949.73.6473.0342.0162.0555.0325.0641.0488 1.2039 1.0665 2.0193 1.9662 2.4462 2.6989.0256.0407.0533.0916.0832.1526.0299.0611.0598.169.0897.3237.0299.1547.0277.2931-.0064.4152-.0342.1221-.1409.2341-.3202.3358-.1793.1018-.4312.1527-.7556.1527l-3.2787.0488c-.2049.0407-.444.0204-.7172-.061-.2733-.0815-.4953-.171-.666-.2687l-.2562-.1466c-.2561-.1709-.555-.4315-.8965-.7815-.3415-.3501-.634-.6656-.8773-.9465-.2433-.2809-.5038-.517-.7812-.7083-.2775-.1913-.5187-.2544-.7237-.1893-.0256.0082-.0597.0224-.1024.0428-.0427.0203-.1153.0794-.2177.177-.1025.0977-.1943.2178-.2754.3603-.0811.1425-.1537.3542-.2177.635-.0641.2809-.0918.5964-.0833.9465 0 .1221-.0149.234-.0448.3358-.0299.1018-.0619.1771-.0961.2259l-.0512.0611c-.1537.1547-.3799.2442-.6788.2687h-1.4728c-.6062.0325-1.2295-.0346-1.8699-.2015-.6404-.1669-1.2018-.3827-1.68418-.6473-.48241-.2646-.92213-.5332-1.31916-.806-.39702-.2727-.698-.5068-.90292-.7022l-.32018-.2931c-.08538-.0814-.20278-.2035-.3522-.3663-.14942-.1629-.45466-.5333-.91573-1.1113-.46107-.5781-.91359-1.1928-1.35758-1.8441s-.96696-1.5102-1.56891-2.5767c-.60194-1.0666-1.15906-2.1738-1.67136-3.32176-.05123-.13026-.07684-.24017-.07684-.32973 0-.08955.0128-.15469.03842-.19539l.05123-.07328c.12807-.15468.37141-.23203.73002-.23203l3.50922-.02442c.10246.01628.20065.04274.29457.07938.09392.03663.16223.07124.20492.1038l.06404.03664c.13661.08955.23907.21982.30737.39079.17077.40707.36715.82839.58914 1.264.222.4355.39703.7673.5251.9952l.20492.3542c.24761.4885.48668.9118.71722 1.2701.23053.3582.43758.637.62115.8365.18358.1995.36074.3562.53151.4702.17076.114.31593.1709.43543.1709.1196 0 .2348-.0203.3458-.061.0171-.0082.0384-.0285.0641-.0611.0256-.0325.0768-.1221.1536-.2686.0769-.1466.1345-.3379.1729-.574.0385-.2361.079-.5659.1217-.9892.0427-.4234.0427-.9322 0-1.5265-.0171-.3257-.0555-.6228-.1153-.8915-.0597-.26869-.1195-.45594-.1793-.56178l-.0768-.14654c-.2135-.27681-.5763-.45185-1.08863-.52513-.11099-.01628-.08965-.11398.06404-.29309.13661-.15469.29884-.27681.48669-.36636.4525-.21168 1.4728-.30938 3.061-.2931.7001.00815 1.2764.06106 1.7289.15876.1708.04071.3138.09566.4291.16487.1153.0692.2028.1669.2625.29309.0598.12619.1046.25645.1345.39079.0299.13433.0449.31955.0449.55565 0 .2361-.0043.45999-.0129.67164-.0085.2117-.0192.4987-.032.861-.0128.3623-.0192.6981-.0192 1.0075 0 .0895-.0043.2605-.0128.5129s-.0107.4478-.0064.5862c.0043.1384.0192.3033.0448.4946.0256.1913.0747.3501.1473.4763.0726.1261.1686.2259.2882.2992.0683.0162.1409.0325.2177.0488.0768.0163.1878-.0285.333-.1343.1451-.1059.3074-.2463.4867-.4214.1793-.175.4013-.4477.666-.8182.2646-.3704.5549-.808.8709-1.3128.5123-.8467.9691-1.7626 1.3704-2.74771.0341-.08142.0768-.15265.128-.21372.0513-.06106.0982-.1038.1409-.12822l.0512-.03664.0641-.03053.1665-.03664.2561-.0061 3.6885-.02443c.333-.0407.6063-.03053.8197.03053.2135.06106.3458.12823.397.2015l.0769.12213Z')
        +e.contacts
          +e.A.phone(href="tel:+7 (831) 211-86-58") +7 (831) 211-86-58
          +e.A.call.js-open-modal(href="#callback") Заказать звонок
        +e.control
          +e.A.btn(href="#")
            svg(xmlns='http://www.w3.org/2000/svg' width='27' height='27' fill='none' viewBox="0 0 27 27")
              path(fill='#fff' d='m23.9952 15.066-2.7476-6.55179c.0543-.14833.0856-.30822.0856-.47548-.0001-.36076-.1407-.70672-.3908-.96179s-.5893-.39835-.943-.39835c-.2113-.00007-.4197.0513-.6077.14985-.188.09855-.3503.24143-.4733.41679h-3.0752c-.1534-.36931-.4101-.68435-.7379-.9058-.3278-.22145-.7123-.3395-1.1055-.33943-.3932.00007-.7777.11828-1.1054.33985-.3278.22158-.5843.53672-.7376.90608H9.08164c-.16473-.23336-.39775-.40744-.66556-.49722a1.30812 1.30812 0 0 0-.82496-.00248c-.26833.08817-.50234.26084-.66842.4932s-.25567.51244-.2559.8c0 .16726.03129.3268.0856.47548L4.00481 15.066H4c0 2.1277 1.79128 3.8536 4.00021 3.8536 2.20959 0 3.99989-1.7259 3.99989-3.8536h-.0048L9.38139 8.83259h2.77541c.1527.36709.407.68076.7319.90256V19.8263H8.8888v.9068C8.8888 21.98 9.88876 23 11.1111 23h5.7778c1.2223 0 2.2223-1.02 2.2223-2.2669v-.9068H15.111V9.7348c.3247-.22183.579-.53534.7318-.90221h2.7751L16.0003 15.066l-.0004.0003-.0013.0032.0017.0007c.0024 2.1259 1.7923 3.8494 3.9998 3.8494 2.2097 0 3.9999-1.7259 3.9999-3.8536a.01291.01291 0 0 1-.0048 0Zm-13.2086 0H5.21343l2.40075-5.72533a1.30793 1.30793 0 0 0 .77171-.00035L10.7866 15.066Zm6.422 0 2.4045-5.72533c.2519.07812.5208.07812.7727 0l2.4011 5.72533h-5.5783Z')
          +e.A.btn(href="#")
            svg(xmlns='http://www.w3.org/2000/svg' width='27' height='27' fill='none' viewBox="0 0 27 27")
              path(fill='#fff' d='M14.1975 23.412c-.3825.135-1.0125.135-1.395 0C9.54 22.2983 2.25 17.652 2.25 9.77703c0-3.47625 2.80125-6.28875 6.255-6.28875 2.0475 0 3.8588.99 4.995 2.52 1.1362-1.53 2.9588-2.52 4.995-2.52 3.4538 0 6.255 2.8125 6.255 6.28875 0 7.87497-7.29 12.52127-10.5525 13.63497Z')
          +e.A.btn.js-open-modal(href="#register")
            svg(xmlns='http://www.w3.org/2000/svg' width='26' height='28' fill='none' viewBox="0 0 26 27")
              circle(cx='14' cy='10' r='5' fill='#fff')
              path(fill='#fff' d='M17.5 17h-8C7.01472 17 5 19.0147 5 21.5c0 .8284.67157 1.5 1.5 1.5h14c.8284 0 1.5-.6716 1.5-1.5 0-2.4853-2.0147-4.5-4.5-4.5Z')
          +e.open-mobile
            svg(xmlns='http://www.w3.org/2000/svg' width='50' height='50' fill='none' viewBox="0 0 50 50")
              circle(cx='25' cy='25' r='25' fill='#fff')
              path(stroke='#51A747' stroke-linecap='round' stroke-width='2' d='M15 22h18M19.5 30h14')

  +b.nav-mobile
    +e.inner
      +e.col
        +e.P.title Квартиры и помещения
        +e.UL.list
          +e.LI.item
            +e.A.link(href="#") Листинг квартир
          +e.LI.item
            +e.A.link(href="#") Выбрать на генплане 
          +e.LI.item
            +e.A.link(href="#") Выбор по планировкам
          +e.LI.item
            +e.A.link(href="#") Шахматка
          +e.LI.item
            +e.A.link(href="#") Квартал повышенной комфортности 
          +e.LI.item
            +e.A.link(href="#") Коммерческие помещения
          +e.LI.item
            +e.A.link(href="#") Парковки 
          +e.LI.item
            +e.A.link(href="#") Близкий срок сдачи
          +e.LI.item
            +e.A.link(href="#") Персональная подборка
      +e.col
        +e.P.title Способы покупки
        +e.UL.list
          +e.LI.item
            +e.A.link(href="#") Ипотека 0.1 
          +e.LI.item
            +e.A.link(href="#") Семейная ипотека 
          +e.LI.item
            +e.A.link(href="#") Льготная ипотека 
          +e.LI.item
            +e.A.link(href="#") Без первого взноса
          +e.LI.item
            +e.A.link(href="#") Все другие виды ипотек 
          +e.LI.item
            +e.A.link(href="#") Ипотечный брокер 
          +e.LI.item
            +e.A.link(href="#") Рассрочка
          +e.LI.item
            +e.A.link(href="#") Трейд-ин 
          +e.LI.item
            +e.A.link(href="#") 100% оплата
      +e.col
        +e.P.title Преимущества
        +e.UL.list
          +e.LI.item
            +e.A.link(href="#") Генплан 
          +e.LI.item
            +e.A.link(href="#") Инфраструктура
          +e.LI.item
            +e.A.link(href="#") Расположение
          +e.LI.item
            +e.A.link(href="#") Благоустройство 
          +e.LI.item
            +e.A.link(href="#") МОПы
          +e.LI.item
            +e.A.link(href="#") Архитектура
          +e.LI.item
            +e.A.link(href="#") Безопасность
          +e.LI.item
            +e.A.link(href="#") Отделка
          +e.LI.item
            +e.A.link(href="#") Планировки
          +e.LI.item
            +e.A.link(href="#") Перспективы застройки
          +e.LI.item
            +e.A.link(href="#") Для региональных клиентов
      +e.col
        +e.P.title Акции
        +e.UL.list
          +e.LI.item
            +e.A.link(href="#") Секретное
          +e.LI.item
            +e.A.link(href="#") Квартира дня
          +e.LI.item
            +e.A.link(href="#") 52 квартиры со скидкой
          +e.LI.item
            +e.A.link(href="#") Ипотека 0.1
          +e.LI.item
            +e.A.link(href="#") Лист ожидания нового дома/квартала/очереди
          +e.LI.item
            +e.A.link(href="#") Айфон
      +e.col
        +e.P.title Сервисы
        +e.UL.list
          +e.LI.item
            +e.A.link(href="#") Ипотечный брокер 
          +e.LI.item
            +e.A.link(href="#") Трейд-ин 
          +e.LI.item
            +e.A.link(href="#") Дистанционная сделка 
          +e.LI.item
            +e.A.link(href="#") Обращение в гарантийный отдел 
          +e.LI.item
            +e.A.link(href="#") Обращение в домоуправляющую компанию
          +e.LI.item
            +e.A.link(href="#") FAQ / книга новосела 
          +e.LI.item
            +e.A.link(href="#") Клуб лояльности 
          +e.LI.item
            +e.A.link(href="#") Вебинары / практикум
          +e.LI.item
            +e.A.link(href="#") Стандарты строительства
      +e.col
        +e.P.title Контакты
        +e.UL.list
          +e.LI.item
            +e.A.link(href="#") Офис продаж
          +e.LI.item
            +e.A.link(href="#") Шоурумы
          +e.LI.item
            +e.A.link(href="#") Демоквартира
          +e.LI.item
            +e.A.link(href="#") Оффлайн экскурсия
          +e.LI.item
            +e.A.link(href="#") Команда 
          +e.LI.item
            +e.A.link(href="#") Отзывы / контроль качества
      +e.social
        +e.A.soc-link(href='#')
          +e.soc-icon
            svg(xmlns='http://www.w3.org/2000/svg' width='50' height='50' fill='none')
              circle(cx='25' cy='25' r='24.5' stroke='#51A747')
              path(fill='#51A747' d='M26.7271 33.2542c-8.4115 0-13.5521-5.8521-13.7271-15.5667h4.2635c.1177 7.1396 3.3886 10.1823 5.9 10.826v-10.826h4.0886v6.1448c2.3958-.2927 4.9062-3.1021 5.7833-6.1448h4.0302c-.6427 3.8042-3.3885 6.6125-5.3156 7.7833 1.9271.9365 5.0229 3.3938 6.25 7.8417h-4.4396c-.9344-2.9844-3.2125-5.2667-6.3083-5.5594v5.5594h-.525v-.0583Z')
          +e.soc-txt Вконтакте
        +e.A.soc-link(href='#')
          +e.soc-icon
            svg(xmlns='http://www.w3.org/2000/svg' width='50' height='50' fill='none')
              circle(cx='25' cy='25' r='24.5' stroke='#51A747')
              path(fill='#51A747' d='M35.449 20.25c-.199-1.1-1.148-1.9-2.25-2.15-1.648-.35-4.699-.6-8-.6-3.2985 0-6.398.25-8.0485.6-1.1.25-2.051 1-2.25 2.15-.2015 1.25-.4005 3-.4005 5.25s.199 4 .449 5.25c.2015 1.1 1.1505 1.9 2.25 2.15 1.75.35 4.75.6 8.051.6s6.301-.25 8.051-.6c1.0995-.25 2.0485-1 2.25-2.15.199-1.25.5043-3.1909.4847-5.2503-.0196-2.0636-.3367-3.9997-.5867-5.2497Zm-12.4776 8.7497v-7l6.1 3.5-6.1 3.5Z')
          +e.soc-txt YouTube
        +e.A.soc-link(href='#')
          +e.soc-icon
            svg(xmlns='http://www.w3.org/2000/svg' width='50' height='50' fill='none')
              circle(cx='25' cy='25' r='24.5' stroke='#51A747')
              path(fill='#51A747' d='m21.9074 27.7959-.3318 4.9442c.4746 0 .6802-.216.9267-.4754l2.225-2.2534 4.6104 3.5779c.8455.4994 1.4412.2364 1.6693-.8243l3.0263-15.0272.0008-.0009c.2682-1.3246-.452-1.8425-1.2758-1.5176L14.97 23.4362c-1.214.4994-1.1957 1.2166-.2064 1.5415l4.5478 1.499 10.5635-7.0045c.4972-.3488.9491-.1558.5774.193l-8.5449 8.1307Z')
          +e.soc-txt Телеграм
        +e.A.soc-link(href='#')
          +e.soc-icon
            svg(xmlns='http://www.w3.org/2000/svg' width='50' height='50' fill='none')
              circle(cx='25' cy='25' r='24.5' stroke='#51A747')
              path(fill='#51A747' d='M38.3158 24.9862v-.29c-5.8262-.1765-8.4907-.3218-10.6157-2.3975-2.0751-2.1244-2.2209-4.7884-2.3969-10.6151h-.2906c-.176 5.8267-.3218 8.4907-2.3969 10.6151-2.125 2.0762-4.7895 2.221-10.6157 2.3975v.29c5.8262.1766 8.4907.3218 10.6157 2.397 2.0751 2.125 2.2209 4.7894 2.3969 10.6162h.2906c.1754-5.8268.3218-8.4912 2.3969-10.6162 2.125-2.0752 4.7895-2.2204 10.6157-2.397Z')
          +e.soc-txt Яндекс Дзен