.header
  position: fixed
  padding: 2.5rem 3rem 0
  box-sizing: border-box
  top: 0
  left: 0
  width: 100%
  z-index: 99
  +screen('max', 1500)
    padding: 2rem 4rem
  +screen('max', 1280)
    padding: 1.2rem 1rem
  &__container
    border-radius: 18px
    box-shadow: 0 6px 15px 0 rgba(3, 27, 0, 0.09)
    background: var(--secondary)
    padding: 1.8rem
    box-sizing: border-box
    z-index: 99
    width: 100%
    color: var(--white)
    display: flex
    justify-content: space-between
    align-items: center
    gap: 4rem
    position: relative
    width: 100%
    +screen('max', 1700)
      gap: 2rem
    +screen('max', 1280)
      padding: 1.2rem 1rem
  &__nav
    flex-grow: 1
    +screen('max', 1280)
      display: none
  &__list
    display: flex
    gap: 3rem
    +screen('max', 1500)
      gap: 2rem
  &__item
    margin-bottom: -4.5rem
    padding-bottom: 3.5rem
    &:has(.header__dropdown)
      .header__link
        position: relative
        padding-right: 2rem
        &:after
          content: ''
          width: 11px
          height: 6px
          background-image: url("data:image/svg+xml,%3Csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5.5 5L10 1' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
          background-repeat: no-repeat
          background-position: center
          position: absolute
          right: 0
          top: 7px
          transition: .5s ease
    &:hover
      .header__link
        color: rgba(255, 255, 255, .5)
        border-bottom-color: var(--white)
        &:after
          opacity: 0.5
          rotate: 180deg
      .header__dropdown
        display: block
  &__icon
    +screen('max', 1700)
      width: 55px
    +screen('max', 1280)
      width: 80px
    +screen('max', 700)
      width: 65px
  &__link
    font-weight: 600
    display: inline-block
    padding-bottom: 0.5rem
    border-bottom: 2px solid transparent
    transition: .5s ease
    +screen('max', 1700)
      +fs(15px)
    +screen('max', 1500)
      +fs(12px)
    span
      width: 7px
      height: 7px
      display: inline-block
      vertical-align: middle
      margin-right: 0.5rem
      background: #c41e1e
  &__dropdown
    box-shadow: 0 32px 39px 0 rgba(0, 0, 0, 0.25)
    background: #fff
    position: absolute
    left: 0
    top: 100%
    width: 100%
    border-radius: 30px
    margin-top: -4px
    padding: 3rem
    box-sizing: border-box
    display: none
  &__social
    display: flex
    gap: .7rem
    +screen('max', 1280)
      display: none
  &__soc
    width: 50px
    height: 50px
    border-radius: 100%
    border: 1px solid rgba(255, 255, 255, .2)
    display: flex
    justify-content: center
    align-items: center
    transition: .5s ease
    +screen('max', 1700)
      width: 32px
      height: 32px
      svg
        +screen('max', 1700)
          width: 16px
          height: 16px
    &:hover
      border-color: var(--white)
      background: var(--hover-green)
  &__info
    display: flex
    align-items: center
    justify-content: flex-end
    gap: 3rem
    +screen('max', 1700)
      gap: 2rem
  &__contacts
    display: flex
    flex-flow: column
    +screen('max', 700)
      display: none
  &__phone
    +fs(20px)
    font-weight: 600
    +screen('max', 1700)
      +fs(16px)
    +screen('max', 1280)
      +fs(20px)
  &__call
    +fs(14px)
    font-weight: 600
    +screen('max', 1700)
      +fs(12px)
    +screen('max', 1280)
      +fs(14px)
  &__control
    display: flex
    gap: .7rem
  &__btn
    width: 50px
    height: 50px
    border-radius: 100%
    border: 1px solid transparent
    background: rgba(255, 255, 255, .15)
    display: flex
    justify-content: center
    align-items: center
    transition: .5s ease
    +screen('max', 1700)
      width: 32px
      height: 32px
    +screen('max', 1280)
      width: 50px
      height: 50px
    +screen('max', 700)
      width: 45px
      height: 45px
    svg
      +screen('max', 1700)
        width: 16px
        height: 16px
      +screen('max', 1280)
        width: 27px
        height: 27px
    &:hover
      border-color: var(--white)
      background: var(--hover-green)
  &__wrap
    display: flex
    justify-content: space-between
    align-items: flex-start
  &__elems
    padding-top: 4.4rem
    box-sizing: border-box
    position: relative
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 1rem 10rem
    li
      +fs(20px)
      color: #4d545a
      margin-bottom: 0
    &:before
      content: attr(data-title)
      +fs(28px)
      font-weight: 600
      position: absolute
      top: 0
      left: 0
      color: var(--primary)
  &__open-modal
    +screen('min', 1280)
      display: none
    svg
      +screen('max', 700)
        width: 45px
        height: 45px
  &__open-mobile
    display: inline-block
    position: relative
    +screen('min', 1280)
      display: none
    &:before
      content: ''
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' fill='none'%3E%3Ccircle cx='25' cy='25' r='25' fill='%23fff'/%3E%3Cpath stroke='%2351A747' stroke-linecap='round' stroke-width='2' d='M31.3672 18.6367 18.6393 31.3646M31.3672 31.3633 18.6393 18.6354'/%3E%3C/svg%3E")
      background-repeat: no-repeat
      background-position: center
      top: 0
      left: 0
      border-radius: 100%
      z-index: 2
      opacity: 0
      transition: .2s ease
      width: 100%
      height: 100%
      position: absolute
      display: block
    &.open
      &:before
        opacity: 1

.nav-mobile
  position: fixed
  top: 0
  left: 0
  height: 100vh
  padding-top: 12rem
  box-sizing: border-box
  width: 100vw
  z-index: 9
  background: #fff
  overflow: auto
  display: none
  &__inner
    padding-inline: 2rem
    height: 100%
    box-sizing: border-box
  &__col
    margin-bottom: 3rem
    +screen('max', 700)
      margin-bottom: 1.5rem
  &__title
    +fs(28px)
    position: relative
    font-weight: 600
    +screen('max', 700)
      +fs(18px)
    &:before
      content: ''
      width: 20px
      height: 11px
      position: absolute
      right: 0
      top: 50%
      transform: translateY(-50%)
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='11' fill='none'%3E%3Cpath stroke='%2323262B' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1.26562 1.75 8.23334 7.5 8.23334-7.5'/%3E%3C/svg%3E")
      background-size: contain
      background-repeat: no-repeat
      transition: .5s ease
      +screen('max', 700)
        width: 13px
        height: 7px
    &.open
      &:before
        transform: translateY(-50%) rotate(180deg)
  &__list
    display: none
    margin-top: 2rem
    +screen('max', 700)
      margin-top: 1rem
  &__link
    +fs(20px)
    color: #4d545a
    +screen('max', 700)
      +fs(16px)
  &__social
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 2rem
    border-top: 1px solid var(--secondary)
  &__soc-link
    display: flex
    align-items: center
    gap: 1.2rem
  &__soc-txt
    +fs(18px)
    font-weight: 600
    color: var(--secondary)
    +screen('max', 700)
      display: none
