.footer
  margin: 6rem .5rem .5rem
  border-radius: 40px
  background: var(--primary)
  padding-block: 5rem
  color: var(--white)
  &__top
    display: flex
    justify-content: space-between
    gap: 2rem
  &__nav
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 50px min(100px, 6vw)
  &__home
    display: block
    width: 280px
    flex-shrink: 0
  &__title
    +fs(22px)
    font-weight: 600
    margin-bottom: 2rem
  &__link
    +fs(18px)
    opacity: 0.6
  &__phone
    +fs(32px)
    font-weight: 600
  &__call
    margin-top: 3rem
    width: 100%
  &__social
    display: flex
    flex-flow: column
    gap: 1rem
    margin: 5rem 0
  &__contacts
    max-width: 282px
  &__soc-icon
    width: 40px
    height: 40px
    border-radius: 100%
    background: rgba(255, 255, 255, .25)
    display: flex
    justify-content: center
    align-items: center
    svg
      vertical-align: middle
      max-width: 100%
  &__soc-link
    display: flex
    align-items: center
    gap: 1.2rem
  &__soc-txt
    font-weight: 600
  &__bottom
    margin-top: 5rem
    border-top: 1px solid rgba(255, 255, 255, .2)
    display: flex
    gap: 2rem
    padding-top: 3.5rem
  &__el
    display: flex
    justify-content: space-between
    flex-flow: column
    gap: 2rem
    &:first-of-type
      width: 280px
      flex-shrink: 0
  &__build
    +fs(18px)
    i
      font-style: normal
      opacity: 0.6
    span
      font-weight: 700
      text-transform: uppercase
  &__holder
    display: flex
    flex-flow: column
    gap: 1.2rem
    max-width: 335px
    text-wrap: balance
  &__txt
    line-height: 1.8
    opacity: .5
    +fs(14px)
  &__icon
    max-width: 164px