+b.FOOTER.footer
  +e.inner.inner
    +e.top
      +e.A.home(href="/")
        +e.IMG.icon(src='/icon/icon-logo-2.svg' alt='')
      +e.nav
        +e.col
          +e.P.title Квартиры и помещения
          +e.UL.list
            +e.LI.item
              +e.A.link(href="#") Листинг квартир
            +e.LI.item
              +e.A.link(href="#") Выбрать на генплане 
            +e.LI.item
              +e.A.link(href="#") Выбор по планировкам
            +e.LI.item
              +e.A.link(href="#") Шахматка
            +e.LI.item
              +e.A.link(href="#") Квартал повышенной комфортности 
            +e.LI.item
              +e.A.link(href="#") Коммерческие помещения
            +e.LI.item
              +e.A.link(href="#") Парковки 
            +e.LI.item
              +e.A.link(href="#") Близкий срок сдачи
            +e.LI.item
              +e.A.link(href="#") Персональная подборка
        +e.col
          +e.P.title Способы покупки
          +e.UL.list
            +e.LI.item
              +e.A.link(href="#") Ипотека 0.1 
            +e.LI.item
              +e.A.link(href="#") Семейная ипотека 
            +e.LI.item
              +e.A.link(href="#") Льготная ипотека 
            +e.LI.item
              +e.A.link(href="#") Без первого взноса
            +e.LI.item
              +e.A.link(href="#") Все другие виды ипотек 
            +e.LI.item
              +e.A.link(href="#") Ипотечный брокер 
            +e.LI.item
              +e.A.link(href="#") Рассрочка
            +e.LI.item
              +e.A.link(href="#") Трейд-ин 
            +e.LI.item
              +e.A.link(href="#") 100% оплата
        +e.col
          +e.P.title Преимущества
          +e.UL.list
            +e.LI.item
              +e.A.link(href="#") Генплан 
            +e.LI.item
              +e.A.link(href="#") Инфраструктура
            +e.LI.item
              +e.A.link(href="#") Расположение
            +e.LI.item
              +e.A.link(href="#") Благоустройство 
            +e.LI.item
              +e.A.link(href="#") МОПы
            +e.LI.item
              +e.A.link(href="#") Архитектура
            +e.LI.item
              +e.A.link(href="#") Безопасность
            +e.LI.item
              +e.A.link(href="#") Отделка
            +e.LI.item
              +e.A.link(href="#") Планировки
            +e.LI.item
              +e.A.link(href="#") Перспективы застройки
            +e.LI.item
              +e.A.link(href="#") Для региональных клиентов
        +e.col
          +e.P.title Акции
          +e.UL.list
            +e.LI.item
              +e.A.link(href="#") Секретное
            +e.LI.item
              +e.A.link(href="#") Квартира дня
            +e.LI.item
              +e.A.link(href="#") 52 квартиры со скидкой
            +e.LI.item
              +e.A.link(href="#") Ипотека 0.1
            +e.LI.item
              +e.A.link(href="#") Лист ожидания нового дома/квартала/очереди
            +e.LI.item
              +e.A.link(href="#") Айфон
        +e.col
          +e.P.title Сервисы
          +e.UL.list
            +e.LI.item
              +e.A.link(href="#") Ипотечный брокер 
            +e.LI.item
              +e.A.link(href="#") Трейд-ин 
            +e.LI.item
              +e.A.link(href="#") Дистанционная сделка 
            +e.LI.item
              +e.A.link(href="#") Обращение в гарантийный отдел 
            +e.LI.item
              +e.A.link(href="#") Обращение в домоуправляющую компанию
            +e.LI.item
              +e.A.link(href="#") FAQ / книга новосела 
            +e.LI.item
              +e.A.link(href="#") Клуб лояльности 
            +e.LI.item
              +e.A.link(href="#") Вебинары / практикум
            +e.LI.item
              +e.A.link(href="#") Стандарты строительства
        +e.col
          +e.P.title Контакты
          +e.UL.list
            +e.LI.item
              +e.A.link(href="#") Офис продаж
            +e.LI.item
              +e.A.link(href="#") Шоурумы
            +e.LI.item
              +e.A.link(href="#") Демоквартира
            +e.LI.item
              +e.A.link(href="#") Оффлайн экскурсия
            +e.LI.item
              +e.A.link(href="#") Команда 
            +e.LI.item
              +e.A.link(href="#") Отзывы / контроль качества
      +e.contacts
        +e.A.phone(href='tel:+7 (831) 211-86-58') +7 (831) 211-86-58
        +e.A.call.btn_transparent(href="#") Заказать звонок
        +e.social
          +e.A.soc-link(href='#')
            +e.soc-icon
              svg(xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none')
                path(fill='#fff' d='M10.9817 16.2033C4.2525 16.2033.14 11.5217 0 3.75h3.41083c.09417 5.71167 2.71084 8.1458 4.72 8.6608V3.75h3.27087v4.91583c1.9166-.23416 3.925-2.48166 4.6266-4.91583h3.2242C18.7383 6.79333 16.5417 9.04 15 9.97667c1.5417.74913 4.0183 2.71503 5 6.27333h-3.5517c-.7475-2.3875-2.57-4.2133-5.0466-4.4475V16.25h-.42v-.0467Z')
            +e.soc-txt Вконтакте
          +e.A.soc-link(href='#')
            +e.soc-icon
              svg(xmlns='http://www.w3.org/2000/svg' width='23' height='23' fill='none')
                path(fill='#fff' d='M20.6559 6.67063c-.1831-1.012-1.0562-1.74801-2.07-1.97801-1.5162-.322-4.3231-.552-7.36-.552-3.03463 0-5.88617.23-7.40463.552-1.012.23-1.88692.92001-2.07 1.97801-.18538 1.15-.36846 2.75999-.36846 4.82997 0 2.07.18308 3.68.41308 4.83.18538 1.012 1.05846 1.748 2.07 1.978 1.61.322 4.37.552 7.40691.552 3.0369 0 5.7969-.23 7.4069-.552 1.0116-.23 1.8847-.92 2.07-1.978.1831-1.15.464-2.9356.446-4.8303-.0181-1.89848-.3098-3.67967-.5398-4.82967ZM9.17652 14.7203V8.28033l5.61198 3.21997-5.61198 3.22Z')
            +e.soc-txt YouTube
          +e.A.soc-link(href='#')
            +e.soc-icon
              svg(xmlns='http://www.w3.org/2000/svg' width='22' height='17' fill='none')
                path(fill='#fff' d='m7.55356 11.2041-.31845 4.7464c.45561 0 .65292-.2074.88956-.4564l2.13603-2.1633 4.426 3.4348c.8117.4794 1.3835.227 1.6025-.7913l2.9053-14.42611.0008-.00085c.2574-1.2716-.434-1.76884-1.2249-1.4569L.89369 7.01876C-.27177 7.49818-.25412 8.18668.69556 8.4986l4.36585 1.43901L15.2024 3.21333c.4773-.3349.9112-.14961.5543.1853L7.55356 11.2041Z')
            +e.soc-txt Телеграм
          +e.A.soc-link(href='#')
            +e.soc-icon
              svg(xmlns='http://www.w3.org/2000/svg' width='21' height='21' fill='none')
                path(fill='#fff' d='M22.1053 10.0687v-.24358c-4.894-.14828-7.1322-.27032-8.9172-2.01388-1.7431-1.78454-1.8656-4.02223-2.0134-8.91671h-.2441c-.1478 4.89448-.2703 7.13217-2.01343 8.91671C7.13217 9.55526 4.89401 9.67684 0 9.82512v.24358c4.89401.1483 7.13217.2704 8.91717 2.0135 1.74313 1.785 1.86563 4.0231 2.01343 8.9176h.2441c.1473-4.8945.2703-7.1326 2.0134-8.9176 1.785-1.7431 4.0232-1.8652 8.9172-2.0135Z')
            +e.soc-txt Яндекс Дзен
        +e.box
          +e.P.title LIVE
            +e.UL.list
              +e.LI.item
                +e.A.link(href="#") Новости
              +e.LI.item
                +e.A.link(href="#") Практикум
              +e.LI.item
                +e.A.link(href="#") Ход строительства
              +e.LI.item
                +e.A.link(href="#") 3D тур
              +e.LI.item
                +e.A.link(href="#") Аэросъемка
              +e.LI.item
                +e.A.link(href="#") Жизнь в ЖК
              +e.LI.item
                +e.A.link(href="#") Галерея 
              +e.LI.item
                +e.A.link(href="#") Пресс-релизы
              +e.LI.item
                +e.A.link(href="#") Аналитика
              +e.LI.item
                +e.A.link(href="#") СМИ о нас
    +e.bottom
      +e.el
        +e.IMG.icon(src='/icon/icon-logosnn.svg' alt='')
        +e.A.build(href="#") 
          i Design by 
          span NEXMAN
      +e.el
        +e.holder
          +e.A.link(href="#") Согласие на обработку персональных данных
          +e.A.link(href="#") Согласие на получение рекламной информации
        +e.P.txt_copy © «Столица Нижний»
      +e.el
        +e.P.txt Девелопер — «Столица Нижний»
          br
          | ООО СЗ «Инградстрой». Дома 10,11,12,19,19.1,20,21,22,23 (по генплану) в ЖК «Новая Кузнечиха»; дома № 1,2,3,4,5,6,7,8 (по генплану) территория застройки «Север-Запад».
          br
          | ООО СЗ «Виктория НН», дом № 2 (по генплану) в ЖК «Дома на Культуре».
          br
          | ООО СЗ «Старт-Строй», дома № 1,2,5,8,10 (по генплану) в ЖК «Цветы 2».
          br
          | ООО СЗ «Стройинвест-52», дом № 1 (по генплану) в ЖК «Дельвиг».
          br
          | Информация о застройщиках и строящихся объектах, в том числе разрешительная и проектная документация, также размещены на сайте наш. дом.рф.
          br
          | Официальный сайт. Не является публичной офертой.