+b.payment-list
  +e.inner.inner
    +e.list
      +e.item
        +e.tags
          +e.P.tag от 4 %
        +e.content
          +e.P.title Без первого взноса
          +e.P.text Сотрудники российских IT-компаний, имеющих аккредитацию Минцифры РФ, смогут приобрести квартиру в ипотеку по льготной ставке от 4,3% на сумму до 18 млн рублей.
        +e.A.more.btn_tr-green(href="#") Подробнее
      +e.item
        +e.tags
          +e.P.tag_red Первый взнос от 10%
        +e.content
          +e.P.title Без первого взноса
          +e.P.text Семьи в Нижегородской области, в которых есть даже один ребенок, родившийся после 1 января 2018 года, могут получить ипотечный кредит до 6 млн рублей по ставке от 5,4% при условии оплаты не менее 15 % цены договора.
        +e.A.more.btn_tr-green(href="#") Подробнее
      +e.item
        +e.tags
          +e.P.tag_green Хит
          +e.P.tag от 4 %
        +e.content
          +e.P.title Ипотека траншами
          +e.P.text «Ипотека траншами» — это новая программа оплаты, благодаря которой клиенты «Столицы Нижний» смогут снизить размер ежемесячного ипотечного платежа на период до одного года, пока строится дом.
        +e.A.more.btn_tr-green(href="#") Подробнее
      +e.item
        +e.tags
          +e.P.tag_orange Новинка
        +e.content
          +e.P.title Ипотека 0.1
          +e.P.text Сотрудники российских IT-компаний, имеющих аккредитацию Минцифры РФ, смогут приобрести квартиру в ипотеку по льготной ставке от 4,3% на сумму до 18 млн рублей.
        +e.A.more.btn_tr-green(href="#") Подробнее
      +e.item
        +e.tags
          +e.P.tag от 4 %
        +e.content
          +e.P.title Льготная ипотека 
          +e.P.text Семьи в Нижегородской области, в которых есть даже один ребенок, родившийся после 1 января 2018 года, могут получить ипотечный кредит до 6 млн рублей по ставке от 5,4% при условии оплаты не менее 15 % цены договора.
        +e.A.more.btn_tr-green(href="#") Подробнее
      +e.item
        +e.content
          +e.P.title Ипотечный брокер 
          +e.P.text Семьи в Нижегородской области, в которых есть даже один ребенок, родившийся после 1 января 2018 года, могут получить ипотечный кредит до 6 млн рублей по ставке от 5,4% при условии оплаты не менее 15 % цены договора.
        +e.A.more.btn_tr-green(href="#") Подробнее
      +e.item
        +e.content
          +e.P.title Рассрочка
          +e.P.text Сотрудники российских IT-компаний, имеющих аккредитацию Минцифры РФ, смогут приобрести квартиру в ипотеку по льготной ставке от 4,3% на сумму до 18 млн рублей.
        +e.A.more.btn_tr-green(href="#") Подробнее
      +e.item
        +e.content
          +e.P.title Трейд-ин 
          +e.P.text Семьи в Нижегородской области, в которых есть даже один ребенок, родившийся после 1 января 2018 года, могут получить ипотечный кредит до 6 млн рублей по ставке от 5,4% при условии оплаты не менее 15 % цены договора.
        +e.A.more.btn_tr-green(href="#") Подробнее
      +e.item
        +e.content
          +e.P.title 100% оплата
          +e.P.text Семьи в Нижегородской области, в которых есть даже один ребенок, родившийся после 1 января 2018 года, могут получить ипотечный кредит до 6 млн рублей по ставке от 5,4% при условии оплаты не менее 15 % цены договора.
        +e.A.more.btn_tr-green(href="#") Подробнее