+b.payment
  +e.inner.inner
    +e.head
      +e.H2.title Другие способы покупки
      +e.A.more.btn_tr-green(href='#') Все способы покупки
    +e.list
      +e.A.item(href='#')
        +e.top
          +e.SVG.icon(xmlns='http://www.w3.org/2000/svg' width='80' height='80' fill='none' viewBox="0 0 80 80")
            g(fill='#51A747')
              path(d='M23.8929 12.6627a6.04937 6.04937 0 0 1 2.9288-.81h12.5a5.92436 5.92436 0 0 1 2.9662.8225l1.47-6.09379c.41-3.2025-6.0375-.6025-6.48-.2875a8.18109 8.18109 0 0 1-4.1875 1.01c-4.5262-.05125-4.5525-2.31-9.4712-2.2675a1.24647 1.24647 0 0 0-.5402.1253 1.24659 1.24659 0 0 0-.4323.3472 1.26912 1.26912 0 0 0-.2407.50925c-.0411.18562-.04.37811.0032.56325l1.4837 6.08129Zm-8.8987 30.9825c1.6225-1.6112 3.8085-2.5276 6.095-2.555h16.8875a7.76577 7.76577 0 0 1 5.5575 2.305l7.1662-7.19a7.78267 7.78267 0 0 1 3.5388-2.0063c-2.6125-6.56-7.04-11.6162-11.4275-15.915a3.63835 3.63835 0 0 0-.2267-1.644 3.63652 3.63652 0 0 0-.9333-1.3722 3.51693 3.51693 0 0 0-2.33-.9225H26.8592a3.6026 3.6026 0 0 0-1.4325.3333 3.60334 3.60334 0 0 0-1.1799.8781 3.60339 3.60339 0 0 0-.7306 1.2765 3.60397 3.60397 0 0 0-.1595 1.4621c-4.8788 4.805-10.0925 10.775-12.2 18.3837a12.80334 12.80334 0 0 0-.5009 5.0137 12.80473 12.80473 0 0 0 1.4721 4.8188l2.8663-2.8662Z')
              path(d='M27.6837 54.3838a1.24654 1.24654 0 0 1-.845-.3837 1.24644 1.24644 0 0 1-.3455-.8613c0-.3209.1238-.6294.3455-.8613.2218-.2319.5244-.3693.845-.3837l5.1812-.0125c.3375-.5362.685-1.0462 1.0588-1.5325a16.92466 16.92466 0 0 1 7.2875-5.3812 5.31845 5.31845 0 0 0-3.375-1.195H20.9687c-3.2988-.11-5.4038 3.0125-7.56 5.0312l-2.815 2.8275 13.1275 13.1413a4.55837 4.55837 0 0 1 1.1087 1.7062c2.03-.275 4.21-.5725 6.3025-.8725-1.1282-3.6903-.9566-7.656.4863-11.235l-3.935.0125Zm18.945-10.5125c4.1369-.1349 8.178 1.2629 11.3475 3.925 1.535-1.5275 3.7287-3.36 3.55-5.7562a5.45892 5.45892 0 0 0-3.3355-4.9445 5.459 5.459 0 0 0-3.0923-.3428 5.45802 5.45802 0 0 0-2.7772 1.4023l-5.6925 5.7162ZM8.83868 53.3876a2.4498 2.4498 0 0 0-.76698-.7065 2.44965 2.44965 0 0 0-.99131-.3236 2.45151 2.45151 0 0 0-1.03607.1181 2.44965 2.44965 0 0 0-.89314.5382L.70493 57.4876a2.3123 2.3123 0 0 0-.5197.7555 2.3122 2.3122 0 0 0-.0068 1.7975c.11893.285.2937.5432.514.7595L14.1549 74.2888c.2132.2252.4702.4044.7553.5265.2851.1221.5921.1846.9022.1835.3127.0021.6226-.0586.9113-.1784.2888-.1198.5506-.2963.77-.5191l4.4712-4.4837c.435-.4367.6793-1.028.6793-1.6444 0-.6164-.2443-1.2077-.6793-1.6444-2.5525-2.55-10.5675-10.5837-13.12622-13.1412Z')
              path(d='M56.2074 49.5631c-9.9475-8.2425-25.2175.4712-23.155 13.2787.5277 3.378 2.2421 6.4572 4.8354 8.6852 2.5933 2.2279 5.8958 3.4585 9.3146 3.4711 13.4688-.0138 19.395-17.1 9.005-25.435Zm-3.45 8.8812-6.2287 6.2275a1.26593 1.26593 0 0 1-.8844.3601c-.3305 0-.6479-.1292-.8844-.3601l-3.1125-3.1137a1.2502 1.2502 0 0 1-.0006-1.7681c.2344-.2346.5524-.3664.8839-.3665a1.2501 1.2501 0 0 1 .8842.3658l2.23 2.2425 5.3438-5.3562c.2345-.2346.5526-.3663.8844-.3663.3317 0 .6498.1317.8843.3663.2346.2345.3663.5527.3663.8844s-.1317.6498-.3663.8843Z')
          +e.to(data-sign="Перейти")
            svg(xmlns='http://www.w3.org/2000/svg' width='65' height='65' fill='none' viewBox=" 0 0 65 65")
              circle(cx='32.5' cy='32.5' r='32.5' fill='#F5F6F7')
              path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m30.5664 25.7285 6.7708 6.7708-6.7708 6.7709')
        +e.bottom
          +e.H3.caption Ипотечный брокер
          +e.P.txt Мы поможем вам оформить ипотеку на выгодных условиях для покупки квартиры в нашем ЖК
          +e.btn.btn_tr-green Получить консультацию
      +e.A.item(href='#')
        +e.top
          +e.SVG.icon(xmlns='http://www.w3.org/2000/svg' width='80' height='80' fill='none' viewBox="0 0 80 80")
            g(fill='#51A747')
              path( fill-rule='evenodd' d='M19.422 19.9915c.5234.5233 1.2332.8174 1.9733.8174.7402 0 1.45-.2941 1.9734-.8174a2.79096 2.79096 0 0 0 .8173-1.9733V3.13445c0-.74014-.294-1.44997-.8173-1.97332a2.79078 2.79078 0 0 0-3.9467 0 2.79085 2.79085 0 0 0-.8173 1.97332V18.0182c0 .7401.294 1.4499.8173 1.9733ZM80 66.3903V21.7391c0-7.3749-5.7674-13.3693-13.0233-13.86047V18.0182c0 4.6139-3.7581 8.3721-8.3721 8.3721-4.6139 0-8.372-3.7582-8.372-8.3721V7.78561H29.7674V18.0182c0 4.6139-3.7581 8.3721-8.3721 8.3721-4.6139 0-8.372-3.7582-8.372-8.3721V7.87863C5.76744 8.3698 0 14.3642 0 21.7391v44.6512c.00394 3.6995 1.4753 7.2463 4.09123 9.8622 2.61594 2.6159 6.16277 4.0873 9.86227 4.0913h52.093c3.6995-.004 7.2463-1.4754 9.8623-4.0913 2.6159-2.6159 4.0873-6.1627 4.0912-9.8622ZM61.3953 3.13445V18.0182c0 .7401-.294 1.4499-.8173 1.9733a2.79111 2.79111 0 0 1-1.9734.8174c-.7401 0-1.4499-.2941-1.9733-.8174-.5233-.5234-.8174-1.2332-.8174-1.9733V3.13445a2.79078 2.79078 0 0 1 4.7641-1.97332 2.79085 2.79085 0 0 1 .8173 1.97332ZM32.3903 57.117v5.2206h3.4548V57.117h6.3339v-2.4951h-6.3339v-3.4164h3.2245c2.2776 0 4.1842-.3327 5.7196-.9981 1.5611-.6653 2.7383-1.6122 3.5316-2.8406.7933-1.2539 1.19-2.751 1.19-4.4912 0-2.5847-.8189-4.5552-2.4567-5.9116-1.6123-1.3563-4.0946-2.0345-7.4471-2.0345h-7.2167v13.3586h-3.3396v2.9174h3.3396v3.4164h-3.3396v2.4951h3.3396Zm3.4548-8.8289V37.8469h3.4548c2.2777 0 3.9539.4223 5.0287 1.2668 1.0748.8445 1.6122 2.1368 1.6122 3.877 0 1.3308-.2943 2.38-.8828 3.1477-.5886.7678-1.4331 1.318-2.5336 1.6507-1.0748.3327-2.3927.499-3.9538.499h-2.7255Z' clip-rule='evenodd')
          +e.to(data-sign="Перейти")
            svg(xmlns='http://www.w3.org/2000/svg' width='65' height='65' fill='none' viewBox=" 0 0 65 65")
              circle(cx='32.5' cy='32.5' r='32.5' fill='#F5F6F7')
              path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m30.5664 25.7285 6.7708 6.7708-6.7708 6.7709')
        +e.bottom
          +e.H3.caption Рассрочка
          +e.P.txt Предоставляем удобную рассрочку на покупку квартиры в нашем ЖК без процентов и переплат
          +e.btn.btn_tr-green Получить консультацию
      +e.A.item(href='#')
        +e.top
          +e.SVG.icon(xmlns='http://www.w3.org/2000/svg' width='80' height='80' fill='none' viewBox="0 0 80 80")
            g(fill='#51A747')
                path(d='M40.0224 22.7892a32.42266 32.42266 0 0 1 3.4613 1.7221c.8625.0643 2.0621.0107 2.0618-1.1422l-.0493-22.23066c-.0016-.7286-.6738-1.2686-1.3813-1.11094-10.4794 2.33516-18.847 10.3102-21.7928 20.5947 5.95-.9455 12.1733-.2005 17.7003 2.167Zm-12.6798 2.2903c-32.54395-.2193-37.3557 48.1493-5.9902 54.835.5422.1221 1.0597-.2893 1.0583-.8495l-.0475-21.3364c-.0011-.4794-.388-.8675-.8649-.8675h-2.9337c-.9438 0-1.5138-1.0497-1.0033-1.8477 12.9853-19.0545 6.6813-19.0489 19.6691-.0001.5106.798-.0594 1.8476-1.0032 1.8476h-3.3137c-.4784 0-.8659.3905-.8648.8715l.0475 21.3981c.0012.5487.5026.964 1.0367.8506 31.7006-6.4133 26.9611-55.1816-5.7903-54.9016Z')
                path(d='M79.7886 28.3329C79.5806 14.5754 69.9922 3.1052 57.1688.09848c-.7111-.16671-1.3911.37985-1.3894 1.11391l.0492 22.16201c.0014.6283.5084 1.1371 1.1334 1.1371h3.1428c.8969 0 1.4386.9975.9535 1.7557l-6.0466 9.4535c3.8505 6.2303 5.4789 13.7711 4.5822 21.06 11.8292-3.9199 20.3942-15.2413 20.1947-28.4478Z')
          +e.to(data-sign="Перейти")
            svg(xmlns='http://www.w3.org/2000/svg' width='65' height='65' fill='none' viewBox=" 0 0 65 65")
              circle(cx='32.5' cy='32.5' r='32.5' fill='#F5F6F7')
              path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m30.5664 25.7285 6.7708 6.7708-6.7708 6.7709')
        +e.bottom
          +e.H3.caption Трейд-Ин
          +e.P.txt Обменяйте свою старую квартиру на новую в нашем ЖК с доплатой или без нее
          +e.btn.btn_tr-green Получить консультацию
      +e.A.item(href='#')
        +e.top
          +e.SVG.icon(xmlns='http://www.w3.org/2000/svg' width='80' height='80' fill='none' viewBox="0 0 80 80")
            g(fill='#51A747')
              path(fill-rule='evenodd' d='M40 80c22.0914 0 40-17.9086 40-40S62.0914 0 40 0 0 17.9086 0 40s17.9086 40 40 40ZM20.9922 51.4443h3.6875V28.6006h-3.0625l-6.7813 5.3125 1.8438 2.3281 2.625-2.0937c.3542-.3021.6875-.5938 1-.875.3229-.2813.5937-.5417.8125-.7813-.0313.4271-.0573.875-.0781 1.3438-.0105.4687-.0209.9479-.0313 1.4375-.0104.4895-.0156.9791-.0156 1.4687v14.7031ZM46.5866 44.96c.2916-1.4584.4375-3.1094.4375-4.9532 0-2.4687-.2813-4.5781-.8438-6.3281-.5521-1.7604-1.4062-3.1042-2.5625-4.0312-1.1458-.9375-2.6042-1.4063-4.375-1.4063-1.875 0-3.3802.4688-4.5156 1.4063-1.1354.9375-1.9583 2.2864-2.4688 4.0468-.5 1.75-.75 3.8542-.75 6.3125 0 2.4584.2761 4.5677.8282 6.3282.552 1.75 1.401 3.0937 2.5468 4.0312 1.1459.9271 2.599 1.3906 4.3594 1.3906 1.4063 0 2.6042-.2656 3.5938-.7968.9895-.5313 1.7916-1.3021 2.4062-2.3125.6146-1.0105 1.0625-2.2396 1.3438-3.6875Zm-11-.125c-.25-1.2917-.375-2.9011-.375-4.8282 0-1.9166.125-3.5208.375-4.8125.2604-1.2916.6823-2.2604 1.2656-2.9062.5937-.6563 1.3906-.9844 2.3906-.9844s1.7969.3281 2.3906.9844c.5938.6458 1.0209 1.6146 1.2813 2.9062.2604 1.2917.3906 2.8959.3906 4.8125 0 1.9375-.1354 3.5521-.4062 4.8438-.2605 1.2917-.6875 2.2552-1.2813 2.8906-.5937.6354-1.3854.9531-2.375.9531s-1.7812-.3177-2.375-.9531c-.5937-.6458-1.0208-1.6146-1.2812-2.9062Zm28.6725.125c.2916-1.4584.4375-3.1094.4375-4.9532 0-2.4687-.2813-4.5781-.8438-6.3281-.5521-1.7604-1.4062-3.1042-2.5625-4.0312-1.1458-.9375-2.6042-1.4063-4.375-1.4063-1.875 0-3.3802.4688-4.5156 1.4063-1.1354.9375-1.9583 2.2864-2.4688 4.0468-.5 1.75-.75 3.8542-.75 6.3125 0 2.4584.2761 4.5677.8282 6.3282.552 1.75 1.401 3.0937 2.5468 4.0312 1.1459.9271 2.599 1.3906 4.3594 1.3906 1.4063 0 2.6042-.2656 3.5938-.7968.9895-.5313 1.7916-1.3021 2.4062-2.3125.6146-1.0105 1.0625-2.2396 1.3438-3.6875Zm-11-.125c-.25-1.2917-.375-2.9011-.375-4.8282 0-1.9166.125-3.5208.375-4.8125.2604-1.2916.6823-2.2604 1.2656-2.9062.5937-.6563 1.3906-.9844 2.3906-.9844s1.7969.3281 2.3906.9844c.5938.6458 1.0209 1.6146 1.2813 2.9062.2604 1.2917.3906 2.8959.3906 4.8125 0 1.9375-.1354 3.5521-.4062 4.8438-.2605 1.2917-.6875 2.2552-1.2813 2.8906-.5937.6354-1.3854.9531-2.375.9531s-1.7812-.3177-2.375-.9531c-.5937-.6458-1.0208-1.6146-1.2812-2.9062Z' clip-rule='evenodd')
          +e.to(data-sign="Перейти")
            svg(xmlns='http://www.w3.org/2000/svg' width='65' height='65' fill='none' viewBox=" 0 0 65 65")
              circle(cx='32.5' cy='32.5' r='32.5' fill='#F5F6F7')
              path(stroke='#838C95' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m30.5664 25.7285 6.7708 6.7708-6.7708 6.7709')
        +e.bottom
          +e.H3.caption 100% оплата
          +e.P.txt Предлагаем возможность оплатить квартиру в нашем ЖК сразу на 100% и получить дополнительную скидку
          +e.btn.btn_tr-green Получить консультацию