.payment
  margin: 12rem 0
  +screen('max', 1500)
    margin: 8rem 0
  +screen('max', 1023)
    margin: 6rem 0
  +screen('max', 700)
    margin: 4rem 0
  &__head
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 3rem
  &__more
    +screen('max', 700)
      display: none
  &__list
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 2rem
    overflow: auto
    +screen('max', 1023)
      grid-template-columns: repeat(4, 270px)
      margin: 0 -2rem
      padding-inline: 2rem
    +screen('max', 700)
      grid-template-columns: 1fr
  &__item
    display: block
    padding: 2.5rem
    box-sizing: border-box
    border-bottom: 1.50px solid var(--secondary)
    border-radius: 22px
    box-shadow: 0 -15px 17px 0 rgba(0, 0, 0, 0.02)
    background: var(--white)
    transition: .5s ease
    +screen('max', 1500)
      padding: 1.5rem 1.5rem 2.5rem
    +screen('max', 700)
      padding: 2rem
    &:hover
      background: var(--hover-green)
      box-shadow: none
      border-bottom-color: transparent
      color: var(--white)
      .payment__txt
        color: var(--white)
      .payment__btn
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.09)
        background: var(--white)
        color: var(--primary)
      .payment__to
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.09)
        &:before
          opacity: 1
      .payment__icon
        g
          fill: var(--white)
    &_gray
      border-bottom: 0
      background: var(--fon)
      .payment__btn
        background: var(--white)
      .payment__to
        circle
          fill: var(--white)
  &__top
    display: flex
    justify-content: space-between
    align-items: flex-start
    margin-bottom: 5rem
    +screen('max', 1500)
      margin-bottom: 3rem
  &__icon
    +screen('max', 1500)
      width: 50px
      height: 50px
    g
      transition: .5s ease
  &__caption
    +fs(30px)
    font-weight: 600
    line-height: 1.2
    margin-bottom: 1.5rem
    +screen('max', 1500)
      +fs(22px)
  &__txt
    +fs(18px)
    line-height: 1.3
    color: #838c95
    min-height: 70px
    +screen('max', 1500)
      +fs(14px)
    +screen('max', 700)
      min-height: 57px
  &__btn
    width: 100%
    margin-top: 3rem
    +screen('max', 1500)
      margin-top: 1.5rem
      padding: 1.4rem 2rem
    &_hidden
      display: none
      +screen('max', 700)
        display: block
        margin-top: 0
  &__to
    position: relative
    border-radius: 100%
    svg
      +screen('max', 1500)
        height: 50px
        width: 50px
    &:before
      content: attr(data-sign)
      position: absolute
      top: 50%
      right: calc( 100% + 10px )
      transform: translateY(-50%)
      +fs(18px)
      font-weight: 600
      color: var(--white)
      opacity: 0
      transition: .5s ease
      +screen('max', 1500)
        +fs(14px)

.payment-list
  &__list
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 2rem
    +screen('max', 1500)
      grid-template-columns: repeat(3, 1fr)
      gap: 1.5rem
    +screen('max', 1023)
      grid-template-columns: repeat(2, 1fr)
    +screen('max', 700)
      grid-template-columns: 1fr
  &__item
    padding: 3rem
    box-sizing: border-box
    border-radius: 25px
    box-shadow: 0 11px 33px 0 rgba(158, 163, 172, 0.12)
    background: var(--white)
    position: relative
    display: flex
    flex-flow: column
    align-items: flex-start
    gap: 2rem
    +screen('max', 1500)
      padding: 2rem 3rem
    +screen('max', 1023)
      border-radius: 15px
      padding: 2rem
    +screen('max', 700)
      align-items: stretch
      gap: 1.5rem
  &__tags
    display: flex
    flex-wrap: wrap
    gap: 1rem
  &__tag
    padding: 0.8rem 1.5rem
    font-weight: 600
    box-sizing: border-box
    border-radius: 82px
    +fs(18px)
    position: relative
    background: var(--fon)
    +screen('max', 1500)
      +fs(12px)
    &_red
      background: var(--color-red)
      color: var(--white)
    &_green
      background: var(--secondary)
      color: var(--white)
    &_orange
      background: var(--tertiary)
      color: var(--white)
  &__content
    flex-grow: 1
  &__title
    +fs(28px)
    font-weight: 600
    margin-bottom: 1.5rem
    +screen('max', 1500)
      +fs(20px)
      margin-bottom: 1rem
    +screen('max', 700)
      +fs(18px)
  &__text
    +fs(18px)
    line-height: 1.5
    color: var(--color-gray)
    +screen('max', 1500)
      +fs(14px)
  & + .calc
    padding-block-end: 0