+b.docs
  +e.inner.inner
    +e.H2.title Какие нужны документы
    +e.list
      +e.item
        +e.IMG.pic(src='/icon/docs-1.svg' alt='')
        +e.P.caption.display-3 Паспорт
        +e.P.txt Скан-копии или фото всех страниц паспортов родителей
      +e.item
        +e.IMG.pic(src='/icon/docs-2.svg' alt='')
        +e.P.caption.display-3 СНИЛС
        +e.P.txt Скан-копии или фото СНИЛС всех членов семьи
      +e.item
        +e.IMG.pic(src='/icon/docs-3.svg' alt='')
        +e.P.caption.display-3 Свидетельства
        +e.P.txt Копии свидетельства о заключении брака и рождении ребенка