+b.news-tile
  +e.inner.inner
    +e.head
      +e.H2.title Новости
      +e.A.btn.btn_transparent(href="/news-list.html") Смотреть все новости
    +e.list
      +e.item
        +e.picture
          +e.IMG.pic(src='/img/life-1.png' alt='')
        +e.P.time 28 декабря 2022
        +e.H3.caption Новогодний праздник в ЖК «Новая Кузнечиха», 2022
        +e.A.more(href='#') Подробнее
          svg(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='none')
            circle(cx='12.5' cy='12.5' r='12' stroke='#51A747')
            path(stroke='#51A747' stroke-linecap='round' stroke-linejoin='round' d='m11.7578 9.89453 2.6042 2.60417-2.6042 2.6042')
      +e.item
        +e.picture
          +e.IMG.pic(src='/img/news-1.png' alt='')
        +e.P.time 28 декабря 2022
        +e.H3.caption Новогодний праздник в ЖК «Новая Кузнечиха», 2022
        +e.A.more(href='#') Подробнее
          svg(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='none')
            circle(cx='12.5' cy='12.5' r='12' stroke='#51A747')
            path(stroke='#51A747' stroke-linecap='round' stroke-linejoin='round' d='m11.7578 9.89453 2.6042 2.60417-2.6042 2.6042')
      +e.item
        +e.picture
          +e.IMG.pic(src='/img/news-2.png' alt='')
        +e.P.time 28 декабря 2022
        +e.H3.caption Новогодний праздник в ЖК «Новая Кузнечиха», 2022
        +e.A.more(href='#') Подробнее
          svg(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='none')
            circle(cx='12.5' cy='12.5' r='12' stroke='#51A747')
            path(stroke='#51A747' stroke-linecap='round' stroke-linejoin='round' d='m11.7578 9.89453 2.6042 2.60417-2.6042 2.6042')