+b.panorame_view
  +e.inner.inner
    +e.box_shade
      +e.IMG.pic(src='/img/panorame-2.png' alt='')
      +e.content
        +e.left
          svg(xmlns='http://www.w3.org/2000/svg' width='80' height='80' fill='none' viewBox="0 0 80 80")
            circle(cx='40' cy='40' r='40' fill='#fff')
            path(fill='#51A747' d='M35.454 41.91 38.6 53.596h1.472l3.145-11.686c.687-2.55 1.065-5.75 1.065-9.01 0-9.175-2.606-15.568-4.945-15.568-2.34 0-4.945 6.393-4.945 15.568 0 3.26.378 6.46 1.064 9.01Z')
            path(fill='#51A747' d='m44.275 42.196-3.068 11.4h.234l6.677-11.813c1.421-2.514 2.204-5.669 2.204-8.883 0-7.3-3.57-13.424-8.362-15.1 2.177 2.823 3.417 9.037 3.417 15.1 0 3.354-.392 6.655-1.102 9.296ZM28.344 32.9c0 3.214.782 6.369 2.203 8.883l6.677 11.813h.235l-3.068-11.4c-.711-2.64-1.102-5.942-1.102-9.296 0-6.063 1.24-12.276 3.417-15.1-4.793 1.675-8.362 7.8-8.362 15.1Zm15.228 25.092h-8.477a.55.55 0 0 0-.544.627l.576 4.03a.55.55 0 0 0 .543.471h7.326c.274 0 .506-.2.544-.472l.576-4.029a.55.55 0 0 0-.544-.627Z')
            path(fill='#51A747' d='M45.368 18.465c3.616 2.884 6.054 8.272 6.054 14.433 0 3.4-.832 6.747-2.346 9.423l-6.37 11.273h2.023l7.976-10.104a15.387 15.387 0 0 0 3.296-9.493c0-7.063-4.417-13.11-10.633-15.532ZM29.593 42.32c-1.513-2.676-2.346-6.023-2.346-9.423 0-6.161 2.44-11.549 6.054-14.433-6.215 2.423-10.633 8.469-10.633 15.532 0 3.43 1.17 6.801 3.296 9.493l7.977 10.104h2.023l-6.37-11.273Zm6.475 14.57-.733-2.198h-1.158l.733 2.198h1.158Zm2.717-2.198h1.1v2.198h-1.1v-2.198Zm3.816 2.198h1.159l.732-2.198h-1.158L42.6 56.89Z')
          +e.P.title Аэросъёмка
        +e.right
          +e.A.btn.btn_white(href='#') Смотреть аэросьемку