+b.sr-header
  +e.inner.inner
    +e.H1.title Выбор квартиры и парковочного места
    +e.control
      +e.A.btn(href="#")
        span Показать на генплане
          svg(xmlns='http://www.w3.org/2000/svg' width='11' height='7' fill='none')
            path(stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m1 1.5 4.5 4 4.5-4')
        svg(xmlns='http://www.w3.org/2000/svg' width='25' height='23' fill='none' viewBox="0 0 25 23")
          path(fill='#fff' d='M23.3724 5.45833h-7.25a1.20834 1.20834 0 0 0-1.2083 1.20834v3.62503h-2.4167V1.83333A1.20834 1.20834 0 0 0 11.2891.625H1.6224A1.20834 1.20834 0 0 0 .41406 1.83333V21.1667c0 .3204.1273.6278.35391.8544.22661.2266.53396.3539.85443.3539h21.75c.3205 0 .6278-.1273.8544-.3539.2266-.2266.3539-.534.3539-.8544V6.66667a1.20834 1.20834 0 0 0-1.2083-1.20834ZM7.66406 4.25h2.41664v2.41667H7.66406V4.25ZM5.2474 16.3333H2.83073v-2.4166H5.2474v2.4166Zm0-4.8333H2.83073V9.08333H5.2474V11.5Zm0-4.83333H2.83073V4.25H5.2474v2.41667Zm4.8333 9.66663H7.66406v-2.4166h2.41664v2.4166Zm0-4.8333H7.66406V9.08333h2.41664V11.5Zm10.875 4.8333h-2.4166v-2.4166h2.4166v2.4166Zm0-4.8333h-2.4166V9.08333h2.4166V11.5Z')
      +e.tabs
        +e.BUTTON.tab.active Квартиры
        +e.BUTTON.tab Паркинг

+b.filter
  +e.overlay
  +e.inner.inner
    +e.head
      +e.P.title.display-1 фильтр
      +e.wrap
        +e.tabs
          +e.BUTTON.tab.active Квартиры
          +e.BUTTON.tab Паркинг
        +e.close
          svg(xmlns='http://www.w3.org/2000/svg' width='45' height='45' fill='none' viewBox="0 0 45 45")
            path(fill='#BDC0CA' fill-rule='evenodd' d='M1.28033.21967c-.2929-.2929-.76777-.2929-1.06066 0-.2929.2929-.2929.76777 0 1.06066L21.3875 22.4481.21967 43.6159c-.2929.2929-.2929.7678 0 1.0607.2929.2928.76776.2928 1.06066 0L22.4481 23.5088l21.1678 21.1678c.2929.2928.7678.2928 1.0607 0 .2928-.2929.2928-.7678 0-1.0607L23.5088 22.4481 44.6766 1.28033c.2928-.2929.2928-.76777 0-1.06066-.2929-.2929-.7678-.2929-1.0607 0L22.4481 21.3875 1.28033.21967Z' clip-rule='evenodd')
    +e.FORM.action
      +e.box
        +e.P.caption Выберите дом
        +b.DETAILS.select
          +e.SUMMARY.summary Все объекты
          +e.list
            label
              +e.INPUT.hidden(type="radio")
              p  Дом 1, подъезд 4
            label
              +e.INPUT.hidden(type="radio")
              p  Дом 1, подъезд 2
            label
              +e.INPUT.hidden(type="radio")
              p  Дом 1, подъезд 3
      +e.box
        +e.P.caption Срок сдачи
        +b.DETAILS.select
          +e.SUMMARY.summary Любой
          +e.list
            label
              +e.INPUT.hidden(type="radio")
              p  Дом 1, подъезд 4
            label
              +e.INPUT.hidden(type="radio")
              p  Дом 1, подъезд 2
            label
              +e.INPUT.hidden(type="radio")
              p  Дом 1, подъезд 3
      +e.box
        +e.caption Стоимость, млн ₽ 
        +e.row.price
          +e.group_start
            span от
            input(type="hidden" name="PRICE_START" id="PRICE_START" class="price_start" value="1")
            +e.field.range-start 0
          +e.group_end
            span до
            input(type="hidden" name="PRICE_END" class="price_end" value="25")
            +e.field.range-end 0
          .slider
      +e.box
        +e.P.caption_sale Акции
        +b.DETAILS.select
          +e.SUMMARY.summary Все
          +e.list
            label
              +e.INPUT.hidden(type="checkbox")
              p Все
                i 24 квартиры
            label
              +e.INPUT.hidden(type="checkbox")
              p Скидка 1 % при бронировании в выборщике
                span 12 квартир по акции
            label
              +e.INPUT.hidden(type="checkbox")
              p Квартиры по ценам 2021 года!
                span 18 квартир по акции
            label
              +e.INPUT.hidden(type="checkbox")
              p  Готовое жилье по цене старта продаж!
                span 1 квартира по акции
            label
              +e.INPUT.hidden(type="checkbox")
              p  Готовое жилье по цене старта продаж!
                span 1 квартира по акции
      +e.box
        +e.caption Этаж
        +e.row.price
          +e.group_start
            span от
            input(type="hidden" name="PRICE_START" id="PRICE_START" class="price_start" value="1")
            +e.field.range-start 0
          +e.group_end
            span до
            input(type="hidden" name="PRICE_END" class="price_end" value="25")
            +e.field.range-end 0
          .slider
      +e.box
        +e.caption Общая площадь, м²
        +e.row.squere
          +e.group_start
            span от
            input(type="hidden" name="PRICE_START" id="PRICE_START" class="price_start" value="1")
            +e.field.range-start 0
          +e.group_end
            span до
            input(type="hidden" name="PRICE_END" class="price_end" value="25")
            +e.field.range-end 0
          .slider
      +e.box_filter
        +e.caption Площадь кухни, м²
        +e.row.squere
          +e.group_start
            span от
            input(type="hidden" name="PRICE_START" id="PRICE_START" class="price_start" value="1")
            +e.field.range-start 0
          +e.group_end
            span до
            input(type="hidden" name="PRICE_END" class="price_end" value="25")
            +e.field.range-end 0
          .slider
      +e.box
        +e.tags
          +e.P.caption Особенности
          +e.tags-list
            +e.tag Лоджия
            +e.tag 2 санузла
            +e.tag Гардеробная
            +e.tag Готовые квартиры
            +e.tag Раздельный санузел
        +e.mini-control
          +e.BUTTON.reset
            span Сбросить
            svg(xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'  viewBox="0 0 20 20")
              path(fill='#838C95' fill-rule='evenodd' d='M1.2807.22004C.98802-.07306.51314-.07339.22004.2193-.07306.51199-.07339.98686.2193 1.27996l8.61629 8.6284L.22033 18.5357c-.29269.2931-.29235.768.00074 1.0607.2931.2927.76798.2923 1.06067-.0008l8.61377-8.6258 8.61379 8.6258c.2927.2931.7675.2935 1.0606.0008.2931-.2927.2935-.7676.0008-1.0607l-8.6153-8.62734 8.6163-8.6284c.2927-.2931.2924-.76797-.0007-1.06066-.2931-.29269-.768-.29236-1.0607.00074L9.89551 8.84695 1.2807.22005Z' clip-rule='evenodd')
          +e.full-filter.btn
            svg(xmlns='http://www.w3.org/2000/svg' width='22' height='23' fill='none'  viewBox="0 0 22 23")
              path(stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5' d='M20.1641 6.45898h-5.5M5.5026 6.45898H1.83594')
              path(fill='#F5F6F7' d='M9.16927 9.66667c1.77193 0 3.20833-1.43642 3.20833-3.20834 0-1.77191-1.4364-3.20833-3.20833-3.20833-1.77191 0-3.20833 1.43642-3.20833 3.20833 0 1.77192 1.43642 3.20834 3.20833 3.20834Z')
              path(stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5' d='M20.1667 16.541H16.5M7.33594 16.541h-5.5')
              path(fill='#F5F6F7' d='M12.8333 19.7507c1.7719 0 3.2084-1.4365 3.2084-3.2084s-1.4365-3.2083-3.2084-3.2083-3.2083 1.4364-3.2083 3.2083 1.4364 3.2084 3.2083 3.2084Z')
            span Все фильтры 
      +e.control
        +e.BUTTON.submit.btn Смотреть все варианты
          span 1 230 
        +e.BUTTON.reset
            span Сбросить
            svg(xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox="0 0 20 20")
              path(fill='#838C95' fill-rule='evenodd' d='M1.2807.22004C.98802-.07306.51314-.07339.22004.2193-.07306.51199-.07339.98686.2193 1.27996l8.61629 8.6284L.22033 18.5357c-.29269.2931-.29235.768.00074 1.0607.2931.2927.76798.2923 1.06067-.0008l8.61377-8.6258 8.61379 8.6258c.2927.2931.7675.2935 1.0606.0008.2931-.2927.2935-.7676.0008-1.0607l-8.6153-8.62734 8.6163-8.6284c.2927-.2931.2924-.76797-.0007-1.06066-.2931-.29269-.768-.29236-1.0607.00074L9.89551 8.84695 1.2807.22005Z' clip-rule='evenodd')

+b.sr-product-list
  +e.inner.inner
    +e.head
      +e.left
        +b.DETAILS.select
          +e.SUMMARY.summary Сначала дешевле
          +e.list
            label
              +e.INPUT.hidden(type="radio")
              p  Дом 1, подъезд 4
            label
              +e.INPUT.hidden(type="radio")
              p  Дом 1, подъезд 2
            label
              +e.INPUT.hidden(type="radio")
              p  Дом 1, подъезд 3
        +e.tabs
          +e.BUTTON.tab.active Без типов
          +e.BUTTON.tab По типам
        +e.filter-block
          svg(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='none' viewBox="0 0 25 25")
            path(fill='#838C95' d='M19.125 9.375h-.7917V6.25C18.3333 2.80303 15.4929 0 12 0 8.50707 0 5.66667 2.80303 5.66667 6.25v3.125H4.875c-1.30887 0-2.375 1.0509-2.375 2.3438v10.9374C2.5 23.9491 3.56613 25 4.875 25h14.25c1.3089 0 2.375-1.0509 2.375-2.3438V11.7188c0-1.2929-1.0661-2.3438-2.375-2.3438ZM7.77784 6.25c0-2.298 1.89357-4.1666 4.22216-4.1666 2.3286 0 4.2222 1.86865 4.2222 4.1666v3.125H7.77784V6.25Z' opacity='.5')
      +e.right
        +e.count Найдено 15 000 планировок
        +e.performance
          +e.BUTTON.perf.active
            svg(xmlns='http://www.w3.org/2000/svg' width='23' height='23' fill='none' viewBox="0 0 23 23")
              g(fill='#838C95' opacity='.5')
                rect(width='10.6154' height='10.6154' rx='1')
                rect(width='10.6154' height='10.6154' y='12.3848' rx='1')
                rect(width='10.6154' height='10.6154' x='12.3828' rx='1')
                rect(width='10.6154' height='10.6154' x='12.3828' y='12.3848' rx='1')
          +e.BUTTON.perf
            svg(xmlns='http://www.w3.org/2000/svg' width='26' height='23' fill='none' viewBox="0 0 26 23")
              g(fill='#838C95' opacity='.5')
                rect(width='24.1538' height='10.3516' x='.92188' rx='1')
                rect(width='24.1538' height='10.3516' x='.92188' y='12.0762' rx='1')
    +e.body
      +e.list
        - for (var i = 0; i < 4; i++) {
          +e.item.sp-prod-card__
            +e.top
              +e.left
                +e.position
                  span дом 15, секц. 2
                  span Ввод  4 кв. 2023
                +e.type
                  span Парковочное место №5
                  span 13 м²
                  span -1 этаж 
              +e.right
                +e.A.block(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg' width='22' height='29' fill='none')
                    path(fill='#D3D6DD' fill-rule='evenodd' d='M18.1172 10.9992h.9c1.488 0 2.7 1.2107 2.7 2.7v12.6c0 1.4893-1.212 2.7-2.7 2.7H2.81719c-1.48798 0-2.7-1.2107-2.7-2.7v-12.6c0-1.4893 1.21202-2.7 2.7-2.7h.9V7.39922c0-3.97091 3.22909-7.2 7.20001-7.2 3.5639 0 6.5302 2.60106 7.1009 6.00503.1096.65364-.4382 1.19497-1.1009 1.19497-.6628 0-1.1847-.54566-1.3487-1.18781-.5298-2.07438-2.4139-3.61212-4.6513-3.61212-2.64725 0-4.79994 2.15263-4.79994 4.79993v3.59998H18.1172Z' clip-rule='evenodd')
                +e.A.favor(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='none')
                    path(fill='#D3D6DD' d='M15.8791 28.1592c-.4809.1676-1.2729.1676-1.7537 0C10.0239 26.7767.85937 21.0093.85937 11.234c0-4.31509 3.52158-7.80627 7.86343-7.80627 2.574 0 4.851 1.2289 6.2794 3.12809 1.4285-1.89919 3.7196-3.12809 6.2795-3.12809 4.3418 0 7.8634 3.49118 7.8634 7.80627 0 9.7753-9.1646 15.5427-13.266 16.9252Z')
            +e.A.middle(href="#")
              +e.slider
                .swiper
                  .swiper-wrapper
                    .swiper-slide
                      +e.IMG.pic(src='/img/parking-1.png' alt='')
                    .swiper-slide
                      +e.IMG.pic(src='/img/parking-1.png' alt='')
                .slider-dots
            +e.bottom
              +e.P.price 3 649 685 ₽
              +e.info
                p Ипотека - 
                  a(href="#") от 10 456 ₽/мес.
                p Первоначальный взнос - 
                  a(href="#") от 570 456 ₽
              +e.tags
                +e.tag Лоджия
          +e.item.sp-prod-card__
            +e.top
              +e.left
                +e.position
                  span дом 15, секц. 2
                  span Ввод  4 кв. 2023
                +e.type
                  span Парковочное место №5
                  span 13 м²
                  span -1 этаж 
              +e.right
                +e.A.block(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg' width='22' height='29' fill='none')
                    path(fill='#D3D6DD' fill-rule='evenodd' d='M18.1172 10.9992h.9c1.488 0 2.7 1.2107 2.7 2.7v12.6c0 1.4893-1.212 2.7-2.7 2.7H2.81719c-1.48798 0-2.7-1.2107-2.7-2.7v-12.6c0-1.4893 1.21202-2.7 2.7-2.7h.9V7.39922c0-3.97091 3.22909-7.2 7.20001-7.2 3.5639 0 6.5302 2.60106 7.1009 6.00503.1096.65364-.4382 1.19497-1.1009 1.19497-.6628 0-1.1847-.54566-1.3487-1.18781-.5298-2.07438-2.4139-3.61212-4.6513-3.61212-2.64725 0-4.79994 2.15263-4.79994 4.79993v3.59998H18.1172Z' clip-rule='evenodd')
                +e.A.favor(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='none')
                    path(fill='#D3D6DD' d='M15.8791 28.1592c-.4809.1676-1.2729.1676-1.7537 0C10.0239 26.7767.85937 21.0093.85937 11.234c0-4.31509 3.52158-7.80627 7.86343-7.80627 2.574 0 4.851 1.2289 6.2794 3.12809 1.4285-1.89919 3.7196-3.12809 6.2795-3.12809 4.3418 0 7.8634 3.49118 7.8634 7.80627 0 9.7753-9.1646 15.5427-13.266 16.9252Z')
            +e.A.middle(href="#")
              +e.slider
                .swiper
                  .swiper-wrapper
                    .swiper-slide
                      +e.IMG.pic(src='/img/parking-2.png' alt='')
                    .swiper-slide
                      +e.IMG.pic(src='/img/parking-2.png' alt='')
                .slider-dots
            +e.bottom
              +e.P.price 3 649 685 ₽
              +e.info
                p Ипотека - 
                  a(href="#") от 10 456 ₽/мес.
                p Первоначальный взнос - 
                  a(href="#") от 570 456 ₽
              +e.tags
                +e.tag Лоджия
          +e.item.sp-prod-card__
            +e.top
              +e.left
                +e.position
                  span дом 15, секц. 2
                  span Ввод  4 кв. 2023
                +e.type
                  span Парковочное место №5
                  span 13 м²
                  span -1 этаж 
              +e.right
                +e.A.block(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg' width='22' height='29' fill='none')
                    path(fill='#D3D6DD' fill-rule='evenodd' d='M18.1172 10.9992h.9c1.488 0 2.7 1.2107 2.7 2.7v12.6c0 1.4893-1.212 2.7-2.7 2.7H2.81719c-1.48798 0-2.7-1.2107-2.7-2.7v-12.6c0-1.4893 1.21202-2.7 2.7-2.7h.9V7.39922c0-3.97091 3.22909-7.2 7.20001-7.2 3.5639 0 6.5302 2.60106 7.1009 6.00503.1096.65364-.4382 1.19497-1.1009 1.19497-.6628 0-1.1847-.54566-1.3487-1.18781-.5298-2.07438-2.4139-3.61212-4.6513-3.61212-2.64725 0-4.79994 2.15263-4.79994 4.79993v3.59998H18.1172Z' clip-rule='evenodd')
                +e.A.favor(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='none')
                    path(fill='#D3D6DD' d='M15.8791 28.1592c-.4809.1676-1.2729.1676-1.7537 0C10.0239 26.7767.85937 21.0093.85937 11.234c0-4.31509 3.52158-7.80627 7.86343-7.80627 2.574 0 4.851 1.2289 6.2794 3.12809 1.4285-1.89919 3.7196-3.12809 6.2795-3.12809 4.3418 0 7.8634 3.49118 7.8634 7.80627 0 9.7753-9.1646 15.5427-13.266 16.9252Z')
            +e.middle
              +e.slider
                .swiper
                  .swiper-wrapper
                    .swiper-slide
                      +e.IMG.pic(src='/img/parking-1.png' alt='')
                    .swiper-slide
                      +e.IMG.pic(src='/img/parking-1.png' alt='')
                .slider-dots
            +e.bottom
              +e.P.price
                span 3 649 685 ₽
                +e.old 12 649 685 ₽
              +e.info
                p Ипотека - 
                  a(href="#") от 10 456 ₽/мес.
                p Первоначальный взнос - 
                  a(href="#") от 570 456 ₽
              +e.tags
                +e.tag_sale Акция -30%
                +e.tag Раздельный санузел
        - }
        - for (var i = 0; i < 4; i++) {
          +e.item.sp-prod-card__
            +e.top
              +e.left
                +e.position
                  span дом 15, секц. 2
                  span Ввод  4 кв. 2023
                +e.type
                  span Парковочное место №5
                  span 13 м²
                  span -1 этаж 
              +e.right
                +e.A.block(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg' width='22' height='29' fill='none')
                    path(fill='#D3D6DD' fill-rule='evenodd' d='M18.1172 10.9992h.9c1.488 0 2.7 1.2107 2.7 2.7v12.6c0 1.4893-1.212 2.7-2.7 2.7H2.81719c-1.48798 0-2.7-1.2107-2.7-2.7v-12.6c0-1.4893 1.21202-2.7 2.7-2.7h.9V7.39922c0-3.97091 3.22909-7.2 7.20001-7.2 3.5639 0 6.5302 2.60106 7.1009 6.00503.1096.65364-.4382 1.19497-1.1009 1.19497-.6628 0-1.1847-.54566-1.3487-1.18781-.5298-2.07438-2.4139-3.61212-4.6513-3.61212-2.64725 0-4.79994 2.15263-4.79994 4.79993v3.59998H18.1172Z' clip-rule='evenodd')
                +e.A.favor(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='none')
                    path(fill='#D3D6DD' d='M15.8791 28.1592c-.4809.1676-1.2729.1676-1.7537 0C10.0239 26.7767.85937 21.0093.85937 11.234c0-4.31509 3.52158-7.80627 7.86343-7.80627 2.574 0 4.851 1.2289 6.2794 3.12809 1.4285-1.89919 3.7196-3.12809 6.2795-3.12809 4.3418 0 7.8634 3.49118 7.8634 7.80627 0 9.7753-9.1646 15.5427-13.266 16.9252Z')
            +e.A.middle(href="#")
              +e.slider
                .swiper
                  .swiper-wrapper
                    .swiper-slide
                      +e.IMG.pic(src='/img/parking-2.png' alt='')
                    .swiper-slide
                      +e.IMG.pic(src='/img/parking-2.png' alt='')
                .slider-dots
            +e.bottom
              +e.P.price 3 649 685 ₽
              +e.info
                p Ипотека - 
                  a(href="#") от 10 456 ₽/мес.
                p Первоначальный взнос - 
                  a(href="#") от 570 456 ₽
              +e.tags
                +e.tag Лоджия
          +e.item.sp-prod-card__
            +e.top
              +e.left
                +e.position
                  span дом 15, секц. 2
                  span Ввод  4 кв. 2023
                +e.type
                  span Парковочное место №5
                  span 13 м²
                  span -1 этаж 
              +e.right
                +e.A.block(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg' width='22' height='29' fill='none')
                    path(fill='#D3D6DD' fill-rule='evenodd' d='M18.1172 10.9992h.9c1.488 0 2.7 1.2107 2.7 2.7v12.6c0 1.4893-1.212 2.7-2.7 2.7H2.81719c-1.48798 0-2.7-1.2107-2.7-2.7v-12.6c0-1.4893 1.21202-2.7 2.7-2.7h.9V7.39922c0-3.97091 3.22909-7.2 7.20001-7.2 3.5639 0 6.5302 2.60106 7.1009 6.00503.1096.65364-.4382 1.19497-1.1009 1.19497-.6628 0-1.1847-.54566-1.3487-1.18781-.5298-2.07438-2.4139-3.61212-4.6513-3.61212-2.64725 0-4.79994 2.15263-4.79994 4.79993v3.59998H18.1172Z' clip-rule='evenodd')
                +e.A.favor(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='none')
                    path(fill='#D3D6DD' d='M15.8791 28.1592c-.4809.1676-1.2729.1676-1.7537 0C10.0239 26.7767.85937 21.0093.85937 11.234c0-4.31509 3.52158-7.80627 7.86343-7.80627 2.574 0 4.851 1.2289 6.2794 3.12809 1.4285-1.89919 3.7196-3.12809 6.2795-3.12809 4.3418 0 7.8634 3.49118 7.8634 7.80627 0 9.7753-9.1646 15.5427-13.266 16.9252Z')
            +e.A.middle(href="#")
              +e.slider
                .swiper
                  .swiper-wrapper
                    .swiper-slide
                      +e.IMG.pic(src='/img/parking-1.png' alt='')
                    .swiper-slide
                      +e.IMG.pic(src='/img/parking-1.png' alt='')
                .slider-dots
            +e.bottom
              +e.P.price 3 649 685 ₽
              +e.info
                p Ипотека - 
                  a(href="#") от 10 456 ₽/мес.
                p Первоначальный взнос - 
                  a(href="#") от 570 456 ₽
              +e.tags
                +e.tag Лоджия
          +e.item.sp-prod-card__
            +e.top
              +e.left
                +e.position
                  span дом 15, секц. 2
                  span Ввод  4 кв. 2023
                +e.type
                  span Парковочное место №5
                  span 13 м²
                  span -1 этаж 
              +e.right
                +e.A.block(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg' width='22' height='29' fill='none')
                    path(fill='#D3D6DD' fill-rule='evenodd' d='M18.1172 10.9992h.9c1.488 0 2.7 1.2107 2.7 2.7v12.6c0 1.4893-1.212 2.7-2.7 2.7H2.81719c-1.48798 0-2.7-1.2107-2.7-2.7v-12.6c0-1.4893 1.21202-2.7 2.7-2.7h.9V7.39922c0-3.97091 3.22909-7.2 7.20001-7.2 3.5639 0 6.5302 2.60106 7.1009 6.00503.1096.65364-.4382 1.19497-1.1009 1.19497-.6628 0-1.1847-.54566-1.3487-1.18781-.5298-2.07438-2.4139-3.61212-4.6513-3.61212-2.64725 0-4.79994 2.15263-4.79994 4.79993v3.59998H18.1172Z' clip-rule='evenodd')
                +e.A.favor(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='none')
                    path(fill='#D3D6DD' d='M15.8791 28.1592c-.4809.1676-1.2729.1676-1.7537 0C10.0239 26.7767.85937 21.0093.85937 11.234c0-4.31509 3.52158-7.80627 7.86343-7.80627 2.574 0 4.851 1.2289 6.2794 3.12809 1.4285-1.89919 3.7196-3.12809 6.2795-3.12809 4.3418 0 7.8634 3.49118 7.8634 7.80627 0 9.7753-9.1646 15.5427-13.266 16.9252Z')
            +e.A.middle(href="#")
              +e.slider
                .swiper
                  .swiper-wrapper
                    .swiper-slide
                      +e.IMG.pic(src='/img/parking-1.png' alt='')
                    .swiper-slide
                      +e.IMG.pic(src='/img/parking-1.png' alt='')
                .slider-dots
            +e.bottom
              +e.P.price
                span 3 649 685 ₽
                +e.old 12 649 685 ₽
              +e.info
                p Ипотека - 
                  a(href="#") от 10 456 ₽/мес.
                p Первоначальный взнос - 
                  a(href="#") от 570 456 ₽
              +e.tags
                +e.tag_sale Акция -30%
                +e.tag Раздельный санузел
        - }
        +callback(4)
        - for (var i = 0; i < 4; i++) {
          +e.item.sp-prod-card__
            +e.top
              +e.left
                +e.position
                  span дом 15, секц. 2
                  span Ввод  4 кв. 2023
                +e.type
                  span Парковочное место №5
                  span 13 м²
                  span -1 этаж 
              +e.right
                +e.A.block(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg' width='22' height='29' fill='none')
                    path(fill='#D3D6DD' fill-rule='evenodd' d='M18.1172 10.9992h.9c1.488 0 2.7 1.2107 2.7 2.7v12.6c0 1.4893-1.212 2.7-2.7 2.7H2.81719c-1.48798 0-2.7-1.2107-2.7-2.7v-12.6c0-1.4893 1.21202-2.7 2.7-2.7h.9V7.39922c0-3.97091 3.22909-7.2 7.20001-7.2 3.5639 0 6.5302 2.60106 7.1009 6.00503.1096.65364-.4382 1.19497-1.1009 1.19497-.6628 0-1.1847-.54566-1.3487-1.18781-.5298-2.07438-2.4139-3.61212-4.6513-3.61212-2.64725 0-4.79994 2.15263-4.79994 4.79993v3.59998H18.1172Z' clip-rule='evenodd')
                +e.A.favor.active(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='none')
                    path(fill='#D3D6DD' d='M15.8791 28.1592c-.4809.1676-1.2729.1676-1.7537 0C10.0239 26.7767.85937 21.0093.85937 11.234c0-4.31509 3.52158-7.80627 7.86343-7.80627 2.574 0 4.851 1.2289 6.2794 3.12809 1.4285-1.89919 3.7196-3.12809 6.2795-3.12809 4.3418 0 7.8634 3.49118 7.8634 7.80627 0 9.7753-9.1646 15.5427-13.266 16.9252Z')
            +e.A.middle(href="#")
              +e.slider
                .swiper
                  .swiper-wrapper
                    .swiper-slide
                      +e.IMG.pic(src='/img/parking-1.png' alt='')
                    .swiper-slide
                      +e.IMG.pic(src='/img/parking-1.png' alt='')
                .slider-dots
            +e.bottom
              +e.P.price 3 649 685 ₽
              +e.info
                p Ипотека - 
                  a(href="#") от 10 456 ₽/мес.
                p Первоначальный взнос - 
                  a(href="#") от 570 456 ₽
              +e.tags
                +e.tag Лоджия
          +e.item.sp-prod-card__
            +b.sp-prod-close
              +e.top
                svg(xmlns='http://www.w3.org/2000/svg' width='80' height='80' fill='none' viewBox="0 0 80 80")
                  circle(cx='40' cy='40' r='40' fill='#fff')
                  path(fill='#23262B' d='M47.125 36.375h-.7917V33.25c0-3.447-2.8404-6.25-6.3333-6.25-3.4929 0-6.3333 2.803-6.3333 6.25v3.125h-.7917c-1.3089 0-2.375 1.0509-2.375 2.3438v10.9374C30.5 50.9491 31.5661 52 32.875 52h14.25c1.3089 0 2.375-1.0509 2.375-2.3438V38.7188c0-1.2929-1.0661-2.3438-2.375-2.3438ZM35.7778 33.25c0-2.298 1.8936-4.1666 4.2222-4.1666s4.2222 1.8687 4.2222 4.1666v3.125h-8.4444V33.25Z')
                span Забронировано
              +e.bottom
                +e.A.btn.btn_white.js-open-modal(href="#callback") Записаться в лист ожидания
                +e.A.btn.btn_white(href='#')
                  svg(xmlns='http://www.w3.org/2000/svg' width='18' height='16' fill='none')
                    path(stroke='#51A747' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M1.20297 7.82016H16.4455m0 0L9.43392.80861m7.01158 7.01155L9.12907 15.1366')
            +e.top
              +e.left
                +e.position
                  span дом 15, секц. 2
                  span Ввод  4 кв. 2023
                +e.type
                  span Парковочное место №5
                  span 13 м²
                  span -1 этаж 
              +e.right
                +e.A.block(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg' width='22' height='29' fill='none')
                    path(fill='#D3D6DD' fill-rule='evenodd' d='M18.1172 10.9992h.9c1.488 0 2.7 1.2107 2.7 2.7v12.6c0 1.4893-1.212 2.7-2.7 2.7H2.81719c-1.48798 0-2.7-1.2107-2.7-2.7v-12.6c0-1.4893 1.21202-2.7 2.7-2.7h.9V7.39922c0-3.97091 3.22909-7.2 7.20001-7.2 3.5639 0 6.5302 2.60106 7.1009 6.00503.1096.65364-.4382 1.19497-1.1009 1.19497-.6628 0-1.1847-.54566-1.3487-1.18781-.5298-2.07438-2.4139-3.61212-4.6513-3.61212-2.64725 0-4.79994 2.15263-4.79994 4.79993v3.59998H18.1172Z' clip-rule='evenodd')
                +e.A.favor(href="#")
                  svg(xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='none')
                    path(fill='#D3D6DD' d='M15.8791 28.1592c-.4809.1676-1.2729.1676-1.7537 0C10.0239 26.7767.85937 21.0093.85937 11.234c0-4.31509 3.52158-7.80627 7.86343-7.80627 2.574 0 4.851 1.2289 6.2794 3.12809 1.4285-1.89919 3.7196-3.12809 6.2795-3.12809 4.3418 0 7.8634 3.49118 7.8634 7.80627 0 9.7753-9.1646 15.5427-13.266 16.9252Z')
            +e.A.middle(href="#")
              +e.slider
                .swiper
                  .swiper-wrapper
                    .swiper-slide
                      +e.IMG.pic(src='/img/parking-1.png' alt='')
                    .swiper-slide
                      +e.IMG.pic(src='/img/parking-1.png' alt='')
                .slider-dots
            +e.bottom
              +e.P.price
                span 3 649 685 ₽
                +e.old 12 649 685 ₽
              +e.info
                p Ипотека - 
                  a(href="#") от 10 456 ₽/мес.
                p Первоначальный взнос - 
                  a(href="#") от 570 456 ₽
              +e.tags
                +e.tag_sale Акция -30%
                +e.tag Раздельный санузел
        - }
      +b.pagination
        +e.A.btn.disabled(href="#")
          svg(xmlns='http://www.w3.org/2000/svg' width='13' height='12' fill='none')
            path(stroke='#51A747' stroke-linecap='round' stroke-linejoin='round' d='M12.1039 5.99966H.89614m0 0L6.0517.84411M.89614 5.99966l5.37971 5.37974')
          span В начало
        +e.A.numb.active(href="#") 1
        +e.A.numb(href="#") 2
        +e.A.numb(href="#") 3
        +e.A.numb(href="#") 4
        +e.A.numb(href="#") 5
        +e.next
          svg(xmlns='http://www.w3.org/2000/svg' width='13' height='12' fill='none')
            path(stroke='#51A747' stroke-linecap='round' stroke-linejoin='round' d='M.9977 5.99966h11.2077m0 0L7.04987.84411m5.15553 5.15555L6.82572 11.3794')
        +e.A.btn(href="#")
          span В конец
          svg(xmlns='http://www.w3.org/2000/svg' width='13' height='12' fill='none')
            path(stroke='#51A747' stroke-linecap='round' stroke-linejoin='round' d='M.4977 5.99966h11.2077m0 0L6.54987.84411m5.15553 5.15555L6.32572 11.3794')
